Repository KITmetricslab/covid19-forecast-hub-de, pull requests merged in 2021-02, with the labels that each got.

#675 UCLA forecast update
  code/auto_download/auto-download-manual.py
  code/auto_download/auto-download-ucla.py
  data-processed/UCLA-SuEIR/2021-02-06-Germany-UCLA-SuEIR-case.csv
  data-processed/UCLA-SuEIR/2021-02-06-Germany-UCLA-SuEIR.csv
  data-raw/UCLA-SuEIR/UCLA-processing-script.R
  data-raw/UCLA-SuEIR/pred_world_02-06.csv
  data-raw/UCLA-SuEIR/process_UCLA_file_germany.R
Labels: added-raw-data, data-submission, other-files-updated

#680 ITWW forecast for 2021-02-15
  data-processed/ITWW-county_repro/2021-02-15-Germany-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2021-02-15-Germany-ITWW-county_repro.csv
  data-processed/ITWW-county_repro/2021-02-15-Poland-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2021-02-15-Poland-ITWW-county_repro.csv
Labels: data-submission

#681 forecast KW 7
  data-processed/itwm-dSEIR/2021-02-15-Germany-itwm-dSEIR-case.csv
  data-processed/itwm-dSEIR/2021-02-15-Germany-itwm-dSEIR.csv
Labels: data-submission

#682 EpiExpert update
  data-processed/epiforecasts-EpiExpert/2021-02-15-Germany-epiforecasts-EpiExpert-case.csv
  data-processed/epiforecasts-EpiExpert/2021-02-15-Germany-epiforecasts-EpiExpert.csv
  data-processed/epiforecasts-EpiExpert/2021-02-15-Poland-epiforecasts-EpiExpert-case.csv
  data-processed/epiforecasts-EpiExpert/2021-02-15-Poland-epiforecasts-EpiExpert.csv
  data-processed/epiforecasts-EpiExpert_Rt/2021-02-15-Germany-epiforecasts-EpiExpert_Rt-case.csv
  data-processed/epiforecasts-EpiExpert_Rt/2021-02-15-Germany-epiforecasts-EpiExpert_Rt.csv
  data-processed/epiforecasts-EpiExpert_Rt/2021-02-15-Poland-epiforecasts-EpiExpert_Rt-case.csv
  data-processed/epiforecasts-EpiExpert_Rt/2021-02-15-Poland-epiforecasts-EpiExpert_Rt.csv
  data-processed/epiforecasts-EpiNow2/2021-02-15-Germany-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2021-02-15-Germany-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-EpiNow2/2021-02-15-Poland-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2021-02-15-Poland-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-EpiNow2_secondary/2021-02-15-Germany-epiforecasts-EpiNow2_secondary.csv
  data-processed/epiforecasts-EpiNow2_secondary/2021-02-15-Poland-epiforecasts-EpiNow2_secondary.csv
Labels: data-submission

#684 Mocos 2021 02 15
  data-processed/MOCOS-agent1/2021-02-15-Poland-MOCOS-agent1-case.csv
  data-processed/MOCOS-agent1/2021-02-15-Poland-MOCOS-agent1.csv
Labels: data-submission

#685 Adding baselines
  code/ensemble/included_models/included_models-2021-02-08.csv
  code/ensemble/inverse_wis_weights/inverse_wis_weights-2021-02-08.csv
  data-processed/KIT-baseline/2021-02-15-Germany-KIT-baseline-case.csv
  data-processed/KIT-baseline/2021-02-15-Germany-KIT-baseline.csv
  data-processed/KIT-baseline/2021-02-15-Poland-KIT-baseline-case.csv
  data-processed/KIT-baseline/2021-02-15-Poland-KIT-baseline.csv
  data-processed/KIT-extrapolation_baseline/2021-02-15-Germany-KIT-extrapolation_baseline-case.csv
  data-processed/KIT-extrapolation_baseline/2021-02-15-Germany-KIT-extrapolation_baseline.csv
  data-processed/KIT-extrapolation_baseline/2021-02-15-Poland-KIT-extrapolation_baseline-case.csv
  data-processed/KIT-extrapolation_baseline/2021-02-15-Poland-KIT-extrapolation_baseline.csv
  data-processed/KIT-time_series_baseline/2021-02-15-Germany-KIT-time_series_baseline-case.csv
  data-processed/KIT-time_series_baseline/2021-02-15-Germany-KIT-time_series_baseline.csv
  data-processed/KIT-time_series_baseline/2021-02-15-Poland-KIT-time_series_baseline-case.csv
  data-processed/KIT-time_series_baseline/2021-02-15-Poland-KIT-time_series_baseline.csv
  decisions_and_revisions.txt
Labels: data-submission, other-files-updated

#686 Adding ensembles.
  code/ensemble/included_models/included_models-2021-02-15.csv
  code/ensemble/inverse_wis_weights/inverse_wis_weights-2021-02-15.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-02-15-Germany-KITCOVIDhub-inverse_wis_ensemble-case.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-02-15-Germany-KITCOVIDhub-inverse_wis_ensemble.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-02-15-Poland-KITCOVIDhub-inverse_wis_ensemble-case.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-02-15-Poland-KITCOVIDhub-inverse_wis_ensemble.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-02-15-Germany-KITCOVIDhub-mean_ensemble-case.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-02-15-Germany-KITCOVIDhub-mean_ensemble.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-02-15-Poland-KITCOVIDhub-mean_ensemble-case.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-02-15-Poland-KITCOVIDhub-mean_ensemble.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-02-15-Germany-KITCOVIDhub-median_ensemble-case.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-02-15-Germany-KITCOVIDhub-median_ensemble.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-02-15-Poland-KITCOVIDhub-median_ensemble-case.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-02-15-Poland-KITCOVIDhub-median_ensemble.csv
  decisions_and_revisions.txt
Labels: data-submission, other-files-updated

#688 correcting baseline.
  data-processed/KIT-baseline/2021-02-15-Germany-KIT-baseline.csv
Labels: data-submission, forecast-updated

#687 Latest Predictions MIMUW
  data-processed/MIMUW-StochSEIR/2021-02-15-Poland-MIMUW-StochSEIR-case.csv
  data-processed/MIMUW-StochSEIR/2021-02-15-Poland-MIMUW-StochSEIR.csv
Labels: data-submission

#691 Forecast Death/Case/ICU for Germany and Saxony LeipzigIMISE-SECIR on 2021-02-15
  data-processed/LeipzigIMISE-SECIR/2021-02-15-Germany-LeipzigIMISE-SECIR-ICU.csv
  data-processed/LeipzigIMISE-SECIR/2021-02-15-Germany-LeipzigIMISE-SECIR-case.csv
  data-processed/LeipzigIMISE-SECIR/2021-02-15-Germany-LeipzigIMISE-SECIR.csv
  data-processed/LeipzigIMISE-SECIR/metadata-LeipzigIMISE_SECIR.txt
Labels: data-submission, other-files-updated

#698 Predictions for the next week
  data-processed/MIMUW-StochSEIR/2021-02-22-Poland-MIMUW-StochSEIR-case.csv
  data-processed/MIMUW-StochSEIR/2021-02-22-Poland-MIMUW-StochSEIR.csv
Labels: data-submission

#697 USC_SI_kJalpha: Weekly update
  data-processed/USC-SIkJalpha/2021-02-21-Germany-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2021-02-21-Germany-USC-SIkJalpha.csv
  data-processed/USC-SIkJalpha/2021-02-21-Poland-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2021-02-21-Poland-USC-SIkJalpha.csv
Labels: data-submission

#700 ITWW forecast for 2021-02-22
  data-processed/ITWW-county_repro/2021-02-22-Germany-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2021-02-22-Germany-ITWW-county_repro.csv
  data-processed/ITWW-county_repro/2021-02-22-Poland-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2021-02-22-Poland-ITWW-county_repro.csv
Labels: data-submission

#699 New predictions as of 22 February 2021.
  data-processed/FIAS_FZJ-Epi1Ger/2021-02-22-Germany-FIAS_FZJ-Epi1Ger-case.csv
  data-processed/FIAS_FZJ-Epi1Ger/2021-02-22-Germany-FIAS_FZJ-Epi1Ger.csv
Labels: data-submission

#701 MIT Update
  data-processed/MIT_CovidAnalytics-DELPHI/2021-02-22-Germany-MIT_CovidAnalytics-DELPHI-case.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-02-22-Germany-MIT_CovidAnalytics-DELPHI.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-02-22-Poland-MIT_CovidAnalytics-DELPHI-case.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-02-22-Poland-MIT_CovidAnalytics-DELPHI.csv
Labels: data-submission

#702 Upload 2021-02-21 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2021-02-21-Germany-Karlen-pypm-case.csv
  data-processed/Karlen-pypm/2021-02-21-Germany-Karlen-pypm.csv
Labels: data-submission

#706 Moving remaining Geneva files.
  data-processed/SDSC-ISG_TrendModel/2021-02-16-Germany-SDSC-ISG_TrendModel-case.csv
  data-processed/SDSC-ISG_TrendModel/2021-02-16-Germany-SDSC-ISG_TrendModel.csv
  data-processed/SDSC-ISG_TrendModel/2021-02-16-Poland-SDSC-ISG_TrendModel-case.csv
  data-processed/SDSC-ISG_TrendModel/2021-02-16-Poland-SDSC-ISG_TrendModel.csv
  data-processed/SDSC-ISG_TrendModel/2021-02-17-Germany-SDSC-ISG_TrendModel-case.csv
  data-processed/SDSC-ISG_TrendModel/2021-02-17-Germany-SDSC-ISG_TrendModel.csv
  data-processed/SDSC-ISG_TrendModel/2021-02-17-Poland-SDSC-ISG_TrendModel-case.csv
  data-processed/SDSC-ISG_TrendModel/2021-02-17-Poland-SDSC-ISG_TrendModel.csv
  data-processed/SDSC-ISG_TrendModel/2021-02-18-Germany-SDSC-ISG_TrendModel-case.csv
  data-processed/SDSC-ISG_TrendModel/2021-02-18-Germany-SDSC-ISG_TrendModel.csv
  data-processed/SDSC-ISG_TrendModel/2021-02-18-Poland-SDSC-ISG_TrendModel-case.csv
  data-processed/SDSC-ISG_TrendModel/2021-02-18-Poland-SDSC-ISG_TrendModel.csv
  data-processed/SDSC-ISG_TrendModel/2021-02-19-Germany-SDSC-ISG_TrendModel-case.csv
  data-processed/SDSC-ISG_TrendModel/2021-02-19-Germany-SDSC-ISG_TrendModel.csv
  data-processed/SDSC-ISG_TrendModel/2021-02-19-Poland-SDSC-ISG_TrendModel-case.csv
  data-processed/SDSC-ISG_TrendModel/2021-02-19-Poland-SDSC-ISG_TrendModel.csv
  data-processed/SDSC-ISG_TrendModel/2021-02-20-Germany-SDSC-ISG_TrendModel-case.csv
  data-processed/SDSC-ISG_TrendModel/2021-02-20-Germany-SDSC-ISG_TrendModel.csv
  data-processed/SDSC-ISG_TrendModel/2021-02-20-Poland-SDSC-ISG_TrendModel-case.csv
  data-processed/SDSC-ISG_TrendModel/2021-02-20-Poland-SDSC-ISG_TrendModel.csv
  data-processed/SDSC-ISG_TrendModel/2021-02-21-Germany-SDSC-ISG_TrendModel-case.csv
  data-processed/SDSC-ISG_TrendModel/2021-02-21-Germany-SDSC-ISG_TrendModel.csv
  data-processed/SDSC-ISG_TrendModel/2021-02-21-Poland-SDSC-ISG_TrendModel-case.csv
  data-processed/SDSC-ISG_TrendModel/2021-02-21-Poland-SDSC-ISG_TrendModel.csv
  data-processed/SDSC-ISG_TrendModel/2021-02-22-Germany-SDSC-ISG_TrendModel-case.csv
  data-processed/SDSC-ISG_TrendModel/2021-02-22-Germany-SDSC-ISG_TrendModel.csv
  data-processed/SDSC-ISG_TrendModel/2021-02-22-Poland-SDSC-ISG_TrendModel-case.csv
  data-processed/SDSC-ISG_TrendModel/2021-02-22-Poland-SDSC-ISG_TrendModel.csv
Labels: data-submission

#708 Mocos 2021 02 22
  data-processed/MOCOS-agent1/2021-02-22-Poland-MOCOS-agent1-case.csv
  data-processed/MOCOS-agent1/2021-02-22-Poland-MOCOS-agent1.csv
Labels: data-submission

#707 prognosis week 8
  data-processed/itwm-dSEIR/2021-02-22-Germany-itwm-dSEIR-case.csv
  data-processed/itwm-dSEIR/2021-02-22-Germany-itwm-dSEIR.csv
Labels: data-submission

#709 2021-02-22 - EpiForecast submission
  data-processed/epiforecasts-EpiExpert/2021-02-22-Germany-epiforecasts-EpiExpert-case.csv
  data-processed/epiforecasts-EpiExpert/2021-02-22-Germany-epiforecasts-EpiExpert.csv
  data-processed/epiforecasts-EpiExpert/2021-02-22-Poland-epiforecasts-EpiExpert-case.csv
  data-processed/epiforecasts-EpiExpert/2021-02-22-Poland-epiforecasts-EpiExpert.csv
  data-processed/epiforecasts-EpiExpert_Rt/2021-02-22-Germany-epiforecasts-EpiExpert_Rt-case.csv
  data-processed/epiforecasts-EpiExpert_Rt/2021-02-22-Germany-epiforecasts-EpiExpert_Rt.csv
  data-processed/epiforecasts-EpiExpert_Rt/2021-02-22-Poland-epiforecasts-EpiExpert_Rt-case.csv
  data-processed/epiforecasts-EpiExpert_Rt/2021-02-22-Poland-epiforecasts-EpiExpert_Rt.csv
  data-processed/epiforecasts-EpiNow2/2021-02-22-Germany-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2021-02-22-Germany-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-EpiNow2/2021-02-22-Poland-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2021-02-22-Poland-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-EpiNow2_secondary/2021-02-22-Germany-epiforecasts-EpiNow2_secondary.csv
  data-processed/epiforecasts-EpiNow2_secondary/2021-02-22-Poland-epiforecasts-EpiNow2_secondary.csv
Labels: data-submission

#710 2020-02-22 ICM submission
  data-processed/ICM-agentModel/2021-02-22-Poland-ICM-agentModel-case.csv
  data-processed/ICM-agentModel/2021-02-22-Poland-ICM-agentModel.csv
Labels: data-submission

#711 Adding ensembles.
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-02-22-Germany-KITCOVIDhub-inverse_wis_ensemble-case.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-02-22-Germany-KITCOVIDhub-inverse_wis_ensemble.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-02-22-Poland-KITCOVIDhub-inverse_wis_ensemble-case.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-02-22-Poland-KITCOVIDhub-inverse_wis_ensemble.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-02-22-Germany-KITCOVIDhub-mean_ensemble-case.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-02-22-Germany-KITCOVIDhub-mean_ensemble.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-02-22-Poland-KITCOVIDhub-mean_ensemble-case.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-02-22-Poland-KITCOVIDhub-mean_ensemble.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-02-22-Germany-KITCOVIDhub-median_ensemble-case.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-02-22-Germany-KITCOVIDhub-median_ensemble.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-02-22-Poland-KITCOVIDhub-median_ensemble-case.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-02-22-Poland-KITCOVIDhub-median_ensemble.csv
Labels: data-submission

#715 Forecast Death/Case/ICU for Germany and Saxony LeipzigIMISE-SECIR on 2021-02-22
  data-processed/LeipzigIMISE-SECIR/2021-02-22-Germany-LeipzigIMISE-SECIR-ICU.csv
  data-processed/LeipzigIMISE-SECIR/2021-02-22-Germany-LeipzigIMISE-SECIR-case.csv
  data-processed/LeipzigIMISE-SECIR/2021-02-22-Germany-LeipzigIMISE-SECIR.csv
Labels: data-submission
