Repository KITmetricslab/covid19-forecast-hub-de, pull requests merged in 2021-06, with the labels that each got.

#962 MOCOS update - 2021-05-31
  data-processed/MOCOS-agent1/2021-05-31-Poland-MOCOS-agent1-case.csv
  data-processed/MOCOS-agent1/2021-05-31-Poland-MOCOS-agent1.csv
Labels: data-submission

#961 2021-05-31 - EpiForecast submission
  data-processed/epiforecasts-EpiNow2/2021-05-31-Germany-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2021-05-31-Germany-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-EpiNow2/2021-05-31-Poland-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2021-05-31-Poland-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-EpiNow2_secondary/2021-05-31-Germany-epiforecasts-EpiNow2_secondary.csv
  data-processed/epiforecasts-EpiNow2_secondary/2021-05-31-Poland-epiforecasts-EpiNow2_secondary.csv
Labels: data-submission

#960 MIT Update
  data-processed/MIT_CovidAnalytics-DELPHI/2021-05-31-Germany-MIT_CovidAnalytics-DELPHI-case.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-05-31-Germany-MIT_CovidAnalytics-DELPHI.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-05-31-Poland-MIT_CovidAnalytics-DELPHI-case.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-05-31-Poland-MIT_CovidAnalytics-DELPHI.csv
Labels: data-submission

#959 Upload 2021-05-30 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2021-05-30-Germany-Karlen-pypm-case.csv
  data-processed/Karlen-pypm/2021-05-30-Germany-Karlen-pypm.csv
  data-processed/Karlen-pypm/metadata-Karlen-pypm.txt
Labels: data-submission, metadata-change

#958 Predictions as of 31 May 2021.
  data-processed/FIAS_FZJ-Epi1Ger/2021-05-31-Germany-FIAS_FZJ-Epi1Ger-case.csv
  data-processed/FIAS_FZJ-Epi1Ger/2021-05-31-Germany-FIAS_FZJ-Epi1Ger.csv
Labels: data-submission

#957 2021-05-31 ICM submission
  data-processed/ICM-agentModel/2021-05-31-Poland-ICM-agentModel-case.csv
  data-processed/ICM-agentModel/2021-05-31-Poland-ICM-agentModel.csv
Labels: data-submission

#956 ITWW forecast for 2021-05-31
  data-processed/ITWW-county_repro/2021-05-31-Germany-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2021-05-31-Germany-ITWW-county_repro.csv
  data-processed/ITWW-county_repro/2021-05-31-Poland-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2021-05-31-Poland-ITWW-county_repro.csv
Labels: data-submission

#955 CovidMetrics-epiBATS (2021-05-31)
  data-processed/CovidMetrics-epiBATS/2021-05-31-Germany-CovidMetrics-epiBATS-case.csv
  data-processed/CovidMetrics-epiBATS/metadata.txt
Labels: data-submission, other-files-updated

#963 Update baselines
  data-processed/KIT-baseline/2021-05-31-Germany-KIT-baseline-case.csv
  data-processed/KIT-baseline/2021-05-31-Germany-KIT-baseline.csv
  data-processed/KIT-baseline/2021-05-31-Poland-KIT-baseline-case.csv
  data-processed/KIT-baseline/2021-05-31-Poland-KIT-baseline.csv
  data-processed/KIT-extrapolation_baseline/2021-05-31-Germany-KIT-extrapolation_baseline-case.csv
  data-processed/KIT-extrapolation_baseline/2021-05-31-Germany-KIT-extrapolation_baseline.csv
  data-processed/KIT-extrapolation_baseline/2021-05-31-Poland-KIT-extrapolation_baseline-case.csv
  data-processed/KIT-extrapolation_baseline/2021-05-31-Poland-KIT-extrapolation_baseline.csv
  data-processed/KIT-time_series_baseline/2021-05-31-Germany-KIT-time_series_baseline-case.csv
  data-processed/KIT-time_series_baseline/2021-05-31-Germany-KIT-time_series_baseline.csv
  data-processed/KIT-time_series_baseline/2021-05-31-Poland-KIT-time_series_baseline-case.csv
  data-processed/KIT-time_series_baseline/2021-05-31-Poland-KIT-time_series_baseline.csv
Labels: automated pr, data-submission

#954 USC-SIkJalpha: Weekly update
  data-processed/USC-SIkJalpha/2021-05-30-Germany-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2021-05-30-Germany-USC-SIkJalpha.csv
  data-processed/USC-SIkJalpha/2021-05-30-Poland-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2021-05-30-Poland-USC-SIkJalpha.csv
Labels: data-submission

#966 Adding ensembles subnational.
  code/ensemble/included_models/included_models-2021-05-31.csv
  code/ensemble/inverse_wis_weights/inverse_wis_weights-2021-05-31.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-05-31-Germany-KITCOVIDhub-inverse_wis_ensemble-case.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-05-31-Germany-KITCOVIDhub-inverse_wis_ensemble.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-05-31-Poland-KITCOVIDhub-inverse_wis_ensemble-case.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-05-31-Poland-KITCOVIDhub-inverse_wis_ensemble.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-05-31-Germany-KITCOVIDhub-mean_ensemble-case.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-05-31-Germany-KITCOVIDhub-mean_ensemble.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-05-31-Poland-KITCOVIDhub-mean_ensemble-case.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-05-31-Poland-KITCOVIDhub-mean_ensemble.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-05-31-Germany-KITCOVIDhub-median_ensemble-case.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-05-31-Germany-KITCOVIDhub-median_ensemble.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-05-31-Poland-KITCOVIDhub-median_ensemble-case.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-05-31-Poland-KITCOVIDhub-median_ensemble.csv
Labels: data-submission, other-files-updated

#965 Update IHME incident weekly deaths
  data-raw/IHME/2021_01_22/IHME_COVID_19_Data_Release_Information_Sheet.pdf
  data-raw/IHME/2021_01_22/Summary_stats_all_locs.csv
  data-raw/IHME/2021_05_06/IHME_COVID_19_Data_Release_Information_Sheet.pdf
  data-raw/IHME/2021_05_06/Summary_stats_all_locs.csv
  data-raw/IHME/IHME-germany-processing-script.R
  data-raw/IHME/process_IHME-germany_functions.R
  data-temp/IHME-CurveFit/Second_period_incident_deaths/2020-12-23-Germany-IHME-CurveFit.csv
  data-temp/IHME-CurveFit/Second_period_incident_deaths/2020-12-23-Poland-IHME-CurveFit.csv
  data-temp/IHME-CurveFit/Second_period_incident_deaths/2021-01-15-Germany-IHME-CurveFit.csv
  data-temp/IHME-CurveFit/Second_period_incident_deaths/2021-01-15-Poland-IHME-CurveFit.csv
  data-temp/IHME-CurveFit/Second_period_incident_deaths/2021-01-22-Germany-IHME-CurveFit.csv
  data-temp/IHME-CurveFit/Second_period_incident_deaths/2021-01-22-Poland-IHME-CurveFit.csv
  data-temp/IHME-CurveFit/Second_period_incident_deaths/2021-01-28-Germany-IHME-CurveFit.csv
  data-temp/IHME-CurveFit/Second_period_incident_deaths/2021-01-28-Poland-IHME-CurveFit.csv
  data-temp/IHME-CurveFit/Second_period_incident_deaths/2021-02-04-Germany-IHME-CurveFit.csv
  data-temp/IHME-CurveFit/Second_period_incident_deaths/2021-02-04-Poland-IHME-CurveFit.csv
  data-temp/IHME-CurveFit/Second_period_incident_deaths/2021-02-12-Germany-IHME-CurveFit.csv
  data-temp/IHME-CurveFit/Second_period_incident_deaths/2021-02-12-Poland-IHME-CurveFit.csv
  data-temp/IHME-CurveFit/Second_period_incident_deaths/2021-02-20-Germany-IHME-CurveFit.csv
  data-temp/IHME-CurveFit/Second_period_incident_deaths/2021-02-20-Poland-IHME-CurveFit.csv
  data-temp/IHME-CurveFit/Second_period_incident_deaths/2021-02-25-Germany-IHME-CurveFit.csv
  data-temp/IHME-CurveFit/Second_period_incident_deaths/2021-02-25-Poland-IHME-CurveFit.csv
  data-temp/IHME-CurveFit/Second_period_incident_deaths/2021-03-06-Germany-IHME-CurveFit.csv
  data-temp/IHME-CurveFit/Second_period_incident_deaths/2021-03-06-Poland-IHME-CurveFit.csv
  data-temp/IHME-CurveFit/Second_period_incident_deaths/2021-03-11-Germany-IHME-CurveFit.csv
  data-temp/IHME-CurveFit/Second_period_incident_deaths/2021-03-11-Poland-IHME-CurveFit.csv
  data-temp/IHME-CurveFit/Second_period_incident_deaths/2021-03-17-Germany-IHME-CurveFit.csv
  data-temp/IHME-CurveFit/Second_period_incident_deaths/2021-03-17-Poland-IHME-CurveFit.csv
  data-temp/IHME-CurveFit/Second_period_incident_deaths/2021-03-25-Germany-IHME-CurveFit.csv
  data-temp/IHME-CurveFit/Second_period_incident_deaths/2021-03-25-Poland-IHME-CurveFit.csv
Labels: added-raw-data

#964 Latest predictions MIMUW
  data-processed/MIMUW-StochSEIR/2021-05-31-Poland-MIMUW-StochSEIR-case.csv
  data-processed/MIMUW-StochSEIR/2021-05-31-Poland-MIMUW-StochSEIR.csv
Labels: data-submission

#967 USC-SIkJalpha: Weekly update
  data-processed/USC-SIkJalpha/2021-06-06-Germany-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2021-06-06-Germany-USC-SIkJalpha.csv
  data-processed/USC-SIkJalpha/2021-06-06-Poland-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2021-06-06-Poland-USC-SIkJalpha.csv
Labels: data-submission

#968 CovidMetrics-epiBATS (2021-06-07)
  data-processed/CovidMetrics-epiBATS/2021-06-07-Germany-CovidMetrics-epiBATS-case.csv
  data-processed/CovidMetrics-epiBATS/LICENSE-CovidMetrics.txt
  data-processed/CovidMetrics-epiBATS/metadata-CovidMetrics-epiBATS.txt
Labels: data-submission, metadata-change, other-files-updated

#969 MOCOS 2021-06-07
  data-processed/MOCOS-agent1/2021-06-07-Poland-MOCOS-agent1-case.csv
  data-processed/MOCOS-agent1/2021-06-07-Poland-MOCOS-agent1.csv
Labels: data-submission

#970 ITWW forecast for 2021-06-07
  data-processed/ITWW-county_repro/2021-06-07-Germany-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2021-06-07-Germany-ITWW-county_repro.csv
  data-processed/ITWW-county_repro/2021-06-07-Poland-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2021-06-07-Poland-ITWW-county_repro.csv
Labels: data-submission

#971 2021-06-07 ICM submission
  data-processed/ICM-agentModel/2021-06-07-Poland-ICM-agentModel-case.csv
  data-processed/ICM-agentModel/2021-06-07-Poland-ICM-agentModel.csv
Labels: data-submission

#972 Predictions as of 07 June 2021.
  data-processed/FIAS_FZJ-Epi1Ger/2021-06-07-Germany-FIAS_FZJ-Epi1Ger-case.csv
  data-processed/FIAS_FZJ-Epi1Ger/2021-06-07-Germany-FIAS_FZJ-Epi1Ger.csv
Labels: data-submission

#974 Upload 2021-06-06 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2021-06-06-Germany-Karlen-pypm-case.csv
  data-processed/Karlen-pypm/2021-06-06-Germany-Karlen-pypm.csv
Labels: data-submission

#975 Update 0607
  data-processed/MIT_CovidAnalytics-DELPHI/2021-06-07-Germany-MIT_CovidAnalytics-DELPHI-case.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-06-07-Germany-MIT_CovidAnalytics-DELPHI.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-06-07-Poland-MIT_CovidAnalytics-DELPHI-case.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-06-07-Poland-MIT_CovidAnalytics-DELPHI.csv
Labels: data-submission

#977 2021-06-07 - EpiForecast submission
  data-processed/epiforecasts-EpiNow2/2021-06-07-Germany-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2021-06-07-Germany-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-EpiNow2/2021-06-07-Poland-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2021-06-07-Poland-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-EpiNow2_secondary/2021-06-07-Germany-epiforecasts-EpiNow2_secondary.csv
  data-processed/epiforecasts-EpiNow2_secondary/2021-06-07-Poland-epiforecasts-EpiNow2_secondary.csv
Labels: data-submission

#978 Update baselines
  data-processed/KIT-baseline/2021-06-07-Germany-KIT-baseline-case.csv
  data-processed/KIT-baseline/2021-06-07-Germany-KIT-baseline.csv
  data-processed/KIT-baseline/2021-06-07-Poland-KIT-baseline-case.csv
  data-processed/KIT-baseline/2021-06-07-Poland-KIT-baseline.csv
  data-processed/KIT-extrapolation_baseline/2021-06-07-Germany-KIT-extrapolation_baseline-case.csv
  data-processed/KIT-extrapolation_baseline/2021-06-07-Germany-KIT-extrapolation_baseline.csv
  data-processed/KIT-extrapolation_baseline/2021-06-07-Poland-KIT-extrapolation_baseline-case.csv
  data-processed/KIT-extrapolation_baseline/2021-06-07-Poland-KIT-extrapolation_baseline.csv
  data-processed/KIT-time_series_baseline/2021-06-07-Germany-KIT-time_series_baseline-case.csv
  data-processed/KIT-time_series_baseline/2021-06-07-Germany-KIT-time_series_baseline.csv
  data-processed/KIT-time_series_baseline/2021-06-07-Poland-KIT-time_series_baseline-case.csv
  data-processed/KIT-time_series_baseline/2021-06-07-Poland-KIT-time_series_baseline.csv
Labels: automated pr, data-submission

#979 Adding ensembles.
  code/ensemble/included_models/included_models-2021-06-07.csv
  code/ensemble/inverse_wis_weights/inverse_wis_weights-2021-06-07.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-06-07-Germany-KITCOVIDhub-inverse_wis_ensemble-case.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-06-07-Germany-KITCOVIDhub-inverse_wis_ensemble.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-06-07-Poland-KITCOVIDhub-inverse_wis_ensemble-case.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-06-07-Poland-KITCOVIDhub-inverse_wis_ensemble.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-06-07-Germany-KITCOVIDhub-mean_ensemble-case.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-06-07-Germany-KITCOVIDhub-mean_ensemble.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-06-07-Poland-KITCOVIDhub-mean_ensemble-case.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-06-07-Poland-KITCOVIDhub-mean_ensemble.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-06-07-Germany-KITCOVIDhub-median_ensemble-case.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-06-07-Germany-KITCOVIDhub-median_ensemble.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-06-07-Poland-KITCOVIDhub-median_ensemble-case.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-06-07-Poland-KITCOVIDhub-median_ensemble.csv
Labels: data-submission, other-files-updated

#980 Import EU forecasts
  data-processed/BIOCOMSC-Gompertz/2021-06-07-Germany-BIOCOMSC-Gompertz-case.csv
  data-processed/BIOCOMSC-Gompertz/2021-06-07-Poland-BIOCOMSC-Gompertz-case.csv
  data-processed/BIOCOMSC-Gompertz/2021-06-07-Poland-BIOCOMSC-Gompertz.csv
  data-processed/DSMPG-bayes/2021-06-07-Germany-DSMPG-bayes-case.csv
  data-processed/HZI-AgeExtendedSEIR/2021-06-07-Germany-HZI-AgeExtendedSEIR-case.csv
  data-processed/HZI-AgeExtendedSEIR/2021-06-07-Germany-HZI-AgeExtendedSEIR.csv
  data-processed/IEM_Health-CovidProject/2021-06-07-Germany-IEM_Health-CovidProject-case.csv
  data-processed/IEM_Health-CovidProject/2021-06-07-Germany-IEM_Health-CovidProject.csv
  data-processed/IEM_Health-CovidProject/2021-06-07-Poland-IEM_Health-CovidProject-case.csv
  data-processed/IEM_Health-CovidProject/2021-06-07-Poland-IEM_Health-CovidProject.csv
  data-processed/ILM-EKF/2021-06-07-Germany-ILM-EKF-case.csv
  data-processed/ILM-EKF/2021-06-07-Germany-ILM-EKF.csv
  data-processed/ILM-EKF/2021-06-07-Poland-ILM-EKF-case.csv
  data-processed/ILM-EKF/2021-06-07-Poland-ILM-EKF.csv
  data-processed/Imperial-DeCa/2021-06-07-Germany-Imperial-DeCa.csv
  data-processed/Imperial-DeCa/2021-06-07-Poland-Imperial-DeCa.csv
  data-processed/Imperial-RtI0/2021-06-07-Germany-Imperial-RtI0.csv
  data-processed/Imperial-RtI0/2021-06-07-Poland-Imperial-RtI0.csv
  data-processed/Imperial-sbkp/2021-06-07-Germany-Imperial-sbkp.csv
  data-processed/Imperial-sbkp/2021-06-07-Poland-Imperial-sbkp.csv
  data-processed/MUNI-ARIMA/2021-06-07-Germany-MUNI-ARIMA-case.csv
  data-processed/MUNI-ARIMA/2021-06-07-Germany-MUNI-ARIMA.csv
  data-processed/MUNI-ARIMA/2021-06-07-Poland-MUNI-ARIMA-case.csv
  data-processed/MUNI-ARIMA/2021-06-07-Poland-MUNI-ARIMA.csv
  data-processed/PL_GRedlarski-DistrictsSum/2021-06-07-Poland-PL_GRedlarski-DistrictsSum-case.csv
  data-processed/RobertWalraven-ESG/2021-06-07-Germany-RobertWalraven-ESG-case.csv
  data-processed/RobertWalraven-ESG/2021-06-07-Germany-RobertWalraven-ESG.csv
  data-processed/RobertWalraven-ESG/2021-06-07-Poland-RobertWalraven-ESG-case.csv
  data-processed/RobertWalraven-ESG/2021-06-07-Poland-RobertWalraven-ESG.csv
  data-processed/SDSC_ISG-TrendModel/2021-06-07-Germany-SDSC_ISG-TrendModel-case.csv
  data-processed/SDSC_ISG-TrendModel/2021-06-07-Germany-SDSC_ISG-TrendModel.csv
  data-processed/SDSC_ISG-TrendModel/2021-06-07-Poland-SDSC_ISG-TrendModel-case.csv
  data-processed/SDSC_ISG-TrendModel/2021-06-07-Poland-SDSC_ISG-TrendModel.csv
  data-processed/UMass-MechBayes/2021-06-06-Germany-UMass-MechBayes.csv
  data-processed/UMass-MechBayes/2021-06-06-Poland-UMass-MechBayes.csv
  data-processed/UMass-SemiMech/2021-06-06-Germany-UMass-SemiMech-case.csv
  data-processed/UMass-SemiMech/2021-06-06-Germany-UMass-SemiMech.csv
  data-processed/UMass-SemiMech/2021-06-06-Poland-UMass-SemiMech-case.csv
  data-processed/UMass-SemiMech/2021-06-06-Poland-UMass-SemiMech.csv
  data-processed/UNIPV-BayesINGARCHX/2021-06-07-Germany-UNIPV-BayesINGARCHX-case.csv
  data-processed/USyd-OneModelMan/2021-06-07-Germany-USyd-OneModelMan.csv
  data-processed/USyd-OneModelMan/2021-06-07-Poland-USyd-OneModelMan.csv
  data-processed/UVA-Ensemble/2021-06-07-Germany-UVA-Ensemble-case.csv
  data-processed/UVA-Ensemble/2021-06-07-Poland-UVA-Ensemble-case.csv
  data-processed/epiforecasts-EpiExpert/2021-06-07-Germany-epiforecasts-EpiExpert-case.csv
  data-processed/epiforecasts-EpiExpert/2021-06-07-Germany-epiforecasts-EpiExpert.csv
  data-processed/epiforecasts-EpiExpert/2021-06-07-Poland-epiforecasts-EpiExpert-case.csv
  data-processed/epiforecasts-EpiExpert/2021-06-07-Poland-epiforecasts-EpiExpert.csv
  data-processed/epiforecasts-EpiExpert_Rt/2021-06-07-Germany-epiforecasts-EpiExpert_Rt-case.csv
  data-processed/epiforecasts-EpiExpert_Rt/2021-06-07-Germany-epiforecasts-EpiExpert_Rt.csv
  data-processed/epiforecasts-EpiExpert_Rt/2021-06-07-Poland-epiforecasts-EpiExpert_Rt-case.csv
  data-processed/epiforecasts-EpiExpert_Rt/2021-06-07-Poland-epiforecasts-EpiExpert_Rt.csv
  data-processed/epiforecasts-EpiExpert_direct/2021-06-07-Germany-epiforecasts-EpiExpert_direct-case.csv
  data-processed/epiforecasts-EpiExpert_direct/2021-06-07-Germany-epiforecasts-EpiExpert_direct.csv
  data-processed/epiforecasts-EpiExpert_direct/2021-06-07-Poland-epiforecasts-EpiExpert_direct-case.csv
  data-processed/epiforecasts-EpiExpert_direct/2021-06-07-Poland-epiforecasts-EpiExpert_direct.csv
  data-processed/itwm-dSEIR/2021-06-07-Germany-itwm-dSEIR-case.csv
  data-processed/itwm-dSEIR/2021-06-07-Germany-itwm-dSEIR.csv
Labels: automated pr, data-submission

#973 Updated IHME Scripts to display right date and name
  data-raw/IHME/IHME-germany-processing-script.R
  data-raw/IHME/process_IHME-germany_functions.R
  data-temp/IHME-CurveFit/Second_period_incident_deaths/2020-12-23-Germany-IHME-CurveFit.csv
  data-temp/IHME-CurveFit/Second_period_incident_deaths/2020-12-23-Poland-IHME-CurveFit.csv
  data-temp/IHME-CurveFit/Second_period_incident_deaths/2021-01-11-Germany-IHME-CurveFit.csv
  data-temp/IHME-CurveFit/Second_period_incident_deaths/2021-01-11-Poland-IHME-CurveFit.csv
  data-temp/IHME-CurveFit/Second_period_incident_deaths/2021-01-15-Germany-IHME-CurveFit.csv
  data-temp/IHME-CurveFit/Second_period_incident_deaths/2021-01-15-Poland-IHME-CurveFit.csv
  data-temp/IHME-CurveFit/Second_period_incident_deaths/2021-01-18-Germany-IHME-CurveFit.csv
  data-temp/IHME-CurveFit/Second_period_incident_deaths/2021-01-18-Poland-IHME-CurveFit.csv
  data-temp/IHME-CurveFit/Second_period_incident_deaths/2021-01-22-Germany-IHME-CurveFit.csv
  data-temp/IHME-CurveFit/Second_period_incident_deaths/2021-01-22-Poland-IHME-CurveFit.csv
  data-temp/IHME-CurveFit/Second_period_incident_deaths/2021-01-25-Germany-IHME-CurveFit.csv
  data-temp/IHME-CurveFit/Second_period_incident_deaths/2021-01-25-Poland-IHME-CurveFit.csv
  data-temp/IHME-CurveFit/Second_period_incident_deaths/2021-01-28-Germany-IHME-CurveFit.csv
  data-temp/IHME-CurveFit/Second_period_incident_deaths/2021-01-28-Poland-IHME-CurveFit.csv
  data-temp/IHME-CurveFit/Second_period_incident_deaths/2021-02-01-Germany-IHME-CurveFit.csv
  data-temp/IHME-CurveFit/Second_period_incident_deaths/2021-02-01-Poland-IHME-CurveFit.csv
  data-temp/IHME-CurveFit/Second_period_incident_deaths/2021-02-04-Germany-IHME-CurveFit.csv
  data-temp/IHME-CurveFit/Second_period_incident_deaths/2021-02-04-Poland-IHME-CurveFit.csv
  data-temp/IHME-CurveFit/Second_period_incident_deaths/2021-02-08-Germany-IHME-CurveFit.csv
  data-temp/IHME-CurveFit/Second_period_incident_deaths/2021-02-08-Poland-IHME-CurveFit.csv
  data-temp/IHME-CurveFit/Second_period_incident_deaths/2021-02-12-Germany-IHME-CurveFit.csv
  data-temp/IHME-CurveFit/Second_period_incident_deaths/2021-02-12-Poland-IHME-CurveFit.csv
  data-temp/IHME-CurveFit/Second_period_incident_deaths/2021-02-15-Germany-IHME-CurveFit.csv
  data-temp/IHME-CurveFit/Second_period_incident_deaths/2021-02-15-Poland-IHME-CurveFit.csv
  data-temp/IHME-CurveFit/Second_period_incident_deaths/2021-02-20-Germany-IHME-CurveFit.csv
  data-temp/IHME-CurveFit/Second_period_incident_deaths/2021-02-20-Poland-IHME-CurveFit.csv
  data-temp/IHME-CurveFit/Second_period_incident_deaths/2021-02-22-Germany-IHME-CurveFit.csv
  data-temp/IHME-CurveFit/Second_period_incident_deaths/2021-02-22-Poland-IHME-CurveFit.csv
  data-temp/IHME-CurveFit/Second_period_incident_deaths/2021-02-25-Germany-IHME-CurveFit.csv
  data-temp/IHME-CurveFit/Second_period_incident_deaths/2021-02-25-Poland-IHME-CurveFit.csv
  data-temp/IHME-CurveFit/Second_period_incident_deaths/2021-03-01-Germany-IHME-CurveFit.csv
  data-temp/IHME-CurveFit/Second_period_incident_deaths/2021-03-01-Poland-IHME-CurveFit.csv
  data-temp/IHME-CurveFit/Second_period_incident_deaths/2021-03-06-Germany-IHME-CurveFit.csv
  data-temp/IHME-CurveFit/Second_period_incident_deaths/2021-03-06-Poland-IHME-CurveFit.csv
  data-temp/IHME-CurveFit/Second_period_incident_deaths/2021-03-08-Germany-IHME-CurveFit.csv
  data-temp/IHME-CurveFit/Second_period_incident_deaths/2021-03-08-Poland-IHME-CurveFit.csv
  data-temp/IHME-CurveFit/Second_period_incident_deaths/2021-03-11-Germany-IHME-CurveFit.csv
  data-temp/IHME-CurveFit/Second_period_incident_deaths/2021-03-11-Poland-IHME-CurveFit.csv
  data-temp/IHME-CurveFit/Second_period_incident_deaths/2021-03-15-Germany-IHME-CurveFit.csv
  data-temp/IHME-CurveFit/Second_period_incident_deaths/2021-03-15-Poland-IHME-CurveFit.csv
  data-temp/IHME-CurveFit/Second_period_incident_deaths/2021-03-17-Germany-IHME-CurveFit.csv
  data-temp/IHME-CurveFit/Second_period_incident_deaths/2021-03-17-Poland-IHME-CurveFit.csv
  data-temp/IHME-CurveFit/Second_period_incident_deaths/2021-03-22-Germany-IHME-CurveFit.csv
  data-temp/IHME-CurveFit/Second_period_incident_deaths/2021-03-22-Poland-IHME-CurveFit.csv
  data-temp/IHME-CurveFit/Second_period_incident_deaths/2021-03-25-Germany-IHME-CurveFit.csv
  data-temp/IHME-CurveFit/Second_period_incident_deaths/2021-03-25-Poland-IHME-CurveFit.csv
  data-temp/IHME-CurveFit/Second_period_incident_deaths/2021-03-29-Germany-IHME-CurveFit.csv
  data-temp/IHME-CurveFit/Second_period_incident_deaths/2021-03-29-Poland-IHME-CurveFit.csv
Labels: added-raw-data

#992 MOCOS 2021-06-14
  data-processed/MOCOS-agent1/2021-06-14-Poland-MOCOS-agent1-case.csv
  data-processed/MOCOS-agent1/2021-06-14-Poland-MOCOS-agent1.csv
Labels: data-submission

#991 Upload 2021-06-13 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2021-06-13-Germany-Karlen-pypm-case.csv
  data-processed/Karlen-pypm/2021-06-13-Germany-Karlen-pypm.csv
Labels: data-submission

#990 MIT Update
  data-processed/MIT_CovidAnalytics-DELPHI/2021-06-14-Germany-MIT_CovidAnalytics-DELPHI-case.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-06-14-Germany-MIT_CovidAnalytics-DELPHI.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-06-14-Poland-MIT_CovidAnalytics-DELPHI-case.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-06-14-Poland-MIT_CovidAnalytics-DELPHI.csv
Labels: data-submission

#989 Predictions as of 14 June 2021.
  data-processed/FIAS_FZJ-Epi1Ger/2021-06-14-Germany-FIAS_FZJ-Epi1Ger-case.csv
  data-processed/FIAS_FZJ-Epi1Ger/2021-06-14-Germany-FIAS_FZJ-Epi1Ger.csv
Labels: data-submission

#988 2021-06-14 ICM submission
  data-processed/ICM-agentModel/2021-06-14-Poland-ICM-agentModel-case.csv
  data-processed/ICM-agentModel/2021-06-14-Poland-ICM-agentModel.csv
Labels: data-submission

#987 ITWW forecast for 2021-06-14
  data-processed/ITWW-county_repro/2021-06-14-Germany-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2021-06-14-Germany-ITWW-county_repro.csv
  data-processed/ITWW-county_repro/2021-06-14-Poland-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2021-06-14-Poland-ITWW-county_repro.csv
Labels: data-submission

#986 CovidMetrics-epiBATS (2021-06-14)
  data-processed/CovidMetrics-epiBATS/2021-06-14-Germany-CovidMetrics-epiBATS-case.csv
Labels: data-submission

#985 USC-SIkJalpha: Weekly update
  data-processed/USC-SIkJalpha/2021-06-13-Germany-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2021-06-13-Germany-USC-SIkJalpha.csv
  data-processed/USC-SIkJalpha/2021-06-13-Poland-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2021-06-13-Poland-USC-SIkJalpha.csv
Labels: data-submission

#984 Latest predictions MIM UW
  data-processed/MIMUW-StochSEIR/2021-06-07-Poland-MIMUW-StochSEIR-case.csv
  data-processed/MIMUW-StochSEIR/2021-06-07-Poland-MIMUW-StochSEIR.csv
Labels: data-submission

#993 2021-06-14 - EpiForecast submission
  data-processed/epiforecasts-EpiNow2/2021-06-14-Germany-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2021-06-14-Germany-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-EpiNow2/2021-06-14-Poland-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2021-06-14-Poland-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-EpiNow2_secondary/2021-06-14-Germany-epiforecasts-EpiNow2_secondary.csv
  data-processed/epiforecasts-EpiNow2_secondary/2021-06-14-Poland-epiforecasts-EpiNow2_secondary.csv
Labels: data-submission

#994 Adding regional ensembles.
  code/ensemble/included_models/included_models-2021-06-14.csv
  code/ensemble/inverse_wis_weights/inverse_wis_weights-2021-06-14.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-06-14-Germany-KITCOVIDhub-inverse_wis_ensemble-case.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-06-14-Germany-KITCOVIDhub-inverse_wis_ensemble.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-06-14-Poland-KITCOVIDhub-inverse_wis_ensemble-case.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-06-14-Poland-KITCOVIDhub-inverse_wis_ensemble.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-06-14-Germany-KITCOVIDhub-mean_ensemble-case.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-06-14-Germany-KITCOVIDhub-mean_ensemble.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-06-14-Poland-KITCOVIDhub-mean_ensemble-case.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-06-14-Poland-KITCOVIDhub-mean_ensemble.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-06-14-Germany-KITCOVIDhub-median_ensemble-case.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-06-14-Germany-KITCOVIDhub-median_ensemble.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-06-14-Poland-KITCOVIDhub-median_ensemble-case.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-06-14-Poland-KITCOVIDhub-median_ensemble.csv
Labels: data-submission, other-files-updated

#995 [MIMUW] Very late submission
  data-processed/MIMUW-StochSEIR/2021-06-14-Poland-MIMUW-StochSEIR-case.csv
  data-processed/MIMUW-StochSEIR/2021-06-14-Poland-MIMUW-StochSEIR.csv
Labels: data-submission

#1009 Update baselines
  data-processed/KIT-baseline/2021-06-21-Germany-KIT-baseline-case.csv
  data-processed/KIT-baseline/2021-06-21-Germany-KIT-baseline.csv
  data-processed/KIT-baseline/2021-06-21-Poland-KIT-baseline-case.csv
  data-processed/KIT-baseline/2021-06-21-Poland-KIT-baseline.csv
  data-processed/KIT-extrapolation_baseline/2021-06-21-Germany-KIT-extrapolation_baseline-case.csv
  data-processed/KIT-extrapolation_baseline/2021-06-21-Germany-KIT-extrapolation_baseline.csv
  data-processed/KIT-extrapolation_baseline/2021-06-21-Poland-KIT-extrapolation_baseline-case.csv
  data-processed/KIT-extrapolation_baseline/2021-06-21-Poland-KIT-extrapolation_baseline.csv
  data-processed/KIT-time_series_baseline/2021-06-21-Germany-KIT-time_series_baseline-case.csv
  data-processed/KIT-time_series_baseline/2021-06-21-Germany-KIT-time_series_baseline.csv
  data-processed/KIT-time_series_baseline/2021-06-21-Poland-KIT-time_series_baseline-case.csv
  data-processed/KIT-time_series_baseline/2021-06-21-Poland-KIT-time_series_baseline.csv
Labels: automated pr, data-submission

#1008 MOCOS 2021-06-21
  data-processed/MOCOS-agent1/2021-06-21-Poland-MOCOS-agent1-case.csv
  data-processed/MOCOS-agent1/2021-06-21-Poland-MOCOS-agent1.csv
Labels: data-submission

#1007 Upload 2021-06-20 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2021-06-20-Germany-Karlen-pypm-case.csv
  data-processed/Karlen-pypm/2021-06-20-Germany-Karlen-pypm.csv
Labels: data-submission

#1006 2021-06-21 - EpiForecast submission
  data-processed/epiforecasts-EpiNow2/2021-06-21-Germany-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2021-06-21-Germany-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-EpiNow2/2021-06-21-Poland-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2021-06-21-Poland-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-EpiNow2_secondary/2021-06-21-Germany-epiforecasts-EpiNow2_secondary.csv
  data-processed/epiforecasts-EpiNow2_secondary/2021-06-21-Poland-epiforecasts-EpiNow2_secondary.csv
Labels: data-submission

#1005 MIT Update
  data-processed/MIT_CovidAnalytics-DELPHI/2021-06-21-Germany-MIT_CovidAnalytics-DELPHI-case.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-06-21-Germany-MIT_CovidAnalytics-DELPHI.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-06-21-Poland-MIT_CovidAnalytics-DELPHI-case.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-06-21-Poland-MIT_CovidAnalytics-DELPHI.csv
Labels: data-submission

#1004 ITWW forecast for 2021-06-21
  data-processed/ITWW-county_repro/2021-06-21-Germany-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2021-06-21-Germany-ITWW-county_repro.csv
  data-processed/ITWW-county_repro/2021-06-21-Poland-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2021-06-21-Poland-ITWW-county_repro.csv
Labels: data-submission

#1001 Predictions as of 21 June 2021.
  data-processed/FIAS_FZJ-Epi1Ger/2021-06-21-Germany-FIAS_FZJ-Epi1Ger-case.csv
  data-processed/FIAS_FZJ-Epi1Ger/2021-06-21-Germany-FIAS_FZJ-Epi1Ger.csv
Labels: data-submission

#1000 [21-06] MIMUW Latest predictions
  data-processed/MIMUW-StochSEIR/2021-06-21-Poland-MIMUW-StochSEIR-case.csv
  data-processed/MIMUW-StochSEIR/2021-06-21-Poland-MIMUW-StochSEIR.csv
Labels: data-submission

#999 2021-06-21 ICM submission
  data-processed/ICM-agentModel/2021-06-21-Poland-ICM-agentModel-case.csv
  data-processed/ICM-agentModel/2021-06-21-Poland-ICM-agentModel.csv
Labels: data-submission

#998 CovidMetrics-epiBATS (2021-06-21)
  data-processed/CovidMetrics-epiBATS/2021-06-21-Germany-CovidMetrics-epiBATS-case.csv
Labels: data-submission

#997 USC-SIkJalpha: Weekly update
  data-processed/USC-SIkJalpha/2021-06-20-Germany-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2021-06-20-Germany-USC-SIkJalpha.csv
  data-processed/USC-SIkJalpha/2021-06-20-Poland-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2021-06-20-Poland-USC-SIkJalpha.csv
Labels: data-submission

#1010 Adding subnational ensembles.
  code/ensemble/included_models/included_models-2021-06-21.csv
  code/ensemble/inverse_wis_weights/inverse_wis_weights-2021-06-21.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-06-21-Germany-KITCOVIDhub-inverse_wis_ensemble-case.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-06-21-Germany-KITCOVIDhub-inverse_wis_ensemble.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-06-21-Poland-KITCOVIDhub-inverse_wis_ensemble-case.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-06-21-Poland-KITCOVIDhub-inverse_wis_ensemble.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-06-21-Germany-KITCOVIDhub-mean_ensemble-case.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-06-21-Germany-KITCOVIDhub-mean_ensemble.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-06-21-Poland-KITCOVIDhub-mean_ensemble-case.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-06-21-Poland-KITCOVIDhub-mean_ensemble.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-06-21-Germany-KITCOVIDhub-median_ensemble-case.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-06-21-Germany-KITCOVIDhub-median_ensemble.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-06-21-Poland-KITCOVIDhub-median_ensemble-case.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-06-21-Poland-KITCOVIDhub-median_ensemble.csv
Labels: data-submission, other-files-updated

#1020 MIT Update 0628
  data-processed/MIT_CovidAnalytics-DELPHI/2021-06-28-Germany-MIT_CovidAnalytics-DELPHI-case.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-06-28-Germany-MIT_CovidAnalytics-DELPHI.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-06-28-Poland-MIT_CovidAnalytics-DELPHI-case.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-06-28-Poland-MIT_CovidAnalytics-DELPHI.csv
Labels: data-submission

#1019 28-06 Latest predictions MIMUW
  data-processed/MIMUW-StochSEIR/2021-06-28-Poland-MIMUW-StochSEIR-case.csv
  data-processed/MIMUW-StochSEIR/2021-06-28-Poland-MIMUW-StochSEIR.csv
Labels: data-submission

#1018 Predictions as of 28 June 2021.
  data-processed/FIAS_FZJ-Epi1Ger/2021-06-28-Germany-FIAS_FZJ-Epi1Ger-case.csv
  data-processed/FIAS_FZJ-Epi1Ger/2021-06-28-Germany-FIAS_FZJ-Epi1Ger.csv
Labels: data-submission

#1017 ITWW forecast for 2021-06-28
  data-processed/ITWW-county_repro/2021-06-28-Germany-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2021-06-28-Germany-ITWW-county_repro.csv
  data-processed/ITWW-county_repro/2021-06-28-Poland-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2021-06-28-Poland-ITWW-county_repro.csv
Labels: data-submission

#1016 MOCOS 2021-06-28
  data-processed/MOCOS-agent1/2021-06-28-Poland-MOCOS-agent1-case.csv
  data-processed/MOCOS-agent1/2021-06-28-Poland-MOCOS-agent1.csv
Labels: data-submission

#1014 CovidMetrics-epiBATS (2021-06-28)
  data-processed/CovidMetrics-epiBATS/2021-06-28-Germany-CovidMetrics-epiBATS-case.csv
Labels: data-submission

#1013 Upload 2021-06-27 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2021-06-27-Germany-Karlen-pypm-case.csv
  data-processed/Karlen-pypm/2021-06-27-Germany-Karlen-pypm.csv
Labels: data-submission

#1023 Update baselines
  data-processed/KIT-baseline/2021-06-28-Germany-KIT-baseline-case.csv
  data-processed/KIT-baseline/2021-06-28-Germany-KIT-baseline.csv
  data-processed/KIT-baseline/2021-06-28-Poland-KIT-baseline-case.csv
  data-processed/KIT-baseline/2021-06-28-Poland-KIT-baseline.csv
  data-processed/KIT-extrapolation_baseline/2021-06-28-Germany-KIT-extrapolation_baseline-case.csv
  data-processed/KIT-extrapolation_baseline/2021-06-28-Germany-KIT-extrapolation_baseline.csv
  data-processed/KIT-extrapolation_baseline/2021-06-28-Poland-KIT-extrapolation_baseline-case.csv
  data-processed/KIT-extrapolation_baseline/2021-06-28-Poland-KIT-extrapolation_baseline.csv
  data-processed/KIT-time_series_baseline/2021-06-28-Germany-KIT-time_series_baseline-case.csv
  data-processed/KIT-time_series_baseline/2021-06-28-Germany-KIT-time_series_baseline.csv
  data-processed/KIT-time_series_baseline/2021-06-28-Poland-KIT-time_series_baseline-case.csv
  data-processed/KIT-time_series_baseline/2021-06-28-Poland-KIT-time_series_baseline.csv
Labels: automated pr, data-submission

#1022 Import EU forecasts
  data-processed/LANL-GrowthRate/2021-06-27-Germany-LANL-GrowthRate-case.csv
  data-processed/LANL-GrowthRate/2021-06-27-Germany-LANL-GrowthRate.csv
  data-processed/LANL-GrowthRate/2021-06-27-Poland-LANL-GrowthRate-case.csv
  data-processed/LANL-GrowthRate/2021-06-27-Poland-LANL-GrowthRate.csv
Labels: automated pr, data-submission

#1021 2021-06-28 - EpiForecast submission
  data-processed/epiforecasts-EpiNow2/2021-06-28-Germany-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2021-06-28-Germany-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-EpiNow2/2021-06-28-Poland-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2021-06-28-Poland-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-EpiNow2_secondary/2021-06-28-Germany-epiforecasts-EpiNow2_secondary.csv
  data-processed/epiforecasts-EpiNow2_secondary/2021-06-28-Poland-epiforecasts-EpiNow2_secondary.csv
Labels: data-submission

#1012 USC-SIkJalpha: Weekly update
  data-processed/USC-SIkJalpha/2021-06-27-Germany-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2021-06-27-Germany-USC-SIkJalpha.csv
  data-processed/USC-SIkJalpha/2021-06-27-Poland-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2021-06-27-Poland-USC-SIkJalpha.csv
Labels: data-submission

#1024 Adding regional level ensembles.
  code/ensemble/included_models/included_models-2021-06-28.csv
  code/ensemble/inverse_wis_weights/inverse_wis_weights-2021-06-28.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-06-28-Germany-KITCOVIDhub-inverse_wis_ensemble-case.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-06-28-Germany-KITCOVIDhub-inverse_wis_ensemble.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-06-28-Poland-KITCOVIDhub-inverse_wis_ensemble-case.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-06-28-Poland-KITCOVIDhub-inverse_wis_ensemble.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-06-28-Germany-KITCOVIDhub-mean_ensemble-case.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-06-28-Germany-KITCOVIDhub-mean_ensemble.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-06-28-Poland-KITCOVIDhub-mean_ensemble-case.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-06-28-Poland-KITCOVIDhub-mean_ensemble.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-06-28-Germany-KITCOVIDhub-median_ensemble-case.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-06-28-Germany-KITCOVIDhub-median_ensemble.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-06-28-Poland-KITCOVIDhub-median_ensemble-case.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-06-28-Poland-KITCOVIDhub-median_ensemble.csv
Labels: data-submission, other-files-updated
