Repository KITmetricslab/covid19-forecast-hub-de, pull requests merged in 2021-05, with the labels that each got.

#908 MOCOS submission 2021-05-03
  data-processed/MOCOS-agent1/2021-05-03-Poland-MOCOS-agent1-case.csv
  data-processed/MOCOS-agent1/2021-05-03-Poland-MOCOS-agent1.csv
Labels: data-submission

#907 MIT Update
  data-processed/MIT_CovidAnalytics-DELPHI/2021-05-03-Germany-MIT_CovidAnalytics-DELPHI-case.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-05-03-Germany-MIT_CovidAnalytics-DELPHI.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-05-03-Poland-MIT_CovidAnalytics-DELPHI-case.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-05-03-Poland-MIT_CovidAnalytics-DELPHI.csv
Labels: data-submission

#906 Upload 2021-05-02 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2021-05-02-Germany-Karlen-pypm-case.csv
  data-processed/Karlen-pypm/2021-05-02-Germany-Karlen-pypm.csv
Labels: data-submission

#905 2021-05-03 - EpiForecast submission
  data-processed/epiforecasts-EpiNow2/2021-05-03-Germany-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2021-05-03-Germany-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-EpiNow2/2021-05-03-Poland-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2021-05-03-Poland-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-EpiNow2_secondary/2021-05-03-Germany-epiforecasts-EpiNow2_secondary.csv
  data-processed/epiforecasts-EpiNow2_secondary/2021-05-03-Poland-epiforecasts-EpiNow2_secondary.csv
Labels: data-submission

#904 2021-05-03-Germany-CASUS-BGLM-case
  data-processed/CASUS-BGLM/2021-05-03-Germany-CASUS-BGLM-case.csv
Labels: data-submission

#903 ITWW forecast for 2021-05-03
  data-processed/ITWW-county_repro/2021-05-03-Germany-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2021-05-03-Germany-ITWW-county_repro.csv
  data-processed/ITWW-county_repro/2021-05-03-Poland-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2021-05-03-Poland-ITWW-county_repro.csv
Labels: data-submission

#902 adds forecasts week 18
  data-processed/itwm-dSEIR/2021-05-03-Germany-itwm-dSEIR-case.csv
  data-processed/itwm-dSEIR/2021-05-03-Germany-itwm-dSEIR.csv
Labels: data-submission

#901 Predictions as of 3 May 2021.
  data-processed/FIAS_FZJ-Epi1Ger/2021-05-03-Germany-FIAS_FZJ-Epi1Ger-case.csv
  data-processed/FIAS_FZJ-Epi1Ger/2021-05-03-Germany-FIAS_FZJ-Epi1Ger.csv
Labels: data-submission

#900 2021-05-03 latest predictions from MIMUW
  data-processed/MIMUW-StochSEIR/2021-05-03-Poland-MIMUW-StochSEIR-case.csv
  data-processed/MIMUW-StochSEIR/2021-05-03-Poland-MIMUW-StochSEIR.csv
Labels: data-submission

#899 USC-SI_kJalpha: Weekly update
  data-processed/USC-SIkJalpha/2021-05-02-Germany-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2021-05-02-Germany-USC-SIkJalpha.csv
  data-processed/USC-SIkJalpha/2021-05-02-Poland-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2021-05-02-Poland-USC-SIkJalpha.csv
Labels: data-submission

#919 MIT Update
  data-processed/MIT_CovidAnalytics-DELPHI/2021-05-09-Germany-MIT_CovidAnalytics-DELPHI-case.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-05-09-Germany-MIT_CovidAnalytics-DELPHI.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-05-09-Poland-MIT_CovidAnalytics-DELPHI-case.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-05-09-Poland-MIT_CovidAnalytics-DELPHI.csv
Labels: data-submission

#915 2021-05-10 ICM submission
  data-processed/ICM-agentModel/2021-05-10-Poland-ICM-agentModel-case.csv
  data-processed/ICM-agentModel/2021-05-10-Poland-ICM-agentModel.csv
Labels: data-submission

#914 ITWW forecast for 2021-05-10
  data-processed/ITWW-county_repro/2021-05-10-Germany-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2021-05-10-Germany-ITWW-county_repro.csv
  data-processed/ITWW-county_repro/2021-05-10-Poland-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2021-05-10-Poland-ITWW-county_repro.csv
Labels: data-submission

#913 MOCOS 2021-05-10
  data-processed/MOCOS-agent1/2021-05-10-Poland-MOCOS-agent1-case.csv
  data-processed/MOCOS-agent1/2021-05-10-Poland-MOCOS-agent1.csv
Labels: data-submission

#921 Latest predictions from MIMUW
  data-processed/MIMUW-StochSEIR/2021-05-10-Poland-MIMUW-StochSEIR-case.csv
  data-processed/MIMUW-StochSEIR/2021-05-10-Poland-MIMUW-StochSEIR.csv
Labels: data-submission

#920 2021-05-10 - EpiForecast submission
  data-processed/epiforecasts-EpiNow2/2021-05-10-Germany-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2021-05-10-Germany-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-EpiNow2/2021-05-10-Poland-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2021-05-10-Poland-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-EpiNow2_secondary/2021-05-10-Germany-epiforecasts-EpiNow2_secondary.csv
  data-processed/epiforecasts-EpiNow2_secondary/2021-05-10-Poland-epiforecasts-EpiNow2_secondary.csv
Labels: data-submission

#917 adds forecast week 19
  data-processed/itwm-dSEIR/2021-05-10-Germany-itwm-dSEIR-case.csv
  data-processed/itwm-dSEIR/2021-05-10-Germany-itwm-dSEIR.csv
Labels: data-submission

#924 Adding ensembles.
  code/ensemble/included_models/included_models-2021-05-10.csv
  code/ensemble/inverse_wis_weights/inverse_wis_weights-2021-05-10.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-05-10-Germany-KITCOVIDhub-inverse_wis_ensemble-case.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-05-10-Germany-KITCOVIDhub-inverse_wis_ensemble.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-05-10-Poland-KITCOVIDhub-inverse_wis_ensemble-case.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-05-10-Poland-KITCOVIDhub-inverse_wis_ensemble.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-05-10-Germany-KITCOVIDhub-mean_ensemble-case.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-05-10-Germany-KITCOVIDhub-mean_ensemble.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-05-10-Poland-KITCOVIDhub-mean_ensemble-case.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-05-10-Poland-KITCOVIDhub-mean_ensemble.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-05-10-Germany-KITCOVIDhub-median_ensemble-case.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-05-10-Germany-KITCOVIDhub-median_ensemble.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-05-10-Poland-KITCOVIDhub-median_ensemble-case.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-05-10-Poland-KITCOVIDhub-median_ensemble.csv
Labels: data-submission, other-files-updated

#936 MIT Update
  data-processed/MIT_CovidAnalytics-DELPHI/2021-05-17-Germany-MIT_CovidAnalytics-DELPHI-case.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-05-17-Germany-MIT_CovidAnalytics-DELPHI.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-05-17-Poland-MIT_CovidAnalytics-DELPHI-case.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-05-17-Poland-MIT_CovidAnalytics-DELPHI.csv
Labels: data-submission

#935 2021-05-17 - EpiForecast submission
  data-processed/epiforecasts-EpiNow2/2021-05-17-Germany-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2021-05-17-Germany-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-EpiNow2/2021-05-17-Poland-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2021-05-17-Poland-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-EpiNow2_secondary/2021-05-17-Germany-epiforecasts-EpiNow2_secondary.csv
  data-processed/epiforecasts-EpiNow2_secondary/2021-05-17-Poland-epiforecasts-EpiNow2_secondary.csv
Labels: data-submission

#934 MOCOS forecast for Poland 2021-05-17
  data-processed/MOCOS-agent1/2021-05-17-Poland-MOCOS-agent1-case.csv
  data-processed/MOCOS-agent1/2021-05-17-Poland-MOCOS-agent1.csv
Labels: data-submission

#933 Upload 2021-05-16 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2021-05-16-Germany-Karlen-pypm-case.csv
  data-processed/Karlen-pypm/2021-05-16-Germany-Karlen-pypm.csv
Labels: data-submission

#932 Predictions as of 17 May 2021.
  data-processed/FIAS_FZJ-Epi1Ger/2021-05-17-Germany-FIAS_FZJ-Epi1Ger-case.csv
  data-processed/FIAS_FZJ-Epi1Ger/2021-05-17-Germany-FIAS_FZJ-Epi1Ger.csv
Labels: data-submission

#931 adds forecast week 20
  data-processed/itwm-dSEIR/2021-05-17-Germany-itwm-dSEIR-case.csv
  data-processed/itwm-dSEIR/2021-05-17-Germany-itwm-dSEIR.csv
Labels: data-submission

#930 ITWW forecast for 2021-05-17
  data-processed/ITWW-county_repro/2021-05-17-Germany-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2021-05-17-Germany-ITWW-county_repro.csv
  data-processed/ITWW-county_repro/2021-05-17-Poland-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2021-05-17-Poland-ITWW-county_repro.csv
Labels: data-submission

#929 2021-05-17 ICM submission
  data-processed/ICM-agentModel/2021-05-17-Poland-ICM-agentModel-case.csv
  data-processed/ICM-agentModel/2021-05-17-Poland-ICM-agentModel.csv
Labels: data-submission

#928 [17/05] Latest predictions from MIMUW
  data-processed/MIMUW-StochSEIR/2021-05-17-Poland-MIMUW-StochSEIR-case.csv
  data-processed/MIMUW-StochSEIR/2021-05-17-Poland-MIMUW-StochSEIR.csv
Labels: data-submission

#938 Update baselines
  data-processed/KIT-baseline/2021-05-17-Germany-KIT-baseline-case.csv
  data-processed/KIT-baseline/2021-05-17-Germany-KIT-baseline.csv
  data-processed/KIT-baseline/2021-05-17-Poland-KIT-baseline-case.csv
  data-processed/KIT-baseline/2021-05-17-Poland-KIT-baseline.csv
  data-processed/KIT-extrapolation_baseline/2021-05-17-Germany-KIT-extrapolation_baseline-case.csv
  data-processed/KIT-extrapolation_baseline/2021-05-17-Germany-KIT-extrapolation_baseline.csv
  data-processed/KIT-extrapolation_baseline/2021-05-17-Poland-KIT-extrapolation_baseline-case.csv
  data-processed/KIT-extrapolation_baseline/2021-05-17-Poland-KIT-extrapolation_baseline.csv
  data-processed/KIT-time_series_baseline/2021-05-17-Germany-KIT-time_series_baseline-case.csv
  data-processed/KIT-time_series_baseline/2021-05-17-Germany-KIT-time_series_baseline.csv
  data-processed/KIT-time_series_baseline/2021-05-17-Poland-KIT-time_series_baseline-case.csv
  data-processed/KIT-time_series_baseline/2021-05-17-Poland-KIT-time_series_baseline.csv
Labels: automated pr, data-submission

#927 USC_SIkJalpha: Weekly update
  data-processed/USC-SIkJalpha/2021-05-16-Germany-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2021-05-16-Germany-USC-SIkJalpha.csv
  data-processed/USC-SIkJalpha/2021-05-16-Poland-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2021-05-16-Poland-USC-SIkJalpha.csv
Labels: data-submission

#939 Import EU forecasts
  data-processed/BIOCOMSC-Gompertz/2021-05-17-Germany-BIOCOMSC-Gompertz-case.csv
  data-processed/BIOCOMSC-Gompertz/2021-05-17-Germany-BIOCOMSC-Gompertz.csv
  data-processed/BIOCOMSC-Gompertz/2021-05-17-Poland-BIOCOMSC-Gompertz-case.csv
  data-processed/BIOCOMSC-Gompertz/2021-05-17-Poland-BIOCOMSC-Gompertz.csv
  data-processed/EuroCOVIDhub-ensemble/2021-05-17-Germany-EuroCOVIDhub-ensemble-case.csv
  data-processed/EuroCOVIDhub-ensemble/2021-05-17-Germany-EuroCOVIDhub-ensemble.csv
  data-processed/EuroCOVIDhub-ensemble/2021-05-17-Poland-EuroCOVIDhub-ensemble-case.csv
  data-processed/EuroCOVIDhub-ensemble/2021-05-17-Poland-EuroCOVIDhub-ensemble.csv
  data-processed/HZI-AgeExtendedSEIR/2021-05-17-Germany-HZI-AgeExtendedSEIR-case.csv
  data-processed/HZI-AgeExtendedSEIR/2021-05-17-Germany-HZI-AgeExtendedSEIR.csv
  data-processed/IEM_Health-CovidProject/2021-05-17-Germany-IEM_Health-CovidProject-case.csv
  data-processed/IEM_Health-CovidProject/2021-05-17-Germany-IEM_Health-CovidProject.csv
  data-processed/IEM_Health-CovidProject/2021-05-17-Poland-IEM_Health-CovidProject-case.csv
  data-processed/IEM_Health-CovidProject/2021-05-17-Poland-IEM_Health-CovidProject.csv
  data-processed/ILM-EKF/2021-05-17-Germany-ILM-EKF-case.csv
  data-processed/ILM-EKF/2021-05-17-Germany-ILM-EKF.csv
  data-processed/ILM-EKF/2021-05-17-Poland-ILM-EKF-case.csv
  data-processed/ILM-EKF/2021-05-17-Poland-ILM-EKF.csv
  data-processed/Imperial-DeCa/2021-05-17-Germany-Imperial-DeCa.csv
  data-processed/Imperial-DeCa/2021-05-17-Poland-Imperial-DeCa.csv
  data-processed/Imperial-RtI0/2021-05-17-Germany-Imperial-RtI0.csv
  data-processed/Imperial-RtI0/2021-05-17-Poland-Imperial-RtI0.csv
  data-processed/Imperial-sbkp/2021-05-17-Germany-Imperial-sbkp.csv
  data-processed/Imperial-sbkp/2021-05-17-Poland-Imperial-sbkp.csv
  data-processed/LANL-GrowthRate/2021-05-16-Germany-LANL-GrowthRate-case.csv
  data-processed/LANL-GrowthRate/2021-05-16-Germany-LANL-GrowthRate.csv
  data-processed/LANL-GrowthRate/2021-05-16-Poland-LANL-GrowthRate-case.csv
  data-processed/LANL-GrowthRate/2021-05-16-Poland-LANL-GrowthRate.csv
  data-processed/MUNI-ARIMA/2021-05-17-Germany-MUNI-ARIMA-case.csv
  data-processed/MUNI-ARIMA/2021-05-17-Germany-MUNI-ARIMA.csv
  data-processed/MUNI-ARIMA/2021-05-17-Poland-MUNI-ARIMA-case.csv
  data-processed/MUNI-ARIMA/2021-05-17-Poland-MUNI-ARIMA.csv
  data-processed/PL_GRedlarski-DistrictsSum/2021-05-17-Poland-PL_GRedlarski-DistrictsSum-case.csv
  data-processed/Priesemann-bayes/2021-05-17-Germany-Priesemann-bayes-case.csv
  data-processed/RobertWalraven-ESG/2021-05-17-Germany-RobertWalraven-ESG-case.csv
  data-processed/RobertWalraven-ESG/2021-05-17-Germany-RobertWalraven-ESG.csv
  data-processed/RobertWalraven-ESG/2021-05-17-Poland-RobertWalraven-ESG-case.csv
  data-processed/RobertWalraven-ESG/2021-05-17-Poland-RobertWalraven-ESG.csv
  data-processed/SDSC_ISG-TrendModel/2021-05-17-Germany-SDSC_ISG-TrendModel-case.csv
  data-processed/SDSC_ISG-TrendModel/2021-05-17-Germany-SDSC_ISG-TrendModel.csv
  data-processed/SDSC_ISG-TrendModel/2021-05-17-Poland-SDSC_ISG-TrendModel-case.csv
  data-processed/SDSC_ISG-TrendModel/2021-05-17-Poland-SDSC_ISG-TrendModel.csv
  data-processed/UMass-MechBayes/2021-05-16-Germany-UMass-MechBayes.csv
  data-processed/UMass-MechBayes/2021-05-16-Poland-UMass-MechBayes.csv
  data-processed/UMass-SemiMech/2021-05-16-Germany-UMass-SemiMech-case.csv
  data-processed/UMass-SemiMech/2021-05-16-Germany-UMass-SemiMech.csv
  data-processed/UMass-SemiMech/2021-05-16-Poland-UMass-SemiMech-case.csv
  data-processed/UMass-SemiMech/2021-05-16-Poland-UMass-SemiMech.csv
  data-processed/UNIPV-BayesINGARCHX/2021-05-17-Germany-UNIPV-BayesINGARCHX-case.csv
  data-processed/USyd-OneModelMan/2021-05-17-Germany-USyd-OneModelMan.csv
  data-processed/USyd-OneModelMan/2021-05-17-Poland-USyd-OneModelMan.csv
  data-processed/UVA-Ensemble/2021-05-17-Germany-UVA-Ensemble-case.csv
  data-processed/UVA-Ensemble/2021-05-17-Poland-UVA-Ensemble-case.csv
  data-processed/epiforecasts-EpiExpert/2021-05-17-Germany-epiforecasts-EpiExpert-case.csv
  data-processed/epiforecasts-EpiExpert/2021-05-17-Germany-epiforecasts-EpiExpert.csv
  data-processed/epiforecasts-EpiExpert/2021-05-17-Poland-epiforecasts-EpiExpert.csv
  data-processed/epiforecasts-EpiExpert_direct/2021-05-17-Germany-epiforecasts-EpiExpert_direct-case.csv
  data-processed/epiforecasts-EpiExpert_direct/2021-05-17-Germany-epiforecasts-EpiExpert_direct.csv
  data-processed/epiforecasts-EpiExpert_direct/2021-05-17-Poland-epiforecasts-EpiExpert_direct.csv
Labels: automated pr, data-submission

#940 Adding ensembles for Bundesländer.
  code/ensemble/included_models/included_models-2021-05-17.csv
  code/ensemble/inverse_wis_weights/inverse_wis_weights-2021-05-17.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-05-17-Germany-KITCOVIDhub-inverse_wis_ensemble-case.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-05-17-Germany-KITCOVIDhub-inverse_wis_ensemble.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-05-17-Poland-KITCOVIDhub-inverse_wis_ensemble-case.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-05-17-Poland-KITCOVIDhub-inverse_wis_ensemble.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-05-17-Germany-KITCOVIDhub-mean_ensemble-case.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-05-17-Germany-KITCOVIDhub-mean_ensemble.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-05-17-Poland-KITCOVIDhub-mean_ensemble-case.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-05-17-Poland-KITCOVIDhub-mean_ensemble.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-05-17-Germany-KITCOVIDhub-median_ensemble-case.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-05-17-Germany-KITCOVIDhub-median_ensemble.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-05-17-Poland-KITCOVIDhub-median_ensemble-case.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-05-17-Poland-KITCOVIDhub-median_ensemble.csv
Labels: data-submission, other-files-updated

#948 MOCOS 2021-05-24
  data-processed/MOCOS-agent1/2021-05-24-Poland-MOCOS-agent1-case.csv
  data-processed/MOCOS-agent1/2021-05-24-Poland-MOCOS-agent1.csv
Labels: data-submission

#947 2021-05-24 - EpiForecast submission
  data-processed/epiforecasts-EpiNow2/2021-05-24-Germany-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2021-05-24-Germany-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-EpiNow2/2021-05-24-Poland-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2021-05-24-Poland-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-EpiNow2_secondary/2021-05-24-Germany-epiforecasts-EpiNow2_secondary.csv
  data-processed/epiforecasts-EpiNow2_secondary/2021-05-24-Poland-epiforecasts-EpiNow2_secondary.csv
Labels: data-submission

#946 MIT Update
  data-processed/MIT_CovidAnalytics-DELPHI/2021-05-24-Germany-MIT_CovidAnalytics-DELPHI-case.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-05-24-Germany-MIT_CovidAnalytics-DELPHI.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-05-24-Poland-MIT_CovidAnalytics-DELPHI-case.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-05-24-Poland-MIT_CovidAnalytics-DELPHI.csv
Labels: data-submission

#945 ITWW forecast for 2021-05-24
  data-processed/ITWW-county_repro/2021-05-24-Germany-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2021-05-24-Germany-ITWW-county_repro.csv
  data-processed/ITWW-county_repro/2021-05-24-Poland-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2021-05-24-Poland-ITWW-county_repro.csv
Labels: data-submission

#944 Upload 2021-05-23 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2021-05-23-Germany-Karlen-pypm-case.csv
  data-processed/Karlen-pypm/2021-05-23-Germany-Karlen-pypm.csv
Labels: data-submission

#943 USC-SIkJalpha: Weekly update
  data-processed/USC-SIkJalpha/2021-05-23-Germany-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2021-05-23-Germany-USC-SIkJalpha.csv
  data-processed/USC-SIkJalpha/2021-05-23-Poland-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2021-05-23-Poland-USC-SIkJalpha.csv
Labels: data-submission

#949 Update baselines
  data-processed/KIT-baseline/2021-05-24-Germany-KIT-baseline-case.csv
  data-processed/KIT-baseline/2021-05-24-Germany-KIT-baseline.csv
  data-processed/KIT-baseline/2021-05-24-Poland-KIT-baseline-case.csv
  data-processed/KIT-baseline/2021-05-24-Poland-KIT-baseline.csv
  data-processed/KIT-extrapolation_baseline/2021-05-24-Germany-KIT-extrapolation_baseline-case.csv
  data-processed/KIT-extrapolation_baseline/2021-05-24-Germany-KIT-extrapolation_baseline.csv
  data-processed/KIT-extrapolation_baseline/2021-05-24-Poland-KIT-extrapolation_baseline-case.csv
  data-processed/KIT-extrapolation_baseline/2021-05-24-Poland-KIT-extrapolation_baseline.csv
  data-processed/KIT-time_series_baseline/2021-05-24-Germany-KIT-time_series_baseline-case.csv
  data-processed/KIT-time_series_baseline/2021-05-24-Germany-KIT-time_series_baseline.csv
  data-processed/KIT-time_series_baseline/2021-05-24-Poland-KIT-time_series_baseline-case.csv
  data-processed/KIT-time_series_baseline/2021-05-24-Poland-KIT-time_series_baseline.csv
Labels: automated pr, data-submission

#950 Predictions as of 24 May 2021.
  data-processed/FIAS_FZJ-Epi1Ger/2021-05-24-Germany-FIAS_FZJ-Epi1Ger-case.csv
  data-processed/FIAS_FZJ-Epi1Ger/2021-05-24-Germany-FIAS_FZJ-Epi1Ger.csv
Labels: data-submission

#951 Adding subnational ensembles.
  code/ensemble/included_models/included_models-2021-05-24.csv
  code/ensemble/inverse_wis_weights/inverse_wis_weights-2021-05-24.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-05-24-Germany-KITCOVIDhub-inverse_wis_ensemble-case.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-05-24-Germany-KITCOVIDhub-inverse_wis_ensemble.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-05-24-Poland-KITCOVIDhub-inverse_wis_ensemble-case.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-05-24-Poland-KITCOVIDhub-inverse_wis_ensemble.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-05-24-Germany-KITCOVIDhub-mean_ensemble-case.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-05-24-Germany-KITCOVIDhub-mean_ensemble.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-05-24-Poland-KITCOVIDhub-mean_ensemble-case.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-05-24-Poland-KITCOVIDhub-mean_ensemble.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-05-24-Germany-KITCOVIDhub-median_ensemble-case.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-05-24-Germany-KITCOVIDhub-median_ensemble.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-05-24-Poland-KITCOVIDhub-median_ensemble-case.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-05-24-Poland-KITCOVIDhub-median_ensemble.csv
Labels: data-submission, other-files-updated

#953 [05/25] Late submission from MIMUW
  data-processed/MIMUW-StochSEIR/2021-05-24-Poland-MIMUW-StochSEIR-case.csv
  data-processed/MIMUW-StochSEIR/2021-05-24-Poland-MIMUW-StochSEIR.csv
Labels: data-submission
