Repository KITmetricslab/covid19-forecast-hub-de, pull requests merged in 2021-12, with the labels that each got.

#1303 MIT Update 20211206
  data-processed/MIT_CovidAnalytics-DELPHI/2021-12-06-Germany-MIT_CovidAnalytics-DELPHI-case.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-12-06-Germany-MIT_CovidAnalytics-DELPHI.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-12-06-Poland-MIT_CovidAnalytics-DELPHI-case.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-12-06-Poland-MIT_CovidAnalytics-DELPHI.csv
Labels: data-submission

#1302 MOCOS 2021-12-06
  data-processed/MOCOS-agent1/2021-12-06-Poland-MOCOS-agent1-case.csv
  data-processed/MOCOS-agent1/2021-12-06-Poland-MOCOS-agent1.csv
Labels: data-submission

#1301 20211206 ICM submission
  data-processed/ICM-agentModel/2021-12-06-Poland-ICM-agentModel-case.csv
  data-processed/ICM-agentModel/2021-12-06-Poland-ICM-agentModel.csv
Labels: data-submission

#1299 ITWW forecast for 2021-12-06
  data-processed/ITWW-county_repro/2021-12-06-Germany-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2021-12-06-Germany-ITWW-county_repro.csv
  data-processed/ITWW-county_repro/2021-12-06-Poland-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2021-12-06-Poland-ITWW-county_repro.csv
Labels: data-submission

#1298 CovidMetrics-epiBATS (2021-12-06)
  data-processed/CovidMetrics-epiBATS/2021-12-06-Germany-CovidMetrics-epiBATS-case.csv
Labels: data-submission

#1297 HKUST-DNN_DA 211206 forecast
  data-processed/HKUST-DNN_DA/2021-12-06-Germany-HKUST-DNN_DA-case.csv
Labels: data-submission

#1296 USC-SIkJalpha: Add files via upload
  data-processed/USC-SIkJalpha/2021-12-05-Germany-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2021-12-05-Germany-USC-SIkJalpha.csv
  data-processed/USC-SIkJalpha/2021-12-05-Poland-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2021-12-05-Poland-USC-SIkJalpha.csv
Labels: data-submission

#1305 Update baselines
  data-processed/KIT-baseline/2021-12-06-Germany-KIT-baseline-case.csv
  data-processed/KIT-baseline/2021-12-06-Germany-KIT-baseline.csv
  data-processed/KIT-baseline/2021-12-06-Poland-KIT-baseline-case.csv
  data-processed/KIT-baseline/2021-12-06-Poland-KIT-baseline.csv
  data-processed/KIT-extrapolation_baseline/2021-12-06-Germany-KIT-extrapolation_baseline-case.csv
  data-processed/KIT-extrapolation_baseline/2021-12-06-Germany-KIT-extrapolation_baseline.csv
  data-processed/KIT-extrapolation_baseline/2021-12-06-Poland-KIT-extrapolation_baseline-case.csv
  data-processed/KIT-extrapolation_baseline/2021-12-06-Poland-KIT-extrapolation_baseline.csv
  data-processed/KIT-time_series_baseline/2021-12-06-Germany-KIT-time_series_baseline-case.csv
  data-processed/KIT-time_series_baseline/2021-12-06-Germany-KIT-time_series_baseline.csv
  data-processed/KIT-time_series_baseline/2021-12-06-Poland-KIT-time_series_baseline-case.csv
  data-processed/KIT-time_series_baseline/2021-12-06-Poland-KIT-time_series_baseline.csv
Labels: data-submission, automated pr

#1304 Import EU forecasts
  data-processed/EuroCOVIDhub-baseline/2021-12-06-Germany-EuroCOVIDhub-baseline-case.csv
  data-processed/EuroCOVIDhub-baseline/2021-12-06-Germany-EuroCOVIDhub-baseline.csv
  data-processed/EuroCOVIDhub-baseline/2021-12-06-Poland-EuroCOVIDhub-baseline-case.csv
  data-processed/EuroCOVIDhub-baseline/2021-12-06-Poland-EuroCOVIDhub-baseline.csv
Labels: data-submission, automated pr

#1306 Import EU forecasts
  data-processed/BIOCOMSC-Gompertz/2021-12-06-Germany-BIOCOMSC-Gompertz-case.csv
  data-processed/BIOCOMSC-Gompertz/2021-12-06-Germany-BIOCOMSC-Gompertz.csv
  data-processed/BIOCOMSC-Gompertz/2021-12-06-Poland-BIOCOMSC-Gompertz-case.csv
  data-processed/BIOCOMSC-Gompertz/2021-12-06-Poland-BIOCOMSC-Gompertz.csv
  data-processed/EuroCOVIDhub-ensemble/2021-12-06-Germany-EuroCOVIDhub-ensemble-case.csv
  data-processed/EuroCOVIDhub-ensemble/2021-12-06-Germany-EuroCOVIDhub-ensemble.csv
  data-processed/EuroCOVIDhub-ensemble/2021-12-06-Poland-EuroCOVIDhub-ensemble-case.csv
  data-processed/EuroCOVIDhub-ensemble/2021-12-06-Poland-EuroCOVIDhub-ensemble.csv
  data-processed/HZI-AgeExtendedSEIR/2021-12-06-Germany-HZI-AgeExtendedSEIR-case.csv
  data-processed/HZI-AgeExtendedSEIR/2021-12-06-Germany-HZI-AgeExtendedSEIR.csv
  data-processed/IEM_Health-CovidProject/2021-12-06-Germany-IEM_Health-CovidProject-case.csv
  data-processed/IEM_Health-CovidProject/2021-12-06-Germany-IEM_Health-CovidProject.csv
  data-processed/IEM_Health-CovidProject/2021-12-06-Poland-IEM_Health-CovidProject-case.csv
  data-processed/IEM_Health-CovidProject/2021-12-06-Poland-IEM_Health-CovidProject.csv
  data-processed/ILM-EKF/2021-12-06-Germany-ILM-EKF-case.csv
  data-processed/ILM-EKF/2021-12-06-Germany-ILM-EKF.csv
  data-processed/ILM-EKF/2021-12-06-Poland-ILM-EKF-case.csv
  data-processed/ILM-EKF/2021-12-06-Poland-ILM-EKF.csv
  data-processed/Karlen-pypm/2021-12-05-Germany-Karlen-pypm-case.csv
  data-processed/Karlen-pypm/2021-12-05-Germany-Karlen-pypm.csv
  data-processed/Karlen-pypm/2021-12-05-Poland-Karlen-pypm-case.csv
  data-processed/Karlen-pypm/2021-12-05-Poland-Karlen-pypm.csv
  data-processed/MUNI-ARIMA/2021-12-06-Germany-MUNI-ARIMA-case.csv
  data-processed/MUNI-ARIMA/2021-12-06-Germany-MUNI-ARIMA.csv
  data-processed/MUNI-ARIMA/2021-12-06-Poland-MUNI-ARIMA-case.csv
  data-processed/MUNI-ARIMA/2021-12-06-Poland-MUNI-ARIMA.csv
  data-processed/MUNI-LaggedRegARIMA/2021-12-06-Germany-MUNI-LaggedRegARIMA.csv
  data-processed/MUNI-LaggedRegARIMA/2021-12-06-Poland-MUNI-LaggedRegARIMA.csv
  data-processed/MUNI-VAR/2021-12-06-Germany-MUNI-VAR-case.csv
  data-processed/MUNI-VAR/2021-12-06-Germany-MUNI-VAR.csv
  data-processed/MUNI-VAR/2021-12-06-Poland-MUNI-VAR-case.csv
  data-processed/MUNI-VAR/2021-12-06-Poland-MUNI-VAR.csv
  data-processed/RobertWalraven-ESG/2021-12-06-Germany-RobertWalraven-ESG-case.csv
  data-processed/RobertWalraven-ESG/2021-12-06-Germany-RobertWalraven-ESG.csv
  data-processed/RobertWalraven-ESG/2021-12-06-Poland-RobertWalraven-ESG-case.csv
  data-processed/RobertWalraven-ESG/2021-12-06-Poland-RobertWalraven-ESG.csv
  data-processed/SDSC_ISG-TrendModel/2021-12-06-Germany-SDSC_ISG-TrendModel-case.csv
  data-processed/SDSC_ISG-TrendModel/2021-12-06-Germany-SDSC_ISG-TrendModel.csv
  data-processed/SDSC_ISG-TrendModel/2021-12-06-Poland-SDSC_ISG-TrendModel-case.csv
  data-processed/SDSC_ISG-TrendModel/2021-12-06-Poland-SDSC_ISG-TrendModel.csv
  data-processed/UMass-MechBayes/2021-12-05-Germany-UMass-MechBayes.csv
  data-processed/UMass-MechBayes/2021-12-05-Poland-UMass-MechBayes.csv
  data-processed/USyd-OneModelMan/2021-12-06-Germany-USyd-OneModelMan.csv
  data-processed/USyd-OneModelMan/2021-12-06-Poland-USyd-OneModelMan.csv
  data-processed/epiforecasts-EpiNow2/2021-12-06-Germany-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2021-12-06-Germany-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-EpiNow2/2021-12-06-Poland-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2021-12-06-Poland-epiforecasts-EpiNow2.csv
  data-processed/itwm-dSEIR/2021-12-06-Germany-itwm-dSEIR-case.csv
  data-processed/itwm-dSEIR/2021-12-06-Germany-itwm-dSEIR.csv
Labels: data-submission, automated pr

#1307 Move FIAS forecasts into right folder.
  data-processed/FIAS_FZJ-Epi1Ger/2021-12-06-Germany-FIAS_FZJ-Epi1Ger-case.csv
  data-processed/FIAS_FZJ-Epi1Ger/2021-12-06-Germany-FIAS_FZJ-Epi1Ger.csv
Labels: data-submission, forecast-updated

#1308 Adding reigonal ensembles.
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-12-06-Germany-KITCOVIDhub-inverse_wis_ensemble-case.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-12-06-Germany-KITCOVIDhub-inverse_wis_ensemble.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-12-06-Poland-KITCOVIDhub-inverse_wis_ensemble-case.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-12-06-Poland-KITCOVIDhub-inverse_wis_ensemble.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-12-06-Germany-KITCOVIDhub-mean_ensemble-case.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-12-06-Germany-KITCOVIDhub-mean_ensemble.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-12-06-Poland-KITCOVIDhub-mean_ensemble-case.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-12-06-Poland-KITCOVIDhub-mean_ensemble.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-12-06-Germany-KITCOVIDhub-median_ensemble-case.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-12-06-Germany-KITCOVIDhub-median_ensemble.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-12-06-Poland-KITCOVIDhub-median_ensemble-case.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-12-06-Poland-KITCOVIDhub-median_ensemble.csv
Labels: data-submission

#1316 MOCOS 2021-12-13
  data-processed/MOCOS-agent1/2021-12-13-Poland-MOCOS-agent1-case.csv
  data-processed/MOCOS-agent1/2021-12-13-Poland-MOCOS-agent1.csv
Labels: data-submission

#1315 MIT Update
  data-processed/MIT_CovidAnalytics-DELPHI/2021-12-13-Germany-MIT_CovidAnalytics-DELPHI-case.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-12-13-Germany-MIT_CovidAnalytics-DELPHI.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-12-13-Poland-MIT_CovidAnalytics-DELPHI-case.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-12-13-Poland-MIT_CovidAnalytics-DELPHI.csv
Labels: data-submission

#1314 20211213 ICM submission
  data-processed/ICM-agentModel/2021-12-13-Poland-ICM-agentModel-case.csv
  data-processed/ICM-agentModel/2021-12-13-Poland-ICM-agentModel.csv
Labels: data-submission

#1313 Predictions as of 13 December 2021.
  data-processed/FIAS_FZJ-Epi1Ger/2021-12-13-Germany-FIAS_FZJ-Epi1Ger-case.csv
  data-processed/FIAS_FZJ-Epi1Ger/2021-12-13-Germany-FIAS_FZJ-Epi1Ger.csv
Labels: data-submission

#1312 HKUST-DNN_DA 211213 forecast
  data-processed/HKUST-DNN_DA/2021-12-13-Germany-HKUST-DNN_DA-case.csv
Labels: data-submission

#1311 ITWW forecast for 2021-12-13
  data-processed/ITWW-county_repro/2021-12-13-Germany-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2021-12-13-Germany-ITWW-county_repro.csv
  data-processed/ITWW-county_repro/2021-12-13-Poland-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2021-12-13-Poland-ITWW-county_repro.csv
Labels: data-submission

#1310 CovidMetrics-epiBATS (2021-12-13)
  data-processed/CovidMetrics-epiBATS/2021-12-13-Germany-CovidMetrics-epiBATS-case.csv
Labels: data-submission

#1309 USC-SIkJalpha: Weekly update
  data-processed/USC-SIkJalpha/2021-12-12-Germany-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2021-12-12-Germany-USC-SIkJalpha.csv
  data-processed/USC-SIkJalpha/2021-12-12-Poland-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2021-12-12-Poland-USC-SIkJalpha.csv
Labels: data-submission

#1317 Update baselines
  data-processed/KIT-baseline/2021-12-13-Germany-KIT-baseline-case.csv
  data-processed/KIT-baseline/2021-12-13-Germany-KIT-baseline.csv
  data-processed/KIT-baseline/2021-12-13-Poland-KIT-baseline-case.csv
  data-processed/KIT-baseline/2021-12-13-Poland-KIT-baseline.csv
  data-processed/KIT-extrapolation_baseline/2021-12-13-Germany-KIT-extrapolation_baseline-case.csv
  data-processed/KIT-extrapolation_baseline/2021-12-13-Germany-KIT-extrapolation_baseline.csv
  data-processed/KIT-extrapolation_baseline/2021-12-13-Poland-KIT-extrapolation_baseline-case.csv
  data-processed/KIT-extrapolation_baseline/2021-12-13-Poland-KIT-extrapolation_baseline.csv
  data-processed/KIT-time_series_baseline/2021-12-13-Germany-KIT-time_series_baseline-case.csv
  data-processed/KIT-time_series_baseline/2021-12-13-Germany-KIT-time_series_baseline.csv
  data-processed/KIT-time_series_baseline/2021-12-13-Poland-KIT-time_series_baseline-case.csv
  data-processed/KIT-time_series_baseline/2021-12-13-Poland-KIT-time_series_baseline.csv
Labels: data-submission, automated pr

#1325 20211220 ICM submission
  data-processed/ICM-agentModel/2021-12-20-Poland-ICM-agentModel-case.csv
  data-processed/ICM-agentModel/2021-12-20-Poland-ICM-agentModel.csv
Labels: data-submission

#1324 MIT Update
  data-processed/MIT_CovidAnalytics-DELPHI/2021-12-20-Germany-MIT_CovidAnalytics-DELPHI.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-12-20-Poland-MIT_CovidAnalytics-DELPHI-case.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-12-20-Poland-MIT_CovidAnalytics-DELPHI.csv
Labels: data-submission

#1323 Predictions as of 20 December 2021.
  data-processed/FIAS_FZJ-Epi1Ger/2021-12-20-Germany-FIAS_FZJ-Epi1Ger-case.csv
  data-processed/FIAS_FZJ-Epi1Ger/2021-12-20-Germany-FIAS_FZJ-Epi1Ger.csv
Labels: data-submission

#1322 ITWW forecast for 2021-12-20
  data-processed/ITWW-county_repro/2021-12-20-Germany-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2021-12-20-Germany-ITWW-county_repro.csv
  data-processed/ITWW-county_repro/2021-12-20-Poland-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2021-12-20-Poland-ITWW-county_repro.csv
Labels: data-submission

#1321 HKUST-DNN_DA 211220 forecast
  data-processed/HKUST-DNN_DA/2021-12-20-Germany-HKUST-DNN_DA-case.csv
Labels: data-submission

#1320 CovidMetrics-epiBATS (2021-12-20)
  data-processed/CovidMetrics-epiBATS/2021-12-20-Germany-CovidMetrics-epiBATS-case.csv
Labels: data-submission

#1319 USC-SIkJalpha: Add files via upload
  data-processed/USC-SIkJalpha/2021-12-19-Germany-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2021-12-19-Germany-USC-SIkJalpha.csv
  data-processed/USC-SIkJalpha/2021-12-19-Poland-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2021-12-19-Poland-USC-SIkJalpha.csv
Labels: data-submission

#1318 Import EU forecasts
  data-processed/BIOCOMSC-Gompertz/2021-12-13-Germany-BIOCOMSC-Gompertz-case.csv
  data-processed/BIOCOMSC-Gompertz/2021-12-13-Germany-BIOCOMSC-Gompertz.csv
  data-processed/BIOCOMSC-Gompertz/2021-12-13-Poland-BIOCOMSC-Gompertz-case.csv
  data-processed/BIOCOMSC-Gompertz/2021-12-13-Poland-BIOCOMSC-Gompertz.csv
  data-processed/EuroCOVIDhub-baseline/2021-12-13-Germany-EuroCOVIDhub-baseline-case.csv
  data-processed/EuroCOVIDhub-baseline/2021-12-13-Germany-EuroCOVIDhub-baseline.csv
  data-processed/EuroCOVIDhub-baseline/2021-12-13-Poland-EuroCOVIDhub-baseline-case.csv
  data-processed/EuroCOVIDhub-baseline/2021-12-13-Poland-EuroCOVIDhub-baseline.csv
  data-processed/EuroCOVIDhub-ensemble/2021-12-13-Germany-EuroCOVIDhub-ensemble-case.csv
  data-processed/EuroCOVIDhub-ensemble/2021-12-13-Germany-EuroCOVIDhub-ensemble.csv
  data-processed/EuroCOVIDhub-ensemble/2021-12-13-Poland-EuroCOVIDhub-ensemble-case.csv
  data-processed/EuroCOVIDhub-ensemble/2021-12-13-Poland-EuroCOVIDhub-ensemble.csv
  data-processed/HZI-AgeExtendedSEIR/2021-12-13-Germany-HZI-AgeExtendedSEIR-case.csv
  data-processed/HZI-AgeExtendedSEIR/2021-12-13-Germany-HZI-AgeExtendedSEIR.csv
  data-processed/IEM_Health-CovidProject/2021-12-12-Germany-IEM_Health-CovidProject-case.csv
  data-processed/IEM_Health-CovidProject/2021-12-12-Germany-IEM_Health-CovidProject.csv
  data-processed/IEM_Health-CovidProject/2021-12-12-Poland-IEM_Health-CovidProject-case.csv
  data-processed/IEM_Health-CovidProject/2021-12-12-Poland-IEM_Health-CovidProject.csv
  data-processed/ILM-EKF/2021-12-13-Germany-ILM-EKF-case.csv
  data-processed/ILM-EKF/2021-12-13-Germany-ILM-EKF.csv
  data-processed/ILM-EKF/2021-12-13-Poland-ILM-EKF-case.csv
  data-processed/ILM-EKF/2021-12-13-Poland-ILM-EKF.csv
  data-processed/MUNI-ARIMA/2021-12-13-Germany-MUNI-ARIMA-case.csv
  data-processed/MUNI-ARIMA/2021-12-13-Germany-MUNI-ARIMA.csv
  data-processed/MUNI-ARIMA/2021-12-13-Poland-MUNI-ARIMA-case.csv
  data-processed/MUNI-ARIMA/2021-12-13-Poland-MUNI-ARIMA.csv
  data-processed/MUNI-LaggedRegARIMA/2021-12-13-Germany-MUNI-LaggedRegARIMA.csv
  data-processed/MUNI-LaggedRegARIMA/2021-12-13-Poland-MUNI-LaggedRegARIMA.csv
  data-processed/MUNI-VAR/2021-12-13-Germany-MUNI-VAR-case.csv
  data-processed/MUNI-VAR/2021-12-13-Germany-MUNI-VAR.csv
  data-processed/MUNI-VAR/2021-12-13-Poland-MUNI-VAR-case.csv
  data-processed/MUNI-VAR/2021-12-13-Poland-MUNI-VAR.csv
  data-processed/PL_GRedlarski-DistrictsSum/2021-12-13-Poland-PL_GRedlarski-DistrictsSum-case.csv
  data-processed/RobertWalraven-ESG/2021-12-13-Germany-RobertWalraven-ESG-case.csv
  data-processed/RobertWalraven-ESG/2021-12-13-Germany-RobertWalraven-ESG.csv
  data-processed/RobertWalraven-ESG/2021-12-13-Poland-RobertWalraven-ESG-case.csv
  data-processed/RobertWalraven-ESG/2021-12-13-Poland-RobertWalraven-ESG.csv
  data-processed/SDSC_ISG-TrendModel/2021-12-13-Germany-SDSC_ISG-TrendModel-case.csv
  data-processed/SDSC_ISG-TrendModel/2021-12-13-Germany-SDSC_ISG-TrendModel.csv
  data-processed/SDSC_ISG-TrendModel/2021-12-13-Poland-SDSC_ISG-TrendModel-case.csv
  data-processed/SDSC_ISG-TrendModel/2021-12-13-Poland-SDSC_ISG-TrendModel.csv
  data-processed/UMass-MechBayes/2021-12-12-Germany-UMass-MechBayes.csv
  data-processed/UMass-MechBayes/2021-12-12-Poland-UMass-MechBayes.csv
  data-processed/USyd-OneModelMan/2021-12-13-Germany-USyd-OneModelMan.csv
  data-processed/USyd-OneModelMan/2021-12-13-Poland-USyd-OneModelMan.csv
  data-processed/epiforecasts-EpiNow2/2021-12-13-Germany-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2021-12-13-Germany-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-EpiNow2/2021-12-13-Poland-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2021-12-13-Poland-epiforecasts-EpiNow2.csv
  data-processed/itwm-dSEIR/2021-12-13-Germany-itwm-dSEIR-case.csv
  data-processed/itwm-dSEIR/2021-12-13-Germany-itwm-dSEIR.csv
Labels: data-submission, automated pr

#1326 Update baselines
  data-processed/KIT-baseline/2021-12-20-Germany-KIT-baseline-case.csv
  data-processed/KIT-baseline/2021-12-20-Germany-KIT-baseline.csv
  data-processed/KIT-baseline/2021-12-20-Poland-KIT-baseline-case.csv
  data-processed/KIT-baseline/2021-12-20-Poland-KIT-baseline.csv
  data-processed/KIT-extrapolation_baseline/2021-12-20-Germany-KIT-extrapolation_baseline-case.csv
  data-processed/KIT-extrapolation_baseline/2021-12-20-Germany-KIT-extrapolation_baseline.csv
  data-processed/KIT-extrapolation_baseline/2021-12-20-Poland-KIT-extrapolation_baseline-case.csv
  data-processed/KIT-extrapolation_baseline/2021-12-20-Poland-KIT-extrapolation_baseline.csv
  data-processed/KIT-time_series_baseline/2021-12-20-Germany-KIT-time_series_baseline-case.csv
  data-processed/KIT-time_series_baseline/2021-12-20-Germany-KIT-time_series_baseline.csv
  data-processed/KIT-time_series_baseline/2021-12-20-Poland-KIT-time_series_baseline-case.csv
  data-processed/KIT-time_series_baseline/2021-12-20-Poland-KIT-time_series_baseline.csv
Labels: data-submission, automated pr

#1327 Import EU forecasts
  data-processed/HZI-AgeExtendedSEIR/2021-12-20-Germany-HZI-AgeExtendedSEIR-case.csv
  data-processed/HZI-AgeExtendedSEIR/2021-12-20-Germany-HZI-AgeExtendedSEIR.csv
  data-processed/IEM_Health-CovidProject/2021-12-19-Germany-IEM_Health-CovidProject-case.csv
  data-processed/IEM_Health-CovidProject/2021-12-19-Germany-IEM_Health-CovidProject.csv
  data-processed/IEM_Health-CovidProject/2021-12-19-Poland-IEM_Health-CovidProject-case.csv
  data-processed/IEM_Health-CovidProject/2021-12-19-Poland-IEM_Health-CovidProject.csv
  data-processed/ILM-EKF/2021-12-20-Germany-ILM-EKF-case.csv
  data-processed/ILM-EKF/2021-12-20-Germany-ILM-EKF.csv
  data-processed/ILM-EKF/2021-12-20-Poland-ILM-EKF-case.csv
  data-processed/ILM-EKF/2021-12-20-Poland-ILM-EKF.csv
  data-processed/JBUD-HMXK/2021-12-19-Germany-JBUD-HMXK-case.csv
  data-processed/JBUD-HMXK/2021-12-19-Germany-JBUD-HMXK.csv
  data-processed/JBUD-HMXK/2021-12-19-Poland-JBUD-HMXK-case.csv
  data-processed/JBUD-HMXK/2021-12-19-Poland-JBUD-HMXK.csv
  data-processed/MUNI-ARIMA/2021-12-20-Germany-MUNI-ARIMA-case.csv
  data-processed/MUNI-ARIMA/2021-12-20-Germany-MUNI-ARIMA.csv
  data-processed/MUNI-ARIMA/2021-12-20-Poland-MUNI-ARIMA-case.csv
  data-processed/MUNI-ARIMA/2021-12-20-Poland-MUNI-ARIMA.csv
  data-processed/MUNI-LaggedRegARIMA/2021-12-20-Germany-MUNI-LaggedRegARIMA.csv
  data-processed/MUNI-LaggedRegARIMA/2021-12-20-Poland-MUNI-LaggedRegARIMA.csv
  data-processed/MUNI-VAR/2021-12-20-Germany-MUNI-VAR-case.csv
  data-processed/MUNI-VAR/2021-12-20-Germany-MUNI-VAR.csv
  data-processed/MUNI-VAR/2021-12-20-Poland-MUNI-VAR-case.csv
  data-processed/MUNI-VAR/2021-12-20-Poland-MUNI-VAR.csv
  data-processed/PL_GRedlarski-DistrictsSum/2021-12-20-Poland-PL_GRedlarski-DistrictsSum-case.csv
  data-processed/RobertWalraven-ESG/2021-12-20-Germany-RobertWalraven-ESG-case.csv
  data-processed/RobertWalraven-ESG/2021-12-20-Germany-RobertWalraven-ESG.csv
  data-processed/RobertWalraven-ESG/2021-12-20-Poland-RobertWalraven-ESG-case.csv
  data-processed/RobertWalraven-ESG/2021-12-20-Poland-RobertWalraven-ESG.csv
  data-processed/SDSC_ISG-TrendModel/2021-12-20-Germany-SDSC_ISG-TrendModel-case.csv
  data-processed/SDSC_ISG-TrendModel/2021-12-20-Germany-SDSC_ISG-TrendModel.csv
  data-processed/SDSC_ISG-TrendModel/2021-12-20-Poland-SDSC_ISG-TrendModel-case.csv
  data-processed/SDSC_ISG-TrendModel/2021-12-20-Poland-SDSC_ISG-TrendModel.csv
  data-processed/UMass-MechBayes/2021-12-19-Germany-UMass-MechBayes.csv
  data-processed/UMass-MechBayes/2021-12-19-Poland-UMass-MechBayes.csv
  data-processed/UVA-Ensemble/2021-12-20-Germany-UVA-Ensemble-case.csv
  data-processed/UVA-Ensemble/2021-12-20-Poland-UVA-Ensemble-case.csv
  data-processed/epiforecasts-EpiNow2/2021-12-20-Germany-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2021-12-20-Germany-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-EpiNow2/2021-12-20-Poland-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2021-12-20-Poland-epiforecasts-EpiNow2.csv
  data-processed/itwm-dSEIR/2021-12-20-Germany-itwm-dSEIR-case.csv
  data-processed/itwm-dSEIR/2021-12-20-Germany-itwm-dSEIR.csv
Labels: data-submission, automated pr

#1328 MOCOS 2021-12-20
  data-processed/MOCOS-agent1/2021-12-20-Poland-MOCOS-agent1-case.csv
  data-processed/MOCOS-agent1/2021-12-20-Poland-MOCOS-agent1.csv
Labels: data-submission

#1329 Import EU forecasts
  data-processed/EuroCOVIDhub-baseline/2021-12-21-Germany-EuroCOVIDhub-baseline-case.csv
  data-processed/EuroCOVIDhub-baseline/2021-12-21-Germany-EuroCOVIDhub-baseline.csv
  data-processed/EuroCOVIDhub-baseline/2021-12-21-Poland-EuroCOVIDhub-baseline-case.csv
  data-processed/EuroCOVIDhub-baseline/2021-12-21-Poland-EuroCOVIDhub-baseline.csv
  data-processed/EuroCOVIDhub-ensemble/2021-12-20-Germany-EuroCOVIDhub-ensemble-case.csv
  data-processed/EuroCOVIDhub-ensemble/2021-12-20-Germany-EuroCOVIDhub-ensemble.csv
  data-processed/EuroCOVIDhub-ensemble/2021-12-20-Poland-EuroCOVIDhub-ensemble-case.csv
  data-processed/EuroCOVIDhub-ensemble/2021-12-20-Poland-EuroCOVIDhub-ensemble.csv
Labels: data-submission, automated pr

#1334 Predictions as of 27 December 2021.
  data-processed/FIAS_FZJ-Epi1Ger/2021-12-27-Germany-FIAS_FZJ-Epi1Ger-case.csv
  data-processed/FIAS_FZJ-Epi1Ger/2021-12-27-Germany-FIAS_FZJ-Epi1Ger.csv
Labels: data-submission

#1333 HKUST-DNN_DA 211227 forecast
  data-processed/HKUST-DNN_DA/2021-12-27-Germany-HKUST-DNN_DA-case.csv
Labels: data-submission

#1332 ITWW forecast for 2021-12-27
  data-processed/ITWW-county_repro/2021-12-27-Germany-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2021-12-27-Germany-ITWW-county_repro.csv
  data-processed/ITWW-county_repro/2021-12-27-Poland-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2021-12-27-Poland-ITWW-county_repro.csv
Labels: data-submission

#1331 CovidMetrics-epiBATS (2021-12-27)
  data-processed/CovidMetrics-epiBATS/2021-12-27-Germany-CovidMetrics-epiBATS-case.csv
Labels: data-submission

#1330 Update forecasts for SIkJalpha model
  data-processed/USC-SIkJalpha/2021-12-26-Germany-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2021-12-26-Germany-USC-SIkJalpha.csv
  data-processed/USC-SIkJalpha/2021-12-26-Poland-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2021-12-26-Poland-USC-SIkJalpha.csv
Labels: data-submission

#1336 MOCOS 2021-12-27
  data-processed/MOCOS-agent1/2021-12-27-Poland-MOCOS-agent1-case.csv
  data-processed/MOCOS-agent1/2021-12-27-Poland-MOCOS-agent1.csv
Labels: data-submission

#1335 Update baselines
  data-processed/KIT-baseline/2021-12-27-Germany-KIT-baseline-case.csv
  data-processed/KIT-baseline/2021-12-27-Germany-KIT-baseline.csv
  data-processed/KIT-baseline/2021-12-27-Poland-KIT-baseline-case.csv
  data-processed/KIT-baseline/2021-12-27-Poland-KIT-baseline.csv
  data-processed/KIT-extrapolation_baseline/2021-12-27-Germany-KIT-extrapolation_baseline-case.csv
  data-processed/KIT-extrapolation_baseline/2021-12-27-Germany-KIT-extrapolation_baseline.csv
  data-processed/KIT-extrapolation_baseline/2021-12-27-Poland-KIT-extrapolation_baseline-case.csv
  data-processed/KIT-extrapolation_baseline/2021-12-27-Poland-KIT-extrapolation_baseline.csv
  data-processed/KIT-time_series_baseline/2021-12-27-Germany-KIT-time_series_baseline-case.csv
  data-processed/KIT-time_series_baseline/2021-12-27-Germany-KIT-time_series_baseline.csv
  data-processed/KIT-time_series_baseline/2021-12-27-Poland-KIT-time_series_baseline-case.csv
  data-processed/KIT-time_series_baseline/2021-12-27-Poland-KIT-time_series_baseline.csv
Labels: data-submission, automated pr

#1337 Import EU forecasts
  data-processed/EuroCOVIDhub-baseline/2021-12-27-Germany-EuroCOVIDhub-baseline-case.csv
  data-processed/EuroCOVIDhub-baseline/2021-12-27-Germany-EuroCOVIDhub-baseline.csv
  data-processed/EuroCOVIDhub-baseline/2021-12-27-Poland-EuroCOVIDhub-baseline-case.csv
  data-processed/EuroCOVIDhub-baseline/2021-12-27-Poland-EuroCOVIDhub-baseline.csv
  data-processed/EuroCOVIDhub-ensemble/2021-12-27-Germany-EuroCOVIDhub-ensemble-case.csv
  data-processed/EuroCOVIDhub-ensemble/2021-12-27-Germany-EuroCOVIDhub-ensemble.csv
  data-processed/EuroCOVIDhub-ensemble/2021-12-27-Poland-EuroCOVIDhub-ensemble-case.csv
  data-processed/EuroCOVIDhub-ensemble/2021-12-27-Poland-EuroCOVIDhub-ensemble.csv
  data-processed/HZI-AgeExtendedSEIR/2021-12-27-Germany-HZI-AgeExtendedSEIR-case.csv
  data-processed/HZI-AgeExtendedSEIR/2021-12-27-Germany-HZI-AgeExtendedSEIR.csv
  data-processed/IEM_Health-CovidProject/2021-12-27-Germany-IEM_Health-CovidProject-case.csv
  data-processed/IEM_Health-CovidProject/2021-12-27-Germany-IEM_Health-CovidProject.csv
  data-processed/IEM_Health-CovidProject/2021-12-27-Poland-IEM_Health-CovidProject-case.csv
  data-processed/IEM_Health-CovidProject/2021-12-27-Poland-IEM_Health-CovidProject.csv
  data-processed/ILM-EKF/2021-12-27-Germany-ILM-EKF-case.csv
  data-processed/ILM-EKF/2021-12-27-Germany-ILM-EKF.csv
  data-processed/ILM-EKF/2021-12-27-Poland-ILM-EKF-case.csv
  data-processed/ILM-EKF/2021-12-27-Poland-ILM-EKF.csv
  data-processed/JBUD-HMXK/2021-12-26-Germany-JBUD-HMXK-case.csv
  data-processed/JBUD-HMXK/2021-12-26-Germany-JBUD-HMXK.csv
  data-processed/JBUD-HMXK/2021-12-26-Poland-JBUD-HMXK-case.csv
  data-processed/JBUD-HMXK/2021-12-26-Poland-JBUD-HMXK.csv
  data-processed/PL_GRedlarski-DistrictsSum/2021-12-27-Poland-PL_GRedlarski-DistrictsSum-case.csv
  data-processed/RobertWalraven-ESG/2021-12-27-Germany-RobertWalraven-ESG-case.csv
  data-processed/RobertWalraven-ESG/2021-12-27-Germany-RobertWalraven-ESG.csv
  data-processed/RobertWalraven-ESG/2021-12-27-Poland-RobertWalraven-ESG-case.csv
  data-processed/RobertWalraven-ESG/2021-12-27-Poland-RobertWalraven-ESG.csv
  data-processed/SDSC_ISG-TrendModel/2021-12-27-Germany-SDSC_ISG-TrendModel-case.csv
  data-processed/SDSC_ISG-TrendModel/2021-12-27-Germany-SDSC_ISG-TrendModel.csv
  data-processed/SDSC_ISG-TrendModel/2021-12-27-Poland-SDSC_ISG-TrendModel-case.csv
  data-processed/SDSC_ISG-TrendModel/2021-12-27-Poland-SDSC_ISG-TrendModel.csv
  data-processed/UMass-MechBayes/2021-12-26-Germany-UMass-MechBayes.csv
  data-processed/UMass-MechBayes/2021-12-26-Poland-UMass-MechBayes.csv
  data-processed/UVA-Ensemble/2021-12-27-Germany-UVA-Ensemble-case.csv
  data-processed/UVA-Ensemble/2021-12-27-Poland-UVA-Ensemble-case.csv
  data-processed/epiforecasts-EpiNow2/2021-12-27-Germany-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2021-12-27-Germany-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-EpiNow2/2021-12-27-Poland-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2021-12-27-Poland-epiforecasts-EpiNow2.csv
Labels: data-submission, automated pr
