Repository KITmetricslab/covid19-forecast-hub-de, pull requests merged in 2021-11, with the labels that each got.

#1242 MOCOS 2021-11-01
  data-processed/MOCOS-agent1/2021-11-01-Poland-MOCOS-agent1-case.csv
  data-processed/MOCOS-agent1/2021-11-01-Poland-MOCOS-agent1.csv
Labels: data-submission

#1241 ITWW forecast for 2021-11-01
  data-processed/ITWW-county_repro/2021-11-01-Germany-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2021-11-01-Germany-ITWW-county_repro.csv
  data-processed/ITWW-county_repro/2021-11-01-Poland-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2021-11-01-Poland-ITWW-county_repro.csv
Labels: data-submission

#1240 20211101 ICM submission
  data-processed/ICM-agentModel/2021-11-01-Poland-ICM-agentModel-case.csv
  data-processed/ICM-agentModel/2021-11-01-Poland-ICM-agentModel.csv
Labels: data-submission

#1239 MITCovidAnalytics Update 20211101
  data-processed/MIT_CovidAnalytics-DELPHI/2021-11-01-Germany-MIT_CovidAnalytics-DELPHI-case.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-11-01-Germany-MIT_CovidAnalytics-DELPHI.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-11-01-Poland-MIT_CovidAnalytics-DELPHI-case.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-11-01-Poland-MIT_CovidAnalytics-DELPHI.csv
Labels: data-submission

#1238 Predictions as of 1 November 2021.
  data-processed/FIAS_FZJ-Epi1Ger/2021-11-01-Germany-FIAS_FZJ-Epi1Ger-case.csv
  data-processed/FIAS_FZJ-Epi1Ger/2021-11-01-Germany-FIAS_FZJ-Epi1Ger.csv
Labels: data-submission

#1237 CovidMetrics -epiBATS (2021-11-01)
  data-processed/CovidMetrics-epiBATS/2021-11-01-Germany-CovidMetrics-epiBATS-case.csv
Labels: data-submission

#1236 USC-SIkJalpha: Add files via upload
  data-processed/USC-SIkJalpha/2021-10-31-Germany-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2021-10-31-Germany-USC-SIkJalpha.csv
  data-processed/USC-SIkJalpha/2021-10-31-Poland-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2021-10-31-Poland-USC-SIkJalpha.csv
Labels: data-submission

#1244 Update baselines
  data-processed/KIT-baseline/2021-11-01-Germany-KIT-baseline-case.csv
  data-processed/KIT-baseline/2021-11-01-Germany-KIT-baseline.csv
  data-processed/KIT-baseline/2021-11-01-Poland-KIT-baseline-case.csv
  data-processed/KIT-baseline/2021-11-01-Poland-KIT-baseline.csv
  data-processed/KIT-extrapolation_baseline/2021-11-01-Germany-KIT-extrapolation_baseline-case.csv
  data-processed/KIT-extrapolation_baseline/2021-11-01-Germany-KIT-extrapolation_baseline.csv
  data-processed/KIT-extrapolation_baseline/2021-11-01-Poland-KIT-extrapolation_baseline-case.csv
  data-processed/KIT-extrapolation_baseline/2021-11-01-Poland-KIT-extrapolation_baseline.csv
  data-processed/KIT-time_series_baseline/2021-11-01-Germany-KIT-time_series_baseline-case.csv
  data-processed/KIT-time_series_baseline/2021-11-01-Germany-KIT-time_series_baseline.csv
  data-processed/KIT-time_series_baseline/2021-11-01-Poland-KIT-time_series_baseline-case.csv
  data-processed/KIT-time_series_baseline/2021-11-01-Poland-KIT-time_series_baseline.csv
Labels: data-submission, automated pr

#1245 Add EU forecasts.
  data-processed/BIOCOMSC-Gompertz/2021-11-01-Poland-BIOCOMSC-Gompertz-case.csv
  data-processed/BIOCOMSC-Gompertz/2021-11-01-Poland-BIOCOMSC-Gompertz.csv
  data-processed/EuroCOVIDhub-baseline/2021-11-01-Germany-EuroCOVIDhub-baseline-case.csv
  data-processed/EuroCOVIDhub-baseline/2021-11-01-Germany-EuroCOVIDhub-baseline.csv
  data-processed/EuroCOVIDhub-baseline/2021-11-01-Poland-EuroCOVIDhub-baseline-case.csv
  data-processed/EuroCOVIDhub-baseline/2021-11-01-Poland-EuroCOVIDhub-baseline.csv
  data-processed/EuroCOVIDhub-ensemble/2021-11-01-Germany-EuroCOVIDhub-ensemble-case.csv
  data-processed/EuroCOVIDhub-ensemble/2021-11-01-Germany-EuroCOVIDhub-ensemble.csv
  data-processed/EuroCOVIDhub-ensemble/2021-11-01-Poland-EuroCOVIDhub-ensemble-case.csv
  data-processed/EuroCOVIDhub-ensemble/2021-11-01-Poland-EuroCOVIDhub-ensemble.csv
  data-processed/HZI-AgeExtendedSEIR/2021-11-01-Germany-HZI-AgeExtendedSEIR-case.csv
  data-processed/HZI-AgeExtendedSEIR/2021-11-01-Germany-HZI-AgeExtendedSEIR.csv
  data-processed/IEM_Health-CovidProject/2021-11-01-Germany-IEM_Health-CovidProject-case.csv
  data-processed/IEM_Health-CovidProject/2021-11-01-Germany-IEM_Health-CovidProject.csv
  data-processed/IEM_Health-CovidProject/2021-11-01-Poland-IEM_Health-CovidProject-case.csv
  data-processed/IEM_Health-CovidProject/2021-11-01-Poland-IEM_Health-CovidProject.csv
  data-processed/ILM-EKF/2021-11-01-Germany-ILM-EKF-case.csv
  data-processed/ILM-EKF/2021-11-01-Germany-ILM-EKF.csv
  data-processed/ILM-EKF/2021-11-01-Poland-ILM-EKF-case.csv
  data-processed/ILM-EKF/2021-11-01-Poland-ILM-EKF.csv
  data-processed/Imperial-DeCa/2021-11-01-Germany-Imperial-DeCa.csv
  data-processed/Imperial-DeCa/2021-11-01-Poland-Imperial-DeCa.csv
  data-processed/Imperial-RtI0/2021-11-01-Germany-Imperial-RtI0.csv
  data-processed/Imperial-RtI0/2021-11-01-Poland-Imperial-RtI0.csv
  data-processed/Imperial-sbkp/2021-11-01-Germany-Imperial-sbkp.csv
  data-processed/Imperial-sbkp/2021-11-01-Poland-Imperial-sbkp.csv
  data-processed/MUNI-ARIMA/2021-11-01-Germany-MUNI-ARIMA-case.csv
  data-processed/MUNI-ARIMA/2021-11-01-Germany-MUNI-ARIMA.csv
  data-processed/MUNI-ARIMA/2021-11-01-Poland-MUNI-ARIMA-case.csv
  data-processed/MUNI-ARIMA/2021-11-01-Poland-MUNI-ARIMA.csv
  data-processed/PL_GRedlarski-DistrictsSum/2021-11-01-Poland-PL_GRedlarski-DistrictsSum-case.csv
  data-processed/RobertWalraven-ESG/2021-11-01-Germany-RobertWalraven-ESG-case.csv
  data-processed/RobertWalraven-ESG/2021-11-01-Germany-RobertWalraven-ESG.csv
  data-processed/RobertWalraven-ESG/2021-11-01-Poland-RobertWalraven-ESG-case.csv
  data-processed/RobertWalraven-ESG/2021-11-01-Poland-RobertWalraven-ESG.csv
  data-processed/SDSC_ISG-TrendModel/2021-11-01-Germany-SDSC_ISG-TrendModel-case.csv
  data-processed/SDSC_ISG-TrendModel/2021-11-01-Germany-SDSC_ISG-TrendModel.csv
  data-processed/SDSC_ISG-TrendModel/2021-11-01-Poland-SDSC_ISG-TrendModel-case.csv
  data-processed/SDSC_ISG-TrendModel/2021-11-01-Poland-SDSC_ISG-TrendModel.csv
  data-processed/UNIPV-BayesINGARCHX/2021-11-01-Germany-UNIPV-BayesINGARCHX-case.csv
  data-processed/USyd-OneModelMan/2021-11-01-Germany-USyd-OneModelMan.csv
  data-processed/USyd-OneModelMan/2021-11-01-Poland-USyd-OneModelMan.csv
  data-processed/UVA-Ensemble/2021-11-01-Germany-UVA-Ensemble-case.csv
  data-processed/UVA-Ensemble/2021-11-01-Poland-UVA-Ensemble-case.csv
  data-processed/itwm-dSEIR/2021-11-01-Germany-itwm-dSEIR-case.csv
  data-processed/itwm-dSEIR/2021-11-01-Germany-itwm-dSEIR.csv
Labels: data-submission

#1246 Adding regional ensembles
  code/ensemble/included_models/included_models-2021-10-25.csv
  code/ensemble/included_models/included_models-2021-11-01.csv
  code/ensemble/inverse_wis_weights/inverse_wis_weights-2021-10-25.csv
  code/ensemble/inverse_wis_weights/inverse_wis_weights-2021-11-01.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-10-25-Germany-KITCOVIDhub-inverse_wis_ensemble-case.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-10-25-Germany-KITCOVIDhub-inverse_wis_ensemble.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-10-25-Poland-KITCOVIDhub-inverse_wis_ensemble-case.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-10-25-Poland-KITCOVIDhub-inverse_wis_ensemble.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-11-01-Germany-KITCOVIDhub-inverse_wis_ensemble-case.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-11-01-Germany-KITCOVIDhub-inverse_wis_ensemble.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-11-01-Poland-KITCOVIDhub-inverse_wis_ensemble-case.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-11-01-Poland-KITCOVIDhub-inverse_wis_ensemble.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-10-25-Germany-KITCOVIDhub-mean_ensemble-case.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-10-25-Germany-KITCOVIDhub-mean_ensemble.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-10-25-Poland-KITCOVIDhub-mean_ensemble-case.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-10-25-Poland-KITCOVIDhub-mean_ensemble.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-11-01-Germany-KITCOVIDhub-mean_ensemble-case.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-11-01-Germany-KITCOVIDhub-mean_ensemble.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-11-01-Poland-KITCOVIDhub-mean_ensemble-case.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-11-01-Poland-KITCOVIDhub-mean_ensemble.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-10-25-Germany-KITCOVIDhub-median_ensemble-case.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-10-25-Germany-KITCOVIDhub-median_ensemble.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-10-25-Poland-KITCOVIDhub-median_ensemble-case.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-10-25-Poland-KITCOVIDhub-median_ensemble.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-11-01-Germany-KITCOVIDhub-median_ensemble-case.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-11-01-Germany-KITCOVIDhub-median_ensemble.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-11-01-Poland-KITCOVIDhub-median_ensemble-case.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-11-01-Poland-KITCOVIDhub-median_ensemble.csv
Labels: other-files-updated, data-submission

#1251 Predictions as of 8 November 2021.
  data-processed/FIAS_FZJ-Epi1Ger/2021-11-08-Germany-FIAS_FZJ-Epi1Ger-case.csv
  data-processed/FIAS_FZJ-Epi1Ger/2021-11-08-Germany-FIAS_FZJ-Epi1Ger.csv
Labels: data-submission

#1250 CovidMetrics-epiBATS (2021-11-08)
  data-processed/CovidMetrics-epiBATS/2021-11-08-Germany-CovidMetrics-epiBATS-case.csv
Labels: data-submission

#1249 ITWW forecast for 2021-11-08
  data-processed/ITWW-county_repro/2021-11-08-Germany-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2021-11-08-Germany-ITWW-county_repro.csv
  data-processed/ITWW-county_repro/2021-11-08-Poland-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2021-11-08-Poland-ITWW-county_repro.csv
Labels: data-submission

#1248 20211108 ICM submission
  data-processed/ICM-agentModel/2021-11-08-Poland-ICM-agentModel-case.csv
  data-processed/ICM-agentModel/2021-11-08-Poland-ICM-agentModel.csv
Labels: data-submission

#1247 USC-SIkJalpha: Weekly update
  data-processed/USC-SIkJalpha/2021-11-07-Germany-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2021-11-07-Germany-USC-SIkJalpha.csv
  data-processed/USC-SIkJalpha/2021-11-07-Poland-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2021-11-07-Poland-USC-SIkJalpha.csv
Labels: data-submission

#1254 MOCOS 2021-11-08
  data-processed/MOCOS-agent1/2021-11-08-Poland-MOCOS-agent1-case.csv
  data-processed/MOCOS-agent1/2021-11-08-Poland-MOCOS-agent1.csv
Labels: data-submission

#1253 2021-11-08 - EpiForecast submission
  data-processed/epiforecasts-EpiNow2/2021-11-08-Germany-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2021-11-08-Germany-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-EpiNow2/2021-11-08-Poland-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2021-11-08-Poland-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-EpiNow2_secondary/2021-11-08-Germany-epiforecasts-EpiNow2_secondary.csv
  data-processed/epiforecasts-EpiNow2_secondary/2021-11-08-Poland-epiforecasts-EpiNow2_secondary.csv
Labels: data-submission

#1252 MIT Update
  data-processed/MIT_CovidAnalytics-DELPHI/2021-11-08-Germany-MIT_CovidAnalytics-DELPHI-case.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-11-08-Germany-MIT_CovidAnalytics-DELPHI.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-11-08-Poland-MIT_CovidAnalytics-DELPHI-case.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-11-08-Poland-MIT_CovidAnalytics-DELPHI.csv
Labels: data-submission

#1256 Update baselines
  data-processed/KIT-baseline/2021-11-08-Germany-KIT-baseline-case.csv
  data-processed/KIT-baseline/2021-11-08-Germany-KIT-baseline.csv
  data-processed/KIT-baseline/2021-11-08-Poland-KIT-baseline-case.csv
  data-processed/KIT-baseline/2021-11-08-Poland-KIT-baseline.csv
  data-processed/KIT-extrapolation_baseline/2021-11-08-Germany-KIT-extrapolation_baseline-case.csv
  data-processed/KIT-extrapolation_baseline/2021-11-08-Germany-KIT-extrapolation_baseline.csv
  data-processed/KIT-extrapolation_baseline/2021-11-08-Poland-KIT-extrapolation_baseline-case.csv
  data-processed/KIT-extrapolation_baseline/2021-11-08-Poland-KIT-extrapolation_baseline.csv
  data-processed/KIT-time_series_baseline/2021-11-08-Germany-KIT-time_series_baseline-case.csv
  data-processed/KIT-time_series_baseline/2021-11-08-Germany-KIT-time_series_baseline.csv
  data-processed/KIT-time_series_baseline/2021-11-08-Poland-KIT-time_series_baseline-case.csv
  data-processed/KIT-time_series_baseline/2021-11-08-Poland-KIT-time_series_baseline.csv
Labels: data-submission, automated pr

#1255 Import EU forecasts
  data-processed/BIOCOMSC-Gompertz/2021-11-08-Germany-BIOCOMSC-Gompertz-case.csv
  data-processed/BIOCOMSC-Gompertz/2021-11-08-Germany-BIOCOMSC-Gompertz.csv
  data-processed/BIOCOMSC-Gompertz/2021-11-08-Poland-BIOCOMSC-Gompertz-case.csv
  data-processed/BIOCOMSC-Gompertz/2021-11-08-Poland-BIOCOMSC-Gompertz.csv
  data-processed/EuroCOVIDhub-baseline/2021-11-08-Germany-EuroCOVIDhub-baseline-case.csv
  data-processed/EuroCOVIDhub-baseline/2021-11-08-Germany-EuroCOVIDhub-baseline.csv
  data-processed/EuroCOVIDhub-baseline/2021-11-08-Poland-EuroCOVIDhub-baseline-case.csv
  data-processed/EuroCOVIDhub-baseline/2021-11-08-Poland-EuroCOVIDhub-baseline.csv
  data-processed/EuroCOVIDhub-ensemble/2021-11-08-Germany-EuroCOVIDhub-ensemble-case.csv
  data-processed/EuroCOVIDhub-ensemble/2021-11-08-Germany-EuroCOVIDhub-ensemble.csv
  data-processed/EuroCOVIDhub-ensemble/2021-11-08-Poland-EuroCOVIDhub-ensemble-case.csv
  data-processed/EuroCOVIDhub-ensemble/2021-11-08-Poland-EuroCOVIDhub-ensemble.csv
  data-processed/HZI-AgeExtendedSEIR/2021-11-08-Germany-HZI-AgeExtendedSEIR-case.csv
  data-processed/HZI-AgeExtendedSEIR/2021-11-08-Germany-HZI-AgeExtendedSEIR.csv
  data-processed/IEM_Health-CovidProject/2021-11-08-Germany-IEM_Health-CovidProject-case.csv
  data-processed/IEM_Health-CovidProject/2021-11-08-Germany-IEM_Health-CovidProject.csv
  data-processed/IEM_Health-CovidProject/2021-11-08-Poland-IEM_Health-CovidProject-case.csv
  data-processed/IEM_Health-CovidProject/2021-11-08-Poland-IEM_Health-CovidProject.csv
  data-processed/ILM-EKF/2021-11-08-Germany-ILM-EKF-case.csv
  data-processed/ILM-EKF/2021-11-08-Germany-ILM-EKF.csv
  data-processed/ILM-EKF/2021-11-08-Poland-ILM-EKF-case.csv
  data-processed/ILM-EKF/2021-11-08-Poland-ILM-EKF.csv
  data-processed/Imperial-DeCa/2021-11-08-Germany-Imperial-DeCa.csv
  data-processed/Imperial-DeCa/2021-11-08-Poland-Imperial-DeCa.csv
  data-processed/Imperial-RtI0/2021-11-08-Germany-Imperial-RtI0.csv
  data-processed/Imperial-RtI0/2021-11-08-Poland-Imperial-RtI0.csv
  data-processed/Imperial-sbkp/2021-11-08-Germany-Imperial-sbkp.csv
  data-processed/Imperial-sbkp/2021-11-08-Poland-Imperial-sbkp.csv
  data-processed/Karlen-pypm/2021-11-07-Germany-Karlen-pypm-case.csv
  data-processed/Karlen-pypm/2021-11-07-Germany-Karlen-pypm.csv
  data-processed/Karlen-pypm/2021-11-07-Poland-Karlen-pypm-case.csv
  data-processed/Karlen-pypm/2021-11-07-Poland-Karlen-pypm.csv
  data-processed/MUNI-ARIMA/2021-11-08-Germany-MUNI-ARIMA-case.csv
  data-processed/MUNI-ARIMA/2021-11-08-Germany-MUNI-ARIMA.csv
  data-processed/MUNI-ARIMA/2021-11-08-Poland-MUNI-ARIMA-case.csv
  data-processed/MUNI-ARIMA/2021-11-08-Poland-MUNI-ARIMA.csv
  data-processed/MUNI-VAR/2021-11-08-Germany-MUNI-VAR-case.csv
  data-processed/MUNI-VAR/2021-11-08-Germany-MUNI-VAR.csv
  data-processed/MUNI-VAR/2021-11-08-Poland-MUNI-VAR-case.csv
  data-processed/MUNI-VAR/2021-11-08-Poland-MUNI-VAR.csv
  data-processed/PL_GRedlarski-DistrictsSum/2021-11-08-Poland-PL_GRedlarski-DistrictsSum-case.csv
  data-processed/RobertWalraven-ESG/2021-11-08-Germany-RobertWalraven-ESG-case.csv
  data-processed/RobertWalraven-ESG/2021-11-08-Germany-RobertWalraven-ESG.csv
  data-processed/RobertWalraven-ESG/2021-11-08-Poland-RobertWalraven-ESG-case.csv
  data-processed/RobertWalraven-ESG/2021-11-08-Poland-RobertWalraven-ESG.csv
  data-processed/SDSC_ISG-TrendModel/2021-11-08-Germany-SDSC_ISG-TrendModel-case.csv
  data-processed/SDSC_ISG-TrendModel/2021-11-08-Germany-SDSC_ISG-TrendModel.csv
  data-processed/SDSC_ISG-TrendModel/2021-11-08-Poland-SDSC_ISG-TrendModel-case.csv
  data-processed/SDSC_ISG-TrendModel/2021-11-08-Poland-SDSC_ISG-TrendModel.csv
  data-processed/UMass-MechBayes/2021-11-07-Germany-UMass-MechBayes.csv
  data-processed/UMass-MechBayes/2021-11-07-Poland-UMass-MechBayes.csv
  data-processed/UNIPV-BayesINGARCHX/2021-11-08-Germany-UNIPV-BayesINGARCHX-case.csv
  data-processed/USyd-OneModelMan/2021-11-08-Germany-USyd-OneModelMan.csv
  data-processed/USyd-OneModelMan/2021-11-08-Poland-USyd-OneModelMan.csv
  data-processed/itwm-dSEIR/2021-11-08-Germany-itwm-dSEIR-case.csv
  data-processed/itwm-dSEIR/2021-11-08-Germany-itwm-dSEIR.csv
Labels: data-submission, automated pr

#1257 Adding regional ensembles.
  code/ensemble/included_models/included_models-2021-11-08.csv
  code/ensemble/inverse_wis_weights/inverse_wis_weights-2021-11-08.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-11-08-Germany-KITCOVIDhub-inverse_wis_ensemble-case.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-11-08-Germany-KITCOVIDhub-inverse_wis_ensemble.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-11-08-Poland-KITCOVIDhub-inverse_wis_ensemble-case.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-11-08-Poland-KITCOVIDhub-inverse_wis_ensemble.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-11-08-Germany-KITCOVIDhub-mean_ensemble-case.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-11-08-Germany-KITCOVIDhub-mean_ensemble.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-11-08-Poland-KITCOVIDhub-mean_ensemble-case.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-11-08-Poland-KITCOVIDhub-mean_ensemble.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-11-08-Germany-KITCOVIDhub-median_ensemble-case.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-11-08-Germany-KITCOVIDhub-median_ensemble.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-11-08-Poland-KITCOVIDhub-median_ensemble-case.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-11-08-Poland-KITCOVIDhub-median_ensemble.csv
Labels: other-files-updated, data-submission

#1265 MOCOS 2021-11-15
  data-processed/MOCOS-agent1/2021-11-15-Poland-MOCOS-agent1-case.csv
  data-processed/MOCOS-agent1/2021-11-15-Poland-MOCOS-agent1.csv
Labels: data-submission

#1264 MIT Update
  data-processed/MIT_CovidAnalytics-DELPHI/2021-11-15-Germany-MIT_CovidAnalytics-DELPHI-case.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-11-15-Germany-MIT_CovidAnalytics-DELPHI.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-11-15-Poland-MIT_CovidAnalytics-DELPHI-case.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-11-15-Poland-MIT_CovidAnalytics-DELPHI.csv
Labels: data-submission

#1262 Predictions as of 15 November 2021.
  data-processed/FIAS_FZJ-Epi1Ger/2021-11-15-Germany-FIAS_FZJ-Epi1Ger-case.csv
  data-processed/FIAS_FZJ-Epi1Ger/2021-11-15-Germany-FIAS_FZJ-Epi1Ger.csv
Labels: data-submission

#1261 ITWW forecast for 2021-11-15
  data-processed/ITWW-county_repro/2021-11-15-Germany-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2021-11-15-Germany-ITWW-county_repro.csv
  data-processed/ITWW-county_repro/2021-11-15-Poland-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2021-11-15-Poland-ITWW-county_repro.csv
Labels: data-submission

#1260 20211115 ICM submission
  data-processed/ICM-agentModel/2021-11-15-Poland-ICM-agentModel-case.csv
  data-processed/ICM-agentModel/2021-11-15-Poland-ICM-agentModel.csv
Labels: data-submission

#1259 CovidMetrics-epiBATS (2021-11-15)
  data-processed/CovidMetrics-epiBATS/2021-11-15-Germany-CovidMetrics-epiBATS-case.csv
Labels: data-submission

#1258 USC-SIkJalpha: Add files via upload
  data-processed/USC-SIkJalpha/2021-11-14-Germany-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2021-11-14-Germany-USC-SIkJalpha.csv
  data-processed/USC-SIkJalpha/2021-11-14-Poland-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2021-11-14-Poland-USC-SIkJalpha.csv
Labels: data-submission

#1263 HKUST-DNN-DA 211115 forecast
  data-processed/HKUST-DNN-DA/2021-11-15-Germany-HKUST-DNN-DA-case.csv
  data-processed/HKUST-DNN-DA/metadata-HKUST-DNN-DA.txt
Labels: metadata-change, data-submission

#1267 Adapting file names
  data-processed/HKUST-DNN_DA/2021-11-15-Germany-HKUST-DNN_DA-case.csv
  data-processed/HKUST-DNN_DA/metadata-HKUST-DNN_DA.txt
Labels: metadata-change, data-submission, forecast-updated

#1266 Import EU forecasts
  data-processed/EuroCOVIDhub-baseline/2021-11-15-Germany-EuroCOVIDhub-baseline-case.csv
  data-processed/EuroCOVIDhub-baseline/2021-11-15-Germany-EuroCOVIDhub-baseline.csv
  data-processed/EuroCOVIDhub-baseline/2021-11-15-Poland-EuroCOVIDhub-baseline-case.csv
  data-processed/EuroCOVIDhub-baseline/2021-11-15-Poland-EuroCOVIDhub-baseline.csv
  data-processed/EuroCOVIDhub-ensemble/2021-11-15-Germany-EuroCOVIDhub-ensemble-case.csv
  data-processed/EuroCOVIDhub-ensemble/2021-11-15-Germany-EuroCOVIDhub-ensemble.csv
  data-processed/EuroCOVIDhub-ensemble/2021-11-15-Poland-EuroCOVIDhub-ensemble-case.csv
  data-processed/EuroCOVIDhub-ensemble/2021-11-15-Poland-EuroCOVIDhub-ensemble.csv
  data-processed/HZI-AgeExtendedSEIR/2021-11-15-Germany-HZI-AgeExtendedSEIR-case.csv
  data-processed/HZI-AgeExtendedSEIR/2021-11-15-Germany-HZI-AgeExtendedSEIR.csv
  data-processed/IEM_Health-CovidProject/2021-11-15-Germany-IEM_Health-CovidProject-case.csv
  data-processed/IEM_Health-CovidProject/2021-11-15-Germany-IEM_Health-CovidProject.csv
  data-processed/IEM_Health-CovidProject/2021-11-15-Poland-IEM_Health-CovidProject-case.csv
  data-processed/IEM_Health-CovidProject/2021-11-15-Poland-IEM_Health-CovidProject.csv
  data-processed/ILM-EKF/2021-11-15-Germany-ILM-EKF-case.csv
  data-processed/ILM-EKF/2021-11-15-Germany-ILM-EKF.csv
  data-processed/ILM-EKF/2021-11-15-Poland-ILM-EKF-case.csv
  data-processed/ILM-EKF/2021-11-15-Poland-ILM-EKF.csv
  data-processed/Imperial-DeCa/2021-11-15-Germany-Imperial-DeCa.csv
  data-processed/Imperial-DeCa/2021-11-15-Poland-Imperial-DeCa.csv
  data-processed/Imperial-RtI0/2021-11-15-Germany-Imperial-RtI0.csv
  data-processed/Imperial-RtI0/2021-11-15-Poland-Imperial-RtI0.csv
  data-processed/Imperial-sbkp/2021-11-15-Germany-Imperial-sbkp.csv
  data-processed/Imperial-sbkp/2021-11-15-Poland-Imperial-sbkp.csv
  data-processed/JBUD-HMXK/2021-11-14-Germany-JBUD-HMXK-case.csv
  data-processed/JBUD-HMXK/2021-11-14-Germany-JBUD-HMXK.csv
  data-processed/JBUD-HMXK/2021-11-14-Poland-JBUD-HMXK-case.csv
  data-processed/JBUD-HMXK/2021-11-14-Poland-JBUD-HMXK.csv
  data-processed/Karlen-pypm/2021-11-14-Germany-Karlen-pypm-case.csv
  data-processed/Karlen-pypm/2021-11-14-Germany-Karlen-pypm.csv
  data-processed/Karlen-pypm/2021-11-14-Poland-Karlen-pypm-case.csv
  data-processed/Karlen-pypm/2021-11-14-Poland-Karlen-pypm.csv
  data-processed/MUNI-ARIMA/2021-11-15-Germany-MUNI-ARIMA-case.csv
  data-processed/MUNI-ARIMA/2021-11-15-Germany-MUNI-ARIMA.csv
  data-processed/MUNI-ARIMA/2021-11-15-Poland-MUNI-ARIMA-case.csv
  data-processed/MUNI-ARIMA/2021-11-15-Poland-MUNI-ARIMA.csv
  data-processed/MUNI-LaggedRegARIMA/2021-11-15-Germany-MUNI-LaggedRegARIMA.csv
  data-processed/MUNI-LaggedRegARIMA/2021-11-15-Poland-MUNI-LaggedRegARIMA.csv
  data-processed/MUNI-VAR/2021-11-15-Germany-MUNI-VAR-case.csv
  data-processed/MUNI-VAR/2021-11-15-Germany-MUNI-VAR.csv
  data-processed/MUNI-VAR/2021-11-15-Poland-MUNI-VAR-case.csv
  data-processed/MUNI-VAR/2021-11-15-Poland-MUNI-VAR.csv
  data-processed/PL_GRedlarski-DistrictsSum/2021-11-15-Poland-PL_GRedlarski-DistrictsSum-case.csv
  data-processed/RobertWalraven-ESG/2021-11-15-Germany-RobertWalraven-ESG-case.csv
  data-processed/RobertWalraven-ESG/2021-11-15-Germany-RobertWalraven-ESG.csv
  data-processed/RobertWalraven-ESG/2021-11-15-Poland-RobertWalraven-ESG-case.csv
  data-processed/RobertWalraven-ESG/2021-11-15-Poland-RobertWalraven-ESG.csv
  data-processed/SDSC_ISG-TrendModel/2021-11-15-Germany-SDSC_ISG-TrendModel-case.csv
  data-processed/SDSC_ISG-TrendModel/2021-11-15-Germany-SDSC_ISG-TrendModel.csv
  data-processed/SDSC_ISG-TrendModel/2021-11-15-Poland-SDSC_ISG-TrendModel-case.csv
  data-processed/SDSC_ISG-TrendModel/2021-11-15-Poland-SDSC_ISG-TrendModel.csv
  data-processed/UMass-MechBayes/2021-11-14-Germany-UMass-MechBayes.csv
  data-processed/UMass-MechBayes/2021-11-14-Poland-UMass-MechBayes.csv
  data-processed/UNIPV-BayesINGARCHX/2021-11-15-Germany-UNIPV-BayesINGARCHX-case.csv
  data-processed/USyd-OneModelMan/2021-11-15-Germany-USyd-OneModelMan.csv
  data-processed/USyd-OneModelMan/2021-11-15-Poland-USyd-OneModelMan.csv
  data-processed/itwm-dSEIR/2021-11-15-Germany-itwm-dSEIR-case.csv
  data-processed/itwm-dSEIR/2021-11-15-Germany-itwm-dSEIR.csv
Labels: data-submission, automated pr

#1268 Adding reginoal ensembles.
  code/ensemble/included_models/included_models-2021-11-15.csv
  code/ensemble/inverse_wis_weights/inverse_wis_weights-2021-11-15.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-11-15-Germany-KITCOVIDhub-inverse_wis_ensemble-case.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-11-15-Germany-KITCOVIDhub-inverse_wis_ensemble.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-11-15-Poland-KITCOVIDhub-inverse_wis_ensemble-case.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-11-15-Poland-KITCOVIDhub-inverse_wis_ensemble.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-11-15-Germany-KITCOVIDhub-mean_ensemble-case.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-11-15-Germany-KITCOVIDhub-mean_ensemble.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-11-15-Poland-KITCOVIDhub-mean_ensemble-case.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-11-15-Poland-KITCOVIDhub-mean_ensemble.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-11-15-Germany-KITCOVIDhub-median_ensemble-case.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-11-15-Germany-KITCOVIDhub-median_ensemble.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-11-15-Poland-KITCOVIDhub-median_ensemble-case.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-11-15-Poland-KITCOVIDhub-median_ensemble.csv
Labels: other-files-updated, data-submission

#1277 MOCOS 2021-11-22
  data-processed/MOCOS-agent1/2021-11-22-Poland-MOCOS-agent1-case.csv
  data-processed/MOCOS-agent1/2021-11-22-Poland-MOCOS-agent1.csv
Labels: data-submission

#1276 MIT Update
  data-processed/MIT_CovidAnalytics-DELPHI/2021-11-22-Germany-MIT_CovidAnalytics-DELPHI-case.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-11-22-Germany-MIT_CovidAnalytics-DELPHI.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-11-22-Poland-MIT_CovidAnalytics-DELPHI-case.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-11-22-Poland-MIT_CovidAnalytics-DELPHI.csv
Labels: data-submission

#1275 20211122 ICM submission
  data-processed/ICM-agentModel/2021-11-22-Poland-ICM-agentModel-case.csv
  data-processed/ICM-agentModel/2021-11-22-Poland-ICM-agentModel.csv
Labels: data-submission

#1274 Predictions as of 22 November 2021.
  data-processed/FIAS_FZJ-Epi1Ger/2021-11-22-Germany-FIAS_FZJ-Epi1Ger-case.csv
  data-processed/FIAS_FZJ-Epi1Ger/2021-11-22-Germany-FIAS_FZJ-Epi1Ger.csv
Labels: data-submission

#1273 HKUST-DNN_DA 211122 forecast
  data-processed/HKUST-DNN_DA/2021-11-22-Germany-HKUST-DNN_DA-case.csv
Labels: data-submission

#1272 ITWW forecast for 2021-11-22
  data-processed/ITWW-county_repro/2021-11-22-Germany-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2021-11-22-Germany-ITWW-county_repro.csv
  data-processed/ITWW-county_repro/2021-11-22-Poland-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2021-11-22-Poland-ITWW-county_repro.csv
Labels: data-submission

#1271 CovidMetrics-epiBATS (2021-11-22)
  data-processed/CovidMetrics-epiBATS/2021-11-22-Germany-CovidMetrics-epiBATS-case.csv
Labels: data-submission

#1270 USC-SIkJalpha: Add files via upload
  data-processed/USC-SIkJalpha/2021-11-21-Germany-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2021-11-21-Germany-USC-SIkJalpha.csv
  data-processed/USC-SIkJalpha/2021-11-21-Poland-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2021-11-21-Poland-USC-SIkJalpha.csv
Labels: data-submission

#1269 Forecast Upload for Germany
  data-processed/DirkBeckmann-Gompertz/2021-11-22-Germany-DirkBeckmann-Gompertz-case.csv
  data-processed/DirkBeckmann-Gompertz/metadata-DirkBeckmann-Gompertz.txt
Labels: metadata-change, data-submission

#1279 Update baselines
  data-processed/KIT-baseline/2021-11-22-Germany-KIT-baseline-case.csv
  data-processed/KIT-baseline/2021-11-22-Germany-KIT-baseline.csv
  data-processed/KIT-baseline/2021-11-22-Poland-KIT-baseline-case.csv
  data-processed/KIT-baseline/2021-11-22-Poland-KIT-baseline.csv
  data-processed/KIT-extrapolation_baseline/2021-11-22-Germany-KIT-extrapolation_baseline-case.csv
  data-processed/KIT-extrapolation_baseline/2021-11-22-Germany-KIT-extrapolation_baseline.csv
  data-processed/KIT-extrapolation_baseline/2021-11-22-Poland-KIT-extrapolation_baseline-case.csv
  data-processed/KIT-extrapolation_baseline/2021-11-22-Poland-KIT-extrapolation_baseline.csv
  data-processed/KIT-time_series_baseline/2021-11-22-Germany-KIT-time_series_baseline-case.csv
  data-processed/KIT-time_series_baseline/2021-11-22-Germany-KIT-time_series_baseline.csv
  data-processed/KIT-time_series_baseline/2021-11-22-Poland-KIT-time_series_baseline-case.csv
  data-processed/KIT-time_series_baseline/2021-11-22-Poland-KIT-time_series_baseline.csv
Labels: data-submission, automated pr

#1278 Import EU forecasts
  data-processed/EuroCOVIDhub-baseline/2021-11-22-Germany-EuroCOVIDhub-baseline-case.csv
  data-processed/EuroCOVIDhub-baseline/2021-11-22-Germany-EuroCOVIDhub-baseline.csv
  data-processed/EuroCOVIDhub-baseline/2021-11-22-Poland-EuroCOVIDhub-baseline-case.csv
  data-processed/EuroCOVIDhub-baseline/2021-11-22-Poland-EuroCOVIDhub-baseline.csv
Labels: data-submission, automated pr

#1280 Import EU forecasts
  data-processed/BIOCOMSC-Gompertz/2021-11-22-Germany-BIOCOMSC-Gompertz-case.csv
  data-processed/BIOCOMSC-Gompertz/2021-11-22-Germany-BIOCOMSC-Gompertz.csv
  data-processed/BIOCOMSC-Gompertz/2021-11-22-Poland-BIOCOMSC-Gompertz-case.csv
  data-processed/BIOCOMSC-Gompertz/2021-11-22-Poland-BIOCOMSC-Gompertz.csv
  data-processed/EuroCOVIDhub-ensemble/2021-11-22-Germany-EuroCOVIDhub-ensemble-case.csv
  data-processed/EuroCOVIDhub-ensemble/2021-11-22-Germany-EuroCOVIDhub-ensemble.csv
  data-processed/EuroCOVIDhub-ensemble/2021-11-22-Poland-EuroCOVIDhub-ensemble-case.csv
  data-processed/EuroCOVIDhub-ensemble/2021-11-22-Poland-EuroCOVIDhub-ensemble.csv
  data-processed/HZI-AgeExtendedSEIR/2021-11-22-Germany-HZI-AgeExtendedSEIR-case.csv
  data-processed/HZI-AgeExtendedSEIR/2021-11-22-Germany-HZI-AgeExtendedSEIR.csv
  data-processed/IEM_Health-CovidProject/2021-11-22-Germany-IEM_Health-CovidProject-case.csv
  data-processed/IEM_Health-CovidProject/2021-11-22-Germany-IEM_Health-CovidProject.csv
  data-processed/IEM_Health-CovidProject/2021-11-22-Poland-IEM_Health-CovidProject-case.csv
  data-processed/IEM_Health-CovidProject/2021-11-22-Poland-IEM_Health-CovidProject.csv
  data-processed/ILM-EKF/2021-11-22-Germany-ILM-EKF-case.csv
  data-processed/ILM-EKF/2021-11-22-Germany-ILM-EKF.csv
  data-processed/ILM-EKF/2021-11-22-Poland-ILM-EKF-case.csv
  data-processed/ILM-EKF/2021-11-22-Poland-ILM-EKF.csv
  data-processed/Imperial-DeCa/2021-11-22-Germany-Imperial-DeCa.csv
  data-processed/Imperial-DeCa/2021-11-22-Poland-Imperial-DeCa.csv
  data-processed/Imperial-RtI0/2021-11-22-Germany-Imperial-RtI0.csv
  data-processed/Imperial-RtI0/2021-11-22-Poland-Imperial-RtI0.csv
  data-processed/Imperial-sbkp/2021-11-22-Germany-Imperial-sbkp.csv
  data-processed/Imperial-sbkp/2021-11-22-Poland-Imperial-sbkp.csv
  data-processed/JBUD-HMXK/2021-11-21-Germany-JBUD-HMXK-case.csv
  data-processed/JBUD-HMXK/2021-11-21-Germany-JBUD-HMXK.csv
  data-processed/JBUD-HMXK/2021-11-21-Poland-JBUD-HMXK-case.csv
  data-processed/JBUD-HMXK/2021-11-21-Poland-JBUD-HMXK.csv
  data-processed/Karlen-pypm/2021-11-21-Germany-Karlen-pypm-case.csv
  data-processed/Karlen-pypm/2021-11-21-Germany-Karlen-pypm.csv
  data-processed/Karlen-pypm/2021-11-21-Poland-Karlen-pypm-case.csv
  data-processed/Karlen-pypm/2021-11-21-Poland-Karlen-pypm.csv
  data-processed/MUNI-ARIMA/2021-11-22-Germany-MUNI-ARIMA-case.csv
  data-processed/MUNI-ARIMA/2021-11-22-Germany-MUNI-ARIMA.csv
  data-processed/MUNI-ARIMA/2021-11-22-Poland-MUNI-ARIMA-case.csv
  data-processed/MUNI-ARIMA/2021-11-22-Poland-MUNI-ARIMA.csv
  data-processed/MUNI-LaggedRegARIMA/2021-11-22-Germany-MUNI-LaggedRegARIMA.csv
  data-processed/MUNI-LaggedRegARIMA/2021-11-22-Poland-MUNI-LaggedRegARIMA.csv
  data-processed/MUNI-VAR/2021-11-22-Germany-MUNI-VAR-case.csv
  data-processed/MUNI-VAR/2021-11-22-Germany-MUNI-VAR.csv
  data-processed/MUNI-VAR/2021-11-22-Poland-MUNI-VAR-case.csv
  data-processed/MUNI-VAR/2021-11-22-Poland-MUNI-VAR.csv
  data-processed/PL_GRedlarski-DistrictsSum/2021-11-22-Poland-PL_GRedlarski-DistrictsSum-case.csv
  data-processed/RobertWalraven-ESG/2021-11-22-Germany-RobertWalraven-ESG-case.csv
  data-processed/RobertWalraven-ESG/2021-11-22-Germany-RobertWalraven-ESG.csv
  data-processed/RobertWalraven-ESG/2021-11-22-Poland-RobertWalraven-ESG-case.csv
  data-processed/RobertWalraven-ESG/2021-11-22-Poland-RobertWalraven-ESG.csv
  data-processed/SDSC_ISG-TrendModel/2021-11-22-Germany-SDSC_ISG-TrendModel-case.csv
  data-processed/SDSC_ISG-TrendModel/2021-11-22-Germany-SDSC_ISG-TrendModel.csv
  data-processed/SDSC_ISG-TrendModel/2021-11-22-Poland-SDSC_ISG-TrendModel-case.csv
  data-processed/SDSC_ISG-TrendModel/2021-11-22-Poland-SDSC_ISG-TrendModel.csv
  data-processed/UMass-MechBayes/2021-11-21-Germany-UMass-MechBayes.csv
  data-processed/UMass-MechBayes/2021-11-21-Poland-UMass-MechBayes.csv
  data-processed/UNIPV-BayesINGARCHX/2021-11-22-Germany-UNIPV-BayesINGARCHX-case.csv
  data-processed/USyd-OneModelMan/2021-11-22-Germany-USyd-OneModelMan.csv
  data-processed/USyd-OneModelMan/2021-11-22-Poland-USyd-OneModelMan.csv
  data-processed/UVA-Ensemble/2021-11-22-Germany-UVA-Ensemble-case.csv
  data-processed/UVA-Ensemble/2021-11-22-Poland-UVA-Ensemble-case.csv
  data-processed/itwm-dSEIR/2021-11-22-Germany-itwm-dSEIR-case.csv
  data-processed/itwm-dSEIR/2021-11-22-Germany-itwm-dSEIR.csv
Labels: data-submission, automated pr

#1281 Adding regional ensembles.
  code/ensemble/included_models/included_models-2021-11-22.csv
  code/ensemble/inverse_wis_weights/inverse_wis_weights-2021-11-22.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-01-25-Poland-KITCOVIDhub-inverse_wis_ensemble-case.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-11-22-Germany-KITCOVIDhub-inverse_wis_ensemble-case.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-11-22-Germany-KITCOVIDhub-inverse_wis_ensemble.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-11-22-Poland-KITCOVIDhub-inverse_wis_ensemble-case.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-11-22-Poland-KITCOVIDhub-inverse_wis_ensemble.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-11-22-Germany-KITCOVIDhub-mean_ensemble-case.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-11-22-Germany-KITCOVIDhub-mean_ensemble.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-11-22-Poland-KITCOVIDhub-mean_ensemble-case.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-11-22-Poland-KITCOVIDhub-mean_ensemble.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-11-22-Germany-KITCOVIDhub-median_ensemble-case.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-11-22-Germany-KITCOVIDhub-median_ensemble.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-11-22-Poland-KITCOVIDhub-median_ensemble-case.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-11-22-Poland-KITCOVIDhub-median_ensemble.csv
Labels: other-files-updated, data-submission, forecast-updated

#1282 update metafile
  data-processed/DirkBeckmann-Gompertz/metadata-DirkBeckmann-Gompertz.txt
Labels: metadata-change

#1283 2nd Forecast Upload
  data-processed/DirkBeckmann-Gompertz/2021-11-29-Germany-DirkBeckmann-Gompertz-case.csv
Labels: data-submission

#1291 MIT Update
  data-processed/MIT_CovidAnalytics-DELPHI/2021-11-29-Germany-MIT_CovidAnalytics-DELPHI-case.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-11-29-Germany-MIT_CovidAnalytics-DELPHI.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-11-29-Poland-MIT_CovidAnalytics-DELPHI-case.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-11-29-Poland-MIT_CovidAnalytics-DELPHI.csv
Labels: data-submission

#1290 MOCOS 2021-11-29
  data-processed/MOCOS-agent1/2021-11-29-Poland-MOCOS-agent1-case.csv
  data-processed/MOCOS-agent1/2021-11-29-Poland-MOCOS-agent1.csv
Labels: data-submission

#1289 20211129 ICM submission
  data-processed/ICM-agentModel/2021-11-29-Poland-ICM-agentModel-case.csv
  data-processed/ICM-agentModel/2021-11-29-Poland-ICM-agentModel.csv
Labels: data-submission

#1288 New predictions as 29 November 2021.
  data-processed/FIAS_FZJ-Epi1Ger/2021-11-29-Germany-FIAS_FZJ-Epi1Ger-case.csv
  data-processed/FIAS_FZJ-Epi1Ger/2021-11-29-Germany-FIAS_FZJ-Epi1Ger.csv
Labels: data-submission

#1287 ITWW forecast for 2021-11-29
  data-processed/ITWW-county_repro/2021-11-29-Germany-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2021-11-29-Germany-ITWW-county_repro.csv
  data-processed/ITWW-county_repro/2021-11-29-Poland-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2021-11-29-Poland-ITWW-county_repro.csv
Labels: data-submission

#1286 HKUST-DNN_DA 211129 forecast
  data-processed/HKUST-DNN_DA/2021-11-29-Germany-HKUST-DNN_DA-case.csv
Labels: data-submission

#1285 CovidMetrics-epiBATS (2021-11-29)
  2021-11-29-Germany-CovidMetrics-epiBATS-case.csv
  data-processed/CovidMetrics-epiBATS/2021-11-29-Germany-CovidMetrics-epiBATS-case.csv
Labels: other-files-updated, data-submission

#1284 USC-SIkJalpha: Weekly update
  data-processed/USC-SIkJalpha/2021-11-28-Germany-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2021-11-28-Germany-USC-SIkJalpha.csv
  data-processed/USC-SIkJalpha/2021-11-28-Poland-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2021-11-28-Poland-USC-SIkJalpha.csv
Labels: data-submission

#1293 Update baselines
  data-processed/KIT-baseline/2021-11-29-Germany-KIT-baseline-case.csv
  data-processed/KIT-baseline/2021-11-29-Germany-KIT-baseline.csv
  data-processed/KIT-baseline/2021-11-29-Poland-KIT-baseline-case.csv
  data-processed/KIT-baseline/2021-11-29-Poland-KIT-baseline.csv
  data-processed/KIT-extrapolation_baseline/2021-11-29-Germany-KIT-extrapolation_baseline-case.csv
  data-processed/KIT-extrapolation_baseline/2021-11-29-Germany-KIT-extrapolation_baseline.csv
  data-processed/KIT-extrapolation_baseline/2021-11-29-Poland-KIT-extrapolation_baseline-case.csv
  data-processed/KIT-extrapolation_baseline/2021-11-29-Poland-KIT-extrapolation_baseline.csv
  data-processed/KIT-time_series_baseline/2021-11-29-Germany-KIT-time_series_baseline-case.csv
  data-processed/KIT-time_series_baseline/2021-11-29-Germany-KIT-time_series_baseline.csv
  data-processed/KIT-time_series_baseline/2021-11-29-Poland-KIT-time_series_baseline-case.csv
  data-processed/KIT-time_series_baseline/2021-11-29-Poland-KIT-time_series_baseline.csv
Labels: data-submission, automated pr

#1292 Import EU forecasts
  data-processed/EuroCOVIDhub-baseline/2021-11-29-Germany-EuroCOVIDhub-baseline-case.csv
  data-processed/EuroCOVIDhub-baseline/2021-11-29-Germany-EuroCOVIDhub-baseline.csv
  data-processed/EuroCOVIDhub-baseline/2021-11-29-Poland-EuroCOVIDhub-baseline-case.csv
  data-processed/EuroCOVIDhub-baseline/2021-11-29-Poland-EuroCOVIDhub-baseline.csv
Labels: data-submission, automated pr

#1294 Import EU forecasts
  data-processed/BIOCOMSC-Gompertz/2021-11-29-Germany-BIOCOMSC-Gompertz-case.csv
  data-processed/BIOCOMSC-Gompertz/2021-11-29-Germany-BIOCOMSC-Gompertz.csv
  data-processed/BIOCOMSC-Gompertz/2021-11-29-Poland-BIOCOMSC-Gompertz-case.csv
  data-processed/BIOCOMSC-Gompertz/2021-11-29-Poland-BIOCOMSC-Gompertz.csv
  data-processed/EuroCOVIDhub-ensemble/2021-11-29-Germany-EuroCOVIDhub-ensemble-case.csv
  data-processed/EuroCOVIDhub-ensemble/2021-11-29-Germany-EuroCOVIDhub-ensemble.csv
  data-processed/EuroCOVIDhub-ensemble/2021-11-29-Poland-EuroCOVIDhub-ensemble-case.csv
  data-processed/EuroCOVIDhub-ensemble/2021-11-29-Poland-EuroCOVIDhub-ensemble.csv
  data-processed/HZI-AgeExtendedSEIR/2021-11-29-Germany-HZI-AgeExtendedSEIR-case.csv
  data-processed/HZI-AgeExtendedSEIR/2021-11-29-Germany-HZI-AgeExtendedSEIR.csv
  data-processed/IEM_Health-CovidProject/2021-11-29-Germany-IEM_Health-CovidProject-case.csv
  data-processed/IEM_Health-CovidProject/2021-11-29-Germany-IEM_Health-CovidProject.csv
  data-processed/IEM_Health-CovidProject/2021-11-29-Poland-IEM_Health-CovidProject-case.csv
  data-processed/IEM_Health-CovidProject/2021-11-29-Poland-IEM_Health-CovidProject.csv
  data-processed/ILM-EKF/2021-11-29-Germany-ILM-EKF-case.csv
  data-processed/ILM-EKF/2021-11-29-Germany-ILM-EKF.csv
  data-processed/ILM-EKF/2021-11-29-Poland-ILM-EKF-case.csv
  data-processed/ILM-EKF/2021-11-29-Poland-ILM-EKF.csv
  data-processed/Karlen-pypm/2021-11-28-Germany-Karlen-pypm-case.csv
  data-processed/Karlen-pypm/2021-11-28-Germany-Karlen-pypm.csv
  data-processed/Karlen-pypm/2021-11-28-Poland-Karlen-pypm-case.csv
  data-processed/Karlen-pypm/2021-11-28-Poland-Karlen-pypm.csv
  data-processed/MUNI-ARIMA/2021-11-29-Germany-MUNI-ARIMA-case.csv
  data-processed/MUNI-ARIMA/2021-11-29-Germany-MUNI-ARIMA.csv
  data-processed/MUNI-ARIMA/2021-11-29-Poland-MUNI-ARIMA-case.csv
  data-processed/MUNI-ARIMA/2021-11-29-Poland-MUNI-ARIMA.csv
  data-processed/MUNI-LaggedRegARIMA/2021-11-29-Germany-MUNI-LaggedRegARIMA.csv
  data-processed/MUNI-LaggedRegARIMA/2021-11-29-Poland-MUNI-LaggedRegARIMA.csv
  data-processed/MUNI-VAR/2021-11-29-Germany-MUNI-VAR-case.csv
  data-processed/MUNI-VAR/2021-11-29-Germany-MUNI-VAR.csv
  data-processed/MUNI-VAR/2021-11-29-Poland-MUNI-VAR-case.csv
  data-processed/MUNI-VAR/2021-11-29-Poland-MUNI-VAR.csv
  data-processed/PL_GRedlarski-DistrictsSum/2021-11-29-Poland-PL_GRedlarski-DistrictsSum-case.csv
  data-processed/RobertWalraven-ESG/2021-11-29-Germany-RobertWalraven-ESG-case.csv
  data-processed/RobertWalraven-ESG/2021-11-29-Germany-RobertWalraven-ESG.csv
  data-processed/RobertWalraven-ESG/2021-11-29-Poland-RobertWalraven-ESG-case.csv
  data-processed/RobertWalraven-ESG/2021-11-29-Poland-RobertWalraven-ESG.csv
  data-processed/SDSC_ISG-TrendModel/2021-11-29-Germany-SDSC_ISG-TrendModel-case.csv
  data-processed/SDSC_ISG-TrendModel/2021-11-29-Germany-SDSC_ISG-TrendModel.csv
  data-processed/SDSC_ISG-TrendModel/2021-11-29-Poland-SDSC_ISG-TrendModel-case.csv
  data-processed/SDSC_ISG-TrendModel/2021-11-29-Poland-SDSC_ISG-TrendModel.csv
  data-processed/UMass-MechBayes/2021-11-28-Germany-UMass-MechBayes.csv
  data-processed/UMass-MechBayes/2021-11-28-Poland-UMass-MechBayes.csv
  data-processed/UNIPV-BayesINGARCHX/2021-11-29-Germany-UNIPV-BayesINGARCHX-case.csv
  data-processed/USyd-OneModelMan/2021-11-29-Germany-USyd-OneModelMan.csv
  data-processed/USyd-OneModelMan/2021-11-29-Poland-USyd-OneModelMan.csv
  data-processed/UVA-Ensemble/2021-11-29-Germany-UVA-Ensemble-case.csv
  data-processed/UVA-Ensemble/2021-11-29-Poland-UVA-Ensemble-case.csv
  data-processed/epiforecasts-EpiNow2/2021-11-29-Germany-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2021-11-29-Germany-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-EpiNow2/2021-11-29-Poland-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2021-11-29-Poland-epiforecasts-EpiNow2.csv
  data-processed/itwm-dSEIR/2021-11-29-Germany-itwm-dSEIR-case.csv
  data-processed/itwm-dSEIR/2021-11-29-Germany-itwm-dSEIR.csv
Labels: data-submission, automated pr

#1295 Adding regional ensembles.
  code/ensemble/included_models/included_models-2021-11-29.csv
  code/ensemble/inverse_wis_weights/inverse_wis_weights-2021-11-29.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-11-29-Germany-KITCOVIDhub-inverse_wis_ensemble-case.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-11-29-Germany-KITCOVIDhub-inverse_wis_ensemble.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-11-29-Poland-KITCOVIDhub-inverse_wis_ensemble-case.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-11-29-Poland-KITCOVIDhub-inverse_wis_ensemble.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-11-29-Germany-KITCOVIDhub-mean_ensemble-case.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-11-29-Germany-KITCOVIDhub-mean_ensemble.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-11-29-Poland-KITCOVIDhub-mean_ensemble-case.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-11-29-Poland-KITCOVIDhub-mean_ensemble.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-11-29-Germany-KITCOVIDhub-median_ensemble-case.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-11-29-Germany-KITCOVIDhub-median_ensemble.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-11-29-Poland-KITCOVIDhub-median_ensemble-case.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-11-29-Poland-KITCOVIDhub-median_ensemble.csv
Labels: other-files-updated, data-submission
