Repository KITmetricslab/covid19-forecast-hub-de, pull requests merged in 2021-08, with the labels that each got.

#1086 MOCOS 2021-08-02
  data-processed/MOCOS-agent1/2021-08-02-Poland-MOCOS-agent1-case.csv
  data-processed/MOCOS-agent1/2021-08-02-Poland-MOCOS-agent1.csv
Labels: data-submission

#1087 USC-SIkJalpha: Weekly update
  data-processed/USC-SIkJalpha/2021-08-01-Germany-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2021-08-01-Germany-USC-SIkJalpha.csv
  data-processed/USC-SIkJalpha/2021-08-01-Poland-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2021-08-01-Poland-USC-SIkJalpha.csv
Labels: data-submission

#1089 CovidMetrics-epiBATS (2021-08-02)
  data-processed/CovidMetrics-epiBATS/2021-08-02-Germany-CovidMetrics-epiBATS-case.csv
Labels: data-submission

#1090 ITWW forecast for 2021-08-02
  data-processed/ITWW-county_repro/2021-08-02-Germany-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2021-08-02-Germany-ITWW-county_repro.csv
  data-processed/ITWW-county_repro/2021-08-02-Poland-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2021-08-02-Poland-ITWW-county_repro.csv
Labels: data-submission

#1091 Predictions as of 2 August 2021.
  data-processed/FIAS_FZJ-Epi1Ger/2021-08-02-Germany-FIAS_FZJ-Epi1Ger-case.csv
  data-processed/FIAS_FZJ-Epi1Ger/2021-08-02-Germany-FIAS_FZJ-Epi1Ger.csv
Labels: data-submission

#1092 MIT Update
  data-processed/MIT_CovidAnalytics-DELPHI/2021-08-02-Germany-MIT_CovidAnalytics-DELPHI.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-08-02-Poland-MIT_CovidAnalytics-DELPHI.csv
Labels: data-submission

#1094 Update baselines
  data-processed/KIT-baseline/2021-08-02-Germany-KIT-baseline-case.csv
  data-processed/KIT-baseline/2021-08-02-Germany-KIT-baseline.csv
  data-processed/KIT-baseline/2021-08-02-Poland-KIT-baseline-case.csv
  data-processed/KIT-baseline/2021-08-02-Poland-KIT-baseline.csv
  data-processed/KIT-extrapolation_baseline/2021-08-02-Germany-KIT-extrapolation_baseline-case.csv
  data-processed/KIT-extrapolation_baseline/2021-08-02-Germany-KIT-extrapolation_baseline.csv
  data-processed/KIT-extrapolation_baseline/2021-08-02-Poland-KIT-extrapolation_baseline-case.csv
  data-processed/KIT-extrapolation_baseline/2021-08-02-Poland-KIT-extrapolation_baseline.csv
  data-processed/KIT-time_series_baseline/2021-08-02-Germany-KIT-time_series_baseline-case.csv
  data-processed/KIT-time_series_baseline/2021-08-02-Germany-KIT-time_series_baseline.csv
  data-processed/KIT-time_series_baseline/2021-08-02-Poland-KIT-time_series_baseline-case.csv
  data-processed/KIT-time_series_baseline/2021-08-02-Poland-KIT-time_series_baseline.csv
Labels: automated pr, data-submission

#1093 Import EU forecasts
  data-processed/EuroCOVIDhub-baseline/2021-08-02-Germany-EuroCOVIDhub-baseline-case.csv
  data-processed/EuroCOVIDhub-baseline/2021-08-02-Germany-EuroCOVIDhub-baseline.csv
  data-processed/EuroCOVIDhub-baseline/2021-08-02-Poland-EuroCOVIDhub-baseline-case.csv
  data-processed/EuroCOVIDhub-baseline/2021-08-02-Poland-EuroCOVIDhub-baseline.csv
  data-processed/LANL-GrowthRate/2021-08-01-Germany-LANL-GrowthRate-case.csv
  data-processed/LANL-GrowthRate/2021-08-01-Germany-LANL-GrowthRate.csv
  data-processed/LANL-GrowthRate/2021-08-01-Poland-LANL-GrowthRate-case.csv
  data-processed/LANL-GrowthRate/2021-08-01-Poland-LANL-GrowthRate.csv
Labels: automated pr, data-submission

#1095 2021-08-02 - EpiForecast submission
  data-processed/epiforecasts-EpiNow2/2021-08-02-Germany-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2021-08-02-Germany-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-EpiNow2/2021-08-02-Poland-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2021-08-02-Poland-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-EpiNow2_secondary/2021-08-02-Germany-epiforecasts-EpiNow2_secondary.csv
  data-processed/epiforecasts-EpiNow2_secondary/2021-08-02-Poland-epiforecasts-EpiNow2_secondary.csv
Labels: data-submission

#1096 Adding regional ensembles.
  code/ensemble/included_models/included_models-2021-08-02.csv
  code/ensemble/inverse_wis_weights/inverse_wis_weights-2021-08-02.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-08-02-Germany-KITCOVIDhub-inverse_wis_ensemble-case.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-08-02-Germany-KITCOVIDhub-inverse_wis_ensemble.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-08-02-Poland-KITCOVIDhub-inverse_wis_ensemble-case.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-08-02-Poland-KITCOVIDhub-inverse_wis_ensemble.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-08-02-Germany-KITCOVIDhub-mean_ensemble-case.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-08-02-Germany-KITCOVIDhub-mean_ensemble.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-08-02-Poland-KITCOVIDhub-mean_ensemble-case.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-08-02-Poland-KITCOVIDhub-mean_ensemble.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-08-02-Germany-KITCOVIDhub-median_ensemble-case.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-08-02-Germany-KITCOVIDhub-median_ensemble.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-08-02-Poland-KITCOVIDhub-median_ensemble-case.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-08-02-Poland-KITCOVIDhub-median_ensemble.csv
Labels: data-submission, other-files-updated

#1098 Update 2021-08-02-Poland-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-EpiNow2/2021-08-02-Poland-epiforecasts-EpiNow2.csv
Labels: data-submission, forecast-updated

#1105 MIT Update 0809
  data-processed/MIT_CovidAnalytics-DELPHI/2021-08-09-Germany-MIT_CovidAnalytics-DELPHI.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-08-09-Poland-MIT_CovidAnalytics-DELPHI.csv
Labels: data-submission

#1103 New predictions as of 09 August 2021.
  data-processed/FIAS_FZJ-Epi1Ger/2021-08-09-Germany-FIAS_FZJ-Epi1Ger-case.csv
  data-processed/FIAS_FZJ-Epi1Ger/2021-08-09-Germany-FIAS_FZJ-Epi1Ger.csv
Labels: other-files-updated, data-submission

#1102 ITWW forecast for 2021-08-09
  data-processed/ITWW-county_repro/2021-08-09-Germany-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2021-08-09-Germany-ITWW-county_repro.csv
  data-processed/ITWW-county_repro/2021-08-09-Poland-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2021-08-09-Poland-ITWW-county_repro.csv
Labels: data-submission

#1101 CovidMetrics-epiBATS (2021-08-09)
  data-processed/CovidMetrics-epiBATS/2021-08-09-Germany-CovidMetrics-epiBATS-case.csv
Labels: data-submission

#1100 USC-SIkJalpha: Weekly update
  data-processed/USC-SIkJalpha/2021-08-08-Germany-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2021-08-08-Germany-USC-SIkJalpha.csv
  data-processed/USC-SIkJalpha/2021-08-08-Poland-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2021-08-08-Poland-USC-SIkJalpha.csv
Labels: data-submission

#1099 MOCOS 2021-08-09
  data-processed/MOCOS-agent1/2021-08-09-Poland-MOCOS-agent1-case.csv
  data-processed/MOCOS-agent1/2021-08-09-Poland-MOCOS-agent1.csv
Labels: data-submission

#1104 2021-08-09 - EpiForecast submission
  data-processed/epiforecasts-EpiNow2/2021-08-09-Germany-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2021-08-09-Germany-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-EpiNow2/2021-08-09-Poland-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2021-08-09-Poland-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-EpiNow2_secondary/2021-08-09-Germany-epiforecasts-EpiNow2_secondary.csv
  data-processed/epiforecasts-EpiNow2_secondary/2021-08-09-Poland-epiforecasts-EpiNow2_secondary.csv
Labels: data-submission

#1106 Adding regional ensembles.
  code/ensemble/included_models/included_models-2021-08-09.csv
  code/ensemble/inverse_wis_weights/inverse_wis_weights-2021-08-09.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-08-09-Germany-KITCOVIDhub-inverse_wis_ensemble-case.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-08-09-Germany-KITCOVIDhub-inverse_wis_ensemble.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-08-09-Poland-KITCOVIDhub-inverse_wis_ensemble-case.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-08-09-Poland-KITCOVIDhub-inverse_wis_ensemble.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-08-09-Germany-KITCOVIDhub-mean_ensemble-case.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-08-09-Germany-KITCOVIDhub-mean_ensemble.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-08-09-Poland-KITCOVIDhub-mean_ensemble-case.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-08-09-Poland-KITCOVIDhub-mean_ensemble.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-08-09-Germany-KITCOVIDhub-median_ensemble-case.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-08-09-Germany-KITCOVIDhub-median_ensemble.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-08-09-Poland-KITCOVIDhub-median_ensemble-case.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-08-09-Poland-KITCOVIDhub-median_ensemble.csv
Labels: other-files-updated, data-submission

#1108 Update baselines
  data-processed/KIT-baseline/2021-08-09-Germany-KIT-baseline-case.csv
  data-processed/KIT-baseline/2021-08-09-Germany-KIT-baseline.csv
  data-processed/KIT-baseline/2021-08-09-Poland-KIT-baseline-case.csv
  data-processed/KIT-baseline/2021-08-09-Poland-KIT-baseline.csv
  data-processed/KIT-extrapolation_baseline/2021-08-09-Germany-KIT-extrapolation_baseline-case.csv
  data-processed/KIT-extrapolation_baseline/2021-08-09-Germany-KIT-extrapolation_baseline.csv
  data-processed/KIT-extrapolation_baseline/2021-08-09-Poland-KIT-extrapolation_baseline-case.csv
  data-processed/KIT-extrapolation_baseline/2021-08-09-Poland-KIT-extrapolation_baseline.csv
  data-processed/KIT-time_series_baseline/2021-08-09-Germany-KIT-time_series_baseline-case.csv
  data-processed/KIT-time_series_baseline/2021-08-09-Germany-KIT-time_series_baseline.csv
  data-processed/KIT-time_series_baseline/2021-08-09-Poland-KIT-time_series_baseline-case.csv
  data-processed/KIT-time_series_baseline/2021-08-09-Poland-KIT-time_series_baseline.csv
Labels: data-submission, automated pr

#1107 Import EU forecasts
  data-processed/EuroCOVIDhub-baseline/2021-08-09-Germany-EuroCOVIDhub-baseline-case.csv
  data-processed/EuroCOVIDhub-baseline/2021-08-09-Germany-EuroCOVIDhub-baseline.csv
  data-processed/EuroCOVIDhub-baseline/2021-08-09-Poland-EuroCOVIDhub-baseline-case.csv
  data-processed/EuroCOVIDhub-baseline/2021-08-09-Poland-EuroCOVIDhub-baseline.csv
  data-processed/LANL-GrowthRate/2021-08-08-Germany-LANL-GrowthRate-case.csv
  data-processed/LANL-GrowthRate/2021-08-08-Germany-LANL-GrowthRate.csv
  data-processed/LANL-GrowthRate/2021-08-08-Poland-LANL-GrowthRate-case.csv
  data-processed/LANL-GrowthRate/2021-08-08-Poland-LANL-GrowthRate.csv
Labels: data-submission, automated pr

#1110 2021-08-09 ICM submission
  data-processed/ICM-agentModel/2021-08-09-Poland-ICM-agentModel-case.csv
  data-processed/ICM-agentModel/2021-08-09-Poland-ICM-agentModel.csv
Labels: data-submission

#1109 Import EU forecasts
  data-processed/BIOCOMSC-Gompertz/2021-08-09-Germany-BIOCOMSC-Gompertz-case.csv
  data-processed/BIOCOMSC-Gompertz/2021-08-09-Germany-BIOCOMSC-Gompertz.csv
  data-processed/HZI-AgeExtendedSEIR/2021-08-09-Germany-HZI-AgeExtendedSEIR-case.csv
  data-processed/HZI-AgeExtendedSEIR/2021-08-09-Germany-HZI-AgeExtendedSEIR.csv
  data-processed/IEM_Health-CovidProject/2021-08-09-Germany-IEM_Health-CovidProject-case.csv
  data-processed/IEM_Health-CovidProject/2021-08-09-Germany-IEM_Health-CovidProject.csv
  data-processed/IEM_Health-CovidProject/2021-08-09-Poland-IEM_Health-CovidProject-case.csv
  data-processed/IEM_Health-CovidProject/2021-08-09-Poland-IEM_Health-CovidProject.csv
  data-processed/ILM-EKF/2021-08-09-Germany-ILM-EKF-case.csv
  data-processed/ILM-EKF/2021-08-09-Germany-ILM-EKF.csv
  data-processed/ILM-EKF/2021-08-09-Poland-ILM-EKF-case.csv
  data-processed/ILM-EKF/2021-08-09-Poland-ILM-EKF.csv
  data-processed/Imperial-DeCa/2021-08-09-Germany-Imperial-DeCa.csv
  data-processed/Imperial-DeCa/2021-08-09-Poland-Imperial-DeCa.csv
  data-processed/Imperial-RtI0/2021-08-09-Germany-Imperial-RtI0.csv
  data-processed/Imperial-RtI0/2021-08-09-Poland-Imperial-RtI0.csv
  data-processed/Imperial-sbkp/2021-08-09-Germany-Imperial-sbkp.csv
  data-processed/Imperial-sbkp/2021-08-09-Poland-Imperial-sbkp.csv
  data-processed/Karlen-pypm/2021-08-08-Germany-Karlen-pypm-case.csv
  data-processed/Karlen-pypm/2021-08-08-Germany-Karlen-pypm.csv
  data-processed/Karlen-pypm/2021-08-08-Poland-Karlen-pypm-case.csv
  data-processed/Karlen-pypm/2021-08-08-Poland-Karlen-pypm.csv
  data-processed/MUNI-ARIMA/2021-08-09-Germany-MUNI-ARIMA-case.csv
  data-processed/MUNI-ARIMA/2021-08-09-Germany-MUNI-ARIMA.csv
  data-processed/MUNI-ARIMA/2021-08-09-Poland-MUNI-ARIMA-case.csv
  data-processed/MUNI-ARIMA/2021-08-09-Poland-MUNI-ARIMA.csv
  data-processed/PL_GRedlarski-DistrictsSum/2021-08-09-Poland-PL_GRedlarski-DistrictsSum-case.csv
  data-processed/RobertWalraven-ESG/2021-08-09-Germany-RobertWalraven-ESG-case.csv
  data-processed/RobertWalraven-ESG/2021-08-09-Germany-RobertWalraven-ESG.csv
  data-processed/RobertWalraven-ESG/2021-08-09-Poland-RobertWalraven-ESG-case.csv
  data-processed/RobertWalraven-ESG/2021-08-09-Poland-RobertWalraven-ESG.csv
  data-processed/SDSC_ISG-TrendModel/2021-08-09-Germany-SDSC_ISG-TrendModel-case.csv
  data-processed/SDSC_ISG-TrendModel/2021-08-09-Germany-SDSC_ISG-TrendModel.csv
  data-processed/SDSC_ISG-TrendModel/2021-08-09-Poland-SDSC_ISG-TrendModel-case.csv
  data-processed/SDSC_ISG-TrendModel/2021-08-09-Poland-SDSC_ISG-TrendModel.csv
  data-processed/UMass-MechBayes/2021-08-08-Germany-UMass-MechBayes.csv
  data-processed/UMass-MechBayes/2021-08-08-Poland-UMass-MechBayes.csv
  data-processed/UNIPV-BayesINGARCHX/2021-08-09-Germany-UNIPV-BayesINGARCHX-case.csv
  data-processed/USyd-OneModelMan/2021-08-09-Germany-USyd-OneModelMan.csv
  data-processed/USyd-OneModelMan/2021-08-09-Poland-USyd-OneModelMan.csv
  data-processed/UVA-Ensemble/2021-08-09-Germany-UVA-Ensemble-case.csv
  data-processed/UVA-Ensemble/2021-08-09-Poland-UVA-Ensemble-case.csv
  data-processed/epiforecasts-EpiExpert/2021-08-09-Germany-epiforecasts-EpiExpert-case.csv
  data-processed/epiforecasts-EpiExpert/2021-08-09-Germany-epiforecasts-EpiExpert.csv
  data-processed/epiforecasts-EpiExpert/2021-08-09-Poland-epiforecasts-EpiExpert-case.csv
  data-processed/epiforecasts-EpiExpert/2021-08-09-Poland-epiforecasts-EpiExpert.csv
  data-processed/epiforecasts-EpiExpert_Rt/2021-08-09-Germany-epiforecasts-EpiExpert_Rt-case.csv
  data-processed/epiforecasts-EpiExpert_Rt/2021-08-09-Germany-epiforecasts-EpiExpert_Rt.csv
  data-processed/epiforecasts-EpiExpert_Rt/2021-08-09-Poland-epiforecasts-EpiExpert_Rt-case.csv
  data-processed/epiforecasts-EpiExpert_Rt/2021-08-09-Poland-epiforecasts-EpiExpert_Rt.csv
  data-processed/epiforecasts-EpiExpert_direct/2021-08-09-Germany-epiforecasts-EpiExpert_direct-case.csv
  data-processed/epiforecasts-EpiExpert_direct/2021-08-09-Germany-epiforecasts-EpiExpert_direct.csv
  data-processed/epiforecasts-EpiExpert_direct/2021-08-09-Poland-epiforecasts-EpiExpert_direct-case.csv
  data-processed/epiforecasts-EpiExpert_direct/2021-08-09-Poland-epiforecasts-EpiExpert_direct.csv
  data-processed/itwm-dSEIR/2021-08-09-Germany-itwm-dSEIR-case.csv
  data-processed/itwm-dSEIR/2021-08-09-Germany-itwm-dSEIR.csv
Labels: data-submission, automated pr

#1118 MIT Update
  data-processed/MIT_CovidAnalytics-DELPHI/2021-08-16-Germany-MIT_CovidAnalytics-DELPHI-case.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-08-16-Germany-MIT_CovidAnalytics-DELPHI.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-08-16-Poland-MIT_CovidAnalytics-DELPHI-case.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-08-16-Poland-MIT_CovidAnalytics-DELPHI.csv
Labels: data-submission

#1117 MOCOS 2021-08-16
  data-processed/MOCOS-agent1/2021-08-16-Poland-MOCOS-agent1-case.csv
  data-processed/MOCOS-agent1/2021-08-16-Poland-MOCOS-agent1.csv
Labels: data-submission

#1115 2021-08-16 ICM submission
  data-processed/ICM-agentModel/2021-08-16-Poland-ICM-agentModel-case.csv
  data-processed/ICM-agentModel/2021-08-16-Poland-ICM-agentModel.csv
Labels: data-submission

#1114 New predictions as of 16 August 2021
  data-processed/FIAS_FZJ-Epi1Ger/2021-08-16-Germany-FIAS_FZJ-Epi1Ger-case.csv
  data-processed/FIAS_FZJ-Epi1Ger/2021-08-16-Germany-FIAS_FZJ-Epi1Ger.csv
Labels: data-submission

#1113 ITWW forecast for 2021-08-16
  data-processed/ITWW-county_repro/2021-08-16-Germany-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2021-08-16-Germany-ITWW-county_repro.csv
  data-processed/ITWW-county_repro/2021-08-16-Poland-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2021-08-16-Poland-ITWW-county_repro.csv
Labels: data-submission

#1112 CovidMetrics-epiBATS (2021-08-16)
  data-processed/CovidMetrics-epiBATS/2021-08-16-Germany-CovidMetrics-epiBATS-case.csv
Labels: data-submission

#1120 Update baselines
  data-processed/KIT-baseline/2021-08-16-Germany-KIT-baseline-case.csv
  data-processed/KIT-baseline/2021-08-16-Germany-KIT-baseline.csv
  data-processed/KIT-baseline/2021-08-16-Poland-KIT-baseline-case.csv
  data-processed/KIT-baseline/2021-08-16-Poland-KIT-baseline.csv
  data-processed/KIT-extrapolation_baseline/2021-08-16-Germany-KIT-extrapolation_baseline-case.csv
  data-processed/KIT-extrapolation_baseline/2021-08-16-Germany-KIT-extrapolation_baseline.csv
  data-processed/KIT-extrapolation_baseline/2021-08-16-Poland-KIT-extrapolation_baseline-case.csv
  data-processed/KIT-extrapolation_baseline/2021-08-16-Poland-KIT-extrapolation_baseline.csv
  data-processed/KIT-time_series_baseline/2021-08-16-Germany-KIT-time_series_baseline-case.csv
  data-processed/KIT-time_series_baseline/2021-08-16-Germany-KIT-time_series_baseline.csv
  data-processed/KIT-time_series_baseline/2021-08-16-Poland-KIT-time_series_baseline-case.csv
  data-processed/KIT-time_series_baseline/2021-08-16-Poland-KIT-time_series_baseline.csv
Labels: data-submission, automated pr

#1119 Import EU forecasts
  data-processed/EuroCOVIDhub-baseline/2021-08-16-Germany-EuroCOVIDhub-baseline-case.csv
  data-processed/EuroCOVIDhub-baseline/2021-08-16-Germany-EuroCOVIDhub-baseline.csv
  data-processed/EuroCOVIDhub-baseline/2021-08-16-Poland-EuroCOVIDhub-baseline-case.csv
  data-processed/EuroCOVIDhub-baseline/2021-08-16-Poland-EuroCOVIDhub-baseline.csv
  data-processed/LANL-GrowthRate/2021-08-15-Germany-LANL-GrowthRate-case.csv
  data-processed/LANL-GrowthRate/2021-08-15-Germany-LANL-GrowthRate.csv
  data-processed/LANL-GrowthRate/2021-08-15-Poland-LANL-GrowthRate-case.csv
  data-processed/LANL-GrowthRate/2021-08-15-Poland-LANL-GrowthRate.csv
Labels: data-submission, automated pr

#1116 2021-08-16 - EpiForecast submission
  data-processed/epiforecasts-EpiNow2/2021-08-16-Germany-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2021-08-16-Germany-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-EpiNow2/2021-08-16-Poland-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2021-08-16-Poland-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-EpiNow2_secondary/2021-08-16-Germany-epiforecasts-EpiNow2_secondary.csv
  data-processed/epiforecasts-EpiNow2_secondary/2021-08-16-Poland-epiforecasts-EpiNow2_secondary.csv
Labels: data-submission

#1111 Add forecasts from USC-SIkJalpha model
  data-processed/USC-SIkJalpha/2021-08-15-Germany-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2021-08-15-Germany-USC-SIkJalpha.csv
  data-processed/USC-SIkJalpha/2021-08-15-Poland-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2021-08-15-Poland-USC-SIkJalpha.csv
Labels: data-submission

#1121 Import EU forecasts
  data-processed/EuroCOVIDhub-ensemble/2021-08-16-Germany-EuroCOVIDhub-ensemble-case.csv
  data-processed/EuroCOVIDhub-ensemble/2021-08-16-Germany-EuroCOVIDhub-ensemble.csv
  data-processed/EuroCOVIDhub-ensemble/2021-08-16-Poland-EuroCOVIDhub-ensemble-case.csv
  data-processed/EuroCOVIDhub-ensemble/2021-08-16-Poland-EuroCOVIDhub-ensemble.csv
  data-processed/HZI-AgeExtendedSEIR/2021-08-16-Germany-HZI-AgeExtendedSEIR-case.csv
  data-processed/HZI-AgeExtendedSEIR/2021-08-16-Germany-HZI-AgeExtendedSEIR.csv
  data-processed/IEM_Health-CovidProject/2021-08-16-Germany-IEM_Health-CovidProject-case.csv
  data-processed/IEM_Health-CovidProject/2021-08-16-Germany-IEM_Health-CovidProject.csv
  data-processed/IEM_Health-CovidProject/2021-08-16-Poland-IEM_Health-CovidProject-case.csv
  data-processed/IEM_Health-CovidProject/2021-08-16-Poland-IEM_Health-CovidProject.csv
  data-processed/ILM-EKF/2021-08-16-Germany-ILM-EKF-case.csv
  data-processed/ILM-EKF/2021-08-16-Germany-ILM-EKF.csv
  data-processed/ILM-EKF/2021-08-16-Poland-ILM-EKF-case.csv
  data-processed/ILM-EKF/2021-08-16-Poland-ILM-EKF.csv
  data-processed/Imperial-DeCa/2021-08-16-Germany-Imperial-DeCa.csv
  data-processed/Imperial-DeCa/2021-08-16-Poland-Imperial-DeCa.csv
  data-processed/Imperial-RtI0/2021-08-16-Germany-Imperial-RtI0.csv
  data-processed/Imperial-RtI0/2021-08-16-Poland-Imperial-RtI0.csv
  data-processed/Imperial-sbkp/2021-08-16-Germany-Imperial-sbkp.csv
  data-processed/Imperial-sbkp/2021-08-16-Poland-Imperial-sbkp.csv
  data-processed/MUNI-ARIMA/2021-08-16-Germany-MUNI-ARIMA-case.csv
  data-processed/MUNI-ARIMA/2021-08-16-Germany-MUNI-ARIMA.csv
  data-processed/MUNI-ARIMA/2021-08-16-Poland-MUNI-ARIMA-case.csv
  data-processed/MUNI-ARIMA/2021-08-16-Poland-MUNI-ARIMA.csv
  data-processed/PL_GRedlarski-DistrictsSum/2021-08-16-Poland-PL_GRedlarski-DistrictsSum-case.csv
  data-processed/RobertWalraven-ESG/2021-08-16-Germany-RobertWalraven-ESG-case.csv
  data-processed/RobertWalraven-ESG/2021-08-16-Germany-RobertWalraven-ESG.csv
  data-processed/RobertWalraven-ESG/2021-08-16-Poland-RobertWalraven-ESG-case.csv
  data-processed/RobertWalraven-ESG/2021-08-16-Poland-RobertWalraven-ESG.csv
  data-processed/SDSC_ISG-TrendModel/2021-08-16-Germany-SDSC_ISG-TrendModel-case.csv
  data-processed/SDSC_ISG-TrendModel/2021-08-16-Germany-SDSC_ISG-TrendModel.csv
  data-processed/SDSC_ISG-TrendModel/2021-08-16-Poland-SDSC_ISG-TrendModel-case.csv
  data-processed/SDSC_ISG-TrendModel/2021-08-16-Poland-SDSC_ISG-TrendModel.csv
  data-processed/UMass-MechBayes/2021-08-15-Germany-UMass-MechBayes.csv
  data-processed/UMass-MechBayes/2021-08-15-Poland-UMass-MechBayes.csv
  data-processed/UNIPV-BayesINGARCHX/2021-08-16-Germany-UNIPV-BayesINGARCHX-case.csv
  data-processed/USyd-OneModelMan/2021-08-16-Germany-USyd-OneModelMan.csv
  data-processed/USyd-OneModelMan/2021-08-16-Poland-USyd-OneModelMan.csv
  data-processed/UVA-Ensemble/2021-08-16-Germany-UVA-Ensemble-case.csv
  data-processed/UVA-Ensemble/2021-08-16-Poland-UVA-Ensemble-case.csv
  data-processed/epiforecasts-EpiExpert/2021-08-16-Germany-epiforecasts-EpiExpert-case.csv
  data-processed/epiforecasts-EpiExpert/2021-08-16-Germany-epiforecasts-EpiExpert.csv
  data-processed/epiforecasts-EpiExpert/2021-08-16-Poland-epiforecasts-EpiExpert-case.csv
  data-processed/epiforecasts-EpiExpert/2021-08-16-Poland-epiforecasts-EpiExpert.csv
  data-processed/epiforecasts-EpiExpert_Rt/2021-08-16-Germany-epiforecasts-EpiExpert_Rt-case.csv
  data-processed/epiforecasts-EpiExpert_Rt/2021-08-16-Germany-epiforecasts-EpiExpert_Rt.csv
  data-processed/epiforecasts-EpiExpert_direct/2021-08-16-Germany-epiforecasts-EpiExpert_direct-case.csv
  data-processed/epiforecasts-EpiExpert_direct/2021-08-16-Germany-epiforecasts-EpiExpert_direct.csv
  data-processed/epiforecasts-EpiExpert_direct/2021-08-16-Poland-epiforecasts-EpiExpert_direct-case.csv
  data-processed/epiforecasts-EpiExpert_direct/2021-08-16-Poland-epiforecasts-EpiExpert_direct.csv
  data-processed/itwm-dSEIR/2021-08-16-Germany-itwm-dSEIR-case.csv
  data-processed/itwm-dSEIR/2021-08-16-Germany-itwm-dSEIR.csv
Labels: data-submission, automated pr

#1122 Adding regional ensembles.
  code/ensemble/included_models/included_models-2021-08-16.csv
  code/ensemble/inverse_wis_weights/inverse_wis_weights-2021-08-16.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-08-16-Germany-KITCOVIDhub-inverse_wis_ensemble-case.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-08-16-Germany-KITCOVIDhub-inverse_wis_ensemble.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-08-16-Poland-KITCOVIDhub-inverse_wis_ensemble-case.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-08-16-Poland-KITCOVIDhub-inverse_wis_ensemble.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-08-16-Germany-KITCOVIDhub-mean_ensemble-case.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-08-16-Germany-KITCOVIDhub-mean_ensemble.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-08-16-Poland-KITCOVIDhub-mean_ensemble-case.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-08-16-Poland-KITCOVIDhub-mean_ensemble.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-08-16-Germany-KITCOVIDhub-median_ensemble-case.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-08-16-Germany-KITCOVIDhub-median_ensemble.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-08-16-Poland-KITCOVIDhub-median_ensemble-case.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-08-16-Poland-KITCOVIDhub-median_ensemble.csv
Labels: other-files-updated, data-submission

#1129 MOCOS 2021-08-23
  data-processed/MOCOS-agent1/2021-08-23-Poland-MOCOS-agent1-case.csv
  data-processed/MOCOS-agent1/2021-08-23-Poland-MOCOS-agent1.csv
Labels: data-submission

#1128 MIT Update
  data-processed/MIT_CovidAnalytics-DELPHI/2021-08-23-Germany-MIT_CovidAnalytics-DELPHI-case.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-08-23-Germany-MIT_CovidAnalytics-DELPHI.csv
Labels: data-submission

#1127 New predictions as of 23 August 2021
  data-processed/FIAS_FZJ-Epi1Ger/2021-08-23-Germany-FIAS_FZJ-Epi1Ger-case.csv
  data-processed/FIAS_FZJ-Epi1Ger/2021-08-23-Germany-FIAS_FZJ-Epi1Ger.csv
Labels: data-submission

#1126 ITWW forecast for 2021-08-23
  data-processed/ITWW-county_repro/2021-08-23-Germany-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2021-08-23-Germany-ITWW-county_repro.csv
  data-processed/ITWW-county_repro/2021-08-23-Poland-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2021-08-23-Poland-ITWW-county_repro.csv
Labels: data-submission

#1125 CovidMetrics-epiBATS (2021-08-23)
  data-processed/CovidMetrics-epiBATS/2021-08-23-Germany-CovidMetrics-epiBATS-case.csv
Labels: data-submission

#1123 USC_SIkJalpha: Weekly update
  data-processed/USC-SIkJalpha/2021-08-22-Germany-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2021-08-22-Germany-USC-SIkJalpha.csv
  data-processed/USC-SIkJalpha/2021-08-22-Poland-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2021-08-22-Poland-USC-SIkJalpha.csv
Labels: data-submission

#1130 2021-08-23 - EpiForecast submission
  data-processed/epiforecasts-EpiNow2/2021-08-23-Germany-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2021-08-23-Germany-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-EpiNow2/2021-08-23-Poland-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2021-08-23-Poland-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-EpiNow2_secondary/2021-08-23-Germany-epiforecasts-EpiNow2_secondary.csv
  data-processed/epiforecasts-EpiNow2_secondary/2021-08-23-Poland-epiforecasts-EpiNow2_secondary.csv
Labels: data-submission

#1131 Import EU forecasts
  data-processed/EuroCOVIDhub-baseline/2021-08-23-Germany-EuroCOVIDhub-baseline-case.csv
  data-processed/EuroCOVIDhub-baseline/2021-08-23-Germany-EuroCOVIDhub-baseline.csv
  data-processed/EuroCOVIDhub-baseline/2021-08-23-Poland-EuroCOVIDhub-baseline-case.csv
  data-processed/EuroCOVIDhub-baseline/2021-08-23-Poland-EuroCOVIDhub-baseline.csv
Labels: data-submission, automated pr

#1132 Update baselines
  data-processed/KIT-baseline/2021-08-23-Germany-KIT-baseline-case.csv
  data-processed/KIT-baseline/2021-08-23-Germany-KIT-baseline.csv
  data-processed/KIT-baseline/2021-08-23-Poland-KIT-baseline-case.csv
  data-processed/KIT-baseline/2021-08-23-Poland-KIT-baseline.csv
  data-processed/KIT-extrapolation_baseline/2021-08-23-Germany-KIT-extrapolation_baseline-case.csv
  data-processed/KIT-extrapolation_baseline/2021-08-23-Germany-KIT-extrapolation_baseline.csv
  data-processed/KIT-extrapolation_baseline/2021-08-23-Poland-KIT-extrapolation_baseline-case.csv
  data-processed/KIT-extrapolation_baseline/2021-08-23-Poland-KIT-extrapolation_baseline.csv
  data-processed/KIT-time_series_baseline/2021-08-23-Germany-KIT-time_series_baseline-case.csv
  data-processed/KIT-time_series_baseline/2021-08-23-Germany-KIT-time_series_baseline.csv
  data-processed/KIT-time_series_baseline/2021-08-23-Poland-KIT-time_series_baseline-case.csv
  data-processed/KIT-time_series_baseline/2021-08-23-Poland-KIT-time_series_baseline.csv
Labels: data-submission, automated pr

#1133 Adding regional ensembles.
  code/ensemble/included_models/included_models-2021-08-23.csv
  code/ensemble/inverse_wis_weights/inverse_wis_weights-2021-08-23.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-08-23-Germany-KITCOVIDhub-inverse_wis_ensemble-case.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-08-23-Germany-KITCOVIDhub-inverse_wis_ensemble.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-08-23-Poland-KITCOVIDhub-inverse_wis_ensemble-case.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-08-23-Poland-KITCOVIDhub-inverse_wis_ensemble.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-08-23-Germany-KITCOVIDhub-mean_ensemble-case.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-08-23-Germany-KITCOVIDhub-mean_ensemble.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-08-23-Poland-KITCOVIDhub-mean_ensemble-case.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-08-23-Poland-KITCOVIDhub-mean_ensemble.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-08-23-Germany-KITCOVIDhub-median_ensemble-case.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-08-23-Germany-KITCOVIDhub-median_ensemble.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-08-23-Poland-KITCOVIDhub-median_ensemble-case.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-08-23-Poland-KITCOVIDhub-median_ensemble.csv
Labels: other-files-updated, data-submission

#1134 Import EU forecasts
  data-processed/EuroCOVIDhub-ensemble/2021-08-23-Germany-EuroCOVIDhub-ensemble-case.csv
  data-processed/EuroCOVIDhub-ensemble/2021-08-23-Germany-EuroCOVIDhub-ensemble.csv
  data-processed/EuroCOVIDhub-ensemble/2021-08-23-Poland-EuroCOVIDhub-ensemble-case.csv
  data-processed/EuroCOVIDhub-ensemble/2021-08-23-Poland-EuroCOVIDhub-ensemble.csv
  data-processed/HZI-AgeExtendedSEIR/2021-08-23-Germany-HZI-AgeExtendedSEIR-case.csv
  data-processed/HZI-AgeExtendedSEIR/2021-08-23-Germany-HZI-AgeExtendedSEIR.csv
  data-processed/IEM_Health-CovidProject/2021-08-23-Germany-IEM_Health-CovidProject-case.csv
  data-processed/IEM_Health-CovidProject/2021-08-23-Germany-IEM_Health-CovidProject.csv
  data-processed/IEM_Health-CovidProject/2021-08-23-Poland-IEM_Health-CovidProject-case.csv
  data-processed/IEM_Health-CovidProject/2021-08-23-Poland-IEM_Health-CovidProject.csv
  data-processed/ILM-EKF/2021-08-23-Germany-ILM-EKF-case.csv
  data-processed/ILM-EKF/2021-08-23-Germany-ILM-EKF.csv
  data-processed/ILM-EKF/2021-08-23-Poland-ILM-EKF-case.csv
  data-processed/ILM-EKF/2021-08-23-Poland-ILM-EKF.csv
  data-processed/Imperial-DeCa/2021-08-23-Germany-Imperial-DeCa.csv
  data-processed/Imperial-DeCa/2021-08-23-Poland-Imperial-DeCa.csv
  data-processed/Imperial-RtI0/2021-08-23-Germany-Imperial-RtI0.csv
  data-processed/Imperial-RtI0/2021-08-23-Poland-Imperial-RtI0.csv
  data-processed/Imperial-sbkp/2021-08-23-Germany-Imperial-sbkp.csv
  data-processed/Imperial-sbkp/2021-08-23-Poland-Imperial-sbkp.csv
  data-processed/Karlen-pypm/2021-08-22-Germany-Karlen-pypm-case.csv
  data-processed/Karlen-pypm/2021-08-22-Germany-Karlen-pypm.csv
  data-processed/Karlen-pypm/2021-08-22-Poland-Karlen-pypm-case.csv
  data-processed/Karlen-pypm/2021-08-22-Poland-Karlen-pypm.csv
  data-processed/LANL-GrowthRate/2021-08-22-Germany-LANL-GrowthRate-case.csv
  data-processed/LANL-GrowthRate/2021-08-22-Germany-LANL-GrowthRate.csv
  data-processed/LANL-GrowthRate/2021-08-22-Poland-LANL-GrowthRate-case.csv
  data-processed/LANL-GrowthRate/2021-08-22-Poland-LANL-GrowthRate.csv
  data-processed/MUNI-ARIMA/2021-08-23-Germany-MUNI-ARIMA-case.csv
  data-processed/MUNI-ARIMA/2021-08-23-Germany-MUNI-ARIMA.csv
  data-processed/MUNI-ARIMA/2021-08-23-Poland-MUNI-ARIMA-case.csv
  data-processed/MUNI-ARIMA/2021-08-23-Poland-MUNI-ARIMA.csv
  data-processed/PL_GRedlarski-DistrictsSum/2021-08-23-Poland-PL_GRedlarski-DistrictsSum-case.csv
  data-processed/RobertWalraven-ESG/2021-08-23-Germany-RobertWalraven-ESG-case.csv
  data-processed/RobertWalraven-ESG/2021-08-23-Germany-RobertWalraven-ESG.csv
  data-processed/RobertWalraven-ESG/2021-08-23-Poland-RobertWalraven-ESG-case.csv
  data-processed/RobertWalraven-ESG/2021-08-23-Poland-RobertWalraven-ESG.csv
  data-processed/SDSC_ISG-TrendModel/2021-08-23-Germany-SDSC_ISG-TrendModel-case.csv
  data-processed/SDSC_ISG-TrendModel/2021-08-23-Germany-SDSC_ISG-TrendModel.csv
  data-processed/SDSC_ISG-TrendModel/2021-08-23-Poland-SDSC_ISG-TrendModel-case.csv
  data-processed/SDSC_ISG-TrendModel/2021-08-23-Poland-SDSC_ISG-TrendModel.csv
  data-processed/UMass-MechBayes/2021-08-22-Germany-UMass-MechBayes.csv
  data-processed/UMass-MechBayes/2021-08-22-Poland-UMass-MechBayes.csv
  data-processed/UNIPV-BayesINGARCHX/2021-08-23-Germany-UNIPV-BayesINGARCHX-case.csv
  data-processed/USyd-OneModelMan/2021-08-23-Germany-USyd-OneModelMan.csv
  data-processed/USyd-OneModelMan/2021-08-23-Poland-USyd-OneModelMan.csv
  data-processed/UVA-Ensemble/2021-08-23-Germany-UVA-Ensemble-case.csv
  data-processed/UVA-Ensemble/2021-08-23-Poland-UVA-Ensemble-case.csv
  data-processed/epiforecasts-EpiExpert/2021-08-23-Germany-epiforecasts-EpiExpert-case.csv
  data-processed/epiforecasts-EpiExpert/2021-08-23-Germany-epiforecasts-EpiExpert.csv
  data-processed/epiforecasts-EpiExpert/2021-08-23-Poland-epiforecasts-EpiExpert-case.csv
  data-processed/epiforecasts-EpiExpert/2021-08-23-Poland-epiforecasts-EpiExpert.csv
  data-processed/epiforecasts-EpiExpert_Rt/2021-08-23-Germany-epiforecasts-EpiExpert_Rt-case.csv
  data-processed/epiforecasts-EpiExpert_Rt/2021-08-23-Germany-epiforecasts-EpiExpert_Rt.csv
  data-processed/epiforecasts-EpiExpert_Rt/2021-08-23-Poland-epiforecasts-EpiExpert_Rt-case.csv
  data-processed/epiforecasts-EpiExpert_Rt/2021-08-23-Poland-epiforecasts-EpiExpert_Rt.csv
  data-processed/epiforecasts-EpiExpert_direct/2021-08-23-Germany-epiforecasts-EpiExpert_direct-case.csv
  data-processed/epiforecasts-EpiExpert_direct/2021-08-23-Germany-epiforecasts-EpiExpert_direct.csv
  data-processed/itwm-dSEIR/2021-08-23-Germany-itwm-dSEIR-case.csv
  data-processed/itwm-dSEIR/2021-08-23-Germany-itwm-dSEIR.csv
Labels: data-submission, automated pr

#1141 MOCOS 2021-08-30
  data-processed/MOCOS-agent1/2021-08-30-Poland-MOCOS-agent1-case.csv
  data-processed/MOCOS-agent1/2021-08-30-Poland-MOCOS-agent1.csv
Labels: data-submission

#1140 MIT Update
  data-processed/MIT_CovidAnalytics-DELPHI/2021-08-30-Germany-MIT_CovidAnalytics-DELPHI-case.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-08-30-Germany-MIT_CovidAnalytics-DELPHI.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-08-30-Poland-MIT_CovidAnalytics-DELPHI-case.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-08-30-Poland-MIT_CovidAnalytics-DELPHI.csv
Labels: data-submission

#1139 ITWW forecast for 2021-08-30
  data-processed/ITWW-county_repro/2021-08-30-Germany-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2021-08-30-Germany-ITWW-county_repro.csv
  data-processed/ITWW-county_repro/2021-08-30-Poland-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2021-08-30-Poland-ITWW-county_repro.csv
Labels: data-submission

#1138 New predictions as of 30 August 2021
  data-processed/FIAS_FZJ-Epi1Ger/2021-08-30-Germany-FIAS_FZJ-Epi1Ger-case.csv
  data-processed/FIAS_FZJ-Epi1Ger/2021-08-30-Germany-FIAS_FZJ-Epi1Ger.csv
Labels: data-submission

#1136 CovidMetrics-epiBATS (2021-08-30)
  data-processed/CovidMetrics-epiBATS/2021-08-30-Germany-CovidMetrics-epiBATS-case.csv
Labels: data-submission

#1135 USC_SIkJalpha: Weekly update
  data-processed/USC-SIkJalpha/2021-08-29-Germany-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2021-08-29-Germany-USC-SIkJalpha.csv
  data-processed/USC-SIkJalpha/2021-08-29-Poland-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2021-08-29-Poland-USC-SIkJalpha.csv
Labels: data-submission

#1144 Update baselines
  data-processed/KIT-baseline/2021-08-30-Germany-KIT-baseline-case.csv
  data-processed/KIT-baseline/2021-08-30-Germany-KIT-baseline.csv
  data-processed/KIT-baseline/2021-08-30-Poland-KIT-baseline-case.csv
  data-processed/KIT-baseline/2021-08-30-Poland-KIT-baseline.csv
  data-processed/KIT-extrapolation_baseline/2021-08-30-Germany-KIT-extrapolation_baseline-case.csv
  data-processed/KIT-extrapolation_baseline/2021-08-30-Germany-KIT-extrapolation_baseline.csv
  data-processed/KIT-extrapolation_baseline/2021-08-30-Poland-KIT-extrapolation_baseline-case.csv
  data-processed/KIT-extrapolation_baseline/2021-08-30-Poland-KIT-extrapolation_baseline.csv
  data-processed/KIT-time_series_baseline/2021-08-30-Germany-KIT-time_series_baseline-case.csv
  data-processed/KIT-time_series_baseline/2021-08-30-Germany-KIT-time_series_baseline.csv
  data-processed/KIT-time_series_baseline/2021-08-30-Poland-KIT-time_series_baseline-case.csv
  data-processed/KIT-time_series_baseline/2021-08-30-Poland-KIT-time_series_baseline.csv
Labels: data-submission, automated pr

#1143 2021-08-30 - EpiForecast submission
  data-processed/epiforecasts-EpiNow2/2021-08-30-Germany-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2021-08-30-Germany-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-EpiNow2/2021-08-30-Poland-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2021-08-30-Poland-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-EpiNow2_secondary/2021-08-30-Germany-epiforecasts-EpiNow2_secondary.csv
  data-processed/epiforecasts-EpiNow2_secondary/2021-08-30-Poland-epiforecasts-EpiNow2_secondary.csv
Labels: data-submission

#1142 Import EU forecasts
  data-processed/EuroCOVIDhub-baseline/2021-08-30-Germany-EuroCOVIDhub-baseline-case.csv
  data-processed/EuroCOVIDhub-baseline/2021-08-30-Germany-EuroCOVIDhub-baseline.csv
  data-processed/EuroCOVIDhub-baseline/2021-08-30-Poland-EuroCOVIDhub-baseline-case.csv
  data-processed/EuroCOVIDhub-baseline/2021-08-30-Poland-EuroCOVIDhub-baseline.csv
  data-processed/LANL-GrowthRate/2021-08-29-Germany-LANL-GrowthRate-case.csv
  data-processed/LANL-GrowthRate/2021-08-29-Germany-LANL-GrowthRate.csv
  data-processed/LANL-GrowthRate/2021-08-29-Poland-LANL-GrowthRate-case.csv
  data-processed/LANL-GrowthRate/2021-08-29-Poland-LANL-GrowthRate.csv
Labels: data-submission, automated pr
