Repository KITmetricslab/covid19-forecast-hub-de, pull requests merged in 2021-07, with the labels that each got.

#1037 2021-07-05 - EpiForecast submission
  data-processed/epiforecasts-EpiNow2/2021-07-05-Germany-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2021-07-05-Germany-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-EpiNow2/2021-07-05-Poland-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2021-07-05-Poland-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-EpiNow2_secondary/2021-07-05-Germany-epiforecasts-EpiNow2_secondary.csv
  data-processed/epiforecasts-EpiNow2_secondary/2021-07-05-Poland-epiforecasts-EpiNow2_secondary.csv
Labels: data-submission

#1036 MOCOS 2021-07-05
  data-processed/MOCOS-agent1/2021-07-05-Poland-MOCOS-agent1-case.csv
  data-processed/MOCOS-agent1/2021-07-05-Poland-MOCOS-agent1.csv
Labels: data-submission

#1035 05-07 Latest predictions MIMUW
  data-processed/MIMUW-StochSEIR/2021-07-05-Poland-MIMUW-StochSEIR-case.csv
  data-processed/MIMUW-StochSEIR/2021-07-05-Poland-MIMUW-StochSEIR.csv
Labels: data-submission

#1034 Upload 2021-07-04 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2021-07-04-Germany-Karlen-pypm-case.csv
  data-processed/Karlen-pypm/2021-07-04-Germany-Karlen-pypm.csv
Labels: data-submission

#1033 MIT Update 0705
  data-processed/MIT_CovidAnalytics-DELPHI/2021-07-05-Germany-MIT_CovidAnalytics-DELPHI-case.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-07-05-Germany-MIT_CovidAnalytics-DELPHI.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-07-05-Poland-MIT_CovidAnalytics-DELPHI-case.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-07-05-Poland-MIT_CovidAnalytics-DELPHI.csv
Labels: data-submission

#1032 Predictions as of 5 July 2021.
  data-processed/FIAS_FZJ-Epi1Ger/2021-07-05-Germany-FIAS_FZJ-Epi1Ger-case.csv
  data-processed/FIAS_FZJ-Epi1Ger/2021-07-05-Germany-FIAS_FZJ-Epi1Ger.csv
Labels: data-submission

#1031 2021-07-05 ICM submission
  data-processed/ICM-agentModel/2021-07-05-Poland-ICM-agentModel-case.csv
  data-processed/ICM-agentModel/2021-07-05-Poland-ICM-agentModel.csv
Labels: data-submission

#1029 ITWW forecast for 2021-07-05
  data-processed/ITWW-county_repro/2021-07-05-Germany-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2021-07-05-Germany-ITWW-county_repro.csv
  data-processed/ITWW-county_repro/2021-07-05-Poland-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2021-07-05-Poland-ITWW-county_repro.csv
Labels: data-submission

#1028 CovidMetrics-epiBATS (2021-07-05)
  data-processed/CovidMetrics-epiBATS/2021-07-05-Germany-CovidMetrics-epiBATS-case.csv
Labels: data-submission

#1027 USC-SI_kJalpha: Weekly update
  data-processed/USC-SIkJalpha/2021-07-04-Germany-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2021-07-04-Germany-USC-SIkJalpha.csv
  data-processed/USC-SIkJalpha/2021-07-04-Poland-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2021-07-04-Poland-USC-SIkJalpha.csv
Labels: data-submission

#1038 Adding sub-national ensembles.
  code/ensemble/included_models/included_models-2021-07-05.csv
  code/ensemble/inverse_wis_weights/inverse_wis_weights-2021-07-05.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-07-05-Germany-KITCOVIDhub-inverse_wis_ensemble-case.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-07-05-Germany-KITCOVIDhub-inverse_wis_ensemble.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-07-05-Poland-KITCOVIDhub-inverse_wis_ensemble-case.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-07-05-Poland-KITCOVIDhub-inverse_wis_ensemble.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-07-05-Germany-KITCOVIDhub-mean_ensemble-case.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-07-05-Germany-KITCOVIDhub-mean_ensemble.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-07-05-Poland-KITCOVIDhub-mean_ensemble-case.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-07-05-Poland-KITCOVIDhub-mean_ensemble.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-07-05-Germany-KITCOVIDhub-median_ensemble-case.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-07-05-Germany-KITCOVIDhub-median_ensemble.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-07-05-Poland-KITCOVIDhub-median_ensemble-case.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-07-05-Poland-KITCOVIDhub-median_ensemble.csv
Labels: data-submission, other-files-updated

#1039 Update baselines
  data-processed/KIT-baseline/2021-07-05-Germany-KIT-baseline-case.csv
  data-processed/KIT-baseline/2021-07-05-Germany-KIT-baseline.csv
  data-processed/KIT-baseline/2021-07-05-Poland-KIT-baseline-case.csv
  data-processed/KIT-baseline/2021-07-05-Poland-KIT-baseline.csv
  data-processed/KIT-extrapolation_baseline/2021-07-05-Germany-KIT-extrapolation_baseline-case.csv
  data-processed/KIT-extrapolation_baseline/2021-07-05-Germany-KIT-extrapolation_baseline.csv
  data-processed/KIT-extrapolation_baseline/2021-07-05-Poland-KIT-extrapolation_baseline-case.csv
  data-processed/KIT-extrapolation_baseline/2021-07-05-Poland-KIT-extrapolation_baseline.csv
  data-processed/KIT-time_series_baseline/2021-07-05-Germany-KIT-time_series_baseline-case.csv
  data-processed/KIT-time_series_baseline/2021-07-05-Germany-KIT-time_series_baseline.csv
  data-processed/KIT-time_series_baseline/2021-07-05-Poland-KIT-time_series_baseline-case.csv
  data-processed/KIT-time_series_baseline/2021-07-05-Poland-KIT-time_series_baseline.csv
Labels: automated pr, data-submission

#1041 Import EU forecasts
  data-processed/BIOCOMSC-Gompertz/2021-07-05-Germany-BIOCOMSC-Gompertz-case.csv
  data-processed/BIOCOMSC-Gompertz/2021-07-05-Germany-BIOCOMSC-Gompertz.csv
  data-processed/BIOCOMSC-Gompertz/2021-07-05-Poland-BIOCOMSC-Gompertz-case.csv
  data-processed/BIOCOMSC-Gompertz/2021-07-05-Poland-BIOCOMSC-Gompertz.csv
  data-processed/EuroCOVIDhub-ensemble/2021-07-05-Germany-EuroCOVIDhub-ensemble-case.csv
  data-processed/EuroCOVIDhub-ensemble/2021-07-05-Germany-EuroCOVIDhub-ensemble.csv
  data-processed/EuroCOVIDhub-ensemble/2021-07-05-Poland-EuroCOVIDhub-ensemble-case.csv
  data-processed/EuroCOVIDhub-ensemble/2021-07-05-Poland-EuroCOVIDhub-ensemble.csv
  data-processed/HZI-AgeExtendedSEIR/2021-07-05-Germany-HZI-AgeExtendedSEIR-case.csv
  data-processed/HZI-AgeExtendedSEIR/2021-07-05-Germany-HZI-AgeExtendedSEIR.csv
  data-processed/IEM_Health-CovidProject/2021-07-05-Germany-IEM_Health-CovidProject-case.csv
  data-processed/IEM_Health-CovidProject/2021-07-05-Germany-IEM_Health-CovidProject.csv
  data-processed/IEM_Health-CovidProject/2021-07-05-Poland-IEM_Health-CovidProject-case.csv
  data-processed/IEM_Health-CovidProject/2021-07-05-Poland-IEM_Health-CovidProject.csv
  data-processed/ILM-EKF/2021-07-05-Germany-ILM-EKF-case.csv
  data-processed/ILM-EKF/2021-07-05-Germany-ILM-EKF.csv
  data-processed/ILM-EKF/2021-07-05-Poland-ILM-EKF-case.csv
  data-processed/ILM-EKF/2021-07-05-Poland-ILM-EKF.csv
  data-processed/Imperial-DeCa/2021-07-05-Germany-Imperial-DeCa.csv
  data-processed/Imperial-DeCa/2021-07-05-Poland-Imperial-DeCa.csv
  data-processed/Imperial-RtI0/2021-07-05-Germany-Imperial-RtI0.csv
  data-processed/Imperial-RtI0/2021-07-05-Poland-Imperial-RtI0.csv
  data-processed/Imperial-sbkp/2021-07-05-Germany-Imperial-sbkp.csv
  data-processed/Imperial-sbkp/2021-07-05-Poland-Imperial-sbkp.csv
  data-processed/KITmetricslab-bivariate_branching/2021-07-05-Germany-KITmetricslab-bivariate_branching-case.csv
  data-processed/MUNI-ARIMA/2021-07-05-Germany-MUNI-ARIMA-case.csv
  data-processed/MUNI-ARIMA/2021-07-05-Germany-MUNI-ARIMA.csv
  data-processed/MUNI-ARIMA/2021-07-05-Poland-MUNI-ARIMA-case.csv
  data-processed/MUNI-ARIMA/2021-07-05-Poland-MUNI-ARIMA.csv
  data-processed/PL_GRedlarski-DistrictsSum/2021-07-05-Poland-PL_GRedlarski-DistrictsSum-case.csv
  data-processed/RobertWalraven-ESG/2021-07-05-Germany-RobertWalraven-ESG-case.csv
  data-processed/RobertWalraven-ESG/2021-07-05-Germany-RobertWalraven-ESG.csv
  data-processed/RobertWalraven-ESG/2021-07-05-Poland-RobertWalraven-ESG-case.csv
  data-processed/RobertWalraven-ESG/2021-07-05-Poland-RobertWalraven-ESG.csv
  data-processed/SDSC_ISG-TrendModel/2021-07-05-Germany-SDSC_ISG-TrendModel-case.csv
  data-processed/SDSC_ISG-TrendModel/2021-07-05-Germany-SDSC_ISG-TrendModel.csv
  data-processed/SDSC_ISG-TrendModel/2021-07-05-Poland-SDSC_ISG-TrendModel-case.csv
  data-processed/SDSC_ISG-TrendModel/2021-07-05-Poland-SDSC_ISG-TrendModel.csv
  data-processed/UNIPV-BayesINGARCHX/2021-07-05-Germany-UNIPV-BayesINGARCHX-case.csv
  data-processed/USyd-OneModelMan/2021-07-05-Germany-USyd-OneModelMan.csv
  data-processed/USyd-OneModelMan/2021-07-05-Poland-USyd-OneModelMan.csv
  data-processed/UVA-Ensemble/2021-07-05-Germany-UVA-Ensemble-case.csv
  data-processed/UVA-Ensemble/2021-07-05-Poland-UVA-Ensemble-case.csv
  data-processed/epiforecasts-EpiExpert/2021-07-05-Germany-epiforecasts-EpiExpert-case.csv
  data-processed/epiforecasts-EpiExpert/2021-07-05-Germany-epiforecasts-EpiExpert.csv
  data-processed/epiforecasts-EpiExpert/2021-07-05-Poland-epiforecasts-EpiExpert-case.csv
  data-processed/epiforecasts-EpiExpert/2021-07-05-Poland-epiforecasts-EpiExpert.csv
  data-processed/epiforecasts-EpiExpert_Rt/2021-07-05-Germany-epiforecasts-EpiExpert_Rt-case.csv
  data-processed/epiforecasts-EpiExpert_Rt/2021-07-05-Germany-epiforecasts-EpiExpert_Rt.csv
  data-processed/epiforecasts-EpiExpert_Rt/2021-07-05-Poland-epiforecasts-EpiExpert_Rt-case.csv
  data-processed/epiforecasts-EpiExpert_Rt/2021-07-05-Poland-epiforecasts-EpiExpert_Rt.csv
  data-processed/epiforecasts-EpiExpert_direct/2021-07-05-Germany-epiforecasts-EpiExpert_direct-case.csv
  data-processed/epiforecasts-EpiExpert_direct/2021-07-05-Germany-epiforecasts-EpiExpert_direct.csv
  data-processed/epiforecasts-EpiExpert_direct/2021-07-05-Poland-epiforecasts-EpiExpert_direct-case.csv
  data-processed/epiforecasts-EpiExpert_direct/2021-07-05-Poland-epiforecasts-EpiExpert_direct.csv
  data-processed/itwm-dSEIR/2021-07-05-Germany-itwm-dSEIR-case.csv
  data-processed/itwm-dSEIR/2021-07-05-Germany-itwm-dSEIR.csv
Labels: automated pr, data-submission

#1049 mocos
  data-processed/MOCOS-agent1/2021-07-12-Poland-MOCOS-agent1-case.csv
  data-processed/MOCOS-agent1/2021-07-12-Poland-MOCOS-agent1.csv
Labels: data-submission

#1048 12-07 latest predictions
  data-processed/MIMUW-StochSEIR/2021-07-12-Poland-MIMUW-StochSEIR-case.csv
  data-processed/MIMUW-StochSEIR/2021-07-12-Poland-MIMUW-StochSEIR.csv
Labels: data-submission

#1047 MIT Update 0712
  data-processed/MIT_CovidAnalytics-DELPHI/2021-07-12-Germany-MIT_CovidAnalytics-DELPHI-case.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-07-12-Germany-MIT_CovidAnalytics-DELPHI.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-07-12-Poland-MIT_CovidAnalytics-DELPHI-case.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-07-12-Poland-MIT_CovidAnalytics-DELPHI.csv
Labels: data-submission

#1046 Predictions as of 12 July 2021.
  data-processed/FIAS_FZJ-Epi1Ger/2021-07-12-Germany-FIAS_FZJ-Epi1Ger-case.csv
  data-processed/FIAS_FZJ-Epi1Ger/2021-07-12-Germany-FIAS_FZJ-Epi1Ger.csv
Labels: data-submission

#1045 2021-07-12 ICM submission
  data-processed/ICM-agentModel/2021-07-12-Poland-ICM-agentModel-case.csv
  data-processed/ICM-agentModel/2021-07-12-Poland-ICM-agentModel.csv
Labels: data-submission

#1044 ITWW forecast for 2021-07-12
  data-processed/ITWW-county_repro/2021-07-12-Germany-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2021-07-12-Germany-ITWW-county_repro.csv
  data-processed/ITWW-county_repro/2021-07-12-Poland-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2021-07-12-Poland-ITWW-county_repro.csv
Labels: data-submission

#1043 CovidMetrics-epiBATS (2021-07-12)
  data-processed/CovidMetrics-epiBATS/2021-07-12-Germany-CovidMetrics-epiBATS-case.csv
Labels: data-submission

#1051 Update baselines
  data-processed/KIT-baseline/2021-07-12-Germany-KIT-baseline-case.csv
  data-processed/KIT-baseline/2021-07-12-Germany-KIT-baseline.csv
  data-processed/KIT-baseline/2021-07-12-Poland-KIT-baseline-case.csv
  data-processed/KIT-baseline/2021-07-12-Poland-KIT-baseline.csv
  data-processed/KIT-extrapolation_baseline/2021-07-12-Germany-KIT-extrapolation_baseline-case.csv
  data-processed/KIT-extrapolation_baseline/2021-07-12-Germany-KIT-extrapolation_baseline.csv
  data-processed/KIT-extrapolation_baseline/2021-07-12-Poland-KIT-extrapolation_baseline-case.csv
  data-processed/KIT-extrapolation_baseline/2021-07-12-Poland-KIT-extrapolation_baseline.csv
  data-processed/KIT-time_series_baseline/2021-07-12-Germany-KIT-time_series_baseline-case.csv
  data-processed/KIT-time_series_baseline/2021-07-12-Germany-KIT-time_series_baseline.csv
  data-processed/KIT-time_series_baseline/2021-07-12-Poland-KIT-time_series_baseline-case.csv
  data-processed/KIT-time_series_baseline/2021-07-12-Poland-KIT-time_series_baseline.csv
Labels: automated pr, data-submission

#1052 Import EU forecasts
  data-processed/EuroCOVIDhub-baseline/2021-07-12-Germany-EuroCOVIDhub-baseline-case.csv
  data-processed/EuroCOVIDhub-baseline/2021-07-12-Germany-EuroCOVIDhub-baseline.csv
  data-processed/EuroCOVIDhub-baseline/2021-07-12-Poland-EuroCOVIDhub-baseline-case.csv
  data-processed/EuroCOVIDhub-baseline/2021-07-12-Poland-EuroCOVIDhub-baseline.csv
  data-processed/LANL-GrowthRate/2021-07-11-Germany-LANL-GrowthRate-case.csv
  data-processed/LANL-GrowthRate/2021-07-11-Germany-LANL-GrowthRate.csv
  data-processed/LANL-GrowthRate/2021-07-11-Poland-LANL-GrowthRate-case.csv
  data-processed/LANL-GrowthRate/2021-07-11-Poland-LANL-GrowthRate.csv
Labels: automated pr, data-submission

#1050 2021-07-12 - EpiForecast submission
  data-processed/epiforecasts-EpiNow2/2021-07-12-Germany-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2021-07-12-Germany-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-EpiNow2/2021-07-12-Poland-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2021-07-12-Poland-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-EpiNow2_secondary/2021-07-12-Germany-epiforecasts-EpiNow2_secondary.csv
  data-processed/epiforecasts-EpiNow2_secondary/2021-07-12-Poland-epiforecasts-EpiNow2_secondary.csv
Labels: data-submission, forecast-updated

#1042 USC-SIkJalpha: Weekly update
  data-processed/USC-SIkJalpha/2021-07-11-Germany-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2021-07-11-Germany-USC-SIkJalpha.csv
  data-processed/USC-SIkJalpha/2021-07-11-Poland-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2021-07-11-Poland-USC-SIkJalpha.csv
Labels: data-submission, forecast-updated

#1055 Adding subnational ensembles.
  code/ensemble/included_models/included_models-2021-07-12.csv
  code/ensemble/inverse_wis_weights/inverse_wis_weights-2021-07-12.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-07-12-Germany-KITCOVIDhub-inverse_wis_ensemble-case.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-07-12-Germany-KITCOVIDhub-inverse_wis_ensemble.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-07-12-Poland-KITCOVIDhub-inverse_wis_ensemble-case.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-07-12-Poland-KITCOVIDhub-inverse_wis_ensemble.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-07-12-Germany-KITCOVIDhub-mean_ensemble-case.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-07-12-Germany-KITCOVIDhub-mean_ensemble.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-07-12-Poland-KITCOVIDhub-mean_ensemble-case.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-07-12-Poland-KITCOVIDhub-mean_ensemble.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-07-12-Germany-KITCOVIDhub-median_ensemble-case.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-07-12-Germany-KITCOVIDhub-median_ensemble.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-07-12-Poland-KITCOVIDhub-median_ensemble-case.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-07-12-Poland-KITCOVIDhub-median_ensemble.csv
Labels: data-submission, other-files-updated

#1066 MOCOS 2021-07-19
  data-processed/MOCOS-agent1/2021-07-19-Poland-MOCOS-agent1-case.csv
  data-processed/MOCOS-agent1/2021-07-19-Poland-MOCOS-agent1.csv
Labels: data-submission

#1058 CovidMetrics-epiBATS (2021-07-19)
  data-processed/CovidMetrics-epiBATS/2021-07-19-Germany-CovidMetrics-epiBATS-case.csv
Labels: data-submission

#1060 ITWW forecast for 2021-07-19
  data-processed/ITWW-county_repro/2021-07-19-Germany-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2021-07-19-Germany-ITWW-county_repro.csv
  data-processed/ITWW-county_repro/2021-07-19-Poland-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2021-07-19-Poland-ITWW-county_repro.csv
Labels: data-submission

#1063 Update
  data-processed/MIT_CovidAnalytics-DELPHI/2021-07-19-Germany-MIT_CovidAnalytics-DELPHI-case.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-07-19-Germany-MIT_CovidAnalytics-DELPHI.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-07-19-Poland-MIT_CovidAnalytics-DELPHI-case.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-07-19-Poland-MIT_CovidAnalytics-DELPHI.csv
Labels: data-submission

#1062 Predictions as of 19 July 2021.
  data-processed/FIAS_FZJ-Epi1Ger/2021-07-19-Germany-FIAS_FZJ-Epi1Ger-case.csv
  data-processed/FIAS_FZJ-Epi1Ger/2021-07-19-Germany-FIAS_FZJ-Epi1Ger.csv
Labels: data-submission

#1061 2021-07-19 ICM submission
  data-processed/ICM-agentModel/2021-07-19-Poland-ICM-agentModel-case.csv
  data-processed/ICM-agentModel/2021-07-19-Poland-ICM-agentModel.csv
Labels: data-submission

#1068 Update baselines
  data-processed/KIT-baseline/2021-07-19-Germany-KIT-baseline-case.csv
  data-processed/KIT-baseline/2021-07-19-Germany-KIT-baseline.csv
  data-processed/KIT-baseline/2021-07-19-Poland-KIT-baseline-case.csv
  data-processed/KIT-baseline/2021-07-19-Poland-KIT-baseline.csv
  data-processed/KIT-extrapolation_baseline/2021-07-19-Germany-KIT-extrapolation_baseline-case.csv
  data-processed/KIT-extrapolation_baseline/2021-07-19-Germany-KIT-extrapolation_baseline.csv
  data-processed/KIT-extrapolation_baseline/2021-07-19-Poland-KIT-extrapolation_baseline-case.csv
  data-processed/KIT-extrapolation_baseline/2021-07-19-Poland-KIT-extrapolation_baseline.csv
  data-processed/KIT-time_series_baseline/2021-07-19-Germany-KIT-time_series_baseline-case.csv
  data-processed/KIT-time_series_baseline/2021-07-19-Germany-KIT-time_series_baseline.csv
  data-processed/KIT-time_series_baseline/2021-07-19-Poland-KIT-time_series_baseline-case.csv
  data-processed/KIT-time_series_baseline/2021-07-19-Poland-KIT-time_series_baseline.csv
Labels: automated pr, data-submission

#1065 2021-07-19 - EpiForecast submission
  data-processed/epiforecasts-EpiNow2/2021-07-19-Germany-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2021-07-19-Germany-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-EpiNow2/2021-07-19-Poland-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2021-07-19-Poland-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-EpiNow2_secondary/2021-07-19-Germany-epiforecasts-EpiNow2_secondary.csv
  data-processed/epiforecasts-EpiNow2_secondary/2021-07-19-Poland-epiforecasts-EpiNow2_secondary.csv
Labels: data-submission

#1067 Import EU forecasts
  data-processed/EuroCOVIDhub-baseline/2021-07-19-Germany-EuroCOVIDhub-baseline-case.csv
  data-processed/EuroCOVIDhub-baseline/2021-07-19-Germany-EuroCOVIDhub-baseline.csv
  data-processed/EuroCOVIDhub-baseline/2021-07-19-Poland-EuroCOVIDhub-baseline-case.csv
  data-processed/EuroCOVIDhub-baseline/2021-07-19-Poland-EuroCOVIDhub-baseline.csv
  data-processed/LANL-GrowthRate/2021-07-18-Germany-LANL-GrowthRate-case.csv
  data-processed/LANL-GrowthRate/2021-07-18-Germany-LANL-GrowthRate.csv
  data-processed/LANL-GrowthRate/2021-07-18-Poland-LANL-GrowthRate-case.csv
  data-processed/LANL-GrowthRate/2021-07-18-Poland-LANL-GrowthRate.csv
Labels: automated pr, data-submission

#1064 Updating forecasts for USC-SIkJalpha
  data-processed/USC-SIkJalpha/2021-07-19-Germany-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2021-07-19-Germany-USC-SIkJalpha.csv
  data-processed/USC-SIkJalpha/2021-07-19-Poland-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2021-07-19-Poland-USC-SIkJalpha.csv
Labels: data-submission

#1057 USC_SIkJalpha: Weekly update
  data-processed/USC-SIkJalpha/2021-07-18-Germany-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2021-07-18-Germany-USC-SIkJalpha.csv
  data-processed/USC-SIkJalpha/2021-07-18-Poland-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2021-07-18-Poland-USC-SIkJalpha.csv
Labels: data-submission

#1069 Import EU forecasts
  data-processed/BIOCOMSC-Gompertz/2021-07-19-Germany-BIOCOMSC-Gompertz-case.csv
  data-processed/BIOCOMSC-Gompertz/2021-07-19-Germany-BIOCOMSC-Gompertz.csv
  data-processed/BIOCOMSC-Gompertz/2021-07-19-Poland-BIOCOMSC-Gompertz-case.csv
  data-processed/BIOCOMSC-Gompertz/2021-07-19-Poland-BIOCOMSC-Gompertz.csv
  data-processed/HZI-AgeExtendedSEIR/2021-07-19-Germany-HZI-AgeExtendedSEIR-case.csv
  data-processed/HZI-AgeExtendedSEIR/2021-07-19-Germany-HZI-AgeExtendedSEIR.csv
  data-processed/IEM_Health-CovidProject/2021-07-19-Germany-IEM_Health-CovidProject-case.csv
  data-processed/IEM_Health-CovidProject/2021-07-19-Germany-IEM_Health-CovidProject.csv
  data-processed/IEM_Health-CovidProject/2021-07-19-Poland-IEM_Health-CovidProject-case.csv
  data-processed/IEM_Health-CovidProject/2021-07-19-Poland-IEM_Health-CovidProject.csv
  data-processed/ILM-EKF/2021-07-19-Germany-ILM-EKF-case.csv
  data-processed/ILM-EKF/2021-07-19-Germany-ILM-EKF.csv
  data-processed/ILM-EKF/2021-07-19-Poland-ILM-EKF-case.csv
  data-processed/ILM-EKF/2021-07-19-Poland-ILM-EKF.csv
  data-processed/Imperial-DeCa/2021-07-19-Germany-Imperial-DeCa.csv
  data-processed/Imperial-DeCa/2021-07-19-Poland-Imperial-DeCa.csv
  data-processed/Imperial-RtI0/2021-07-19-Germany-Imperial-RtI0.csv
  data-processed/Imperial-RtI0/2021-07-19-Poland-Imperial-RtI0.csv
  data-processed/Imperial-sbkp/2021-07-19-Germany-Imperial-sbkp.csv
  data-processed/Imperial-sbkp/2021-07-19-Poland-Imperial-sbkp.csv
  data-processed/Karlen-pypm/2021-07-18-Germany-Karlen-pypm-case.csv
  data-processed/Karlen-pypm/2021-07-18-Germany-Karlen-pypm.csv
  data-processed/Karlen-pypm/2021-07-18-Poland-Karlen-pypm-case.csv
  data-processed/Karlen-pypm/2021-07-18-Poland-Karlen-pypm.csv
  data-processed/MUNI-ARIMA/2021-07-19-Germany-MUNI-ARIMA-case.csv
  data-processed/MUNI-ARIMA/2021-07-19-Germany-MUNI-ARIMA.csv
  data-processed/MUNI-ARIMA/2021-07-19-Poland-MUNI-ARIMA-case.csv
  data-processed/MUNI-ARIMA/2021-07-19-Poland-MUNI-ARIMA.csv
  data-processed/PL_GRedlarski-DistrictsSum/2021-07-19-Poland-PL_GRedlarski-DistrictsSum-case.csv
  data-processed/RobertWalraven-ESG/2021-07-19-Germany-RobertWalraven-ESG-case.csv
  data-processed/RobertWalraven-ESG/2021-07-19-Germany-RobertWalraven-ESG.csv
  data-processed/RobertWalraven-ESG/2021-07-19-Poland-RobertWalraven-ESG-case.csv
  data-processed/RobertWalraven-ESG/2021-07-19-Poland-RobertWalraven-ESG.csv
  data-processed/SDSC_ISG-TrendModel/2021-07-19-Germany-SDSC_ISG-TrendModel-case.csv
  data-processed/SDSC_ISG-TrendModel/2021-07-19-Germany-SDSC_ISG-TrendModel.csv
  data-processed/SDSC_ISG-TrendModel/2021-07-19-Poland-SDSC_ISG-TrendModel-case.csv
  data-processed/SDSC_ISG-TrendModel/2021-07-19-Poland-SDSC_ISG-TrendModel.csv
  data-processed/UMass-MechBayes/2021-07-18-Germany-UMass-MechBayes.csv
  data-processed/UMass-MechBayes/2021-07-18-Poland-UMass-MechBayes.csv
  data-processed/UNIPV-BayesINGARCHX/2021-07-19-Germany-UNIPV-BayesINGARCHX-case.csv
  data-processed/USyd-OneModelMan/2021-07-19-Germany-USyd-OneModelMan.csv
  data-processed/USyd-OneModelMan/2021-07-19-Poland-USyd-OneModelMan.csv
  data-processed/UVA-Ensemble/2021-07-19-Germany-UVA-Ensemble-case.csv
  data-processed/UVA-Ensemble/2021-07-19-Poland-UVA-Ensemble-case.csv
  data-processed/epiforecasts-EpiExpert/2021-07-19-Germany-epiforecasts-EpiExpert-case.csv
  data-processed/epiforecasts-EpiExpert/2021-07-19-Germany-epiforecasts-EpiExpert.csv
  data-processed/epiforecasts-EpiExpert/2021-07-19-Poland-epiforecasts-EpiExpert-case.csv
  data-processed/epiforecasts-EpiExpert/2021-07-19-Poland-epiforecasts-EpiExpert.csv
  data-processed/epiforecasts-EpiExpert_Rt/2021-07-19-Germany-epiforecasts-EpiExpert_Rt-case.csv
  data-processed/epiforecasts-EpiExpert_Rt/2021-07-19-Germany-epiforecasts-EpiExpert_Rt.csv
  data-processed/epiforecasts-EpiExpert_Rt/2021-07-19-Poland-epiforecasts-EpiExpert_Rt-case.csv
  data-processed/epiforecasts-EpiExpert_Rt/2021-07-19-Poland-epiforecasts-EpiExpert_Rt.csv
  data-processed/epiforecasts-EpiExpert_direct/2021-07-19-Germany-epiforecasts-EpiExpert_direct-case.csv
  data-processed/epiforecasts-EpiExpert_direct/2021-07-19-Germany-epiforecasts-EpiExpert_direct.csv
  data-processed/epiforecasts-EpiExpert_direct/2021-07-19-Poland-epiforecasts-EpiExpert_direct-case.csv
  data-processed/epiforecasts-EpiExpert_direct/2021-07-19-Poland-epiforecasts-EpiExpert_direct.csv
  data-processed/itwm-dSEIR/2021-07-19-Germany-itwm-dSEIR-case.csv
  data-processed/itwm-dSEIR/2021-07-19-Germany-itwm-dSEIR.csv
Labels: automated pr, data-submission

#1070 Adding regional ensembles.
  code/ensemble/included_models/included_models-2021-07-19.csv
  code/ensemble/inverse_wis_weights/inverse_wis_weights-2021-07-19.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-07-19-Germany-KITCOVIDhub-inverse_wis_ensemble-case.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-07-19-Germany-KITCOVIDhub-inverse_wis_ensemble.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-07-19-Poland-KITCOVIDhub-inverse_wis_ensemble-case.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-07-19-Poland-KITCOVIDhub-inverse_wis_ensemble.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-07-19-Germany-KITCOVIDhub-mean_ensemble-case.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-07-19-Germany-KITCOVIDhub-mean_ensemble.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-07-19-Poland-KITCOVIDhub-mean_ensemble-case.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-07-19-Poland-KITCOVIDhub-mean_ensemble.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-07-19-Germany-KITCOVIDhub-median_ensemble-case.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-07-19-Germany-KITCOVIDhub-median_ensemble.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-07-19-Poland-KITCOVIDhub-median_ensemble-case.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-07-19-Poland-KITCOVIDhub-median_ensemble.csv
Labels: data-submission, other-files-updated

#1071 Import EU forecasts
  data-processed/EuroCOVIDhub-ensemble/2021-07-19-Germany-EuroCOVIDhub-ensemble-case.csv
  data-processed/EuroCOVIDhub-ensemble/2021-07-19-Germany-EuroCOVIDhub-ensemble.csv
  data-processed/EuroCOVIDhub-ensemble/2021-07-19-Poland-EuroCOVIDhub-ensemble-case.csv
  data-processed/EuroCOVIDhub-ensemble/2021-07-19-Poland-EuroCOVIDhub-ensemble.csv
Labels: automated pr, data-submission

#1079 ITWW forecast for 2021-07-26
  data-processed/ITWW-county_repro/2021-07-26-Germany-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2021-07-26-Germany-ITWW-county_repro.csv
  data-processed/ITWW-county_repro/2021-07-26-Poland-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2021-07-26-Poland-ITWW-county_repro.csv
Labels: data-submission

#1078 2021-07-26 - EpiForecast submission
  data-processed/epiforecasts-EpiNow2/2021-07-26-Germany-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2021-07-26-Germany-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-EpiNow2/2021-07-26-Poland-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2021-07-26-Poland-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-EpiNow2_secondary/2021-07-26-Germany-epiforecasts-EpiNow2_secondary.csv
  data-processed/epiforecasts-EpiNow2_secondary/2021-07-26-Poland-epiforecasts-EpiNow2_secondary.csv
Labels: data-submission

#1077 MOCOS 2021-07-26
  data-processed/MOCOS-agent1/2021-07-26-Poland-MOCOS-agent1-case.csv
  data-processed/MOCOS-agent1/2021-07-26-Poland-MOCOS-agent1.csv
Labels: data-submission

#1076 Update
  data-processed/MIT_CovidAnalytics-DELPHI/2021-07-25-Germany-MIT_CovidAnalytics-DELPHI.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-07-25-Poland-MIT_CovidAnalytics-DELPHI.csv
Labels: data-submission

#1075 Predictions as of 26 July 2021.
  data-processed/FIAS_FZJ-Epi1Ger/2021-07-26-Germany-FIAS_FZJ-Epi1Ger-case.csv
  data-processed/FIAS_FZJ-Epi1Ger/2021-07-26-Germany-FIAS_FZJ-Epi1Ger.csv
Labels: data-submission

#1074 26-07-21 ICM submission
  data-processed/ICM-agentModel/2021-07-26-Poland-ICM-agentModel-case.csv
  data-processed/ICM-agentModel/2021-07-26-Poland-ICM-agentModel.csv
Labels: data-submission

#1073 CovidMetrics-epiBATS (2021-07-26)
  data-processed/CovidMetrics-epiBATS/2021-07-26-Germany-CovidMetrics-epiBATS-case.csv
Labels: data-submission

#1082 correcting date in FIAS file.
  data-processed/FIAS_FZJ-Epi1Ger/2021-07-26-Germany-FIAS_FZJ-Epi1Ger.csv
Labels: data-submission, forecast-updated

#1081 Update baselines
  data-processed/KIT-baseline/2021-07-26-Germany-KIT-baseline-case.csv
  data-processed/KIT-baseline/2021-07-26-Germany-KIT-baseline.csv
  data-processed/KIT-baseline/2021-07-26-Poland-KIT-baseline-case.csv
  data-processed/KIT-baseline/2021-07-26-Poland-KIT-baseline.csv
  data-processed/KIT-extrapolation_baseline/2021-07-26-Germany-KIT-extrapolation_baseline-case.csv
  data-processed/KIT-extrapolation_baseline/2021-07-26-Germany-KIT-extrapolation_baseline.csv
  data-processed/KIT-extrapolation_baseline/2021-07-26-Poland-KIT-extrapolation_baseline-case.csv
  data-processed/KIT-extrapolation_baseline/2021-07-26-Poland-KIT-extrapolation_baseline.csv
  data-processed/KIT-time_series_baseline/2021-07-26-Germany-KIT-time_series_baseline-case.csv
  data-processed/KIT-time_series_baseline/2021-07-26-Germany-KIT-time_series_baseline.csv
  data-processed/KIT-time_series_baseline/2021-07-26-Poland-KIT-time_series_baseline-case.csv
  data-processed/KIT-time_series_baseline/2021-07-26-Poland-KIT-time_series_baseline.csv
Labels: automated pr, data-submission

#1072 USC-SIkJalpha: Weekly update
  data-processed/USC-SIkJalpha/2021-07-25-Germany-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2021-07-25-Germany-USC-SIkJalpha.csv
  data-processed/USC-SIkJalpha/2021-07-25-Poland-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2021-07-25-Poland-USC-SIkJalpha.csv
Labels: data-submission

#1083 Adding reional ensembles.
  code/ensemble/included_models/included_models-2021-07-26.csv
  code/ensemble/inverse_wis_weights/inverse_wis_weights-2021-07-26.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-07-26-Germany-KITCOVIDhub-inverse_wis_ensemble-case.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-07-26-Germany-KITCOVIDhub-inverse_wis_ensemble.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-07-26-Poland-KITCOVIDhub-inverse_wis_ensemble-case.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-07-26-Poland-KITCOVIDhub-inverse_wis_ensemble.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-07-26-Germany-KITCOVIDhub-mean_ensemble-case.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-07-26-Germany-KITCOVIDhub-mean_ensemble.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-07-26-Poland-KITCOVIDhub-mean_ensemble-case.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-07-26-Poland-KITCOVIDhub-mean_ensemble.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-07-26-Germany-KITCOVIDhub-median_ensemble-case.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-07-26-Germany-KITCOVIDhub-median_ensemble.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-07-26-Poland-KITCOVIDhub-median_ensemble-case.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-07-26-Poland-KITCOVIDhub-median_ensemble.csv
Labels: data-submission, other-files-updated
