Repository KITmetricslab/covid19-forecast-hub-de, pull requests merged in 2021-10, with the labels that each got.

#1198 MOCOS 2021-10-04
  data-processed/MOCOS-agent1/2021-10-04-Poland-MOCOS-agent1-case.csv
  data-processed/MOCOS-agent1/2021-10-04-Poland-MOCOS-agent1.csv
Labels: data-submission

#1197 MIT Update Germany + Poland Forecast
  data-processed/MIT_CovidAnalytics-DELPHI/2021-10-04-Germany-MIT_CovidAnalytics-DELPHI-case.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-10-04-Germany-MIT_CovidAnalytics-DELPHI.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-10-04-Poland-MIT_CovidAnalytics-DELPHI-case.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-10-04-Poland-MIT_CovidAnalytics-DELPHI.csv
Labels: data-submission

#1196 New predictions as of 04 October 2021.
  data-processed/FIAS_FZJ-Epi1Ger/2021-10-04-Germany-FIAS_FZJ-Epi1Ger-case.csv
  data-processed/FIAS_FZJ-Epi1Ger/2021-10-04-Germany-FIAS_FZJ-Epi1Ger.csv
Labels: data-submission

#1195 2021-10-04 ICM submission
  data-processed/ICM-agentModel/2021-10-04-Poland-ICM-agentModel-case.csv
  data-processed/ICM-agentModel/2021-10-04-Poland-ICM-agentModel.csv
Labels: data-submission

#1194 CovidMetrics-epiBATS (2021-10-04)
  data-processed/CovidMetrics-epiBATS/2021-10-04-Germany-CovidMetrics-epiBATS-case.csv
Labels: data-submission

#1193 USC-SIkJalpha: Weekly update
  data-processed/USC-SIkJalpha/2021-10-03-Germany-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2021-10-03-Germany-USC-SIkJalpha.csv
  data-processed/USC-SIkJalpha/2021-10-03-Poland-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2021-10-03-Poland-USC-SIkJalpha.csv
Labels: data-submission

#1199 ITWW forecast for 2021-10-04
  data-processed/ITWW-county_repro/2021-10-04-Germany-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2021-10-04-Germany-ITWW-county_repro.csv
  data-processed/ITWW-county_repro/2021-10-04-Poland-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2021-10-04-Poland-ITWW-county_repro.csv
Labels: data-submission

#1201 2021-10-04 - EpiForecast submission
  data-processed/epiforecasts-EpiNow2/2021-10-04-Germany-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2021-10-04-Germany-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-EpiNow2/2021-10-04-Poland-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2021-10-04-Poland-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-EpiNow2_secondary/2021-10-04-Germany-epiforecasts-EpiNow2_secondary.csv
  data-processed/epiforecasts-EpiNow2_secondary/2021-10-04-Poland-epiforecasts-EpiNow2_secondary.csv
Labels: data-submission

#1200 Import EU forecasts
  data-processed/EuroCOVIDhub-baseline/2021-10-04-Germany-EuroCOVIDhub-baseline-case.csv
  data-processed/EuroCOVIDhub-baseline/2021-10-04-Germany-EuroCOVIDhub-baseline.csv
  data-processed/EuroCOVIDhub-baseline/2021-10-04-Poland-EuroCOVIDhub-baseline-case.csv
  data-processed/EuroCOVIDhub-baseline/2021-10-04-Poland-EuroCOVIDhub-baseline.csv
Labels: data-submission, automated pr

#1202 Adding regional ensembles.
  code/ensemble/included_models/included_models-2021-10-04.csv
  code/ensemble/inverse_wis_weights/inverse_wis_weights-2021-10-04.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-10-04-Germany-KITCOVIDhub-inverse_wis_ensemble-case.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-10-04-Germany-KITCOVIDhub-inverse_wis_ensemble.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-10-04-Poland-KITCOVIDhub-inverse_wis_ensemble-case.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-10-04-Poland-KITCOVIDhub-inverse_wis_ensemble.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-10-04-Germany-KITCOVIDhub-mean_ensemble-case.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-10-04-Germany-KITCOVIDhub-mean_ensemble.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-10-04-Poland-KITCOVIDhub-mean_ensemble-case.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-10-04-Poland-KITCOVIDhub-mean_ensemble.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-10-04-Germany-KITCOVIDhub-median_ensemble-case.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-10-04-Germany-KITCOVIDhub-median_ensemble.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-10-04-Poland-KITCOVIDhub-median_ensemble-case.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-10-04-Poland-KITCOVIDhub-median_ensemble.csv
Labels: other-files-updated, data-submission

#1203 Import EU forecasts
  data-processed/BIOCOMSC-Gompertz/2021-10-04-Germany-BIOCOMSC-Gompertz-case.csv
  data-processed/BIOCOMSC-Gompertz/2021-10-04-Germany-BIOCOMSC-Gompertz.csv
  data-processed/BIOCOMSC-Gompertz/2021-10-04-Poland-BIOCOMSC-Gompertz-case.csv
  data-processed/BIOCOMSC-Gompertz/2021-10-04-Poland-BIOCOMSC-Gompertz.csv
  data-processed/EuroCOVIDhub-ensemble/2021-10-04-Germany-EuroCOVIDhub-ensemble-case.csv
  data-processed/EuroCOVIDhub-ensemble/2021-10-04-Germany-EuroCOVIDhub-ensemble.csv
  data-processed/EuroCOVIDhub-ensemble/2021-10-04-Poland-EuroCOVIDhub-ensemble-case.csv
  data-processed/EuroCOVIDhub-ensemble/2021-10-04-Poland-EuroCOVIDhub-ensemble.csv
  data-processed/HZI-AgeExtendedSEIR/2021-10-04-Germany-HZI-AgeExtendedSEIR-case.csv
  data-processed/HZI-AgeExtendedSEIR/2021-10-04-Germany-HZI-AgeExtendedSEIR.csv
  data-processed/IEM_Health-CovidProject/2021-10-04-Germany-IEM_Health-CovidProject-case.csv
  data-processed/IEM_Health-CovidProject/2021-10-04-Germany-IEM_Health-CovidProject.csv
  data-processed/IEM_Health-CovidProject/2021-10-04-Poland-IEM_Health-CovidProject-case.csv
  data-processed/IEM_Health-CovidProject/2021-10-04-Poland-IEM_Health-CovidProject.csv
  data-processed/ILM-EKF/2021-10-04-Germany-ILM-EKF-case.csv
  data-processed/ILM-EKF/2021-10-04-Germany-ILM-EKF.csv
  data-processed/ILM-EKF/2021-10-04-Poland-ILM-EKF-case.csv
  data-processed/ILM-EKF/2021-10-04-Poland-ILM-EKF.csv
  data-processed/Karlen-pypm/2021-10-03-Germany-Karlen-pypm-case.csv
  data-processed/Karlen-pypm/2021-10-03-Germany-Karlen-pypm.csv
  data-processed/Karlen-pypm/2021-10-03-Poland-Karlen-pypm-case.csv
  data-processed/Karlen-pypm/2021-10-03-Poland-Karlen-pypm.csv
  data-processed/MUNI-ARIMA/2021-10-04-Germany-MUNI-ARIMA-case.csv
  data-processed/MUNI-ARIMA/2021-10-04-Germany-MUNI-ARIMA.csv
  data-processed/MUNI-ARIMA/2021-10-04-Poland-MUNI-ARIMA-case.csv
  data-processed/MUNI-ARIMA/2021-10-04-Poland-MUNI-ARIMA.csv
  data-processed/PL_GRedlarski-DistrictsSum/2021-10-04-Poland-PL_GRedlarski-DistrictsSum-case.csv
  data-processed/RobertWalraven-ESG/2021-10-04-Germany-RobertWalraven-ESG-case.csv
  data-processed/RobertWalraven-ESG/2021-10-04-Germany-RobertWalraven-ESG.csv
  data-processed/RobertWalraven-ESG/2021-10-04-Poland-RobertWalraven-ESG-case.csv
  data-processed/RobertWalraven-ESG/2021-10-04-Poland-RobertWalraven-ESG.csv
  data-processed/SDSC_ISG-TrendModel/2021-10-04-Germany-SDSC_ISG-TrendModel-case.csv
  data-processed/SDSC_ISG-TrendModel/2021-10-04-Germany-SDSC_ISG-TrendModel.csv
  data-processed/SDSC_ISG-TrendModel/2021-10-04-Poland-SDSC_ISG-TrendModel-case.csv
  data-processed/SDSC_ISG-TrendModel/2021-10-04-Poland-SDSC_ISG-TrendModel.csv
  data-processed/UMass-MechBayes/2021-10-03-Germany-UMass-MechBayes.csv
  data-processed/UMass-MechBayes/2021-10-03-Poland-UMass-MechBayes.csv
  data-processed/UNIPV-BayesINGARCHX/2021-10-04-Germany-UNIPV-BayesINGARCHX-case.csv
  data-processed/USyd-OneModelMan/2021-10-04-Germany-USyd-OneModelMan.csv
  data-processed/USyd-OneModelMan/2021-10-04-Poland-USyd-OneModelMan.csv
  data-processed/UVA-Ensemble/2021-10-04-Germany-UVA-Ensemble-case.csv
  data-processed/UVA-Ensemble/2021-10-04-Poland-UVA-Ensemble-case.csv
  data-processed/itwm-dSEIR/2021-10-04-Germany-itwm-dSEIR-case.csv
  data-processed/itwm-dSEIR/2021-10-04-Germany-itwm-dSEIR.csv
Labels: data-submission, automated pr

#1208 Predictions as of 11 October 2021.
  data-processed/FIAS_FZJ-Epi1Ger/2021-10-11-Germany-FIAS_FZJ-Epi1Ger-case.csv
  data-processed/FIAS_FZJ-Epi1Ger/2021-10-11-Germany-FIAS_FZJ-Epi1Ger.csv
Labels: data-submission

#1221 MIT Update
  data-processed/MIT_CovidAnalytics-DELPHI/2021-10-18-Germany-MIT_CovidAnalytics-DELPHI-case.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-10-18-Germany-MIT_CovidAnalytics-DELPHI.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-10-18-Poland-MIT_CovidAnalytics-DELPHI-case.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-10-18-Poland-MIT_CovidAnalytics-DELPHI.csv
Labels: data-submission, forecast-updated

#1220 Predictions as of 18 October 2021.
  data-processed/FIAS_FZJ-Epi1Ger/2021-10-18-Germany-FIAS_FZJ-Epi1Ger-case.csv
  data-processed/FIAS_FZJ-Epi1Ger/2021-10-18-Germany-FIAS_FZJ-Epi1Ger.csv
Labels: data-submission

#1218 ITWW forecast for 2021-10-18
  data-processed/ITWW-county_repro/2021-10-18-Germany-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2021-10-18-Germany-ITWW-county_repro.csv
  data-processed/ITWW-county_repro/2021-10-18-Poland-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2021-10-18-Poland-ITWW-county_repro.csv
Labels: data-submission

#1216 CovidMetrics-epiBATS (2021-10-18)
  data-processed/CovidMetrics-epiBATS/2021-10-18-Germany-CovidMetrics-epiBATS-case.csv
Labels: data-submission

#1215 USC-SIkJalpha: Add files via upload
  data-processed/USC-SIkJalpha/2021-10-17-Germany-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2021-10-17-Germany-USC-SIkJalpha.csv
  data-processed/USC-SIkJalpha/2021-10-17-Poland-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2021-10-17-Poland-USC-SIkJalpha.csv
Labels: data-submission

#1226 Import EU forecasts
  data-processed/BIOCOMSC-Gompertz/2021-10-18-Germany-BIOCOMSC-Gompertz-case.csv
  data-processed/BIOCOMSC-Gompertz/2021-10-18-Germany-BIOCOMSC-Gompertz.csv
  data-processed/EuroCOVIDhub-ensemble/2021-10-18-Germany-EuroCOVIDhub-ensemble-case.csv
  data-processed/EuroCOVIDhub-ensemble/2021-10-18-Germany-EuroCOVIDhub-ensemble.csv
  data-processed/EuroCOVIDhub-ensemble/2021-10-18-Poland-EuroCOVIDhub-ensemble-case.csv
  data-processed/EuroCOVIDhub-ensemble/2021-10-18-Poland-EuroCOVIDhub-ensemble.csv
  data-processed/HZI-AgeExtendedSEIR/2021-10-18-Germany-HZI-AgeExtendedSEIR-case.csv
  data-processed/HZI-AgeExtendedSEIR/2021-10-18-Germany-HZI-AgeExtendedSEIR.csv
  data-processed/IEM_Health-CovidProject/2021-10-18-Germany-IEM_Health-CovidProject-case.csv
  data-processed/IEM_Health-CovidProject/2021-10-18-Germany-IEM_Health-CovidProject.csv
  data-processed/IEM_Health-CovidProject/2021-10-18-Poland-IEM_Health-CovidProject-case.csv
  data-processed/IEM_Health-CovidProject/2021-10-18-Poland-IEM_Health-CovidProject.csv
  data-processed/ILM-EKF/2021-10-18-Germany-ILM-EKF-case.csv
  data-processed/ILM-EKF/2021-10-18-Germany-ILM-EKF.csv
  data-processed/ILM-EKF/2021-10-18-Poland-ILM-EKF-case.csv
  data-processed/ILM-EKF/2021-10-18-Poland-ILM-EKF.csv
  data-processed/Imperial-DeCa/2021-10-18-Germany-Imperial-DeCa.csv
  data-processed/Imperial-DeCa/2021-10-18-Poland-Imperial-DeCa.csv
  data-processed/Imperial-RtI0/2021-10-18-Germany-Imperial-RtI0.csv
  data-processed/Imperial-RtI0/2021-10-18-Poland-Imperial-RtI0.csv
  data-processed/Imperial-sbkp/2021-10-18-Germany-Imperial-sbkp.csv
  data-processed/Imperial-sbkp/2021-10-18-Poland-Imperial-sbkp.csv
  data-processed/Karlen-pypm/2021-10-17-Germany-Karlen-pypm-case.csv
  data-processed/Karlen-pypm/2021-10-17-Germany-Karlen-pypm.csv
  data-processed/Karlen-pypm/2021-10-17-Poland-Karlen-pypm-case.csv
  data-processed/Karlen-pypm/2021-10-17-Poland-Karlen-pypm.csv
  data-processed/MUNI-ARIMA/2021-10-18-Germany-MUNI-ARIMA-case.csv
  data-processed/MUNI-ARIMA/2021-10-18-Germany-MUNI-ARIMA.csv
  data-processed/MUNI-ARIMA/2021-10-18-Poland-MUNI-ARIMA-case.csv
  data-processed/MUNI-ARIMA/2021-10-18-Poland-MUNI-ARIMA.csv
  data-processed/PL_GRedlarski-DistrictsSum/2021-10-18-Poland-PL_GRedlarski-DistrictsSum-case.csv
  data-processed/RobertWalraven-ESG/2021-10-18-Germany-RobertWalraven-ESG-case.csv
  data-processed/RobertWalraven-ESG/2021-10-18-Germany-RobertWalraven-ESG.csv
  data-processed/RobertWalraven-ESG/2021-10-18-Poland-RobertWalraven-ESG-case.csv
  data-processed/RobertWalraven-ESG/2021-10-18-Poland-RobertWalraven-ESG.csv
  data-processed/SDSC_ISG-TrendModel/2021-10-18-Germany-SDSC_ISG-TrendModel-case.csv
  data-processed/SDSC_ISG-TrendModel/2021-10-18-Germany-SDSC_ISG-TrendModel.csv
  data-processed/SDSC_ISG-TrendModel/2021-10-18-Poland-SDSC_ISG-TrendModel-case.csv
  data-processed/SDSC_ISG-TrendModel/2021-10-18-Poland-SDSC_ISG-TrendModel.csv
  data-processed/UMass-MechBayes/2021-10-17-Germany-UMass-MechBayes.csv
  data-processed/UMass-MechBayes/2021-10-17-Poland-UMass-MechBayes.csv
  data-processed/UNIPV-BayesINGARCHX/2021-10-18-Germany-UNIPV-BayesINGARCHX-case.csv
  data-processed/USyd-OneModelMan/2021-10-18-Germany-USyd-OneModelMan.csv
  data-processed/USyd-OneModelMan/2021-10-18-Poland-USyd-OneModelMan.csv
  data-processed/UVA-Ensemble/2021-10-18-Germany-UVA-Ensemble-case.csv
  data-processed/UVA-Ensemble/2021-10-18-Poland-UVA-Ensemble-case.csv
  data-processed/itwm-dSEIR/2021-10-18-Germany-itwm-dSEIR-case.csv
  data-processed/itwm-dSEIR/2021-10-18-Germany-itwm-dSEIR.csv
Labels: data-submission, automated pr
