Repository KITmetricslab/covid19-forecast-hub-de, pull requests merged in 2021-03, with the labels that each got.

#717 USC-SI_kJalpha: Weekly update
  data-processed/USC-SIkJalpha/2021-02-28-Germany-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2021-02-28-Germany-USC-SIkJalpha.csv
  data-processed/USC-SIkJalpha/2021-02-28-Poland-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2021-02-28-Poland-USC-SIkJalpha.csv
Labels: data-submission

#720 ITWW forecast for 2021-03-01
  data-processed/ITWW-county_repro/2021-03-01-Germany-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2021-03-01-Germany-ITWW-county_repro.csv
  data-processed/ITWW-county_repro/2021-03-01-Poland-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2021-03-01-Poland-ITWW-county_repro.csv
Labels: data-submission

#721 New predictions as of 1 March 2021.
  data-processed/FIAS_FZJ-Epi1Ger/2021-03-01-Germany-FIAS_FZJ-Epi1Ger-case.csv
  data-processed/FIAS_FZJ-Epi1Ger/2021-03-01-Germany-FIAS_FZJ-Epi1Ger.csv
Labels: data-submission

#723 MIT Update
  data-processed/MIT_CovidAnalytics-DELPHI/2021-03-02-Germany-MIT_CovidAnalytics-DELPHI-case.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-03-02-Germany-MIT_CovidAnalytics-DELPHI.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-03-02-Poland-MIT_CovidAnalytics-DELPHI-case.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-03-02-Poland-MIT_CovidAnalytics-DELPHI.csv
Labels: data-submission

#722 Upload 2021-02-28 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2021-02-28-Germany-Karlen-pypm-case.csv
  data-processed/Karlen-pypm/2021-02-28-Germany-Karlen-pypm.csv
  data-processed/Karlen-pypm/metadata-Karlen-pypm.txt
Labels: data-submission, metadata-change

#726 Correcting MIT
  data-processed/IHME-CurveFit/2021-02-25-Germany-IHME-CurveFit.csv
  data-processed/IHME-CurveFit/2021-02-25-Poland-IHME-CurveFit.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-03-01-Germany-MIT_CovidAnalytics-DELPHI-case.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-03-01-Germany-MIT_CovidAnalytics-DELPHI.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-03-01-Poland-MIT_CovidAnalytics-DELPHI-case.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-03-01-Poland-MIT_CovidAnalytics-DELPHI.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-03-02-Germany-MIT_CovidAnalytics-DELPHI-case.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-03-02-Germany-MIT_CovidAnalytics-DELPHI.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-03-02-Poland-MIT_CovidAnalytics-DELPHI-case.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-03-02-Poland-MIT_CovidAnalytics-DELPHI.csv
Labels: data-submission, forecast-deleted, forecast-updated

#728 Latest predictions from MIMUW
  data-processed/MIMUW-StochSEIR/2021-03-01-Poland-MIMUW-StochSEIR-case.csv
  data-processed/MIMUW-StochSEIR/2021-03-01-Poland-MIMUW-StochSEIR.csv
Labels: data-submission

#727 Mocos/2021 03 01
  data-processed/MOCOS-agent1/2021-03-01-Poland-MOCOS-agent1-case.csv
  data-processed/MOCOS-agent1/2021-03-01-Poland-MOCOS-agent1.csv
Labels: data-submission

#730 2021-03-01 - EpiForecast submission
  data-processed/epiforecasts-EpiExpert/2021-03-01-Germany-epiforecasts-EpiExpert-case.csv
  data-processed/epiforecasts-EpiExpert/2021-03-01-Germany-epiforecasts-EpiExpert.csv
  data-processed/epiforecasts-EpiExpert/2021-03-01-Poland-epiforecasts-EpiExpert-case.csv
  data-processed/epiforecasts-EpiExpert/2021-03-01-Poland-epiforecasts-EpiExpert.csv
  data-processed/epiforecasts-EpiExpert_Rt/2021-03-01-Germany-epiforecasts-EpiExpert_Rt-case.csv
  data-processed/epiforecasts-EpiExpert_Rt/2021-03-01-Germany-epiforecasts-EpiExpert_Rt.csv
  data-processed/epiforecasts-EpiExpert_Rt/2021-03-01-Poland-epiforecasts-EpiExpert_Rt-case.csv
  data-processed/epiforecasts-EpiExpert_Rt/2021-03-01-Poland-epiforecasts-EpiExpert_Rt.csv
  data-processed/epiforecasts-EpiNow2/2021-03-01-Germany-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2021-03-01-Germany-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-EpiNow2/2021-03-01-Poland-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2021-03-01-Poland-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-EpiNow2_secondary/2021-03-01-Germany-epiforecasts-EpiNow2_secondary.csv
  data-processed/epiforecasts-EpiNow2_secondary/2021-03-01-Poland-epiforecasts-EpiNow2_secondary.csv
Labels: data-submission

#731 Adding baselines
  data-processed/KIT-baseline/2021-03-01-Germany-KIT-baseline-case.csv
  data-processed/KIT-baseline/2021-03-01-Germany-KIT-baseline.csv
  data-processed/KIT-baseline/2021-03-01-Poland-KIT-baseline-case.csv
  data-processed/KIT-baseline/2021-03-01-Poland-KIT-baseline.csv
  data-processed/KIT-extrapolation_baseline/2021-03-01-Germany-KIT-extrapolation_baseline-case.csv
  data-processed/KIT-extrapolation_baseline/2021-03-01-Germany-KIT-extrapolation_baseline.csv
  data-processed/KIT-extrapolation_baseline/2021-03-01-Poland-KIT-extrapolation_baseline-case.csv
  data-processed/KIT-extrapolation_baseline/2021-03-01-Poland-KIT-extrapolation_baseline.csv
  data-processed/KIT-time_series_baseline/2021-03-01-Germany-KIT-time_series_baseline-case.csv
  data-processed/KIT-time_series_baseline/2021-03-01-Germany-KIT-time_series_baseline.csv
  data-processed/KIT-time_series_baseline/2021-03-01-Poland-KIT-time_series_baseline-case.csv
  data-processed/KIT-time_series_baseline/2021-03-01-Poland-KIT-time_series_baseline.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-03-01-Germany-KITCOVIDhub-inverse_wis_ensemble-case.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-03-01-Germany-KITCOVIDhub-inverse_wis_ensemble.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-03-01-Poland-KITCOVIDhub-inverse_wis_ensemble-case.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-03-01-Poland-KITCOVIDhub-inverse_wis_ensemble.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-03-01-Germany-KITCOVIDhub-mean_ensemble-case.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-03-01-Germany-KITCOVIDhub-mean_ensemble.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-03-01-Poland-KITCOVIDhub-mean_ensemble-case.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-03-01-Poland-KITCOVIDhub-mean_ensemble.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-03-01-Germany-KITCOVIDhub-median_ensemble-case.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-03-01-Germany-KITCOVIDhub-median_ensemble.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-03-01-Poland-KITCOVIDhub-median_ensemble-case.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-03-01-Poland-KITCOVIDhub-median_ensemble.csv
Labels: data-submission

#732 Forecast Death/Case/ICU for Saxony and Germany LeipzigIMISE-SECIR on 2021-03-01
  data-processed/LeipzigIMISE-SECIR/2021-03-01-Germany-LeipzigIMISE-SECIR-ICU.csv
  data-processed/LeipzigIMISE-SECIR/2021-03-01-Germany-LeipzigIMISE-SECIR-case.csv
  data-processed/LeipzigIMISE-SECIR/2021-03-01-Germany-LeipzigIMISE-SECIR.csv
  data-processed/LeipzigIMISE-SECIR/metadata-LeipzigIMISE_SECIR.txt
Labels: data-submission, other-files-updated

#736 Predictions as of 8 March 2021
  data-processed/FIAS_FZJ-Epi1Ger/2021-03-08-Germany-FIAS_FZJ-Epi1Ger-case.csv
  data-processed/FIAS_FZJ-Epi1Ger/2021-03-08-Germany-FIAS_FZJ-Epi1Ger.csv
Labels: data-submission

#735 adds forecast week 10
  data-processed/itwm-dSEIR/2021-03-08-Germany-itwm-dSEIR-case.csv
  data-processed/itwm-dSEIR/2021-03-08-Germany-itwm-dSEIR.csv
Labels: data-submission

#737 Update USC-SIkJalpha forecasts after rerunning
  data-processed/USC-SIkJalpha/2021-03-08-Germany-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2021-03-08-Germany-USC-SIkJalpha.csv
  data-processed/USC-SIkJalpha/2021-03-08-Poland-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2021-03-08-Poland-USC-SIkJalpha.csv
Labels: data-submission

#741 Mocos/2021 03 08
  data-processed/MOCOS-agent1/2021-03-08-Poland-MOCOS-agent1-case.csv
  data-processed/MOCOS-agent1/2021-03-08-Poland-MOCOS-agent1.csv
Labels: data-submission

#740 Latest predictions - MIMUW
  data-processed/MIMUW-StochSEIR/2021-03-08-Poland-MIMUW-StochSEIR-case.csv
  data-processed/MIMUW-StochSEIR/2021-03-08-Poland-MIMUW-StochSEIR.csv
Labels: data-submission

#739 2021-03-08 ICM submission
  data-processed/ICM-agentModel/2021-03-08-Poland-ICM-agentModel-case.csv
  data-processed/ICM-agentModel/2021-03-08-Poland-ICM-agentModel.csv
Labels: data-submission

#738 ITWW forecast for 2021-03-08
  data-processed/ITWW-county_repro/2021-03-08-Germany-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2021-03-08-Germany-ITWW-county_repro.csv
  data-processed/ITWW-county_repro/2021-03-08-Poland-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2021-03-08-Poland-ITWW-county_repro.csv
Labels: data-submission

#742 MIT Update
  data-processed/MIT_CovidAnalytics-DELPHI/2021-03-08-Germany-MIT_CovidAnalytics-DELPHI-case.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-03-08-Germany-MIT_CovidAnalytics-DELPHI.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-03-08-Poland-MIT_CovidAnalytics-DELPHI-case.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-03-08-Poland-MIT_CovidAnalytics-DELPHI.csv
Labels: data-submission

#743 Upload 2021-03-07 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2021-03-07-Germany-Karlen-pypm-case.csv
  data-processed/Karlen-pypm/2021-03-07-Germany-Karlen-pypm.csv
Labels: data-submission

#747 EpiExpert update
  data-processed/epiforecasts-EpiExpert/2021-03-08-Germany-epiforecasts-EpiExpert-case.csv
  data-processed/epiforecasts-EpiExpert/2021-03-08-Germany-epiforecasts-EpiExpert.csv
  data-processed/epiforecasts-EpiExpert/2021-03-08-Poland-epiforecasts-EpiExpert-case.csv
  data-processed/epiforecasts-EpiExpert/2021-03-08-Poland-epiforecasts-EpiExpert.csv
  data-processed/epiforecasts-EpiExpert_Rt/2021-03-08-Germany-epiforecasts-EpiExpert_Rt-case.csv
  data-processed/epiforecasts-EpiExpert_Rt/2021-03-08-Germany-epiforecasts-EpiExpert_Rt.csv
  data-processed/epiforecasts-EpiExpert_Rt/2021-03-08-Poland-epiforecasts-EpiExpert_Rt-case.csv
  data-processed/epiforecasts-EpiExpert_Rt/2021-03-08-Poland-epiforecasts-EpiExpert_Rt.csv
  data-processed/epiforecasts-EpiNow2/2021-03-08-Germany-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2021-03-08-Germany-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-EpiNow2/2021-03-08-Poland-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2021-03-08-Poland-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-EpiNow2_secondary/2021-03-08-Germany-epiforecasts-EpiNow2_secondary.csv
  data-processed/epiforecasts-EpiNow2_secondary/2021-03-08-Poland-epiforecasts-EpiNow2_secondary.csv
Labels: data-submission

#748 Adding ensembles.
  code/ensemble/included_models/included_models-2021-02-22.csv
  code/ensemble/included_models/included_models-2021-03-01.csv
  code/ensemble/included_models/included_models-2021-03-08.csv
  code/ensemble/inverse_wis_weights/inverse_wis_weights-2021-02-22.csv
  code/ensemble/inverse_wis_weights/inverse_wis_weights-2021-03-01.csv
  code/ensemble/inverse_wis_weights/inverse_wis_weights-2021-03-08.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-03-08-Germany-KITCOVIDhub-inverse_wis_ensemble-case.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-03-08-Germany-KITCOVIDhub-inverse_wis_ensemble.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-03-08-Poland-KITCOVIDhub-inverse_wis_ensemble-case.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-03-08-Poland-KITCOVIDhub-inverse_wis_ensemble.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-03-08-Germany-KITCOVIDhub-mean_ensemble-case.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-03-08-Germany-KITCOVIDhub-mean_ensemble.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-03-08-Poland-KITCOVIDhub-mean_ensemble-case.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-03-08-Poland-KITCOVIDhub-mean_ensemble.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-03-08-Germany-KITCOVIDhub-median_ensemble-case.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-03-08-Germany-KITCOVIDhub-median_ensemble.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-03-08-Poland-KITCOVIDhub-median_ensemble-case.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-03-08-Poland-KITCOVIDhub-median_ensemble.csv
Labels: data-submission, other-files-updated

#749 IHME forecast update
  data-processed/IHME-CurveFit/2021-03-06-Germany-IHME-CurveFit.csv
  data-processed/IHME-CurveFit/2021-03-06-Poland-IHME-CurveFit.csv
  data-raw/IHME/2021_03_06/IHME_COVID_19_Data_Release_Information_Sheet.pdf
  data-raw/IHME/2021_03_06/Summary_stats_all_locs.csv
Labels: added-raw-data, data-submission

#750 Data for Saxony and Thuringia was missing.
  data-processed/FIAS_FZJ-Epi1Ger/2021-03-08-Germany-FIAS_FZJ-Epi1Ger-case.csv
Labels: data-submission, forecast-updated

#751 # Forecast Death/Case/ICU for Saxony & Germany LeipzigIMISE-SECIR on 2021-03-08
  data-processed/LeipzigIMISE-SECIR/2021-03-08-Germany-LeipzigIMISE-SECIR-ICU.csv
  data-processed/LeipzigIMISE-SECIR/2021-03-08-Germany-LeipzigIMISE-SECIR-case.csv
  data-processed/LeipzigIMISE-SECIR/2021-03-08-Germany-LeipzigIMISE-SECIR.csv
Labels: data-submission

#756 2020-03-15 ICM submission
  data-processed/ICM-agentModel/2021-03-15-Poland-ICM-agentModel-case.csv
  data-processed/ICM-agentModel/2021-03-15-Poland-ICM-agentModel.csv
Labels: data-submission

#755 ITWW forecast for 2021-03-15
  data-processed/ITWW-county_repro/2021-03-15-Germany-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2021-03-15-Germany-ITWW-county_repro.csv
  data-processed/ITWW-county_repro/2021-03-15-Poland-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2021-03-15-Poland-ITWW-county_repro.csv
Labels: data-submission

#754 New predictions as of 15 March 2021.
  data-processed/FIAS_FZJ-Epi1Ger/2021-03-15-Germany-FIAS_FZJ-Epi1Ger-case.csv
  data-processed/FIAS_FZJ-Epi1Ger/2021-03-15-Germany-FIAS_FZJ-Epi1Ger.csv
Labels: data-submission

#753 adds forecast week 11
  data-processed/itwm-dSEIR/2021-03-15-Germany-itwm-dSEIR-case.csv
  data-processed/itwm-dSEIR/2021-03-15-Germany-itwm-dSEIR.csv
Labels: data-submission

#752 USC-SI_kJalpha: Weekly update
  data-processed/USC-SIkJalpha/2021-03-14-Germany-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2021-03-14-Germany-USC-SIkJalpha.csv
  data-processed/USC-SIkJalpha/2021-03-14-Poland-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2021-03-14-Poland-USC-SIkJalpha.csv
Labels: data-submission

#757 MIT Update
  data-processed/MIT_CovidAnalytics-DELPHI/2021-03-15-Germany-MIT_CovidAnalytics-DELPHI-case.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-03-15-Germany-MIT_CovidAnalytics-DELPHI.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-03-15-Poland-MIT_CovidAnalytics-DELPHI-case.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-03-15-Poland-MIT_CovidAnalytics-DELPHI.csv
Labels: data-submission

#759 Mocos/2021 03 15
  data-processed/MOCOS-agent1/2021-03-15-Poland-MOCOS-agent1-case.csv
  data-processed/MOCOS-agent1/2021-03-15-Poland-MOCOS-agent1.csv
Labels: data-submission

#758 Upload 2021-03-14 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2021-03-14-Germany-Karlen-pypm-case.csv
  data-processed/Karlen-pypm/2021-03-14-Germany-Karlen-pypm.csv
Labels: data-submission

#762 IHME forecast update
  data-processed/IHME-CurveFit/2021-03-11-Germany-IHME-CurveFit.csv
  data-processed/IHME-CurveFit/2021-03-11-Poland-IHME-CurveFit.csv
  data-raw/IHME/2021_03_11/IHME_COVID_19_Data_Release_Information_Sheet.pdf
  data-raw/IHME/2021_03_11/Summary_stats_all_locs.csv
Labels: added-raw-data, data-submission

#763 MIMUW predictions
  data-processed/MIMUW-StochSEIR/2021-03-15-Poland-MIMUW-StochSEIR-case.csv
  data-processed/MIMUW-StochSEIR/2021-03-15-Poland-MIMUW-StochSEIR.csv
Labels: data-submission

#764 2021-03-15 - EpiForecast submission
  data-processed/epiforecasts-EpiExpert/2021-03-15-Germany-epiforecasts-EpiExpert-case.csv
  data-processed/epiforecasts-EpiExpert/2021-03-15-Germany-epiforecasts-EpiExpert.csv
  data-processed/epiforecasts-EpiExpert/2021-03-15-Poland-epiforecasts-EpiExpert-case.csv
  data-processed/epiforecasts-EpiExpert/2021-03-15-Poland-epiforecasts-EpiExpert.csv
  data-processed/epiforecasts-EpiExpert_Rt/2021-03-15-Germany-epiforecasts-EpiExpert_Rt-case.csv
  data-processed/epiforecasts-EpiExpert_Rt/2021-03-15-Germany-epiforecasts-EpiExpert_Rt.csv
  data-processed/epiforecasts-EpiExpert_Rt/2021-03-15-Poland-epiforecasts-EpiExpert_Rt-case.csv
  data-processed/epiforecasts-EpiExpert_Rt/2021-03-15-Poland-epiforecasts-EpiExpert_Rt.csv
  data-processed/epiforecasts-EpiNow2/2021-03-15-Germany-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2021-03-15-Germany-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-EpiNow2/2021-03-15-Poland-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2021-03-15-Poland-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-EpiNow2_secondary/2021-03-15-Germany-epiforecasts-EpiNow2_secondary.csv
  data-processed/epiforecasts-EpiNow2_secondary/2021-03-15-Poland-epiforecasts-EpiNow2_secondary.csv
Labels: data-submission

#767 Adding baselines.
  data-processed/KIT-baseline/2021-03-15-Germany-KIT-baseline-case.csv
  data-processed/KIT-baseline/2021-03-15-Germany-KIT-baseline.csv
  data-processed/KIT-baseline/2021-03-15-Poland-KIT-baseline-case.csv
  data-processed/KIT-baseline/2021-03-15-Poland-KIT-baseline.csv
  data-processed/KIT-extrapolation_baseline/2021-03-15-Germany-KIT-extrapolation_baseline-case.csv
  data-processed/KIT-extrapolation_baseline/2021-03-15-Germany-KIT-extrapolation_baseline.csv
  data-processed/KIT-extrapolation_baseline/2021-03-15-Poland-KIT-extrapolation_baseline-case.csv
  data-processed/KIT-extrapolation_baseline/2021-03-15-Poland-KIT-extrapolation_baseline.csv
  data-processed/KIT-time_series_baseline/2021-03-15-Germany-KIT-time_series_baseline-case.csv
  data-processed/KIT-time_series_baseline/2021-03-15-Germany-KIT-time_series_baseline.csv
  data-processed/KIT-time_series_baseline/2021-03-15-Poland-KIT-time_series_baseline-case.csv
  data-processed/KIT-time_series_baseline/2021-03-15-Poland-KIT-time_series_baseline.csv
Labels: data-submission

#769 correct EpiExpert submission
  data-processed/epiforecasts-EpiExpert/2021-03-15-Germany-epiforecasts-EpiExpert-case.csv
  data-processed/epiforecasts-EpiExpert/2021-03-15-Germany-epiforecasts-EpiExpert.csv
  data-processed/epiforecasts-EpiExpert/2021-03-15-Poland-epiforecasts-EpiExpert-case.csv
  data-processed/epiforecasts-EpiExpert/2021-03-15-Poland-epiforecasts-EpiExpert.csv
Labels: data-submission, forecast-updated

#770 corrected submission
  data-processed/epiforecasts-EpiExpert/2021-03-15-Germany-epiforecasts-EpiExpert-case.csv
  data-processed/epiforecasts-EpiExpert/2021-03-15-Germany-epiforecasts-EpiExpert.csv
  data-processed/epiforecasts-EpiExpert/2021-03-15-Poland-epiforecasts-EpiExpert-case.csv
  data-processed/epiforecasts-EpiExpert/2021-03-15-Poland-epiforecasts-EpiExpert.csv
Labels: data-submission, forecast-updated

#771 Adding ensembles.
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-03-15-Germany-KITCOVIDhub-inverse_wis_ensemble-case.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-03-15-Germany-KITCOVIDhub-inverse_wis_ensemble.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-03-15-Poland-KITCOVIDhub-inverse_wis_ensemble-case.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-03-15-Poland-KITCOVIDhub-inverse_wis_ensemble.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-03-15-Germany-KITCOVIDhub-mean_ensemble-case.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-03-15-Germany-KITCOVIDhub-mean_ensemble.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-03-15-Poland-KITCOVIDhub-mean_ensemble-case.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-03-15-Poland-KITCOVIDhub-mean_ensemble.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-03-15-Germany-KITCOVIDhub-median_ensemble-case.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-03-15-Germany-KITCOVIDhub-median_ensemble.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-03-15-Poland-KITCOVIDhub-median_ensemble-case.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-03-15-Poland-KITCOVIDhub-median_ensemble.csv
Labels: data-submission

#776 # Forecast Death/Case/ICU for Saxony & Germany LeipzigIMISE-SECIR on 2021-03-15
  data-processed/LeipzigIMISE-SECIR/2021-03-15-Germany-LeipzigIMISE-SECIR-ICU.csv
  data-processed/LeipzigIMISE-SECIR/2021-03-15-Saxony-LeipzigIMISE-SECIR-case.csv
  data-processed/LeipzigIMISE-SECIR/2021-03-15-Saxony-LeipzigIMISE-SECIR.csv
  data-processed/LeipzigIMISE-SECIR/metadata-LeipzigIMISE_SECIR.txt
Labels: data-submission, other-files-updated

#777 Re-naming Leipzig files.
  data-processed/LeipzigIMISE-SECIR/2021-03-15-Germany-LeipzigIMISE-SECIR-case.csv
  data-processed/LeipzigIMISE-SECIR/2021-03-15-Germany-LeipzigIMISE-SECIR.csv
Labels: data-submission, forecast-updated

#782 ITWW forecast for 2021-03-22
  data-processed/ITWW-county_repro/2021-03-22-Germany-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2021-03-22-Germany-ITWW-county_repro.csv
  data-processed/ITWW-county_repro/2021-03-22-Poland-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2021-03-22-Poland-ITWW-county_repro.csv
Labels: data-submission

#781 adds update for week 12
  data-processed/itwm-dSEIR/2021-03-22-Germany-itwm-dSEIR-case.csv
  data-processed/itwm-dSEIR/2021-03-22-Germany-itwm-dSEIR.csv
Labels: data-submission

#780 New predictions as of 22 March 2021.
  data-processed/FIAS_FZJ-Epi1Ger/2021-03-22-Germany-FIAS_FZJ-Epi1Ger-case.csv
  data-processed/FIAS_FZJ-Epi1Ger/2021-03-22-Germany-FIAS_FZJ-Epi1Ger.csv
Labels: data-submission

#779 USC-SI_kJalpha: Weekly update
  data-processed/USC-SIkJalpha/2021-03-21-Germany-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2021-03-21-Germany-USC-SIkJalpha.csv
  data-processed/USC-SIkJalpha/2021-03-21-Poland-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2021-03-21-Poland-USC-SIkJalpha.csv
Labels: data-submission

#778 IHME forecast update
  data-processed/IHME-CurveFit/2021-03-17-Germany-IHME-CurveFit.csv
  data-processed/IHME-CurveFit/2021-03-17-Poland-IHME-CurveFit.csv
  data-raw/IHME/2021_03_17/IHME_COVID_19_Data_Release_Information_Sheet.pdf
  data-raw/IHME/2021_03_17/Summary_stats_all_locs.csv
Labels: added-raw-data, data-submission

#783 2021-03-22 ICM submission
  data-processed/ICM-agentModel/2021-03-22-Poland-ICM-agentModel-case.csv
  data-processed/ICM-agentModel/2021-03-22-Poland-ICM-agentModel.csv
Labels: data-submission

#784 Upload 2021-03-21 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2021-03-21-Germany-Karlen-pypm-case.csv
  data-processed/Karlen-pypm/2021-03-21-Germany-Karlen-pypm.csv
Labels: data-submission

#785 MIT Update
  data-processed/MIT_CovidAnalytics-DELPHI/2021-03-22-Germany-MIT_CovidAnalytics-DELPHI.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-03-22-Poland-MIT_CovidAnalytics-DELPHI.csv
Labels: data-submission

#786 mocos 2021-03-22
  data-processed/MOCOS-agent1/2021-03-22-Poland-MOCOS-agent1-case.csv
  data-processed/MOCOS-agent1/2021-03-22-Poland-MOCOS-agent1.csv
Labels: data-submission

#789 Adding baselines.
  data-processed/KIT-baseline/2021-03-22-Germany-KIT-baseline-case.csv
  data-processed/KIT-baseline/2021-03-22-Germany-KIT-baseline.csv
  data-processed/KIT-baseline/2021-03-22-Poland-KIT-baseline-case.csv
  data-processed/KIT-baseline/2021-03-22-Poland-KIT-baseline.csv
  data-processed/KIT-extrapolation_baseline/2021-03-22-Germany-KIT-extrapolation_baseline-case.csv
  data-processed/KIT-extrapolation_baseline/2021-03-22-Germany-KIT-extrapolation_baseline.csv
  data-processed/KIT-extrapolation_baseline/2021-03-22-Poland-KIT-extrapolation_baseline-case.csv
  data-processed/KIT-extrapolation_baseline/2021-03-22-Poland-KIT-extrapolation_baseline.csv
  data-processed/KIT-time_series_baseline/2021-03-22-Germany-KIT-time_series_baseline-case.csv
  data-processed/KIT-time_series_baseline/2021-03-22-Germany-KIT-time_series_baseline.csv
  data-processed/KIT-time_series_baseline/2021-03-22-Poland-KIT-time_series_baseline-case.csv
  data-processed/KIT-time_series_baseline/2021-03-22-Poland-KIT-time_series_baseline.csv
Labels: data-submission

#790 UCLA forecast update: excluded 2020-03-07 due to late submission
  code/auto_download/auto-download-manual.py
  data-processed/UCLA-SuEIR/2021-03-15-Germany-UCLA-SuEIR-case.csv
  data-processed/UCLA-SuEIR/2021-03-15-Germany-UCLA-SuEIR.csv
  data-raw/UCLA-SuEIR/UCLA-processing-script.R
  data-raw/UCLA-SuEIR/pred_world_03-07.csv
  data-raw/UCLA-SuEIR/pred_world_03-15.csv
Labels: added-raw-data, data-submission, other-files-updated

#791 2021-03-22 - EpiForecast submission
  data-processed/epiforecasts-EpiExpert/2021-03-22-Germany-epiforecasts-EpiExpert-case.csv
  data-processed/epiforecasts-EpiExpert/2021-03-22-Germany-epiforecasts-EpiExpert.csv
  data-processed/epiforecasts-EpiExpert/2021-03-22-Poland-epiforecasts-EpiExpert-case.csv
  data-processed/epiforecasts-EpiExpert/2021-03-22-Poland-epiforecasts-EpiExpert.csv
  data-processed/epiforecasts-EpiNow2/2021-03-22-Germany-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2021-03-22-Germany-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-EpiNow2/2021-03-22-Poland-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2021-03-22-Poland-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-EpiNow2_secondary/2021-03-22-Germany-epiforecasts-EpiNow2_secondary.csv
  data-processed/epiforecasts-EpiNow2_secondary/2021-03-22-Poland-epiforecasts-EpiNow2_secondary.csv
Labels: data-submission

#792 Adding ensembles.
  code/ensemble/included_models/included_models-2021-03-15.csv
  code/ensemble/included_models/included_models-2021-03-22.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-03-22-Germany-KITCOVIDhub-inverse_wis_ensemble-case.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-03-22-Germany-KITCOVIDhub-inverse_wis_ensemble.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-03-22-Poland-KITCOVIDhub-inverse_wis_ensemble-case.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-03-22-Poland-KITCOVIDhub-inverse_wis_ensemble.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-03-22-Germany-KITCOVIDhub-mean_ensemble-case.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-03-22-Germany-KITCOVIDhub-mean_ensemble.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-03-22-Poland-KITCOVIDhub-mean_ensemble-case.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-03-22-Poland-KITCOVIDhub-mean_ensemble.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-03-22-Germany-KITCOVIDhub-median_ensemble-case.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-03-22-Germany-KITCOVIDhub-median_ensemble.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-03-22-Poland-KITCOVIDhub-median_ensemble-case.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-03-22-Poland-KITCOVIDhub-median_ensemble.csv
  decisions_and_revisions.txt
Labels: data-submission, other-files-updated

#793 Latest predictions MIMUW
  data-processed/MIMUW-StochSEIR/2021-03-22-Poland-MIMUW-StochSEIR-case.csv
  data-processed/MIMUW-StochSEIR/2021-03-22-Poland-MIMUW-StochSEIR.csv
Labels: data-submission

#796 Adding HZI.
  data-processed/HZI-AgeExtendedSEIR/2021-03-15-Germany-HZI-AgeExtendedSEIR-case.csv
  data-processed/HZI-AgeExtendedSEIR/2021-03-15-Germany-HZI-AgeExtendedSEIR.csv
  data-processed/HZI-AgeExtendedSEIR/2021-03-22-Germany-HZI-AgeExtendedSEIR-case.csv
  data-processed/HZI-AgeExtendedSEIR/2021-03-22-Germany-HZI-AgeExtendedSEIR.csv
  data-processed/HZI-AgeExtendedSEIR/metadata-HZI-AgeExtendedSEIR.txt
Labels: data-submission, metadata-change

#795 # Forecast Death/Case/ICU for Saxony & Germany LeipzigIMISE-SECIR on 2021-03-22
  data-processed/LeipzigIMISE-SECIR/2021-03-22-Germany-LeipzigIMISE-SECIR-ICU.csv
  data-processed/LeipzigIMISE-SECIR/2021-03-22-Saxony-LeipzigIMISE-SECIR-case.csv
  data-processed/LeipzigIMISE-SECIR/2021-03-22-Saxony-LeipzigIMISE-SECIR.csv
  data-processed/LeipzigIMISE-SECIR/metadata-LeipzigIMISE_SECIR.txt
Labels: data-submission, other-files-updated

#797 Correcting file names and adding ensemble weights
  code/ensemble/inverse_wis_weights/inverse_wis_weights-2021-03-15.csv
  code/ensemble/inverse_wis_weights/inverse_wis_weights-2021-03-22.csv
  data-processed/LeipzigIMISE-SECIR/2021-03-22-Germany-LeipzigIMISE-SECIR-case.csv
  data-processed/LeipzigIMISE-SECIR/2021-03-22-Germany-LeipzigIMISE-SECIR.csv
Labels: data-submission, forecast-updated, other-files-updated

#807 MOCOS forecast 2021-03-29
  data-processed/MOCOS-agent1/2021-03-29-Poland-MOCOS-agent1-case.csv
  data-processed/MOCOS-agent1/2021-03-29-Poland-MOCOS-agent1.csv
Labels: data-submission

#805 Latest predictions from MIMUW
  data-processed/MIMUW-StochSEIR/2021-03-29-Poland-MIMUW-StochSEIR-case.csv
  data-processed/MIMUW-StochSEIR/2021-03-29-Poland-MIMUW-StochSEIR.csv
Labels: data-submission

#804 2021-03-29 ICM submission
  data-processed/ICM-agentModel/2021-03-29-Poland-ICM-agentModel-case.csv
  data-processed/ICM-agentModel/2021-03-29-Poland-ICM-agentModel.csv
Labels: data-submission

#803 MIT Update 0329
  data-processed/MIT_CovidAnalytics-DELPHI/2021-03-29-Germany-MIT_CovidAnalytics-DELPHI-case.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-03-29-Germany-MIT_CovidAnalytics-DELPHI.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-03-29-Poland-MIT_CovidAnalytics-DELPHI-case.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-03-29-Poland-MIT_CovidAnalytics-DELPHI.csv
Labels: data-submission

#802 Upload 2021-03-28 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2021-03-28-Germany-Karlen-pypm-case.csv
  data-processed/Karlen-pypm/2021-03-28-Germany-Karlen-pypm.csv
Labels: data-submission

#801 Updated predictions.
  data-processed/FIAS_FZJ-Epi1Ger/2021-03-29-Germany-FIAS_FZJ-Epi1Ger-case.csv
  data-processed/FIAS_FZJ-Epi1Ger/2021-03-29-Germany-FIAS_FZJ-Epi1Ger.csv
Labels: data-submission

#800 ITWW forecast for 2021-03-29
  data-processed/ITWW-county_repro/2021-03-29-Germany-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2021-03-29-Germany-ITWW-county_repro.csv
  data-processed/ITWW-county_repro/2021-03-29-Poland-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2021-03-29-Poland-ITWW-county_repro.csv
Labels: data-submission

#799 Adds forecast week 13
  data-processed/itwm-dSEIR/2021-03-29-Germany-itwm-dSEIR-case.csv
  data-processed/itwm-dSEIR/2021-03-29-Germany-itwm-dSEIR.csv
Labels: data-submission

#798 USC-SI_kJalpha: Weekly update
  data-processed/USC-SIkJalpha/2021-03-28-Germany-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2021-03-28-Germany-USC-SIkJalpha.csv
  data-processed/USC-SIkJalpha/2021-03-28-Poland-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2021-03-28-Poland-USC-SIkJalpha.csv
Labels: data-submission

#806 Forecast Death/Case/ICU for Germany LeipzigIMISE-SECIR on 2021-03-29
  data-processed/LeipzigIMISE-SECIR/2021-03-29-Germany-LeipzigIMISE-SECIR-ICU.csv
  data-processed/LeipzigIMISE-SECIR/2021-03-29-Saxony-LeipzigIMISE-SECIR-case.csv
  data-processed/LeipzigIMISE-SECIR/2021-03-29-Saxony-LeipzigIMISE-SECIR.csv
Labels: data-submission, other-files-updated

#810 Adding baselines
  data-processed/KIT-baseline/2021-03-29-Germany-KIT-baseline-case.csv
  data-processed/KIT-baseline/2021-03-29-Germany-KIT-baseline.csv
  data-processed/KIT-baseline/2021-03-29-Poland-KIT-baseline-case.csv
  data-processed/KIT-baseline/2021-03-29-Poland-KIT-baseline.csv
  data-processed/KIT-extrapolation_baseline/2021-03-29-Germany-KIT-extrapolation_baseline-case.csv
  data-processed/KIT-extrapolation_baseline/2021-03-29-Germany-KIT-extrapolation_baseline.csv
  data-processed/KIT-extrapolation_baseline/2021-03-29-Poland-KIT-extrapolation_baseline-case.csv
  data-processed/KIT-extrapolation_baseline/2021-03-29-Poland-KIT-extrapolation_baseline.csv
  data-processed/KIT-time_series_baseline/2021-03-29-Germany-KIT-time_series_baseline-case.csv
  data-processed/KIT-time_series_baseline/2021-03-29-Germany-KIT-time_series_baseline.csv
  data-processed/KIT-time_series_baseline/2021-03-29-Poland-KIT-time_series_baseline-case.csv
  data-processed/KIT-time_series_baseline/2021-03-29-Poland-KIT-time_series_baseline.csv
  data-processed/LeipzigIMISE-SECIR/2021-03-29-Germany-LeipzigIMISE-SECIR-case.csv
  data-processed/LeipzigIMISE-SECIR/2021-03-29-Germany-LeipzigIMISE-SECIR.csv
Labels: data-submission, forecast-updated

#811 2021-03-29 - EpiForecast submission
  data-processed/epiforecasts-EpiExpert/2021-03-29-Germany-epiforecasts-EpiExpert-case.csv
  data-processed/epiforecasts-EpiExpert/2021-03-29-Germany-epiforecasts-EpiExpert.csv
  data-processed/epiforecasts-EpiExpert/2021-03-29-Poland-epiforecasts-EpiExpert-case.csv
  data-processed/epiforecasts-EpiExpert/2021-03-29-Poland-epiforecasts-EpiExpert.csv
  data-processed/epiforecasts-EpiNow2/2021-03-29-Germany-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2021-03-29-Germany-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-EpiNow2/2021-03-29-Poland-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2021-03-29-Poland-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-EpiNow2_secondary/2021-03-29-Germany-epiforecasts-EpiNow2_secondary.csv
  data-processed/epiforecasts-EpiNow2_secondary/2021-03-29-Poland-epiforecasts-EpiNow2_secondary.csv
Labels: data-submission

#812 Adding ensembles.
  code/ensemble/included_models/included_models-2021-03-29.csv
  code/ensemble/inverse_wis_weights/inverse_wis_weights-2021-03-29.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-03-29-Germany-KITCOVIDhub-inverse_wis_ensemble-case.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-03-29-Germany-KITCOVIDhub-inverse_wis_ensemble.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-03-29-Poland-KITCOVIDhub-inverse_wis_ensemble-case.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-03-29-Poland-KITCOVIDhub-inverse_wis_ensemble.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-03-29-Germany-KITCOVIDhub-mean_ensemble-case.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-03-29-Germany-KITCOVIDhub-mean_ensemble.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-03-29-Poland-KITCOVIDhub-mean_ensemble-case.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-03-29-Poland-KITCOVIDhub-mean_ensemble.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-03-29-Germany-KITCOVIDhub-median_ensemble-case.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-03-29-Germany-KITCOVIDhub-median_ensemble.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-03-29-Poland-KITCOVIDhub-median_ensemble-case.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-03-29-Poland-KITCOVIDhub-median_ensemble.csv
  decisions_and_revisions.txt
Labels: data-submission, other-files-updated
