Repository KITmetricslab/covid19-forecast-hub-de, pull requests merged in 2021-09, with the labels that each got.

#1145 Import EU forecasts
  data-processed/EuroCOVIDhub-ensemble/2021-08-30-Germany-EuroCOVIDhub-ensemble-case.csv
  data-processed/EuroCOVIDhub-ensemble/2021-08-30-Germany-EuroCOVIDhub-ensemble.csv
  data-processed/EuroCOVIDhub-ensemble/2021-08-30-Poland-EuroCOVIDhub-ensemble-case.csv
  data-processed/EuroCOVIDhub-ensemble/2021-08-30-Poland-EuroCOVIDhub-ensemble.csv
  data-processed/HZI-AgeExtendedSEIR/2021-08-30-Germany-HZI-AgeExtendedSEIR-case.csv
  data-processed/HZI-AgeExtendedSEIR/2021-08-30-Germany-HZI-AgeExtendedSEIR.csv
  data-processed/IEM_Health-CovidProject/2021-08-30-Germany-IEM_Health-CovidProject-case.csv
  data-processed/IEM_Health-CovidProject/2021-08-30-Germany-IEM_Health-CovidProject.csv
  data-processed/IEM_Health-CovidProject/2021-08-30-Poland-IEM_Health-CovidProject-case.csv
  data-processed/IEM_Health-CovidProject/2021-08-30-Poland-IEM_Health-CovidProject.csv
  data-processed/ILM-EKF/2021-08-30-Germany-ILM-EKF-case.csv
  data-processed/ILM-EKF/2021-08-30-Germany-ILM-EKF.csv
  data-processed/ILM-EKF/2021-08-30-Poland-ILM-EKF-case.csv
  data-processed/ILM-EKF/2021-08-30-Poland-ILM-EKF.csv
  data-processed/Karlen-pypm/2021-08-29-Germany-Karlen-pypm-case.csv
  data-processed/Karlen-pypm/2021-08-29-Germany-Karlen-pypm.csv
  data-processed/Karlen-pypm/2021-08-29-Poland-Karlen-pypm-case.csv
  data-processed/Karlen-pypm/2021-08-29-Poland-Karlen-pypm.csv
  data-processed/MUNI-ARIMA/2021-08-30-Germany-MUNI-ARIMA-case.csv
  data-processed/MUNI-ARIMA/2021-08-30-Germany-MUNI-ARIMA.csv
  data-processed/MUNI-ARIMA/2021-08-30-Poland-MUNI-ARIMA-case.csv
  data-processed/MUNI-ARIMA/2021-08-30-Poland-MUNI-ARIMA.csv
  data-processed/PL_GRedlarski-DistrictsSum/2021-08-30-Poland-PL_GRedlarski-DistrictsSum-case.csv
  data-processed/RobertWalraven-ESG/2021-08-30-Germany-RobertWalraven-ESG-case.csv
  data-processed/RobertWalraven-ESG/2021-08-30-Germany-RobertWalraven-ESG.csv
  data-processed/RobertWalraven-ESG/2021-08-30-Poland-RobertWalraven-ESG-case.csv
  data-processed/RobertWalraven-ESG/2021-08-30-Poland-RobertWalraven-ESG.csv
  data-processed/SDSC_ISG-TrendModel/2021-08-30-Germany-SDSC_ISG-TrendModel-case.csv
  data-processed/SDSC_ISG-TrendModel/2021-08-30-Germany-SDSC_ISG-TrendModel.csv
  data-processed/SDSC_ISG-TrendModel/2021-08-30-Poland-SDSC_ISG-TrendModel-case.csv
  data-processed/SDSC_ISG-TrendModel/2021-08-30-Poland-SDSC_ISG-TrendModel.csv
  data-processed/UMass-MechBayes/2021-08-29-Germany-UMass-MechBayes.csv
  data-processed/UMass-MechBayes/2021-08-29-Poland-UMass-MechBayes.csv
  data-processed/UNIPV-BayesINGARCHX/2021-08-30-Germany-UNIPV-BayesINGARCHX-case.csv
  data-processed/USyd-OneModelMan/2021-08-30-Germany-USyd-OneModelMan.csv
  data-processed/USyd-OneModelMan/2021-08-30-Poland-USyd-OneModelMan.csv
  data-processed/UVA-Ensemble/2021-08-30-Germany-UVA-Ensemble-case.csv
  data-processed/UVA-Ensemble/2021-08-30-Poland-UVA-Ensemble-case.csv
  data-processed/epiforecasts-EpiExpert/2021-08-30-Germany-epiforecasts-EpiExpert-case.csv
  data-processed/epiforecasts-EpiExpert/2021-08-30-Germany-epiforecasts-EpiExpert.csv
  data-processed/epiforecasts-EpiExpert_Rt/2021-08-30-Germany-epiforecasts-EpiExpert_Rt-case.csv
  data-processed/epiforecasts-EpiExpert_Rt/2021-08-30-Germany-epiforecasts-EpiExpert_Rt.csv
  data-processed/epiforecasts-EpiExpert_direct/2021-08-30-Germany-epiforecasts-EpiExpert_direct-case.csv
  data-processed/epiforecasts-EpiExpert_direct/2021-08-30-Germany-epiforecasts-EpiExpert_direct.csv
  data-processed/itwm-dSEIR/2021-08-30-Germany-itwm-dSEIR-case.csv
  data-processed/itwm-dSEIR/2021-08-30-Germany-itwm-dSEIR.csv
Labels: data-submission, automated pr

#1146 Adding regional ensembles.
  code/ensemble/included_models/included_models-2021-08-30.csv
  code/ensemble/inverse_wis_weights/inverse_wis_weights-2021-08-30.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-08-30-Germany-KITCOVIDhub-inverse_wis_ensemble-case.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-08-30-Germany-KITCOVIDhub-inverse_wis_ensemble.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-08-30-Poland-KITCOVIDhub-inverse_wis_ensemble-case.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-08-30-Poland-KITCOVIDhub-inverse_wis_ensemble.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-08-30-Germany-KITCOVIDhub-mean_ensemble-case.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-08-30-Germany-KITCOVIDhub-mean_ensemble.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-08-30-Poland-KITCOVIDhub-mean_ensemble-case.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-08-30-Poland-KITCOVIDhub-mean_ensemble.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-08-30-Germany-KITCOVIDhub-median_ensemble-case.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-08-30-Germany-KITCOVIDhub-median_ensemble.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-08-30-Poland-KITCOVIDhub-median_ensemble-case.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-08-30-Poland-KITCOVIDhub-median_ensemble.csv
Labels: other-files-updated, data-submission

#1153 MOCOS 2021-09-06
  data-processed/MOCOS-agent1/2021-09-06-Poland-MOCOS-agent1-case.csv
  data-processed/MOCOS-agent1/2021-09-06-Poland-MOCOS-agent1.csv
Labels: data-submission

#1152 MIT Update
  data-processed/MIT_CovidAnalytics-DELPHI/2021-09-06-Germany-MIT_CovidAnalytics-DELPHI-case.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-09-06-Germany-MIT_CovidAnalytics-DELPHI.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-09-06-Poland-MIT_CovidAnalytics-DELPHI-case.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-09-06-Poland-MIT_CovidAnalytics-DELPHI.csv
Labels: data-submission

#1151 2021-09-06 ICM submission
  data-processed/ICM-agentModel/2021-09-06-Poland-ICM-agentModel-case.csv
  data-processed/ICM-agentModel/2021-09-06-Poland-ICM-agentModel.csv
Labels: data-submission

#1150 ITWW forecast for 2021-09-06
  data-processed/ITWW-county_repro/2021-09-06-Germany-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2021-09-06-Germany-ITWW-county_repro.csv
  data-processed/ITWW-county_repro/2021-09-06-Poland-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2021-09-06-Poland-ITWW-county_repro.csv
Labels: data-submission

#1149 New predictions as of 6 September 2021.
  data-processed/FIAS_FZJ-Epi1Ger/2021-09-06-Germany-FIAS_FZJ-Epi1Ger-case.csv
  data-processed/FIAS_FZJ-Epi1Ger/2021-09-06-Germany-FIAS_FZJ-Epi1Ger.csv
Labels: data-submission

#1148 CovidMetrics-epiBATS (2021-09-06)
  data-processed/CovidMetrics-epiBATS/2021-09-06-Germany-CovidMetrics-epiBATS-case.csv
Labels: data-submission

#1147 USC_SIkJalpha: Weekly update
  data-processed/USC-SIkJalpha/2021-09-05-Germany-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2021-09-05-Germany-USC-SIkJalpha.csv
  data-processed/USC-SIkJalpha/2021-09-05-Poland-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2021-09-05-Poland-USC-SIkJalpha.csv
Labels: data-submission

#1156 Update baselines
  data-processed/KIT-baseline/2021-09-06-Germany-KIT-baseline-case.csv
  data-processed/KIT-baseline/2021-09-06-Germany-KIT-baseline.csv
  data-processed/KIT-baseline/2021-09-06-Poland-KIT-baseline-case.csv
  data-processed/KIT-baseline/2021-09-06-Poland-KIT-baseline.csv
  data-processed/KIT-extrapolation_baseline/2021-09-06-Germany-KIT-extrapolation_baseline-case.csv
  data-processed/KIT-extrapolation_baseline/2021-09-06-Germany-KIT-extrapolation_baseline.csv
  data-processed/KIT-extrapolation_baseline/2021-09-06-Poland-KIT-extrapolation_baseline-case.csv
  data-processed/KIT-extrapolation_baseline/2021-09-06-Poland-KIT-extrapolation_baseline.csv
  data-processed/KIT-time_series_baseline/2021-09-06-Germany-KIT-time_series_baseline-case.csv
  data-processed/KIT-time_series_baseline/2021-09-06-Germany-KIT-time_series_baseline.csv
  data-processed/KIT-time_series_baseline/2021-09-06-Poland-KIT-time_series_baseline-case.csv
  data-processed/KIT-time_series_baseline/2021-09-06-Poland-KIT-time_series_baseline.csv
Labels: data-submission, automated pr

#1154 2021-09-06 - EpiForecast submission
  data-processed/epiforecasts-EpiNow2/2021-09-06-Germany-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2021-09-06-Germany-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-EpiNow2/2021-09-06-Poland-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2021-09-06-Poland-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-EpiNow2_secondary/2021-09-06-Germany-epiforecasts-EpiNow2_secondary.csv
  data-processed/epiforecasts-EpiNow2_secondary/2021-09-06-Poland-epiforecasts-EpiNow2_secondary.csv
Labels: data-submission

#1155 Import EU forecasts
  data-processed/EuroCOVIDhub-baseline/2021-09-06-Germany-EuroCOVIDhub-baseline-case.csv
  data-processed/EuroCOVIDhub-baseline/2021-09-06-Germany-EuroCOVIDhub-baseline.csv
  data-processed/EuroCOVIDhub-baseline/2021-09-06-Poland-EuroCOVIDhub-baseline-case.csv
  data-processed/EuroCOVIDhub-baseline/2021-09-06-Poland-EuroCOVIDhub-baseline.csv
  data-processed/EuroCOVIDhub-ensemble/2021-09-06-Germany-EuroCOVIDhub-ensemble-case.csv
  data-processed/EuroCOVIDhub-ensemble/2021-09-06-Germany-EuroCOVIDhub-ensemble.csv
  data-processed/EuroCOVIDhub-ensemble/2021-09-06-Poland-EuroCOVIDhub-ensemble-case.csv
  data-processed/EuroCOVIDhub-ensemble/2021-09-06-Poland-EuroCOVIDhub-ensemble.csv
  data-processed/HZI-AgeExtendedSEIR/2021-09-06-Germany-HZI-AgeExtendedSEIR-case.csv
  data-processed/HZI-AgeExtendedSEIR/2021-09-06-Germany-HZI-AgeExtendedSEIR.csv
  data-processed/IEM_Health-CovidProject/2021-09-06-Germany-IEM_Health-CovidProject-case.csv
  data-processed/IEM_Health-CovidProject/2021-09-06-Germany-IEM_Health-CovidProject.csv
  data-processed/IEM_Health-CovidProject/2021-09-06-Poland-IEM_Health-CovidProject-case.csv
  data-processed/IEM_Health-CovidProject/2021-09-06-Poland-IEM_Health-CovidProject.csv
  data-processed/ILM-EKF/2021-09-06-Germany-ILM-EKF-case.csv
  data-processed/ILM-EKF/2021-09-06-Germany-ILM-EKF.csv
  data-processed/ILM-EKF/2021-09-06-Poland-ILM-EKF-case.csv
  data-processed/ILM-EKF/2021-09-06-Poland-ILM-EKF.csv
  data-processed/Imperial-DeCa/2021-09-06-Germany-Imperial-DeCa.csv
  data-processed/Imperial-DeCa/2021-09-06-Poland-Imperial-DeCa.csv
  data-processed/Imperial-RtI0/2021-09-06-Germany-Imperial-RtI0.csv
  data-processed/Imperial-RtI0/2021-09-06-Poland-Imperial-RtI0.csv
  data-processed/Imperial-sbkp/2021-09-06-Germany-Imperial-sbkp.csv
  data-processed/Imperial-sbkp/2021-09-06-Poland-Imperial-sbkp.csv
  data-processed/Karlen-pypm/2021-09-05-Germany-Karlen-pypm-case.csv
  data-processed/Karlen-pypm/2021-09-05-Germany-Karlen-pypm.csv
  data-processed/Karlen-pypm/2021-09-05-Poland-Karlen-pypm-case.csv
  data-processed/Karlen-pypm/2021-09-05-Poland-Karlen-pypm.csv
  data-processed/LANL-GrowthRate/2021-09-05-Germany-LANL-GrowthRate-case.csv
  data-processed/LANL-GrowthRate/2021-09-05-Germany-LANL-GrowthRate.csv
  data-processed/LANL-GrowthRate/2021-09-05-Poland-LANL-GrowthRate-case.csv
  data-processed/LANL-GrowthRate/2021-09-05-Poland-LANL-GrowthRate.csv
  data-processed/MUNI-ARIMA/2021-09-06-Germany-MUNI-ARIMA-case.csv
  data-processed/MUNI-ARIMA/2021-09-06-Germany-MUNI-ARIMA.csv
  data-processed/MUNI-ARIMA/2021-09-06-Poland-MUNI-ARIMA-case.csv
  data-processed/MUNI-ARIMA/2021-09-06-Poland-MUNI-ARIMA.csv
  data-processed/PL_GRedlarski-DistrictsSum/2021-09-06-Poland-PL_GRedlarski-DistrictsSum-case.csv
  data-processed/RobertWalraven-ESG/2021-09-06-Germany-RobertWalraven-ESG-case.csv
  data-processed/RobertWalraven-ESG/2021-09-06-Germany-RobertWalraven-ESG.csv
  data-processed/RobertWalraven-ESG/2021-09-06-Poland-RobertWalraven-ESG-case.csv
  data-processed/RobertWalraven-ESG/2021-09-06-Poland-RobertWalraven-ESG.csv
  data-processed/SDSC_ISG-TrendModel/2021-09-06-Germany-SDSC_ISG-TrendModel-case.csv
  data-processed/SDSC_ISG-TrendModel/2021-09-06-Germany-SDSC_ISG-TrendModel.csv
  data-processed/SDSC_ISG-TrendModel/2021-09-06-Poland-SDSC_ISG-TrendModel-case.csv
  data-processed/SDSC_ISG-TrendModel/2021-09-06-Poland-SDSC_ISG-TrendModel.csv
  data-processed/UMass-MechBayes/2021-09-05-Germany-UMass-MechBayes.csv
  data-processed/UMass-MechBayes/2021-09-05-Poland-UMass-MechBayes.csv
  data-processed/UNIPV-BayesINGARCHX/2021-09-06-Germany-UNIPV-BayesINGARCHX-case.csv
  data-processed/USyd-OneModelMan/2021-09-06-Germany-USyd-OneModelMan.csv
  data-processed/USyd-OneModelMan/2021-09-06-Poland-USyd-OneModelMan.csv
  data-processed/UVA-Ensemble/2021-09-06-Germany-UVA-Ensemble-case.csv
  data-processed/UVA-Ensemble/2021-09-06-Poland-UVA-Ensemble-case.csv
  data-processed/itwm-dSEIR/2021-09-06-Germany-itwm-dSEIR-case.csv
  data-processed/itwm-dSEIR/2021-09-06-Germany-itwm-dSEIR.csv
Labels: data-submission, automated pr

#1157 Addin reional ensembles.
  code/ensemble/included_models/included_models-2021-09-06.csv
  code/ensemble/inverse_wis_weights/inverse_wis_weights-2021-09-06.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-09-06-Germany-KITCOVIDhub-inverse_wis_ensemble-case.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-09-06-Germany-KITCOVIDhub-inverse_wis_ensemble.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-09-06-Poland-KITCOVIDhub-inverse_wis_ensemble-case.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-09-06-Poland-KITCOVIDhub-inverse_wis_ensemble.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-09-06-Germany-KITCOVIDhub-mean_ensemble-case.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-09-06-Germany-KITCOVIDhub-mean_ensemble.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-09-06-Poland-KITCOVIDhub-mean_ensemble-case.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-09-06-Poland-KITCOVIDhub-mean_ensemble.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-09-06-Germany-KITCOVIDhub-median_ensemble-case.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-09-06-Germany-KITCOVIDhub-median_ensemble.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-09-06-Poland-KITCOVIDhub-median_ensemble-case.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-09-06-Poland-KITCOVIDhub-median_ensemble.csv
Labels: other-files-updated, data-submission

#1158 USC-SIkJalpha: Add files via upload
  data-processed/USC-SIkJalpha/2021-09-12-Germany-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2021-09-12-Germany-USC-SIkJalpha.csv
  data-processed/USC-SIkJalpha/2021-09-12-Poland-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2021-09-12-Poland-USC-SIkJalpha.csv
Labels: data-submission

#1159 CovidMetrics-epiBATS (2021-09-13)
  data-processed/CovidMetrics-epiBATS/2021-09-13-Germany-CovidMetrics-epiBATS-case.csv
Labels: data-submission

#1160 New predictions as of 13 September 2021.
  data-processed/FIAS_FZJ-Epi1Ger/2021-09-13-Germany-FIAS_FZJ-Epi1Ger-case.csv
  data-processed/FIAS_FZJ-Epi1Ger/2021-09-13-Germany-FIAS_FZJ-Epi1Ger.csv
Labels: data-submission

#1161 ITWW forecast for 2021-09-13
  data-processed/ITWW-county_repro/2021-09-13-Germany-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2021-09-13-Germany-ITWW-county_repro.csv
  data-processed/ITWW-county_repro/2021-09-13-Poland-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2021-09-13-Poland-ITWW-county_repro.csv
Labels: data-submission

#1162 Update
  data-processed/MIT_CovidAnalytics-DELPHI/2021-09-13-Germany-MIT_CovidAnalytics-DELPHI-case.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-09-13-Germany-MIT_CovidAnalytics-DELPHI.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-09-13-Poland-MIT_CovidAnalytics-DELPHI-case.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-09-13-Poland-MIT_CovidAnalytics-DELPHI.csv
Labels: data-submission

#1163 2021-09-13 ICM submission
  data-processed/ICM-agentModel/2021-09-13-Poland-ICM-agentModel-case.csv
  data-processed/ICM-agentModel/2021-09-13-Poland-ICM-agentModel.csv
Labels: data-submission

#1164 MOCOS 2021-09-13
  data-processed/MOCOS-agent1/2021-09-13-Poland-MOCOS-agent1-case.csv
  data-processed/MOCOS-agent1/2021-09-13-Poland-MOCOS-agent1.csv
Labels: data-submission

#1166 Update baselines
  data-processed/KIT-baseline/2021-09-13-Germany-KIT-baseline-case.csv
  data-processed/KIT-baseline/2021-09-13-Germany-KIT-baseline.csv
  data-processed/KIT-baseline/2021-09-13-Poland-KIT-baseline-case.csv
  data-processed/KIT-baseline/2021-09-13-Poland-KIT-baseline.csv
  data-processed/KIT-extrapolation_baseline/2021-09-13-Germany-KIT-extrapolation_baseline-case.csv
  data-processed/KIT-extrapolation_baseline/2021-09-13-Germany-KIT-extrapolation_baseline.csv
  data-processed/KIT-extrapolation_baseline/2021-09-13-Poland-KIT-extrapolation_baseline-case.csv
  data-processed/KIT-extrapolation_baseline/2021-09-13-Poland-KIT-extrapolation_baseline.csv
  data-processed/KIT-time_series_baseline/2021-09-13-Germany-KIT-time_series_baseline-case.csv
  data-processed/KIT-time_series_baseline/2021-09-13-Germany-KIT-time_series_baseline.csv
  data-processed/KIT-time_series_baseline/2021-09-13-Poland-KIT-time_series_baseline-case.csv
  data-processed/KIT-time_series_baseline/2021-09-13-Poland-KIT-time_series_baseline.csv
Labels: data-submission, automated pr

#1165 Import EU forecasts
  data-processed/EuroCOVIDhub-baseline/2021-09-13-Germany-EuroCOVIDhub-baseline-case.csv
  data-processed/EuroCOVIDhub-baseline/2021-09-13-Germany-EuroCOVIDhub-baseline.csv
  data-processed/EuroCOVIDhub-baseline/2021-09-13-Poland-EuroCOVIDhub-baseline-case.csv
  data-processed/EuroCOVIDhub-baseline/2021-09-13-Poland-EuroCOVIDhub-baseline.csv
  data-processed/LANL-GrowthRate/2021-09-12-Germany-LANL-GrowthRate-case.csv
  data-processed/LANL-GrowthRate/2021-09-12-Germany-LANL-GrowthRate.csv
  data-processed/LANL-GrowthRate/2021-09-12-Poland-LANL-GrowthRate-case.csv
  data-processed/LANL-GrowthRate/2021-09-12-Poland-LANL-GrowthRate.csv
Labels: data-submission, automated pr

#1168 Import EU forecasts
  data-processed/BIOCOMSC-Gompertz/2021-09-13-Germany-BIOCOMSC-Gompertz-case.csv
  data-processed/BIOCOMSC-Gompertz/2021-09-13-Germany-BIOCOMSC-Gompertz.csv
  data-processed/BIOCOMSC-Gompertz/2021-09-13-Poland-BIOCOMSC-Gompertz-case.csv
  data-processed/BIOCOMSC-Gompertz/2021-09-13-Poland-BIOCOMSC-Gompertz.csv
  data-processed/EuroCOVIDhub-ensemble/2021-09-13-Germany-EuroCOVIDhub-ensemble-case.csv
  data-processed/EuroCOVIDhub-ensemble/2021-09-13-Germany-EuroCOVIDhub-ensemble.csv
  data-processed/EuroCOVIDhub-ensemble/2021-09-13-Poland-EuroCOVIDhub-ensemble-case.csv
  data-processed/EuroCOVIDhub-ensemble/2021-09-13-Poland-EuroCOVIDhub-ensemble.csv
  data-processed/HZI-AgeExtendedSEIR/2021-09-13-Germany-HZI-AgeExtendedSEIR-case.csv
  data-processed/HZI-AgeExtendedSEIR/2021-09-13-Germany-HZI-AgeExtendedSEIR.csv
  data-processed/IEM_Health-CovidProject/2021-09-13-Germany-IEM_Health-CovidProject-case.csv
  data-processed/IEM_Health-CovidProject/2021-09-13-Germany-IEM_Health-CovidProject.csv
  data-processed/IEM_Health-CovidProject/2021-09-13-Poland-IEM_Health-CovidProject-case.csv
  data-processed/IEM_Health-CovidProject/2021-09-13-Poland-IEM_Health-CovidProject.csv
  data-processed/ILM-EKF/2021-09-13-Germany-ILM-EKF-case.csv
  data-processed/ILM-EKF/2021-09-13-Germany-ILM-EKF.csv
  data-processed/ILM-EKF/2021-09-13-Poland-ILM-EKF-case.csv
  data-processed/ILM-EKF/2021-09-13-Poland-ILM-EKF.csv
  data-processed/Imperial-DeCa/2021-09-13-Germany-Imperial-DeCa.csv
  data-processed/Imperial-DeCa/2021-09-13-Poland-Imperial-DeCa.csv
  data-processed/Imperial-RtI0/2021-09-13-Germany-Imperial-RtI0.csv
  data-processed/Imperial-RtI0/2021-09-13-Poland-Imperial-RtI0.csv
  data-processed/Imperial-sbkp/2021-09-13-Germany-Imperial-sbkp.csv
  data-processed/Imperial-sbkp/2021-09-13-Poland-Imperial-sbkp.csv
  data-processed/Karlen-pypm/2021-09-12-Germany-Karlen-pypm-case.csv
  data-processed/Karlen-pypm/2021-09-12-Germany-Karlen-pypm.csv
  data-processed/Karlen-pypm/2021-09-12-Poland-Karlen-pypm-case.csv
  data-processed/Karlen-pypm/2021-09-12-Poland-Karlen-pypm.csv
  data-processed/MUNI-ARIMA/2021-09-13-Germany-MUNI-ARIMA-case.csv
  data-processed/MUNI-ARIMA/2021-09-13-Germany-MUNI-ARIMA.csv
  data-processed/MUNI-ARIMA/2021-09-13-Poland-MUNI-ARIMA-case.csv
  data-processed/MUNI-ARIMA/2021-09-13-Poland-MUNI-ARIMA.csv
  data-processed/PL_GRedlarski-DistrictsSum/2021-09-13-Poland-PL_GRedlarski-DistrictsSum-case.csv
  data-processed/RobertWalraven-ESG/2021-09-13-Germany-RobertWalraven-ESG-case.csv
  data-processed/RobertWalraven-ESG/2021-09-13-Germany-RobertWalraven-ESG.csv
  data-processed/RobertWalraven-ESG/2021-09-13-Poland-RobertWalraven-ESG-case.csv
  data-processed/RobertWalraven-ESG/2021-09-13-Poland-RobertWalraven-ESG.csv
  data-processed/SDSC_ISG-TrendModel/2021-09-13-Germany-SDSC_ISG-TrendModel-case.csv
  data-processed/SDSC_ISG-TrendModel/2021-09-13-Germany-SDSC_ISG-TrendModel.csv
  data-processed/SDSC_ISG-TrendModel/2021-09-13-Poland-SDSC_ISG-TrendModel-case.csv
  data-processed/SDSC_ISG-TrendModel/2021-09-13-Poland-SDSC_ISG-TrendModel.csv
  data-processed/UMass-MechBayes/2021-09-12-Germany-UMass-MechBayes.csv
  data-processed/UMass-MechBayes/2021-09-12-Poland-UMass-MechBayes.csv
  data-processed/UNIPV-BayesINGARCHX/2021-09-13-Germany-UNIPV-BayesINGARCHX-case.csv
  data-processed/USyd-OneModelMan/2021-09-13-Germany-USyd-OneModelMan.csv
  data-processed/USyd-OneModelMan/2021-09-13-Poland-USyd-OneModelMan.csv
  data-processed/UVA-Ensemble/2021-09-13-Germany-UVA-Ensemble-case.csv
  data-processed/UVA-Ensemble/2021-09-13-Poland-UVA-Ensemble-case.csv
  data-processed/itwm-dSEIR/2021-09-13-Germany-itwm-dSEIR-case.csv
  data-processed/itwm-dSEIR/2021-09-13-Germany-itwm-dSEIR.csv
Labels: data-submission, automated pr

#1170 Adding missing ensemble from August.
  data-processed/EuroCOVIDhub-ensemble/2021-08-09-Germany-EuroCOVIDhub-ensemble-case.csv
  data-processed/EuroCOVIDhub-ensemble/2021-08-09-Germany-EuroCOVIDhub-ensemble.csv
  data-processed/EuroCOVIDhub-ensemble/2021-08-09-Poland-EuroCOVIDhub-ensemble-case.csv
  data-processed/EuroCOVIDhub-ensemble/2021-08-09-Poland-EuroCOVIDhub-ensemble.csv
Labels: data-submission

#1169 2021-09-13 - EpiForecast submission
  data-processed/epiforecasts-EpiNow2/2021-09-13-Germany-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2021-09-13-Germany-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-EpiNow2/2021-09-13-Poland-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2021-09-13-Poland-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-EpiNow2_secondary/2021-09-13-Germany-epiforecasts-EpiNow2_secondary.csv
  data-processed/epiforecasts-EpiNow2_secondary/2021-09-13-Poland-epiforecasts-EpiNow2_secondary.csv
Labels: data-submission

#1171 Add regional ensembles.
  code/ensemble/included_models/included_models-2021-09-13.csv
  code/ensemble/inverse_wis_weights/inverse_wis_weights-2021-09-13.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-09-13-Germany-KITCOVIDhub-inverse_wis_ensemble-case.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-09-13-Germany-KITCOVIDhub-inverse_wis_ensemble.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-09-13-Poland-KITCOVIDhub-inverse_wis_ensemble-case.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-09-13-Poland-KITCOVIDhub-inverse_wis_ensemble.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-09-13-Germany-KITCOVIDhub-mean_ensemble-case.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-09-13-Germany-KITCOVIDhub-mean_ensemble.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-09-13-Poland-KITCOVIDhub-mean_ensemble-case.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-09-13-Poland-KITCOVIDhub-mean_ensemble.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-09-13-Germany-KITCOVIDhub-median_ensemble-case.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-09-13-Germany-KITCOVIDhub-median_ensemble.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-09-13-Poland-KITCOVIDhub-median_ensemble-case.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-09-13-Poland-KITCOVIDhub-median_ensemble.csv
Labels: other-files-updated, data-submission

#1179 2021-09-20 - EpiForecast submission
  data-processed/epiforecasts-EpiNow2/2021-09-20-Germany-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2021-09-20-Germany-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-EpiNow2/2021-09-20-Poland-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2021-09-20-Poland-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-EpiNow2_secondary/2021-09-20-Germany-epiforecasts-EpiNow2_secondary.csv
  data-processed/epiforecasts-EpiNow2_secondary/2021-09-20-Poland-epiforecasts-EpiNow2_secondary.csv
Labels: data-submission

#1178 MOCOS 2021-09-20
  data-processed/MOCOS-agent1/2021-09-20-Poland-MOCOS-agent1-case.csv
  data-processed/MOCOS-agent1/2021-09-20-Poland-MOCOS-agent1.csv
Labels: data-submission

#1176 2021-09-20 ICM submission
  data-processed/ICM-agentModel/2021-09-20-Poland-ICM-agentModel-case.csv
  data-processed/ICM-agentModel/2021-09-20-Poland-ICM-agentModel.csv
Labels: data-submission

#1175 ITWW forecast for 2021-09-20
  data-processed/ITWW-county_repro/2021-09-20-Germany-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2021-09-20-Germany-ITWW-county_repro.csv
  data-processed/ITWW-county_repro/2021-09-20-Poland-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2021-09-20-Poland-ITWW-county_repro.csv
Labels: data-submission

#1174 New predictions as of 20 September 2021.
  data-processed/FIAS_FZJ-Epi1Ger/2021-09-20-Germany-FIAS_FZJ-Epi1Ger-case.csv
  data-processed/FIAS_FZJ-Epi1Ger/2021-09-20-Germany-FIAS_FZJ-Epi1Ger.csv
Labels: data-submission

#1172 USC-SIkJalpha: Weekly update
  data-processed/USC-SIkJalpha/2021-09-19-Germany-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2021-09-19-Germany-USC-SIkJalpha.csv
  data-processed/USC-SIkJalpha/2021-09-19-Poland-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2021-09-19-Poland-USC-SIkJalpha.csv
Labels: data-submission

#1180 Adding regional ensembles.
  code/ensemble/included_models/included_models-2021-09-20.csv
  code/ensemble/inverse_wis_weights/inverse_wis_weights-2021-09-20.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-09-20-Germany-KITCOVIDhub-inverse_wis_ensemble-case.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-09-20-Germany-KITCOVIDhub-inverse_wis_ensemble.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-09-20-Poland-KITCOVIDhub-inverse_wis_ensemble-case.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-09-20-Poland-KITCOVIDhub-inverse_wis_ensemble.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-09-20-Germany-KITCOVIDhub-mean_ensemble-case.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-09-20-Germany-KITCOVIDhub-mean_ensemble.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-09-20-Poland-KITCOVIDhub-mean_ensemble-case.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-09-20-Poland-KITCOVIDhub-mean_ensemble.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-09-20-Germany-KITCOVIDhub-median_ensemble-case.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-09-20-Germany-KITCOVIDhub-median_ensemble.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-09-20-Poland-KITCOVIDhub-median_ensemble-case.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-09-20-Poland-KITCOVIDhub-median_ensemble.csv
Labels: other-files-updated, data-submission

#1181 Import EU forecasts
  data-processed/EuroCOVIDhub-baseline/2021-09-20-Germany-EuroCOVIDhub-baseline-case.csv
  data-processed/EuroCOVIDhub-baseline/2021-09-20-Germany-EuroCOVIDhub-baseline.csv
  data-processed/EuroCOVIDhub-baseline/2021-09-20-Poland-EuroCOVIDhub-baseline-case.csv
  data-processed/EuroCOVIDhub-baseline/2021-09-20-Poland-EuroCOVIDhub-baseline.csv
  data-processed/EuroCOVIDhub-ensemble/2021-09-20-Germany-EuroCOVIDhub-ensemble-case.csv
  data-processed/EuroCOVIDhub-ensemble/2021-09-20-Germany-EuroCOVIDhub-ensemble.csv
  data-processed/EuroCOVIDhub-ensemble/2021-09-20-Poland-EuroCOVIDhub-ensemble-case.csv
  data-processed/EuroCOVIDhub-ensemble/2021-09-20-Poland-EuroCOVIDhub-ensemble.csv
  data-processed/HZI-AgeExtendedSEIR/2021-09-20-Germany-HZI-AgeExtendedSEIR-case.csv
  data-processed/HZI-AgeExtendedSEIR/2021-09-20-Germany-HZI-AgeExtendedSEIR.csv
  data-processed/IEM_Health-CovidProject/2021-09-20-Germany-IEM_Health-CovidProject-case.csv
  data-processed/IEM_Health-CovidProject/2021-09-20-Germany-IEM_Health-CovidProject.csv
  data-processed/IEM_Health-CovidProject/2021-09-20-Poland-IEM_Health-CovidProject-case.csv
  data-processed/IEM_Health-CovidProject/2021-09-20-Poland-IEM_Health-CovidProject.csv
  data-processed/ILM-EKF/2021-09-20-Germany-ILM-EKF-case.csv
  data-processed/ILM-EKF/2021-09-20-Germany-ILM-EKF.csv
  data-processed/ILM-EKF/2021-09-20-Poland-ILM-EKF-case.csv
  data-processed/ILM-EKF/2021-09-20-Poland-ILM-EKF.csv
  data-processed/Imperial-DeCa/2021-09-20-Germany-Imperial-DeCa.csv
  data-processed/Imperial-DeCa/2021-09-20-Poland-Imperial-DeCa.csv
  data-processed/Imperial-RtI0/2021-09-20-Germany-Imperial-RtI0.csv
  data-processed/Imperial-RtI0/2021-09-20-Poland-Imperial-RtI0.csv
  data-processed/Imperial-sbkp/2021-09-20-Germany-Imperial-sbkp.csv
  data-processed/Imperial-sbkp/2021-09-20-Poland-Imperial-sbkp.csv
  data-processed/Karlen-pypm/2021-09-19-Germany-Karlen-pypm-case.csv
  data-processed/Karlen-pypm/2021-09-19-Germany-Karlen-pypm.csv
  data-processed/Karlen-pypm/2021-09-19-Poland-Karlen-pypm-case.csv
  data-processed/Karlen-pypm/2021-09-19-Poland-Karlen-pypm.csv
  data-processed/LANL-GrowthRate/2021-09-19-Germany-LANL-GrowthRate-case.csv
  data-processed/LANL-GrowthRate/2021-09-19-Germany-LANL-GrowthRate.csv
  data-processed/LANL-GrowthRate/2021-09-19-Poland-LANL-GrowthRate-case.csv
  data-processed/LANL-GrowthRate/2021-09-19-Poland-LANL-GrowthRate.csv
  data-processed/MUNI-ARIMA/2021-09-20-Germany-MUNI-ARIMA-case.csv
  data-processed/MUNI-ARIMA/2021-09-20-Germany-MUNI-ARIMA.csv
  data-processed/MUNI-ARIMA/2021-09-20-Poland-MUNI-ARIMA-case.csv
  data-processed/MUNI-ARIMA/2021-09-20-Poland-MUNI-ARIMA.csv
  data-processed/PL_GRedlarski-DistrictsSum/2021-09-20-Poland-PL_GRedlarski-DistrictsSum-case.csv
  data-processed/RobertWalraven-ESG/2021-09-20-Germany-RobertWalraven-ESG-case.csv
  data-processed/RobertWalraven-ESG/2021-09-20-Germany-RobertWalraven-ESG.csv
  data-processed/RobertWalraven-ESG/2021-09-20-Poland-RobertWalraven-ESG-case.csv
  data-processed/RobertWalraven-ESG/2021-09-20-Poland-RobertWalraven-ESG.csv
  data-processed/SDSC_ISG-TrendModel/2021-09-20-Germany-SDSC_ISG-TrendModel-case.csv
  data-processed/SDSC_ISG-TrendModel/2021-09-20-Germany-SDSC_ISG-TrendModel.csv
  data-processed/SDSC_ISG-TrendModel/2021-09-20-Poland-SDSC_ISG-TrendModel-case.csv
  data-processed/SDSC_ISG-TrendModel/2021-09-20-Poland-SDSC_ISG-TrendModel.csv
  data-processed/UMass-MechBayes/2021-09-19-Germany-UMass-MechBayes.csv
  data-processed/UMass-MechBayes/2021-09-19-Poland-UMass-MechBayes.csv
  data-processed/UNIPV-BayesINGARCHX/2021-09-20-Germany-UNIPV-BayesINGARCHX-case.csv
  data-processed/USyd-OneModelMan/2021-09-20-Germany-USyd-OneModelMan.csv
  data-processed/USyd-OneModelMan/2021-09-20-Poland-USyd-OneModelMan.csv
  data-processed/UVA-Ensemble/2021-09-20-Germany-UVA-Ensemble-case.csv
  data-processed/UVA-Ensemble/2021-09-20-Poland-UVA-Ensemble-case.csv
  data-processed/epiforecasts-EpiExpert_direct/2021-09-20-Germany-epiforecasts-EpiExpert_direct-case.csv
  data-processed/epiforecasts-EpiExpert_direct/2021-09-20-Germany-epiforecasts-EpiExpert_direct.csv
  data-processed/itwm-dSEIR/2021-09-20-Germany-itwm-dSEIR-case.csv
  data-processed/itwm-dSEIR/2021-09-20-Germany-itwm-dSEIR.csv
Labels: data-submission, automated pr

#1188 MOCOS 2021-09-27
  data-processed/MOCOS-agent1/2021-09-27-Poland-MOCOS-agent1-case.csv
  data-processed/MOCOS-agent1/2021-09-27-Poland-MOCOS-agent1.csv
Labels: data-submission

#1187 2021-09-28 ICM submission
  data-processed/ICM-agentModel/2021-09-27-Poland-ICM-agentModel-case.csv
  data-processed/ICM-agentModel/2021-09-27-Poland-ICM-agentModel.csv
Labels: data-submission

#1186 MIT Update
  data-processed/MIT_CovidAnalytics-DELPHI/2021-09-27-Germany-MIT_CovidAnalytics-DELPHI-case.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-09-27-Germany-MIT_CovidAnalytics-DELPHI.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-09-27-Poland-MIT_CovidAnalytics-DELPHI-case.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-09-27-Poland-MIT_CovidAnalytics-DELPHI.csv
Labels: data-submission

#1185 New predictions as of 27 September 2021.
  data-processed/FIAS_FZJ-Epi1Ger/2021-09-27-Germany-FIAS_FZJ-Epi1Ger-case.csv
  data-processed/FIAS_FZJ-Epi1Ger/2021-09-27-Germany-FIAS_FZJ-Epi1Ger.csv
Labels: data-submission

#1184 CovidMetrics-epiBATS (2021-09-27)
  data-processed/CovidMetrics-epiBATS/2021-09-27-Germany-CovidMetrics-epiBATS-case.csv
Labels: data-submission

#1183 ITWW forecast for 2021-09-27
  data-processed/ITWW-county_repro/2021-09-27-Germany-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2021-09-27-Germany-ITWW-county_repro.csv
  data-processed/ITWW-county_repro/2021-09-27-Poland-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2021-09-27-Poland-ITWW-county_repro.csv
Labels: data-submission

#1182 USC-SIkJalpha: Weekly update
  data-processed/USC-SIkJalpha/2021-09-26-Germany-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2021-09-26-Germany-USC-SIkJalpha.csv
  data-processed/USC-SIkJalpha/2021-09-26-Poland-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2021-09-26-Poland-USC-SIkJalpha.csv
Labels: data-submission

#1190 2021-09-27 - EpiForecast submission
  data-processed/epiforecasts-EpiNow2/2021-09-27-Germany-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2021-09-27-Germany-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-EpiNow2/2021-09-27-Poland-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2021-09-27-Poland-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-EpiNow2_secondary/2021-09-27-Germany-epiforecasts-EpiNow2_secondary.csv
  data-processed/epiforecasts-EpiNow2_secondary/2021-09-27-Poland-epiforecasts-EpiNow2_secondary.csv
Labels: data-submission

#1189 Import EU forecasts
  data-processed/EuroCOVIDhub-baseline/2021-09-27-Germany-EuroCOVIDhub-baseline-case.csv
  data-processed/EuroCOVIDhub-baseline/2021-09-27-Germany-EuroCOVIDhub-baseline.csv
  data-processed/EuroCOVIDhub-baseline/2021-09-27-Poland-EuroCOVIDhub-baseline-case.csv
  data-processed/EuroCOVIDhub-baseline/2021-09-27-Poland-EuroCOVIDhub-baseline.csv
  data-processed/LANL-GrowthRate/2021-09-26-Germany-LANL-GrowthRate-case.csv
  data-processed/LANL-GrowthRate/2021-09-26-Germany-LANL-GrowthRate.csv
  data-processed/LANL-GrowthRate/2021-09-26-Poland-LANL-GrowthRate-case.csv
  data-processed/LANL-GrowthRate/2021-09-26-Poland-LANL-GrowthRate.csv
Labels: data-submission, automated pr

#1191 Import EU forecasts
  data-processed/BIOCOMSC-Gompertz/2021-09-27-Germany-BIOCOMSC-Gompertz-case.csv
  data-processed/BIOCOMSC-Gompertz/2021-09-27-Germany-BIOCOMSC-Gompertz.csv
  data-processed/BIOCOMSC-Gompertz/2021-09-27-Poland-BIOCOMSC-Gompertz-case.csv
  data-processed/EuroCOVIDhub-ensemble/2021-09-27-Germany-EuroCOVIDhub-ensemble-case.csv
  data-processed/EuroCOVIDhub-ensemble/2021-09-27-Germany-EuroCOVIDhub-ensemble.csv
  data-processed/EuroCOVIDhub-ensemble/2021-09-27-Poland-EuroCOVIDhub-ensemble-case.csv
  data-processed/EuroCOVIDhub-ensemble/2021-09-27-Poland-EuroCOVIDhub-ensemble.csv
  data-processed/HZI-AgeExtendedSEIR/2021-09-27-Germany-HZI-AgeExtendedSEIR-case.csv
  data-processed/HZI-AgeExtendedSEIR/2021-09-27-Germany-HZI-AgeExtendedSEIR.csv
  data-processed/IEM_Health-CovidProject/2021-09-27-Germany-IEM_Health-CovidProject-case.csv
  data-processed/IEM_Health-CovidProject/2021-09-27-Germany-IEM_Health-CovidProject.csv
  data-processed/IEM_Health-CovidProject/2021-09-27-Poland-IEM_Health-CovidProject-case.csv
  data-processed/IEM_Health-CovidProject/2021-09-27-Poland-IEM_Health-CovidProject.csv
  data-processed/ILM-EKF/2021-09-27-Germany-ILM-EKF-case.csv
  data-processed/ILM-EKF/2021-09-27-Germany-ILM-EKF.csv
  data-processed/ILM-EKF/2021-09-27-Poland-ILM-EKF-case.csv
  data-processed/ILM-EKF/2021-09-27-Poland-ILM-EKF.csv
  data-processed/Imperial-DeCa/2021-09-27-Germany-Imperial-DeCa.csv
  data-processed/Imperial-DeCa/2021-09-27-Poland-Imperial-DeCa.csv
  data-processed/Imperial-RtI0/2021-09-27-Germany-Imperial-RtI0.csv
  data-processed/Imperial-RtI0/2021-09-27-Poland-Imperial-RtI0.csv
  data-processed/Imperial-sbkp/2021-09-27-Germany-Imperial-sbkp.csv
  data-processed/Imperial-sbkp/2021-09-27-Poland-Imperial-sbkp.csv
  data-processed/Karlen-pypm/2021-09-26-Germany-Karlen-pypm-case.csv
  data-processed/Karlen-pypm/2021-09-26-Germany-Karlen-pypm.csv
  data-processed/Karlen-pypm/2021-09-26-Poland-Karlen-pypm-case.csv
  data-processed/Karlen-pypm/2021-09-26-Poland-Karlen-pypm.csv
  data-processed/MUNI-ARIMA/2021-09-27-Germany-MUNI-ARIMA-case.csv
  data-processed/MUNI-ARIMA/2021-09-27-Germany-MUNI-ARIMA.csv
  data-processed/MUNI-ARIMA/2021-09-27-Poland-MUNI-ARIMA-case.csv
  data-processed/MUNI-ARIMA/2021-09-27-Poland-MUNI-ARIMA.csv
  data-processed/PL_GRedlarski-DistrictsSum/2021-09-27-Poland-PL_GRedlarski-DistrictsSum-case.csv
  data-processed/RobertWalraven-ESG/2021-09-27-Germany-RobertWalraven-ESG-case.csv
  data-processed/RobertWalraven-ESG/2021-09-27-Germany-RobertWalraven-ESG.csv
  data-processed/RobertWalraven-ESG/2021-09-27-Poland-RobertWalraven-ESG-case.csv
  data-processed/RobertWalraven-ESG/2021-09-27-Poland-RobertWalraven-ESG.csv
  data-processed/SDSC_ISG-TrendModel/2021-09-27-Germany-SDSC_ISG-TrendModel-case.csv
  data-processed/SDSC_ISG-TrendModel/2021-09-27-Germany-SDSC_ISG-TrendModel.csv
  data-processed/SDSC_ISG-TrendModel/2021-09-27-Poland-SDSC_ISG-TrendModel-case.csv
  data-processed/SDSC_ISG-TrendModel/2021-09-27-Poland-SDSC_ISG-TrendModel.csv
  data-processed/UMass-MechBayes/2021-09-26-Germany-UMass-MechBayes.csv
  data-processed/UMass-MechBayes/2021-09-26-Poland-UMass-MechBayes.csv
  data-processed/USyd-OneModelMan/2021-09-27-Germany-USyd-OneModelMan.csv
  data-processed/USyd-OneModelMan/2021-09-27-Poland-USyd-OneModelMan.csv
  data-processed/UVA-Ensemble/2021-09-27-Germany-UVA-Ensemble-case.csv
  data-processed/UVA-Ensemble/2021-09-27-Poland-UVA-Ensemble-case.csv
  data-processed/itwm-dSEIR/2021-09-27-Germany-itwm-dSEIR-case.csv
  data-processed/itwm-dSEIR/2021-09-27-Germany-itwm-dSEIR.csv
Labels: data-submission, automated pr

#1192 Adding regional ensembles.
  code/ensemble/included_models/included_models-2021-09-27.csv
  code/ensemble/inverse_wis_weights/inverse_wis_weights-2021-09-27.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-09-27-Germany-KITCOVIDhub-inverse_wis_ensemble-case.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-09-27-Germany-KITCOVIDhub-inverse_wis_ensemble.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-09-27-Poland-KITCOVIDhub-inverse_wis_ensemble-case.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-09-27-Poland-KITCOVIDhub-inverse_wis_ensemble.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-09-27-Germany-KITCOVIDhub-mean_ensemble-case.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-09-27-Germany-KITCOVIDhub-mean_ensemble.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-09-27-Poland-KITCOVIDhub-mean_ensemble-case.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-09-27-Poland-KITCOVIDhub-mean_ensemble.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-09-27-Germany-KITCOVIDhub-median_ensemble-case.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-09-27-Germany-KITCOVIDhub-median_ensemble.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-09-27-Poland-KITCOVIDhub-median_ensemble-case.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-09-27-Poland-KITCOVIDhub-median_ensemble.csv
Labels: other-files-updated, data-submission
