Repository KITmetricslab/covid19-forecast-hub-de, pull requests merged in 2021-04, with the labels that each got.

#816 Adding HZI forecasts from ECDC platform.
  data-processed/HZI-AgeExtendedSEIR/2021-03-29-Germany-HZI-AgeExtendedSEIR-case.csv
  data-processed/HZI-AgeExtendedSEIR/2021-03-29-Germany-HZI-AgeExtendedSEIR.csv
Labels: data-submission

#824 MOCOS 2021-04-05
  data-processed/MOCOS-agent1/2021-04-05-Poland-MOCOS-agent1-case.csv
  data-processed/MOCOS-agent1/2021-04-05-Poland-MOCOS-agent1.csv
Labels: data-submission

#823 MIT Update 0405
  data-processed/MIT_CovidAnalytics-DELPHI/2021-04-05-Germany-MIT_CovidAnalytics-DELPHI-case.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-04-05-Germany-MIT_CovidAnalytics-DELPHI.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-04-05-Poland-MIT_CovidAnalytics-DELPHI-case.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-04-05-Poland-MIT_CovidAnalytics-DELPHI.csv
Labels: data-submission

#822 Adds prognosis week 14
  data-processed/itwm-dSEIR/2021-04-05-Germany-itwm-dSEIR-case.csv
  data-processed/itwm-dSEIR/2021-04-05-Germany-itwm-dSEIR.csv
Labels: data-submission

#819 Predictions as of 5 April 2021.
  data-processed/FIAS_FZJ-Epi1Ger/2021-04-05-Germany-FIAS_FZJ-Epi1Ger-case.csv
  data-processed/FIAS_FZJ-Epi1Ger/2021-04-05-Germany-FIAS_FZJ-Epi1Ger.csv
Labels: data-submission

#818 ITWW forecast for 2021-04-05
  data-processed/ITWW-county_repro/2021-04-05-Germany-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2021-04-05-Germany-ITWW-county_repro.csv
  data-processed/ITWW-county_repro/2021-04-05-Poland-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2021-04-05-Poland-ITWW-county_repro.csv
Labels: data-submission

#817 USC-SI_kJalpha: Weekly update
  data-processed/USC-SIkJalpha/2021-04-04-Germany-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2021-04-04-Germany-USC-SIkJalpha.csv
  data-processed/USC-SIkJalpha/2021-04-04-Poland-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2021-04-04-Poland-USC-SIkJalpha.csv
Labels: data-submission

#821 Latest predictions MIMUW
  data-processed/2021-04-05-Poland-MIMUW-StochSEIR-case.csv
  data-processed/2021-04-05-Poland-MIMUW-StochSEIR.csv
  data-processed/MIMUW-StochSEIR/2021-04-05-Poland-MIMUW-StochSEIR-case.csv
  data-processed/MIMUW-StochSEIR/2021-04-05-Poland-MIMUW-StochSEIR.csv
Labels: data-submission, other-files-updated

#826 2021-04-06 ICM submission
  data-processed/ICM-agentModel/2021-04-05-Poland-ICM-agentModel-case.csv
  data-processed/ICM-agentModel/2021-04-05-Poland-ICM-agentModel.csv
Labels: data-submission

#829 Update IHME 01/04/2021
  data-processed/IHME-CurveFit/2021-04-01-Germany-IHME-CurveFit.csv
  data-processed/IHME-CurveFit/2021-04-01-Poland-IHME-CurveFit.csv
  data-raw/IHME/2021_04_01/IHME_COVID_19_Data_Release_Information_Sheet.pdf
  data-raw/IHME/2021_04_01/Summary_stats_all_locs.csv
Labels: added-raw-data, data-submission

#827 Upload 2021-04-04 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2021-04-04-Germany-Karlen-pypm-case.csv
  data-processed/Karlen-pypm/2021-04-04-Germany-Karlen-pypm.csv
Labels: data-submission

#828 2021-04-05 - EpiForecast submission
  data-processed/epiforecasts-EpiNow2/2021-04-05-Germany-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2021-04-05-Germany-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-EpiNow2/2021-04-05-Poland-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2021-04-05-Poland-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-EpiNow2_secondary/2021-04-05-Germany-epiforecasts-EpiNow2_secondary.csv
  data-processed/epiforecasts-EpiNow2_secondary/2021-04-05-Poland-epiforecasts-EpiNow2_secondary.csv
Labels: data-submission

#830 Adding files from Eurohub
  app_forecasts_de/data/truth_data_use.csv
  app_forecasts_de/data/truth_data_use_detailed.csv
  data-processed/HZI-AgeExtendedSEIR/2021-04-05-Germany-HZI-AgeExtendedSEIR-case.csv
  data-processed/HZI-AgeExtendedSEIR/2021-04-05-Germany-HZI-AgeExtendedSEIR.csv
  data-processed/IEM_Health-CovidProject/2021-04-05-Germany-IEM_Health-CovidProject-case.csv
  data-processed/IEM_Health-CovidProject/2021-04-05-Germany-IEM_Health-CovidProject.csv
  data-processed/IEM_Health-CovidProject/2021-04-05-Poland-IEM_Health-CovidProject-case.csv
  data-processed/IEM_Health-CovidProject/2021-04-05-Poland-IEM_Health-CovidProject.csv
  data-processed/ILM-EKF/2021-04-05-Germany-ILM-EKF-case.csv
  data-processed/ILM-EKF/2021-04-05-Germany-ILM-EKF.csv
  data-processed/ILM-EKF/2021-04-05-Poland-ILM-EKF-case.csv
  data-processed/ILM-EKF/2021-04-05-Poland-ILM-EKF.csv
  data-processed/LANL-GrowthRate/2021-04-04-Germany-LANL-GrowthRate-case.csv
  data-processed/LANL-GrowthRate/2021-04-04-Germany-LANL-GrowthRate.csv
  data-processed/LANL-GrowthRate/2021-04-04-Poland-LANL-GrowthRate-case.csv
  data-processed/LANL-GrowthRate/2021-04-04-Poland-LANL-GrowthRate.csv
  data-processed/LeipzigIMISE-SECIR/2021-04-05-Germany-LeipzigIMISE-SECIR-case.csv
  data-processed/LeipzigIMISE-SECIR/2021-04-05-Germany-LeipzigIMISE-SECIR.csv
  data-processed/Priesemann-bayes/2021-04-05-Germany-Priesemann-bayes-case.csv
  data-processed/Priesemann-bayes/2021-04-05-Poland-Priesemann-bayes-case.csv
  data-processed/RobertWalraven-ESG/2021-04-05-Germany-RobertWalraven-ESG-case.csv
  data-processed/RobertWalraven-ESG/2021-04-05-Germany-RobertWalraven-ESG.csv
  data-processed/RobertWalraven-ESG/2021-04-05-Poland-RobertWalraven-ESG-case.csv
  data-processed/RobertWalraven-ESG/2021-04-05-Poland-RobertWalraven-ESG.csv
  data-processed/SDSC_ISG-TrendModel/2021-04-05-Germany-SDSC_ISG-TrendModel-case.csv
  data-processed/SDSC_ISG-TrendModel/2021-04-05-Germany-SDSC_ISG-TrendModel.csv
  data-processed/SDSC_ISG-TrendModel/2021-04-05-Poland-SDSC_ISG-TrendModel-case.csv
  data-processed/SDSC_ISG-TrendModel/2021-04-05-Poland-SDSC_ISG-TrendModel.csv
  data-processed/UMass-MechBayes/2021-04-04-Germany-UMass-MechBayes.csv
  data-processed/UMass-MechBayes/2021-04-04-Poland-UMass-MechBayes.csv
  data-processed/UMass-SemiMech/2021-04-04-Germany-UMass-SemiMech-case.csv
  data-processed/UMass-SemiMech/2021-04-04-Germany-UMass-SemiMech.csv
  data-processed/UMass-SemiMech/2021-04-04-Poland-UMass-SemiMech-case.csv
  data-processed/UMass-SemiMech/2021-04-04-Poland-UMass-SemiMech.csv
  data-processed/UNIPV-BayesINGARCHX/2021-04-05-Germany-UNIPV-BayesINGARCHX-case.csv
  data-processed/USyd-OneModelMan/2021-04-05-Germany-USyd-OneModelMan.csv
  data-processed/USyd-OneModelMan/2021-04-05-Poland-USyd-OneModelMan.csv
  data-processed/UVA-Ensemble/2021-04-05-Germany-UVA-Ensemble-case.csv
  data-processed/UVA-Ensemble/2021-04-05-Poland-UVA-Ensemble-case.csv
  data-processed/bisop-seirfilterlite/2021-04-05-Germany-bisop-seirfilterlite-case.csv
  data-processed/bisop-seirfilterlite/2021-04-05-Germany-bisop-seirfilterlite.csv
  data-processed/bisop-seirfilterlite/2021-04-05-Poland-bisop-seirfilterlite-case.csv
  data-processed/bisop-seirfilterlite/2021-04-05-Poland-bisop-seirfilterlite.csv
  data-processed/epiforecasts-EpiExpert/2021-04-05-Germany-epiforecasts-EpiExpert-case.csv
  data-processed/epiforecasts-EpiExpert/2021-04-05-Germany-epiforecasts-EpiExpert.csv
  data-processed/epiforecasts-EpiExpert/2021-04-05-Poland-epiforecasts-EpiExpert-case.csv
  data-processed/epiforecasts-EpiExpert/2021-04-05-Poland-epiforecasts-EpiExpert.csv
Labels: data-submission, other-files-updated

#832 Adding metadata
  app_forecasts_de/data/truth_data_use.csv
  app_forecasts_de/data/truth_data_use_detailed.csv
  data-processed/IEM_Health-CovidProject/metadata-IEM_Health-CovidProject.txt
  data-processed/ILM-EKF/metadata-ILM-EKF.txt
  data-processed/Priesemann-bayes/metadata-Priesemann-bayes.txt
  data-processed/RobertWalraven-ESG/metadata-RobertWalraven-ESG.txt
  data-processed/UMass-MechBayes/metadata-UMass-MechBayes.txt
  data-processed/UMass-SemiMech/metadata-UMass-SemiMech.txt
  data-processed/UNIPV-BayesINGARCHX/metadata-UNIPV-BayesINGARCHX.txt
  data-processed/USyd-OneModelMan/metadata-USyd-OneModelMan.txt
  data-processed/UVA-Ensemble/metadata-UVA-Ensemble.txt
  data-processed/bisop-seirfilterlite/metadata-bisop-seirfilterlite.txt
Labels: metadata-change

#834 Adding baselines.
  data-processed/KIT-baseline/2021-04-05-Germany-KIT-baseline-case.csv
  data-processed/KIT-baseline/2021-04-05-Germany-KIT-baseline.csv
  data-processed/KIT-baseline/2021-04-05-Poland-KIT-baseline-case.csv
  data-processed/KIT-baseline/2021-04-05-Poland-KIT-baseline.csv
  data-processed/KIT-extrapolation_baseline/2021-04-05-Germany-KIT-extrapolation_baseline-case.csv
  data-processed/KIT-extrapolation_baseline/2021-04-05-Germany-KIT-extrapolation_baseline.csv
  data-processed/KIT-extrapolation_baseline/2021-04-05-Poland-KIT-extrapolation_baseline-case.csv
  data-processed/KIT-extrapolation_baseline/2021-04-05-Poland-KIT-extrapolation_baseline.csv
  data-processed/KIT-time_series_baseline/2021-04-05-Germany-KIT-time_series_baseline-case.csv
  data-processed/KIT-time_series_baseline/2021-04-05-Germany-KIT-time_series_baseline.csv
  data-processed/KIT-time_series_baseline/2021-04-05-Poland-KIT-time_series_baseline-case.csv
  data-processed/KIT-time_series_baseline/2021-04-05-Poland-KIT-time_series_baseline.csv
Labels: data-submission

#835 Adding ensembles
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-04-05-Germany-KITCOVIDhub-inverse_wis_ensemble-case.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-04-05-Germany-KITCOVIDhub-inverse_wis_ensemble.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-04-05-Poland-KITCOVIDhub-inverse_wis_ensemble-case.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-04-05-Poland-KITCOVIDhub-inverse_wis_ensemble.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-04-05-Germany-KITCOVIDhub-mean_ensemble-case.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-04-05-Germany-KITCOVIDhub-mean_ensemble.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-04-05-Poland-KITCOVIDhub-mean_ensemble-case.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-04-05-Poland-KITCOVIDhub-mean_ensemble.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-04-05-Germany-KITCOVIDhub-median_ensemble-case.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-04-05-Germany-KITCOVIDhub-median_ensemble.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-04-05-Poland-KITCOVIDhub-median_ensemble-case.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-04-05-Poland-KITCOVIDhub-median_ensemble.csv
Labels: data-submission

#837 Adding ensemble from EuroHub.
  data-processed/EuroCOVIDhub-ensemble/2021-04-05-Germany-EuroCOVIDhub-ensemble-case.csv
  data-processed/EuroCOVIDhub-ensemble/2021-04-05-Germany-EuroCOVIDhub-ensemble.csv
  data-processed/EuroCOVIDhub-ensemble/2021-04-05-Poland-EuroCOVIDhub-ensemble-case.csv
  data-processed/EuroCOVIDhub-ensemble/2021-04-05-Poland-EuroCOVIDhub-ensemble.csv
  data-processed/EuroCOVIDhub-ensemble/metadata-EuroCOVIDhub-ensemble.txt
Labels: data-submission, metadata-change

#851 MIT Update 0412
  data-processed/MIT_CovidAnalytics-DELPHI/2021-04-12-Germany-MIT_CovidAnalytics-DELPHI-case.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-04-12-Germany-MIT_CovidAnalytics-DELPHI.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-04-12-Poland-MIT_CovidAnalytics-DELPHI-case.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-04-12-Poland-MIT_CovidAnalytics-DELPHI.csv
Labels: data-submission

#850 MOCOS 2021-04-12
  data-processed/MOCOS-agent1/2021-04-12-Poland-MOCOS-agent1-case.csv
  data-processed/MOCOS-agent1/2021-04-12-Poland-MOCOS-agent1.csv
Labels: data-submission

#849 Upload 2021-04-11 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2021-04-11-Germany-Karlen-pypm-case.csv
  data-processed/Karlen-pypm/2021-04-11-Germany-Karlen-pypm.csv
Labels: data-submission

#848 Predictions as of 12 April 2021.
  data-processed/FIAS_FZJ-Epi1Ger/2021-04-12-Germany-FIAS_FZJ-Epi1Ger-case.csv
  data-processed/FIAS_FZJ-Epi1Ger/2021-04-12-Germany-FIAS_FZJ-Epi1Ger.csv
Labels: data-submission

#847 CASUS-BGLM 2021-04-12 fixed format
  data-processed/CASUS-BGLM/2021-04-12-Germany-CASUS-BGLM-case.csv
  data-processed/CASUS-BGLM/metadata-CASUS-BGLM.txt
Labels: data-submission, metadata-change

#844 2021-04-12 ICM submission
  data-processed/ICM-agentModel/2021-04-12-Poland-ICM-agentModel-case.csv
  data-processed/ICM-agentModel/2021-04-12-Poland-ICM-agentModel.csv
Labels: data-submission

#843 adds update of week 15
  data-processed/itwm-dSEIR/2021-04-12-Germany-itwm-dSEIR-case.csv
  data-processed/itwm-dSEIR/2021-04-12-Germany-itwm-dSEIR.csv
Labels: data-submission

#842 Latest predictions from MIMUW [12.04]
  data-processed/MIMUW-StochSEIR/2021-04-12-Poland-MIMUW-StochSEIR-case.csv
  data-processed/MIMUW-StochSEIR/2021-04-12-Poland-MIMUW-StochSEIR.csv
Labels: data-submission

#841 ITWW forecast for 2021-04-12
  data-processed/ITWW-county_repro/2021-04-12-Germany-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2021-04-12-Germany-ITWW-county_repro.csv
  data-processed/ITWW-county_repro/2021-04-12-Poland-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2021-04-12-Poland-ITWW-county_repro.csv
Labels: data-submission

#840 USC-SI_kJalpha: Weekly update
  data-processed/USC-SIkJalpha/2021-04-11-Germany-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2021-04-11-Germany-USC-SIkJalpha.csv
  data-processed/USC-SIkJalpha/2021-04-11-Poland-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2021-04-11-Poland-USC-SIkJalpha.csv
Labels: data-submission

#853 Adding forecasts from EU platform.
  data-processed/EuroCOVIDhub-ensemble/2021-04-12-Germany-EuroCOVIDhub-ensemble-case.csv
  data-processed/EuroCOVIDhub-ensemble/2021-04-12-Germany-EuroCOVIDhub-ensemble.csv
  data-processed/EuroCOVIDhub-ensemble/2021-04-12-Poland-EuroCOVIDhub-ensemble-case.csv
  data-processed/EuroCOVIDhub-ensemble/2021-04-12-Poland-EuroCOVIDhub-ensemble.csv
  data-processed/HZI-AgeExtendedSEIR/2021-04-12-Germany-HZI-AgeExtendedSEIR-case.csv
  data-processed/HZI-AgeExtendedSEIR/2021-04-12-Germany-HZI-AgeExtendedSEIR.csv
  data-processed/IEM_Health-CovidProject/2021-04-12-Germany-IEM_Health-CovidProject-case.csv
  data-processed/IEM_Health-CovidProject/2021-04-12-Germany-IEM_Health-CovidProject.csv
  data-processed/IEM_Health-CovidProject/2021-04-12-Poland-IEM_Health-CovidProject-case.csv
  data-processed/IEM_Health-CovidProject/2021-04-12-Poland-IEM_Health-CovidProject.csv
  data-processed/ILM-EKF/2021-04-12-Germany-ILM-EKF-case.csv
  data-processed/ILM-EKF/2021-04-12-Germany-ILM-EKF.csv
  data-processed/ILM-EKF/2021-04-12-Poland-ILM-EKF-case.csv
  data-processed/ILM-EKF/2021-04-12-Poland-ILM-EKF.csv
  data-processed/Imperial-DeCa/2021-04-12-Germany-Imperial-DeCa.csv
  data-processed/Imperial-DeCa/2021-04-12-Poland-Imperial-DeCa.csv
  data-processed/Imperial-RtI0/2021-04-12-Germany-Imperial-RtI0.csv
  data-processed/Imperial-RtI0/2021-04-12-Poland-Imperial-RtI0.csv
  data-processed/Imperial-sbkp/2021-04-12-Germany-Imperial-sbkp.csv
  data-processed/Imperial-sbkp/2021-04-12-Poland-Imperial-sbkp.csv
  data-processed/LANL-GrowthRate/2021-04-11-Germany-LANL-GrowthRate-case.csv
  data-processed/LANL-GrowthRate/2021-04-11-Germany-LANL-GrowthRate.csv
  data-processed/LANL-GrowthRate/2021-04-11-Poland-LANL-GrowthRate-case.csv
  data-processed/LANL-GrowthRate/2021-04-11-Poland-LANL-GrowthRate.csv
  data-processed/LeipzigIMISE-SECIR/2021-04-12-Germany-LeipzigIMISE-SECIR-case.csv
  data-processed/LeipzigIMISE-SECIR/2021-04-12-Germany-LeipzigIMISE-SECIR.csv
  data-processed/Priesemann-bayes/2021-04-12-Germany-Priesemann-bayes-case.csv
  data-processed/Priesemann-bayes/2021-04-12-Poland-Priesemann-bayes-case.csv
  data-processed/RobertWalraven-ESG/2021-04-12-Germany-RobertWalraven-ESG-case.csv
  data-processed/RobertWalraven-ESG/2021-04-12-Germany-RobertWalraven-ESG.csv
  data-processed/RobertWalraven-ESG/2021-04-12-Poland-RobertWalraven-ESG-case.csv
  data-processed/RobertWalraven-ESG/2021-04-12-Poland-RobertWalraven-ESG.csv
  data-processed/SDSC_ISG-TrendModel/2021-04-12-Germany-SDSC_ISG-TrendModel-case.csv
  data-processed/SDSC_ISG-TrendModel/2021-04-12-Germany-SDSC_ISG-TrendModel.csv
  data-processed/SDSC_ISG-TrendModel/2021-04-12-Poland-SDSC_ISG-TrendModel-case.csv
  data-processed/SDSC_ISG-TrendModel/2021-04-12-Poland-SDSC_ISG-TrendModel.csv
  data-processed/UMass-MechBayes/2021-04-11-Germany-UMass-MechBayes.csv
  data-processed/UMass-MechBayes/2021-04-11-Poland-UMass-MechBayes.csv
  data-processed/UMass-SemiMech/2021-04-11-Germany-UMass-SemiMech-case.csv
  data-processed/UMass-SemiMech/2021-04-11-Germany-UMass-SemiMech.csv
  data-processed/UMass-SemiMech/2021-04-11-Poland-UMass-SemiMech-case.csv
  data-processed/UMass-SemiMech/2021-04-11-Poland-UMass-SemiMech.csv
  data-processed/UNIPV-BayesINGARCHX/2021-04-12-Germany-UNIPV-BayesINGARCHX-case.csv
  data-processed/USyd-OneModelMan/2021-04-12-Germany-USyd-OneModelMan.csv
  data-processed/USyd-OneModelMan/2021-04-12-Poland-USyd-OneModelMan.csv
  data-processed/UVA-Ensemble/2021-04-12-Germany-UVA-Ensemble-case.csv
  data-processed/UVA-Ensemble/2021-04-12-Poland-UVA-Ensemble-case.csv
  data-processed/bisop-seirfilterlite/2021-04-12-Germany-bisop-seirfilterlite-case.csv
  data-processed/bisop-seirfilterlite/2021-04-12-Germany-bisop-seirfilterlite.csv
  data-processed/bisop-seirfilterlite/2021-04-12-Poland-bisop-seirfilterlite-case.csv
  data-processed/bisop-seirfilterlite/2021-04-12-Poland-bisop-seirfilterlite.csv
  data-processed/epiforecasts-EpiExpert/2021-04-12-Germany-epiforecasts-EpiExpert-case.csv
  data-processed/epiforecasts-EpiExpert/2021-04-12-Germany-epiforecasts-EpiExpert.csv
  data-processed/epiforecasts-EpiExpert/2021-04-12-Poland-epiforecasts-EpiExpert-case.csv
  data-processed/epiforecasts-EpiExpert/2021-04-12-Poland-epiforecasts-EpiExpert.csv
  data-processed/epiforecasts-EpiNow2/2021-04-12-Germany-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2021-04-12-Germany-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-EpiNow2/2021-04-12-Poland-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2021-04-12-Poland-epiforecasts-EpiNow2.csv
Labels: data-submission

#855 Removing epiNow2 as it should be submitted directly.
  data-processed/epiforecasts-EpiNow2/2021-04-12-Germany-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2021-04-12-Germany-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-EpiNow2/2021-04-12-Poland-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2021-04-12-Poland-epiforecasts-EpiNow2.csv
Labels: data-submission, forecast-deleted

#856 2021-04-12 - EpiForecast submission
  data-processed/epiforecasts-EpiNow2/2021-04-12-Germany-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2021-04-12-Germany-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-EpiNow2/2021-04-12-Poland-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2021-04-12-Poland-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-EpiNow2_secondary/2021-04-12-Germany-epiforecasts-EpiNow2_secondary.csv
  data-processed/epiforecasts-EpiNow2_secondary/2021-04-12-Poland-epiforecasts-EpiNow2_secondary.csv
Labels: data-submission

#857 Adding regional ensembles.
  code/ensemble/included_models/included_models-2021-04-12.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-04-12-Germany-KITCOVIDhub-inverse_wis_ensemble-case.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-04-12-Germany-KITCOVIDhub-inverse_wis_ensemble.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-04-12-Poland-KITCOVIDhub-inverse_wis_ensemble-case.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-04-12-Poland-KITCOVIDhub-inverse_wis_ensemble.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-04-12-Germany-KITCOVIDhub-mean_ensemble-case.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-04-12-Germany-KITCOVIDhub-mean_ensemble.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-04-12-Poland-KITCOVIDhub-mean_ensemble-case.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-04-12-Poland-KITCOVIDhub-mean_ensemble.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-04-12-Germany-KITCOVIDhub-median_ensemble-case.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-04-12-Germany-KITCOVIDhub-median_ensemble.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-04-12-Poland-KITCOVIDhub-median_ensemble-case.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-04-12-Poland-KITCOVIDhub-median_ensemble.csv
  decisions_and_revisions.txt
Labels: data-submission, other-files-updated

#859 Update IHME 09/04/21
  data-processed/IHME-CurveFit/2021-04-09-Germany-IHME-CurveFit.csv
  data-processed/IHME-CurveFit/2021-04-09-Poland-IHME-CurveFit.csv
  data-raw/IHME/2021_04_09/IHME_COVID_19_Data_Release_Information_Sheet.pdf
  data-raw/IHME/2021_04_09/Summary_stats_all_locs.csv
Labels: added-raw-data, data-submission

#858 Adding Saxony again after fresh Fork from kit-master to resolve pull-request conflict
  .gitignore
  data-processed/LeipzigIMISE-SECIR/2021-03-29-Germany-LeipzigIMISE-SECIR-case.csv
  data-processed/LeipzigIMISE-SECIR/2021-03-29-Germany-LeipzigIMISE-SECIR.csv
  data-processed/LeipzigIMISE-SECIR/2021-04-05-Germany-LeipzigIMISE-SECIR-case.csv
  data-processed/LeipzigIMISE-SECIR/2021-04-05-Germany-LeipzigIMISE-SECIR.csv
  data-processed/LeipzigIMISE-SECIR/2021-04-12-Germany-LeipzigIMISE-SECIR-case.csv
  data-processed/LeipzigIMISE-SECIR/2021-04-12-Germany-LeipzigIMISE-SECIR.csv
Labels: data-submission, forecast-updated, other-files-updated

#863 Some fixes wrt evaluation (broke this week)
  code/R/evaluation_functions.R
  data-processed/CASUS-BGLM/2021-04-12-Germany-CASUS-BGLM-case.csv
  evaluation/evaluate_forecasts.R
Labels: data-submission, forecast-updated, other-files-updated

#876 2021-04-19 - EpiForecast submission
  data-processed/epiforecasts-EpiNow2/2021-04-19-Germany-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2021-04-19-Germany-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-EpiNow2/2021-04-19-Poland-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2021-04-19-Poland-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-EpiNow2_secondary/2021-04-19-Germany-epiforecasts-EpiNow2_secondary.csv
  data-processed/epiforecasts-EpiNow2_secondary/2021-04-19-Poland-epiforecasts-EpiNow2_secondary.csv
Labels: data-submission

#875 Update 0419
  data-processed/MIT_CovidAnalytics-DELPHI/2021-04-19-Germany-MIT_CovidAnalytics-DELPHI-case.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-04-19-Germany-MIT_CovidAnalytics-DELPHI.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-04-19-Poland-MIT_CovidAnalytics-DELPHI-case.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-04-19-Poland-MIT_CovidAnalytics-DELPHI.csv
Labels: data-submission

#874 Upload 2021-04-18 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2021-04-18-Germany-Karlen-pypm-case.csv
  data-processed/Karlen-pypm/2021-04-18-Germany-Karlen-pypm.csv
Labels: data-submission

#873 2021-04-19 ICM submission
  data-processed/ICM-agentModel/2021-04-19-Poland-ICM-agentModel-case.csv
  data-processed/ICM-agentModel/2021-04-19-Poland-ICM-agentModel.csv
Labels: data-submission

#872 Predictions as of 19 April 2021.
  data-processed/FIAS_FZJ-Epi1Ger/2021-04-19-Germany-FIAS_FZJ-Epi1Ger-case.csv
  data-processed/FIAS_FZJ-Epi1Ger/2021-04-19-Germany-FIAS_FZJ-Epi1Ger.csv
Labels: data-submission

#871 MOCOS 2021-04-19
  data-processed/MOCOS-agent1/2021-04-19-Poland-MOCOS-agent1-case.csv
  data-processed/MOCOS-agent1/2021-04-19-Poland-MOCOS-agent1.csv
Labels: data-submission

#870 ITWW forecast for 2021-04-19
  data-processed/ITWW-county_repro/2021-04-19-Germany-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2021-04-19-Germany-ITWW-county_repro.csv
  data-processed/ITWW-county_repro/2021-04-19-Poland-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2021-04-19-Poland-ITWW-county_repro.csv
Labels: data-submission

#869 CASUS-BGLM April 19
  data-processed/CASUS-BGLM/2021-04-19-Germany-CASUS-BGLM-case.csv
Labels: data-submission

#868 adds forecast week 16
  data-processed/itwm-dSEIR/2021-04-19-Germany-itwm-dSEIR-case.csv
  data-processed/itwm-dSEIR/2021-04-19-Germany-itwm-dSEIR.csv
Labels: data-submission

#867 19-04 Latest predictions MIMUW
  data-processed/MIMUW-StochSEIR/2021-04-19-Poland-MIMUW-StochSEIR-case.csv
  data-processed/MIMUW-StochSEIR/2021-04-19-Poland-MIMUW-StochSEIR.csv
Labels: data-submission

#866 USC-SI_kJalpha: Weekly update
  data-processed/USC-SIkJalpha/2021-04-18-Germany-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2021-04-18-Germany-USC-SIkJalpha.csv
  data-processed/USC-SIkJalpha/2021-04-18-Poland-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2021-04-18-Poland-USC-SIkJalpha.csv
Labels: data-submission

#878 Adding models from EU Hub.
  data-processed/EuroCOVIDhub-ensemble/2021-04-19-Germany-EuroCOVIDhub-ensemble-case.csv
  data-processed/EuroCOVIDhub-ensemble/2021-04-19-Germany-EuroCOVIDhub-ensemble.csv
  data-processed/EuroCOVIDhub-ensemble/2021-04-19-Poland-EuroCOVIDhub-ensemble-case.csv
  data-processed/EuroCOVIDhub-ensemble/2021-04-19-Poland-EuroCOVIDhub-ensemble.csv
  data-processed/HZI-AgeExtendedSEIR/2021-04-19-Germany-HZI-AgeExtendedSEIR-case.csv
  data-processed/HZI-AgeExtendedSEIR/2021-04-19-Germany-HZI-AgeExtendedSEIR.csv
  data-processed/IEM_Health-CovidProject/2021-04-19-Germany-IEM_Health-CovidProject-case.csv
  data-processed/IEM_Health-CovidProject/2021-04-19-Germany-IEM_Health-CovidProject.csv
  data-processed/IEM_Health-CovidProject/2021-04-19-Poland-IEM_Health-CovidProject-case.csv
  data-processed/IEM_Health-CovidProject/2021-04-19-Poland-IEM_Health-CovidProject.csv
  data-processed/ILM-EKF/2021-04-19-Germany-ILM-EKF-case.csv
  data-processed/ILM-EKF/2021-04-19-Germany-ILM-EKF.csv
  data-processed/ILM-EKF/2021-04-19-Poland-ILM-EKF-case.csv
  data-processed/ILM-EKF/2021-04-19-Poland-ILM-EKF.csv
  data-processed/Imperial-DeCa/2021-04-19-Germany-Imperial-DeCa.csv
  data-processed/Imperial-DeCa/2021-04-19-Poland-Imperial-DeCa.csv
  data-processed/Imperial-RtI0/2021-04-19-Germany-Imperial-RtI0.csv
  data-processed/Imperial-RtI0/2021-04-19-Poland-Imperial-RtI0.csv
  data-processed/Imperial-sbkp/2021-04-19-Germany-Imperial-sbkp.csv
  data-processed/Imperial-sbkp/2021-04-19-Poland-Imperial-sbkp.csv
  data-processed/LANL-GrowthRate/2021-04-18-Germany-LANL-GrowthRate-case.csv
  data-processed/LANL-GrowthRate/2021-04-18-Germany-LANL-GrowthRate.csv
  data-processed/LANL-GrowthRate/2021-04-18-Poland-LANL-GrowthRate-case.csv
  data-processed/LANL-GrowthRate/2021-04-18-Poland-LANL-GrowthRate.csv
  data-processed/LeipzigIMISE-SECIR/2021-04-19-Germany-LeipzigIMISE-SECIR-case.csv
  data-processed/LeipzigIMISE-SECIR/2021-04-19-Germany-LeipzigIMISE-SECIR.csv
  data-processed/Priesemann-bayes/2021-04-19-Germany-Priesemann-bayes-case.csv
  data-processed/Priesemann-bayes/2021-04-19-Poland-Priesemann-bayes-case.csv
  data-processed/RobertWalraven-ESG/2021-04-19-Germany-RobertWalraven-ESG-case.csv
  data-processed/RobertWalraven-ESG/2021-04-19-Germany-RobertWalraven-ESG.csv
  data-processed/RobertWalraven-ESG/2021-04-19-Poland-RobertWalraven-ESG-case.csv
  data-processed/RobertWalraven-ESG/2021-04-19-Poland-RobertWalraven-ESG.csv
  data-processed/SDSC_ISG-TrendModel/2021-04-19-Germany-SDSC_ISG-TrendModel-case.csv
  data-processed/SDSC_ISG-TrendModel/2021-04-19-Germany-SDSC_ISG-TrendModel.csv
  data-processed/SDSC_ISG-TrendModel/2021-04-19-Poland-SDSC_ISG-TrendModel-case.csv
  data-processed/SDSC_ISG-TrendModel/2021-04-19-Poland-SDSC_ISG-TrendModel.csv
  data-processed/UMass-MechBayes/2021-04-18-Germany-UMass-MechBayes.csv
  data-processed/UMass-MechBayes/2021-04-18-Poland-UMass-MechBayes.csv
  data-processed/UMass-SemiMech/2021-04-18-Germany-UMass-SemiMech-case.csv
  data-processed/UMass-SemiMech/2021-04-18-Germany-UMass-SemiMech.csv
  data-processed/UMass-SemiMech/2021-04-18-Poland-UMass-SemiMech-case.csv
  data-processed/UMass-SemiMech/2021-04-18-Poland-UMass-SemiMech.csv
  data-processed/UNIPV-BayesINGARCHX/2021-04-19-Germany-UNIPV-BayesINGARCHX-case.csv
  data-processed/USyd-OneModelMan/2021-04-19-Germany-USyd-OneModelMan.csv
  data-processed/USyd-OneModelMan/2021-04-19-Poland-USyd-OneModelMan.csv
  data-processed/UVA-Ensemble/2021-04-19-Germany-UVA-Ensemble-case.csv
  data-processed/UVA-Ensemble/2021-04-19-Poland-UVA-Ensemble-case.csv
  data-processed/bisop-seirfilterlite/2021-04-19-Germany-bisop-seirfilterlite-case.csv
  data-processed/bisop-seirfilterlite/2021-04-19-Germany-bisop-seirfilterlite.csv
  data-processed/bisop-seirfilterlite/2021-04-19-Poland-bisop-seirfilterlite-case.csv
  data-processed/bisop-seirfilterlite/2021-04-19-Poland-bisop-seirfilterlite.csv
  data-processed/epiforecasts-EpiExpert/2021-04-19-Germany-epiforecasts-EpiExpert-case.csv
  data-processed/epiforecasts-EpiExpert/2021-04-19-Germany-epiforecasts-EpiExpert.csv
  data-processed/epiforecasts-EpiExpert/2021-04-19-Poland-epiforecasts-EpiExpert-case.csv
  data-processed/epiforecasts-EpiExpert/2021-04-19-Poland-epiforecasts-EpiExpert.csv
  data-processed/epiforecasts-EpiExpert_Rt/2021-04-19-Germany-epiforecasts-EpiExpert_Rt-case.csv
  data-processed/epiforecasts-EpiExpert_Rt/2021-04-19-Germany-epiforecasts-EpiExpert_Rt.csv
  data-processed/epiforecasts-EpiExpert_Rt/2021-04-19-Poland-epiforecasts-EpiExpert_Rt-case.csv
  data-processed/epiforecasts-EpiExpert_Rt/2021-04-19-Poland-epiforecasts-EpiExpert_Rt.csv
Labels: data-submission

#880 Adding regional ensembles.
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-04-19-Germany-KITCOVIDhub-inverse_wis_ensemble-case.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-04-19-Germany-KITCOVIDhub-inverse_wis_ensemble.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-04-19-Poland-KITCOVIDhub-inverse_wis_ensemble-case.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-04-19-Poland-KITCOVIDhub-inverse_wis_ensemble.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-04-19-Germany-KITCOVIDhub-mean_ensemble-case.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-04-19-Germany-KITCOVIDhub-mean_ensemble.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-04-19-Poland-KITCOVIDhub-mean_ensemble-case.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-04-19-Poland-KITCOVIDhub-mean_ensemble.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-04-19-Germany-KITCOVIDhub-median_ensemble-case.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-04-19-Germany-KITCOVIDhub-median_ensemble.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-04-19-Poland-KITCOVIDhub-median_ensemble-case.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-04-19-Poland-KITCOVIDhub-median_ensemble.csv
Labels: data-submission

#879 Adding Saxony to reimported European Germany Forecast LeipzigIMISE-SECIR
  data-processed/LeipzigIMISE-SECIR/2021-04-19-Germany-LeipzigIMISE-SECIR-case.csv
  data-processed/LeipzigIMISE-SECIR/2021-04-19-Germany-LeipzigIMISE-SECIR.csv
Labels: data-submission, forecast-updated

#881 Update IHME 16/04/2021
  data-processed/IHME-CurveFit/2021-04-16-Germany-IHME-CurveFit.csv
  data-processed/IHME-CurveFit/2021-04-16-Poland-IHME-CurveFit.csv
  data-raw/IHME/2021_04_16/IHME_COVID_19_Data_Release_Information_Sheet.pdf
  data-raw/IHME/2021_04_16/Summary_stats_all_locs.csv
  data-raw/IHME/process_IHME-germany_functions.R
Labels: added-raw-data, data-submission

#882 Adding missing metadata.
  data-processed/Imperial-DeCa/metadata-Imperial-DeCa.txt
  data-processed/Imperial-RtI0/metadata-Imperial-RtI0.txt
  data-processed/Imperial-sbkp/metadata-Imperial-sbkp.txt
Labels: metadata-change

#885 Upload 2021-04-25 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2021-04-25-Germany-Karlen-pypm-case.csv
  data-processed/Karlen-pypm/2021-04-25-Germany-Karlen-pypm.csv
Labels: data-submission

#884 USC-SI_kJalpha: Weekly update
  data-processed/USC-SIkJalpha/2021-04-25-Germany-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2021-04-25-Germany-USC-SIkJalpha.csv
  data-processed/USC-SIkJalpha/2021-04-25-Poland-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2021-04-25-Poland-USC-SIkJalpha.csv
Labels: data-submission

#892 adds forecasts week 17
  data-processed/itwm-dSEIR/2021-04-26-Germany-itwm-dSEIR-case.csv
  data-processed/itwm-dSEIR/2021-04-26-Germany-itwm-dSEIR.csv
Labels: data-submission

#891 MOCOS 2021-04-26 for Poland
  data-processed/MOCOS-agent1/2021-04-26-Poland-MOCOS-agent1-case.csv
  data-processed/MOCOS-agent1/2021-04-26-Poland-MOCOS-agent1.csv
Labels: data-submission

#890 MIT Update
  data-processed/MIT_CovidAnalytics-DELPHI/2021-04-25-Germany-MIT_CovidAnalytics-DELPHI-case.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-04-25-Germany-MIT_CovidAnalytics-DELPHI.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-04-25-Poland-MIT_CovidAnalytics-DELPHI-case.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-04-25-Poland-MIT_CovidAnalytics-DELPHI.csv
Labels: data-submission

#889 Predictions as of 26 April 2021.
  data-processed/FIAS_FZJ-Epi1Ger/2021-04-26-Germany-FIAS_FZJ-Epi1Ger-case.csv
  data-processed/FIAS_FZJ-Epi1Ger/2021-04-26-Germany-FIAS_FZJ-Epi1Ger.csv
Labels: data-submission

#888 CASUS-BGLM 2021-04-26
  data-processed/CASUS-BGLM/2021-04-26-Germany-CASUS-BGLM-case.csv
Labels: data-submission

#887 ITWW forecast for 2021-04-26
  data-processed/ITWW-county_repro/2021-04-26-Germany-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2021-04-26-Germany-ITWW-county_repro.csv
  data-processed/ITWW-county_repro/2021-04-26-Poland-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2021-04-26-Poland-ITWW-county_repro.csv
Labels: data-submission

#886 2021-04-26 ICM submission
  data-processed/ICM-agentModel/2021-04-26-Poland-ICM-agentModel-case.csv
  data-processed/ICM-agentModel/2021-04-26-Poland-ICM-agentModel.csv
Labels: data-submission

#893 Late submit from MIMUW
  data-processed/MIMUW-StochSEIR/2021-04-26-Poland-MIMUW-StochSEIR-case.csv
  data-processed/MIMUW-StochSEIR/2021-04-26-Poland-MIMUW-StochSEIR.csv
Labels: data-submission

#894 Adding forecasts from EU platform.
  data-processed/BIOCOMSC-Gompertz/2021-04-26-Germany-BIOCOMSC-Gompertz-case.csv
  data-processed/BIOCOMSC-Gompertz/2021-04-26-Germany-BIOCOMSC-Gompertz.csv
  data-processed/BIOCOMSC-Gompertz/2021-04-26-Poland-BIOCOMSC-Gompertz-case.csv
  data-processed/BIOCOMSC-Gompertz/2021-04-26-Poland-BIOCOMSC-Gompertz.csv
  data-processed/BIOCOMSC-Gompertz/metadata-BIOCOMSC-Gompertz.txt
  data-processed/EuroCOVIDhub-ensemble/2021-04-26-Germany-EuroCOVIDhub-ensemble-case.csv
  data-processed/EuroCOVIDhub-ensemble/2021-04-26-Germany-EuroCOVIDhub-ensemble.csv
  data-processed/EuroCOVIDhub-ensemble/2021-04-26-Poland-EuroCOVIDhub-ensemble-case.csv
  data-processed/EuroCOVIDhub-ensemble/2021-04-26-Poland-EuroCOVIDhub-ensemble.csv
  data-processed/HZI-AgeExtendedSEIR/2021-04-26-Germany-HZI-AgeExtendedSEIR-case.csv
  data-processed/HZI-AgeExtendedSEIR/2021-04-26-Germany-HZI-AgeExtendedSEIR.csv
  data-processed/IEM_Health-CovidProject/2021-04-26-Germany-IEM_Health-CovidProject-case.csv
  data-processed/IEM_Health-CovidProject/2021-04-26-Germany-IEM_Health-CovidProject.csv
  data-processed/IEM_Health-CovidProject/2021-04-26-Poland-IEM_Health-CovidProject-case.csv
  data-processed/IEM_Health-CovidProject/2021-04-26-Poland-IEM_Health-CovidProject.csv
  data-processed/ILM-EKF/2021-04-26-Germany-ILM-EKF-case.csv
  data-processed/ILM-EKF/2021-04-26-Germany-ILM-EKF.csv
  data-processed/ILM-EKF/2021-04-26-Poland-ILM-EKF-case.csv
  data-processed/ILM-EKF/2021-04-26-Poland-ILM-EKF.csv
  data-processed/Imperial-DeCa/2021-04-26-Germany-Imperial-DeCa.csv
  data-processed/Imperial-DeCa/2021-04-26-Poland-Imperial-DeCa.csv
  data-processed/Imperial-RtI0/2021-04-26-Germany-Imperial-RtI0.csv
  data-processed/Imperial-RtI0/2021-04-26-Poland-Imperial-RtI0.csv
  data-processed/Imperial-sbkp/2021-04-26-Germany-Imperial-sbkp.csv
  data-processed/Imperial-sbkp/2021-04-26-Poland-Imperial-sbkp.csv
  data-processed/LANL-GrowthRate/2021-04-25-Germany-LANL-GrowthRate-case.csv
  data-processed/LANL-GrowthRate/2021-04-25-Germany-LANL-GrowthRate.csv
  data-processed/LANL-GrowthRate/2021-04-25-Poland-LANL-GrowthRate-case.csv
  data-processed/LANL-GrowthRate/2021-04-25-Poland-LANL-GrowthRate.csv
  data-processed/PL_GRedlarski-DistrictsSum/2021-04-26-Poland-PL_GRedlarski-DistrictsSum-case.csv
  data-processed/PL_GRedlarski-DistrictsSum/metadata-PL_GRedlarski-DistrictsSum.txt
  data-processed/Priesemann-bayes/2021-04-26-Germany-Priesemann-bayes-case.csv
  data-processed/Priesemann-bayes/2021-04-26-Poland-Priesemann-bayes-case.csv
  data-processed/RobertWalraven-ESG/2021-04-26-Germany-RobertWalraven-ESG-case.csv
  data-processed/RobertWalraven-ESG/2021-04-26-Germany-RobertWalraven-ESG.csv
  data-processed/RobertWalraven-ESG/2021-04-26-Poland-RobertWalraven-ESG-case.csv
  data-processed/RobertWalraven-ESG/2021-04-26-Poland-RobertWalraven-ESG.csv
  data-processed/SDSC_ISG-TrendModel/2021-04-26-Germany-SDSC_ISG-TrendModel-case.csv
  data-processed/SDSC_ISG-TrendModel/2021-04-26-Germany-SDSC_ISG-TrendModel.csv
  data-processed/SDSC_ISG-TrendModel/2021-04-26-Poland-SDSC_ISG-TrendModel-case.csv
  data-processed/SDSC_ISG-TrendModel/2021-04-26-Poland-SDSC_ISG-TrendModel.csv
  data-processed/UMass-MechBayes/2021-04-25-Germany-UMass-MechBayes.csv
  data-processed/UMass-MechBayes/2021-04-25-Poland-UMass-MechBayes.csv
  data-processed/UMass-SemiMech/2021-04-25-Germany-UMass-SemiMech-case.csv
  data-processed/UMass-SemiMech/2021-04-25-Germany-UMass-SemiMech.csv
  data-processed/UMass-SemiMech/2021-04-25-Poland-UMass-SemiMech-case.csv
  data-processed/UMass-SemiMech/2021-04-25-Poland-UMass-SemiMech.csv
  data-processed/UNIPV-BayesINGARCHX/2021-04-26-Germany-UNIPV-BayesINGARCHX-case.csv
  data-processed/USyd-OneModelMan/2021-04-26-Germany-USyd-OneModelMan.csv
  data-processed/USyd-OneModelMan/2021-04-26-Poland-USyd-OneModelMan.csv
  data-processed/UVA-Ensemble/2021-04-26-Germany-UVA-Ensemble-case.csv
  data-processed/UVA-Ensemble/2021-04-26-Poland-UVA-Ensemble-case.csv
  data-processed/epiforecasts-EpiNow2/2021-04-26-Germany-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2021-04-26-Germany-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-EpiNow2/2021-04-26-Poland-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2021-04-26-Poland-epiforecasts-EpiNow2.csv
Labels: data-submission, metadata-change

#896 Update IHME 22/04/21
  data-processed/IHME-CurveFit/2021-04-22-Germany-IHME-CurveFit.csv
  data-processed/IHME-CurveFit/2021-04-22-Poland-IHME-CurveFit.csv
  data-raw/IHME/2021_04_22/IHME_COVID_19_Data_Release_Information_Sheet.pdf
  data-raw/IHME/2021_04_22/Summary_stats_all_locs.csv
Labels: added-raw-data, data-submission

#895 2021-04-26 - EpiForecast submission
  data-processed/epiforecasts-EpiNow2/2021-04-26-Germany-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2021-04-26-Germany-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-EpiNow2/2021-04-26-Poland-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2021-04-26-Poland-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-EpiNow2_secondary/2021-04-26-Germany-epiforecasts-EpiNow2_secondary.csv
  data-processed/epiforecasts-EpiNow2_secondary/2021-04-26-Poland-epiforecasts-EpiNow2_secondary.csv
Labels: data-submission, forecast-updated

#897 Correcting error from conflict resolutoin.
  data-processed/epiforecasts-EpiNow2/2021-04-26-Poland-epiforecasts-EpiNow2.csv
Labels: data-submission, forecast-updated

#898 Adding ensembles
  app_forecasts_de/data/truth_data_use_detailed.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-04-26-Germany-KITCOVIDhub-inverse_wis_ensemble-case.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-04-26-Germany-KITCOVIDhub-inverse_wis_ensemble.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-04-26-Poland-KITCOVIDhub-inverse_wis_ensemble-case.csv
  data-processed/KITCOVIDhub-inverse_wis_ensemble/2021-04-26-Poland-KITCOVIDhub-inverse_wis_ensemble.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-04-26-Germany-KITCOVIDhub-mean_ensemble-case.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-04-26-Germany-KITCOVIDhub-mean_ensemble.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-04-26-Poland-KITCOVIDhub-mean_ensemble-case.csv
  data-processed/KITCOVIDhub-mean_ensemble/2021-04-26-Poland-KITCOVIDhub-mean_ensemble.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-04-26-Germany-KITCOVIDhub-median_ensemble-case.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-04-26-Germany-KITCOVIDhub-median_ensemble.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-04-26-Poland-KITCOVIDhub-median_ensemble-case.csv
  data-processed/KITCOVIDhub-median_ensemble/2021-04-26-Poland-KITCOVIDhub-median_ensemble.csv
Labels: data-submission, other-files-updated
