Repository KITmetricslab/covid19-forecast-hub-de, pull requests merged in 2022-03, with the labels that each got.

#1418 2022-02-28 ICM submssion
  data-processed/ICM-agentModel/2022-02-28-Poland-ICM-agentModel-case.csv
  data-processed/ICM-agentModel/2022-02-28-Poland-ICM-agentModel.csv
Labels: data-submission

#1417 Predictions as of 28 February 2022.
  data-processed/FIAS_FZJ-Epi1Ger/2022-02-28-Germany-FIAS_FZJ-Epi1Ger-case.csv
  data-processed/FIAS_FZJ-Epi1Ger/2022-02-28-Germany-FIAS_FZJ-Epi1Ger.csv
Labels: data-submission

#1416 MIT Update
  data-processed/MIT_CovidAnalytics-DELPHI/2022-02-28-Germany-MIT_CovidAnalytics-DELPHI-case.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2022-02-28-Germany-MIT_CovidAnalytics-DELPHI.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2022-02-28-Poland-MIT_CovidAnalytics-DELPHI-case.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2022-02-28-Poland-MIT_CovidAnalytics-DELPHI.csv
Labels: data-submission

#1415 ITWW forecast for 2022-02-28
  data-processed/ITWW-county_repro/2022-02-28-Germany-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2022-02-28-Germany-ITWW-county_repro.csv
  data-processed/ITWW-county_repro/2022-02-28-Poland-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2022-02-28-Poland-ITWW-county_repro.csv
Labels: data-submission

#1414 CovidMetrics-epiBATS (2022-02-28)
  data-processed/CovidMetrics-epiBATS/2022-02-28-Germany-CovidMetrics-epiBATS-case.csv
Labels: data-submission

#1413 USC-SIkJalpha: Add files via upload
  data-processed/USC-SIkJalpha/2022-02-27-Germany-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2022-02-27-Germany-USC-SIkJalpha.csv
  data-processed/USC-SIkJalpha/2022-02-27-Poland-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2022-02-27-Poland-USC-SIkJalpha.csv
Labels: data-submission

#1412 HKUST-DNN_DA 220228 forecast
  data-processed/HKUST-DNN_DA/2022-02-28-Germany-HKUST-DNN_DA-case.csv
Labels: data-submission

#1419 MOCOS 2022-02-28
  data-processed/MOCOS-agent1/2022-02-28-Poland-MOCOS-agent1-case.csv
  data-processed/MOCOS-agent1/2022-02-28-Poland-MOCOS-agent1.csv
Labels: data-submission

#1420 Import EU forecasts
  data-processed/BIOCOMSC-Gompertz/2022-02-28-Germany-BIOCOMSC-Gompertz-case.csv
  data-processed/BIOCOMSC-Gompertz/2022-02-28-Germany-BIOCOMSC-Gompertz.csv
  data-processed/BIOCOMSC-Gompertz/2022-02-28-Poland-BIOCOMSC-Gompertz-case.csv
  data-processed/BIOCOMSC-Gompertz/2022-02-28-Poland-BIOCOMSC-Gompertz.csv
  data-processed/EuroCOVIDhub-baseline/2022-02-28-Germany-EuroCOVIDhub-baseline-case.csv
  data-processed/EuroCOVIDhub-baseline/2022-02-28-Germany-EuroCOVIDhub-baseline.csv
  data-processed/EuroCOVIDhub-baseline/2022-02-28-Poland-EuroCOVIDhub-baseline-case.csv
  data-processed/EuroCOVIDhub-baseline/2022-02-28-Poland-EuroCOVIDhub-baseline.csv
  data-processed/EuroCOVIDhub-ensemble/2022-02-28-Germany-EuroCOVIDhub-ensemble-case.csv
  data-processed/EuroCOVIDhub-ensemble/2022-02-28-Germany-EuroCOVIDhub-ensemble.csv
  data-processed/EuroCOVIDhub-ensemble/2022-02-28-Poland-EuroCOVIDhub-ensemble-case.csv
  data-processed/EuroCOVIDhub-ensemble/2022-02-28-Poland-EuroCOVIDhub-ensemble.csv
  data-processed/HZI-AgeExtendedSEIR/2022-02-28-Germany-HZI-AgeExtendedSEIR-case.csv
  data-processed/HZI-AgeExtendedSEIR/2022-02-28-Germany-HZI-AgeExtendedSEIR.csv
  data-processed/IEM_Health-CovidProject/2022-02-28-Germany-IEM_Health-CovidProject-case.csv
  data-processed/IEM_Health-CovidProject/2022-02-28-Germany-IEM_Health-CovidProject.csv
  data-processed/IEM_Health-CovidProject/2022-02-28-Poland-IEM_Health-CovidProject-case.csv
  data-processed/IEM_Health-CovidProject/2022-02-28-Poland-IEM_Health-CovidProject.csv
  data-processed/ILM-EKF/2022-02-28-Germany-ILM-EKF-case.csv
  data-processed/ILM-EKF/2022-02-28-Germany-ILM-EKF.csv
  data-processed/ILM-EKF/2022-02-28-Poland-ILM-EKF-case.csv
  data-processed/ILM-EKF/2022-02-28-Poland-ILM-EKF.csv
  data-processed/PL_GRedlarski-DistrictsSum/2022-02-28-Poland-PL_GRedlarski-DistrictsSum-case.csv
  data-processed/RobertWalraven-ESG/2022-02-28-Germany-RobertWalraven-ESG-case.csv
  data-processed/RobertWalraven-ESG/2022-02-28-Germany-RobertWalraven-ESG.csv
  data-processed/RobertWalraven-ESG/2022-02-28-Poland-RobertWalraven-ESG-case.csv
  data-processed/RobertWalraven-ESG/2022-02-28-Poland-RobertWalraven-ESG.csv
  data-processed/SDSC_ISG-TrendModel/2022-02-27-Germany-SDSC_ISG-TrendModel-case.csv
  data-processed/SDSC_ISG-TrendModel/2022-02-27-Germany-SDSC_ISG-TrendModel.csv
  data-processed/SDSC_ISG-TrendModel/2022-02-27-Poland-SDSC_ISG-TrendModel-case.csv
  data-processed/SDSC_ISG-TrendModel/2022-02-27-Poland-SDSC_ISG-TrendModel.csv
  data-processed/epiforecasts-EpiNow2/2022-02-28-Germany-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2022-02-28-Germany-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-EpiNow2/2022-02-28-Poland-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2022-02-28-Poland-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-weeklygrowth/2022-02-27-Germany-epiforecasts-weeklygrowth-case.csv
  data-processed/epiforecasts-weeklygrowth/2022-02-27-Poland-epiforecasts-weeklygrowth-case.csv
  data-processed/itwm-dSEIR/2022-02-28-Germany-itwm-dSEIR-case.csv
  data-processed/itwm-dSEIR/2022-02-28-Germany-itwm-dSEIR.csv
Labels: data-submission, automated pr

#1426 MIT Update
  data-processed/MIT_CovidAnalytics-DELPHI/2022-03-07-Germany-MIT_CovidAnalytics-DELPHI-case.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2022-03-07-Germany-MIT_CovidAnalytics-DELPHI.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2022-03-07-Poland-MIT_CovidAnalytics-DELPHI-case.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2022-03-07-Poland-MIT_CovidAnalytics-DELPHI.csv
Labels: data-submission

#1425 Predictions as of 7 March 2022.
  data-processed/FIAS_FZJ-Epi1Ger/2022-03-07-Germany-FIAS_FZJ-Epi1Ger-case.csv
  data-processed/FIAS_FZJ-Epi1Ger/2022-03-07-Germany-FIAS_FZJ-Epi1Ger.csv
Labels: data-submission

#1424 ITWW forecast for 2022-03-07
  data-processed/ITWW-county_repro/2022-03-07-Germany-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2022-03-07-Germany-ITWW-county_repro.csv
  data-processed/ITWW-county_repro/2022-03-07-Poland-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2022-03-07-Poland-ITWW-county_repro.csv
Labels: data-submission

#1423 CovidMetrics-epiBATS (2022-03-07)
  data-processed/CovidMetrics-epiBATS/2022-03-07-Germany-CovidMetrics-epiBATS-case.csv
Labels: data-submission

#1421 USC-SIkJalpha: Add files via upload
  data-processed/USC-SIkJalpha/2022-03-06-Germany-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2022-03-06-Germany-USC-SIkJalpha.csv
  data-processed/USC-SIkJalpha/2022-03-06-Poland-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2022-03-06-Poland-USC-SIkJalpha.csv
Labels: data-submission

#1427 MOCOS 2022-03-06
  data-processed/MOCOS-agent1/2022-03-06-Poland-MOCOS-agent1-case.csv
  data-processed/MOCOS-agent1/2022-03-06-Poland-MOCOS-agent1.csv
Labels: data-submission

#1434 MIT Update
  data-processed/MIT_CovidAnalytics-DELPHI/2022-03-14-Germany-MIT_CovidAnalytics-DELPHI.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2022-03-14-Poland-MIT_CovidAnalytics-DELPHI.csv
Labels: data-submission

#1433 Predictions as of 14 March 2022.
  data-processed/FIAS_FZJ-Epi1Ger/2022-03-14-Germany-FIAS_FZJ-Epi1Ger-case.csv
  data-processed/FIAS_FZJ-Epi1Ger/2022-03-14-Germany-FIAS_FZJ-Epi1Ger.csv
Labels: data-submission

#1432 ITWW forecast for 2022-03-14
  data-processed/ITWW-county_repro/2022-03-14-Germany-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2022-03-14-Germany-ITWW-county_repro.csv
  data-processed/ITWW-county_repro/2022-03-14-Poland-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2022-03-14-Poland-ITWW-county_repro.csv
Labels: data-submission

#1431 HKUST-DNN_DA 220314 forecast
  data-processed/HKUST-DNN_DA/2022-03-14-Germany-HKUST-DNN_DA-case.csv
Labels: data-submission

#1430 CovidMetrics-epiBATS (2022-03-14)
  data-processed/CovidMetrics-epiBATS/2022-03-14-Germany-CovidMetrics-epiBATS-case.csv
Labels: data-submission

#1429 USC-SIkJalpha: Add files via upload
  data-processed/USC-SIkJalpha/2022-03-13-Germany-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2022-03-13-Germany-USC-SIkJalpha.csv
  data-processed/USC-SIkJalpha/2022-03-13-Poland-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2022-03-13-Poland-USC-SIkJalpha.csv
Labels: data-submission

#1435 Import EU forecasts
  data-processed/BIOCOMSC-Gompertz/2022-03-14-Germany-BIOCOMSC-Gompertz-case.csv
  data-processed/BIOCOMSC-Gompertz/2022-03-14-Germany-BIOCOMSC-Gompertz.csv
  data-processed/BIOCOMSC-Gompertz/2022-03-14-Poland-BIOCOMSC-Gompertz-case.csv
  data-processed/BIOCOMSC-Gompertz/2022-03-14-Poland-BIOCOMSC-Gompertz.csv
  data-processed/EuroCOVIDhub-baseline/2022-03-14-Germany-EuroCOVIDhub-baseline-case.csv
  data-processed/EuroCOVIDhub-baseline/2022-03-14-Germany-EuroCOVIDhub-baseline.csv
  data-processed/EuroCOVIDhub-baseline/2022-03-14-Poland-EuroCOVIDhub-baseline-case.csv
  data-processed/EuroCOVIDhub-baseline/2022-03-14-Poland-EuroCOVIDhub-baseline.csv
  data-processed/EuroCOVIDhub-ensemble/2022-03-14-Germany-EuroCOVIDhub-ensemble-case.csv
  data-processed/EuroCOVIDhub-ensemble/2022-03-14-Germany-EuroCOVIDhub-ensemble.csv
  data-processed/EuroCOVIDhub-ensemble/2022-03-14-Poland-EuroCOVIDhub-ensemble-case.csv
  data-processed/EuroCOVIDhub-ensemble/2022-03-14-Poland-EuroCOVIDhub-ensemble.csv
  data-processed/HZI-AgeExtendedSEIR/2022-03-14-Germany-HZI-AgeExtendedSEIR-case.csv
  data-processed/HZI-AgeExtendedSEIR/2022-03-14-Germany-HZI-AgeExtendedSEIR.csv
  data-processed/IEM_Health-CovidProject/2022-03-14-Germany-IEM_Health-CovidProject-case.csv
  data-processed/IEM_Health-CovidProject/2022-03-14-Germany-IEM_Health-CovidProject.csv
  data-processed/IEM_Health-CovidProject/2022-03-14-Poland-IEM_Health-CovidProject-case.csv
  data-processed/IEM_Health-CovidProject/2022-03-14-Poland-IEM_Health-CovidProject.csv
  data-processed/ILM-EKF/2022-03-14-Germany-ILM-EKF-case.csv
  data-processed/ILM-EKF/2022-03-14-Germany-ILM-EKF.csv
  data-processed/ILM-EKF/2022-03-14-Poland-ILM-EKF-case.csv
  data-processed/ILM-EKF/2022-03-14-Poland-ILM-EKF.csv
  data-processed/JBUD-HMXK/2022-03-13-Germany-JBUD-HMXK-case.csv
  data-processed/JBUD-HMXK/2022-03-13-Poland-JBUD-HMXK-case.csv
  data-processed/MUNI-ARIMA/2022-03-14-Germany-MUNI-ARIMA-case.csv
  data-processed/MUNI-ARIMA/2022-03-14-Germany-MUNI-ARIMA.csv
  data-processed/MUNI-ARIMA/2022-03-14-Poland-MUNI-ARIMA-case.csv
  data-processed/MUNI-ARIMA/2022-03-14-Poland-MUNI-ARIMA.csv
  data-processed/PL_GRedlarski-DistrictsSum/2022-03-14-Poland-PL_GRedlarski-DistrictsSum-case.csv
  data-processed/RobertWalraven-ESG/2022-03-14-Germany-RobertWalraven-ESG-case.csv
  data-processed/RobertWalraven-ESG/2022-03-14-Germany-RobertWalraven-ESG.csv
  data-processed/RobertWalraven-ESG/2022-03-14-Poland-RobertWalraven-ESG-case.csv
  data-processed/RobertWalraven-ESG/2022-03-14-Poland-RobertWalraven-ESG.csv
  data-processed/SDSC_ISG-TrendModel/2022-03-13-Germany-SDSC_ISG-TrendModel-case.csv
  data-processed/SDSC_ISG-TrendModel/2022-03-13-Germany-SDSC_ISG-TrendModel.csv
  data-processed/SDSC_ISG-TrendModel/2022-03-13-Poland-SDSC_ISG-TrendModel-case.csv
  data-processed/SDSC_ISG-TrendModel/2022-03-13-Poland-SDSC_ISG-TrendModel.csv
  data-processed/epiforecasts-EpiNow2/2022-03-14-Germany-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2022-03-14-Germany-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-EpiNow2/2022-03-14-Poland-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2022-03-14-Poland-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-weeklygrowth/2022-03-13-Germany-epiforecasts-weeklygrowth-case.csv
  data-processed/epiforecasts-weeklygrowth/2022-03-13-Poland-epiforecasts-weeklygrowth-case.csv
  data-processed/itwm-dSEIR/2022-03-14-Germany-itwm-dSEIR-case.csv
  data-processed/itwm-dSEIR/2022-03-14-Germany-itwm-dSEIR.csv
  data-processed/prolix-euclidean/2022-03-14-Germany-prolix-euclidean-case.csv
  data-processed/prolix-euclidean/2022-03-14-Germany-prolix-euclidean.csv
Labels: data-submission, automated pr

#1436 MOCOS 2022-03-14 (late submission)
  data-processed/MOCOS-agent1/2022-03-14-Poland-MOCOS-agent1-case.csv
  data-processed/MOCOS-agent1/2022-03-14-Poland-MOCOS-agent1.csv
Labels: data-submission

#1442 MIT CovidAnalytics Update 20220321
  data-processed/MIT_CovidAnalytics-DELPHI/2022-03-21-Germany-MIT_CovidAnalytics-DELPHI.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2022-03-21-Poland-MIT_CovidAnalytics-DELPHI.csv
Labels: data-submission

#1441 Predictions as of 21 March 2022.
  data-processed/FIAS_FZJ-Epi1Ger/2022-03-21-Germany-FIAS_FZJ-Epi1Ger-case.csv
  data-processed/FIAS_FZJ-Epi1Ger/2022-03-21-Germany-FIAS_FZJ-Epi1Ger.csv
Labels: data-submission

#1440 ITWW forecast for 2022-03-21
  data-processed/ITWW-county_repro/2022-03-21-Germany-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2022-03-21-Germany-ITWW-county_repro.csv
  data-processed/ITWW-county_repro/2022-03-21-Poland-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2022-03-21-Poland-ITWW-county_repro.csv
Labels: data-submission

#1439 CovidMetrics-epiBATS (2022-03-21)
  data-processed/CovidMetrics-epiBATS/2022-03-21-Germany-CovidMetrics-epiBATS-case.csv
Labels: data-submission

#1438 HKUST-DNN_DA 220321 forecast
  data-processed/HKUST-DNN_DA/2022-03-21-Germany-HKUST-DNN_DA-case.csv
Labels: data-submission

#1437 USC-SIkJalpha: Weekly update
  data-processed/USC-SIkJalpha/2022-03-20-Germany-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2022-03-20-Germany-USC-SIkJalpha.csv
  data-processed/USC-SIkJalpha/2022-03-20-Poland-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2022-03-20-Poland-USC-SIkJalpha.csv
Labels: data-submission

#1443 Adding EU forecasts manually
  code/ensemble/included_models/included_models-2021-12-13.csv
  code/ensemble/inverse_wis_weights/inverse_wis_weights-2021-12-13.csv
  data-processed/BIOCOMSC-Gompertz/2022-03-21-Germany-BIOCOMSC-Gompertz-case.csv
  data-processed/BIOCOMSC-Gompertz/2022-03-21-Germany-BIOCOMSC-Gompertz.csv
  data-processed/BIOCOMSC-Gompertz/2022-03-21-Poland-BIOCOMSC-Gompertz-case.csv
  data-processed/BIOCOMSC-Gompertz/2022-03-21-Poland-BIOCOMSC-Gompertz.csv
  data-processed/EuroCOVIDhub-baseline/2022-03-21-Germany-EuroCOVIDhub-baseline-case.csv
  data-processed/EuroCOVIDhub-baseline/2022-03-21-Germany-EuroCOVIDhub-baseline.csv
  data-processed/EuroCOVIDhub-baseline/2022-03-21-Poland-EuroCOVIDhub-baseline-case.csv
  data-processed/EuroCOVIDhub-baseline/2022-03-21-Poland-EuroCOVIDhub-baseline.csv
  data-processed/EuroCOVIDhub-ensemble/2022-03-21-Germany-EuroCOVIDhub-ensemble-case.csv
  data-processed/EuroCOVIDhub-ensemble/2022-03-21-Germany-EuroCOVIDhub-ensemble.csv
  data-processed/EuroCOVIDhub-ensemble/2022-03-21-Poland-EuroCOVIDhub-ensemble-case.csv
  data-processed/EuroCOVIDhub-ensemble/2022-03-21-Poland-EuroCOVIDhub-ensemble.csv
  data-processed/HZI-AgeExtendedSEIR/2022-03-21-Germany-HZI-AgeExtendedSEIR-case.csv
  data-processed/HZI-AgeExtendedSEIR/2022-03-21-Germany-HZI-AgeExtendedSEIR.csv
  data-processed/IEM_Health-CovidProject/2022-03-21-Germany-IEM_Health-CovidProject-case.csv
  data-processed/IEM_Health-CovidProject/2022-03-21-Germany-IEM_Health-CovidProject.csv
  data-processed/IEM_Health-CovidProject/2022-03-21-Poland-IEM_Health-CovidProject-case.csv
  data-processed/IEM_Health-CovidProject/2022-03-21-Poland-IEM_Health-CovidProject.csv
  data-processed/ILM-EKF/2022-03-21-Germany-ILM-EKF-case.csv
  data-processed/ILM-EKF/2022-03-21-Germany-ILM-EKF.csv
  data-processed/ILM-EKF/2022-03-21-Poland-ILM-EKF-case.csv
  data-processed/ILM-EKF/2022-03-21-Poland-ILM-EKF.csv
  data-processed/JBUD-HMXK/2022-03-20-Germany-JBUD-HMXK-case.csv
  data-processed/JBUD-HMXK/2022-03-20-Germany-JBUD-HMXK.csv
  data-processed/JBUD-HMXK/2022-03-20-Poland-JBUD-HMXK-case.csv
  data-processed/JBUD-HMXK/2022-03-20-Poland-JBUD-HMXK.csv
  data-processed/MUNI-ARIMA/2022-03-21-Germany-MUNI-ARIMA-case.csv
  data-processed/MUNI-ARIMA/2022-03-21-Germany-MUNI-ARIMA.csv
  data-processed/MUNI-ARIMA/2022-03-21-Poland-MUNI-ARIMA-case.csv
  data-processed/MUNI-ARIMA/2022-03-21-Poland-MUNI-ARIMA.csv
  data-processed/PL_GRedlarski-DistrictsSum/2022-03-21-Poland-PL_GRedlarski-DistrictsSum-case.csv
  data-processed/RobertWalraven-ESG/2022-03-21-Germany-RobertWalraven-ESG-case.csv
  data-processed/RobertWalraven-ESG/2022-03-21-Germany-RobertWalraven-ESG.csv
  data-processed/RobertWalraven-ESG/2022-03-21-Poland-RobertWalraven-ESG-case.csv
  data-processed/RobertWalraven-ESG/2022-03-21-Poland-RobertWalraven-ESG.csv
  data-processed/SDSC_ISG-TrendModel/2022-03-20-Germany-SDSC_ISG-TrendModel-case.csv
  data-processed/SDSC_ISG-TrendModel/2022-03-20-Germany-SDSC_ISG-TrendModel.csv
  data-processed/SDSC_ISG-TrendModel/2022-03-20-Poland-SDSC_ISG-TrendModel-case.csv
  data-processed/SDSC_ISG-TrendModel/2022-03-20-Poland-SDSC_ISG-TrendModel.csv
  data-processed/UVA-Ensemble/2022-03-21-Germany-UVA-Ensemble-case.csv
  data-processed/UVA-Ensemble/2022-03-21-Poland-UVA-Ensemble-case.csv
  data-processed/epiforecasts-EpiNow2/2022-03-21-Germany-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2022-03-21-Germany-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-EpiNow2/2022-03-21-Poland-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2022-03-21-Poland-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-weeklygrowth/2022-03-20-Germany-epiforecasts-weeklygrowth-case.csv
  data-processed/epiforecasts-weeklygrowth/2022-03-20-Poland-epiforecasts-weeklygrowth-case.csv
  data-processed/itwm-dSEIR/2022-03-21-Germany-itwm-dSEIR-case.csv
  data-processed/itwm-dSEIR/2022-03-21-Germany-itwm-dSEIR.csv
  data-processed/prolix-euclidean/2022-03-21-Germany-prolix-euclidean-case.csv
  data-processed/prolix-euclidean/2022-03-21-Germany-prolix-euclidean.csv
Labels: other-files-updated, data-submission

#1450 MOCOS 2022-03-28 (and 2022-03-21 late submission)
  data-processed/MOCOS-agent1/2022-03-21-Poland-MOCOS-agent1-case.csv
  data-processed/MOCOS-agent1/2022-03-21-Poland-MOCOS-agent1.csv
  data-processed/MOCOS-agent1/2022-03-28-Poland-MOCOS-agent1-case.csv
  data-processed/MOCOS-agent1/2022-03-28-Poland-MOCOS-agent1.csv
Labels: data-submission

#1449 Update CovidAnalytics 20220328
  data-processed/MIT_CovidAnalytics-DELPHI/2022-03-28-Germany-MIT_CovidAnalytics-DELPHI.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2022-03-28-Poland-MIT_CovidAnalytics-DELPHI.csv
Labels: data-submission

#1448 Predictions as of 28 March 2022.
  data-processed/FIAS_FZJ-Epi1Ger/2022-03-28-Germany-FIAS_FZJ-Epi1Ger-case.csv
  data-processed/FIAS_FZJ-Epi1Ger/2022-03-28-Germany-FIAS_FZJ-Epi1Ger.csv
Labels: data-submission

#1447 ITWW forecast for 2022-03-28
  data-processed/ITWW-county_repro/2022-03-28-Germany-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2022-03-28-Germany-ITWW-county_repro.csv
  data-processed/ITWW-county_repro/2022-03-28-Poland-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2022-03-28-Poland-ITWW-county_repro.csv
Labels: data-submission

#1446 HKUST-DNN_DA 220328 forecast
  data-processed/HKUST-DNN_DA/2022-03-28-Germany-HKUST-DNN_DA-case.csv
Labels: data-submission

#1445 CovidMetrics-epiBATS (2022-03-28)
  data-processed/CovidMetrics-epiBATS/2022-03-28-Germany-CovidMetrics-epiBATS-case.csv
Labels: data-submission

#1444 USC-SIkJalpha: Add files via upload
  data-processed/USC-SIkJalpha/2022-03-27-Germany-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2022-03-27-Germany-USC-SIkJalpha.csv
  data-processed/USC-SIkJalpha/2022-03-27-Poland-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2022-03-27-Poland-USC-SIkJalpha.csv
Labels: data-submission

#1451 ICM metadata update
  data-processed/ICM-agentModel/metadata-ICM-agentModel.txt
Labels: metadata-change

#1452 Adding EU files.
  data-processed/BIOCOMSC-Gompertz/2022-03-28-Poland-BIOCOMSC-Gompertz-case.csv
  data-processed/BIOCOMSC-Gompertz/2022-03-28-Poland-BIOCOMSC-Gompertz.csv
  data-processed/EuroCOVIDhub-baseline/2022-03-28-Germany-EuroCOVIDhub-baseline-case.csv
  data-processed/EuroCOVIDhub-baseline/2022-03-28-Germany-EuroCOVIDhub-baseline.csv
  data-processed/EuroCOVIDhub-baseline/2022-03-28-Poland-EuroCOVIDhub-baseline-case.csv
  data-processed/EuroCOVIDhub-baseline/2022-03-28-Poland-EuroCOVIDhub-baseline.csv
  data-processed/EuroCOVIDhub-ensemble/2022-03-28-Germany-EuroCOVIDhub-ensemble-case.csv
  data-processed/EuroCOVIDhub-ensemble/2022-03-28-Germany-EuroCOVIDhub-ensemble.csv
  data-processed/EuroCOVIDhub-ensemble/2022-03-28-Poland-EuroCOVIDhub-ensemble-case.csv
  data-processed/EuroCOVIDhub-ensemble/2022-03-28-Poland-EuroCOVIDhub-ensemble.csv
  data-processed/HZI-AgeExtendedSEIR/2022-03-28-Germany-HZI-AgeExtendedSEIR-case.csv
  data-processed/HZI-AgeExtendedSEIR/2022-03-28-Germany-HZI-AgeExtendedSEIR.csv
  data-processed/IEM_Health-CovidProject/2022-03-28-Germany-IEM_Health-CovidProject-case.csv
  data-processed/IEM_Health-CovidProject/2022-03-28-Germany-IEM_Health-CovidProject.csv
  data-processed/IEM_Health-CovidProject/2022-03-28-Poland-IEM_Health-CovidProject-case.csv
  data-processed/IEM_Health-CovidProject/2022-03-28-Poland-IEM_Health-CovidProject.csv
  data-processed/ILM-EKF/2022-03-28-Germany-ILM-EKF-case.csv
  data-processed/ILM-EKF/2022-03-28-Germany-ILM-EKF.csv
  data-processed/ILM-EKF/2022-03-28-Poland-ILM-EKF-case.csv
  data-processed/ILM-EKF/2022-03-28-Poland-ILM-EKF.csv
  data-processed/JBUD-HMXK/2022-03-27-Germany-JBUD-HMXK-case.csv
  data-processed/JBUD-HMXK/2022-03-27-Germany-JBUD-HMXK.csv
  data-processed/JBUD-HMXK/2022-03-27-Poland-JBUD-HMXK-case.csv
  data-processed/JBUD-HMXK/2022-03-27-Poland-JBUD-HMXK.csv
  data-processed/MUNI-ARIMA/2022-03-28-Germany-MUNI-ARIMA-case.csv
  data-processed/MUNI-ARIMA/2022-03-28-Germany-MUNI-ARIMA.csv
  data-processed/MUNI-ARIMA/2022-03-28-Poland-MUNI-ARIMA-case.csv
  data-processed/MUNI-ARIMA/2022-03-28-Poland-MUNI-ARIMA.csv
  data-processed/PL_GRedlarski-DistrictsSum/2022-03-28-Poland-PL_GRedlarski-DistrictsSum-case.csv
  data-processed/RobertWalraven-ESG/2022-03-28-Germany-RobertWalraven-ESG-case.csv
  data-processed/RobertWalraven-ESG/2022-03-28-Germany-RobertWalraven-ESG.csv
  data-processed/RobertWalraven-ESG/2022-03-28-Poland-RobertWalraven-ESG-case.csv
  data-processed/RobertWalraven-ESG/2022-03-28-Poland-RobertWalraven-ESG.csv
  data-processed/SDSC_ISG-TrendModel/2022-03-27-Germany-SDSC_ISG-TrendModel-case.csv
  data-processed/SDSC_ISG-TrendModel/2022-03-27-Germany-SDSC_ISG-TrendModel.csv
  data-processed/SDSC_ISG-TrendModel/2022-03-27-Poland-SDSC_ISG-TrendModel-case.csv
  data-processed/SDSC_ISG-TrendModel/2022-03-27-Poland-SDSC_ISG-TrendModel.csv
  data-processed/UVA-Ensemble/2022-03-28-Germany-UVA-Ensemble-case.csv
  data-processed/UVA-Ensemble/2022-03-28-Poland-UVA-Ensemble-case.csv
  data-processed/epiforecasts-EpiNow2/2022-03-28-Germany-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2022-03-28-Germany-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-EpiNow2/2022-03-28-Poland-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2022-03-28-Poland-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-weeklygrowth/2022-03-27-Germany-epiforecasts-weeklygrowth-case.csv
  data-processed/epiforecasts-weeklygrowth/2022-03-27-Poland-epiforecasts-weeklygrowth-case.csv
  data-processed/itwm-dSEIR/2022-03-28-Germany-itwm-dSEIR-case.csv
  data-processed/itwm-dSEIR/2022-03-28-Germany-itwm-dSEIR.csv
  data-processed/prolix-euclidean/2022-03-28-Germany-prolix-euclidean-case.csv
  data-processed/prolix-euclidean/2022-03-28-Germany-prolix-euclidean.csv
Labels: data-submission
