Repository KITmetricslab/covid19-forecast-hub-de, pull requests merged in 2022-01, with the labels that each got.

#1338 USC-SIkJalpha: Add files via upload
  data-processed/USC-SIkJalpha/2022-01-02-Germany-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2022-01-02-Germany-USC-SIkJalpha.csv
  data-processed/USC-SIkJalpha/2022-01-02-Poland-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2022-01-02-Poland-USC-SIkJalpha.csv
Labels: data-submission

#1339 HKUST-DNN_DA 220103 forecast
  data-processed/HKUST-DNN_DA/2022-01-03-Germany-HKUST-DNN_DA-case.csv
Labels: data-submission

#1340 CovidMetrics-epiBATS (2022-01-03)
  data-processed/CovidMetrics-epiBATS/2022-01-03-Germany-CovidMetrics-epiBATS-case.csv
Labels: data-submission

#1341 ITWW forecast for 2022-01-03
  data-processed/ITWW-county_repro/2022-01-03-Germany-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2022-01-03-Germany-ITWW-county_repro.csv
  data-processed/ITWW-county_repro/2022-01-03-Poland-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2022-01-03-Poland-ITWW-county_repro.csv
Labels: data-submission

#1342 Predictions as of 3 January 2022.
  data-processed/FIAS_FZJ-Epi1Ger/2022-01-03-Germany-FIAS_FZJ-Epi1Ger-case.csv
  data-processed/FIAS_FZJ-Epi1Ger/2022-01-03-Germany-FIAS_FZJ-Epi1Ger.csv
  data-processed/FIAS_FZJ-Epi1Ger/metadata-FIAS_FZJ-Epi1Ger.txt
Labels: metadata-change, data-submission

#1344 2022-01-03 ICM submission
  data-processed/ICM-agentModel/2022-01-03-Poland-ICM-agentModel-case.csv
  data-processed/ICM-agentModel/2022-01-03-Poland-ICM-agentModel.csv
Labels: data-submission

#1343 MIT Update
  data-processed/MIT_CovidAnalytics-DELPHI/2021-12-28-Germany-MIT_CovidAnalytics-DELPHI-case.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-12-28-Germany-MIT_CovidAnalytics-DELPHI.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-12-28-Poland-MIT_CovidAnalytics-DELPHI-case.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-12-28-Poland-MIT_CovidAnalytics-DELPHI.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2022-01-02-Germany-MIT_CovidAnalytics-DELPHI-case.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2022-01-02-Germany-MIT_CovidAnalytics-DELPHI.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2022-01-02-Poland-MIT_CovidAnalytics-DELPHI-case.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2022-01-02-Poland-MIT_CovidAnalytics-DELPHI.csv
Labels: data-submission

#1345 Update baselines
  data-processed/KIT-baseline/2022-01-03-Germany-KIT-baseline-case.csv
  data-processed/KIT-baseline/2022-01-03-Germany-KIT-baseline.csv
  data-processed/KIT-baseline/2022-01-03-Poland-KIT-baseline-case.csv
  data-processed/KIT-baseline/2022-01-03-Poland-KIT-baseline.csv
  data-processed/KIT-extrapolation_baseline/2022-01-03-Germany-KIT-extrapolation_baseline-case.csv
  data-processed/KIT-extrapolation_baseline/2022-01-03-Germany-KIT-extrapolation_baseline.csv
  data-processed/KIT-extrapolation_baseline/2022-01-03-Poland-KIT-extrapolation_baseline-case.csv
  data-processed/KIT-extrapolation_baseline/2022-01-03-Poland-KIT-extrapolation_baseline.csv
  data-processed/KIT-time_series_baseline/2022-01-03-Germany-KIT-time_series_baseline-case.csv
  data-processed/KIT-time_series_baseline/2022-01-03-Germany-KIT-time_series_baseline.csv
  data-processed/KIT-time_series_baseline/2022-01-03-Poland-KIT-time_series_baseline-case.csv
  data-processed/KIT-time_series_baseline/2022-01-03-Poland-KIT-time_series_baseline.csv
Labels: data-submission, automated pr

#1346 Import EU forecasts
  data-processed/BIOCOMSC-Gompertz/2022-01-03-Germany-BIOCOMSC-Gompertz-case.csv
  data-processed/BIOCOMSC-Gompertz/2022-01-03-Germany-BIOCOMSC-Gompertz.csv
  data-processed/BIOCOMSC-Gompertz/2022-01-03-Poland-BIOCOMSC-Gompertz-case.csv
  data-processed/BIOCOMSC-Gompertz/2022-01-03-Poland-BIOCOMSC-Gompertz.csv
  data-processed/EuroCOVIDhub-baseline/2022-01-03-Germany-EuroCOVIDhub-baseline-case.csv
  data-processed/EuroCOVIDhub-baseline/2022-01-03-Germany-EuroCOVIDhub-baseline.csv
  data-processed/EuroCOVIDhub-baseline/2022-01-03-Poland-EuroCOVIDhub-baseline-case.csv
  data-processed/EuroCOVIDhub-baseline/2022-01-03-Poland-EuroCOVIDhub-baseline.csv
  data-processed/EuroCOVIDhub-ensemble/2022-01-03-Germany-EuroCOVIDhub-ensemble-case.csv
  data-processed/EuroCOVIDhub-ensemble/2022-01-03-Germany-EuroCOVIDhub-ensemble.csv
  data-processed/EuroCOVIDhub-ensemble/2022-01-03-Poland-EuroCOVIDhub-ensemble-case.csv
  data-processed/EuroCOVIDhub-ensemble/2022-01-03-Poland-EuroCOVIDhub-ensemble.csv
  data-processed/HZI-AgeExtendedSEIR/2022-01-03-Germany-HZI-AgeExtendedSEIR-case.csv
  data-processed/HZI-AgeExtendedSEIR/2022-01-03-Germany-HZI-AgeExtendedSEIR.csv
  data-processed/IEM_Health-CovidProject/2022-01-03-Germany-IEM_Health-CovidProject-case.csv
  data-processed/IEM_Health-CovidProject/2022-01-03-Germany-IEM_Health-CovidProject.csv
  data-processed/IEM_Health-CovidProject/2022-01-03-Poland-IEM_Health-CovidProject-case.csv
  data-processed/IEM_Health-CovidProject/2022-01-03-Poland-IEM_Health-CovidProject.csv
  data-processed/ILM-EKF/2022-01-03-Germany-ILM-EKF-case.csv
  data-processed/ILM-EKF/2022-01-03-Germany-ILM-EKF.csv
  data-processed/ILM-EKF/2022-01-03-Poland-ILM-EKF-case.csv
  data-processed/ILM-EKF/2022-01-03-Poland-ILM-EKF.csv
  data-processed/JBUD-HMXK/2022-01-02-Germany-JBUD-HMXK-case.csv
  data-processed/JBUD-HMXK/2022-01-02-Germany-JBUD-HMXK.csv
  data-processed/JBUD-HMXK/2022-01-02-Poland-JBUD-HMXK-case.csv
  data-processed/JBUD-HMXK/2022-01-02-Poland-JBUD-HMXK.csv
  data-processed/MUNI-ARIMA/2022-01-03-Germany-MUNI-ARIMA-case.csv
  data-processed/MUNI-ARIMA/2022-01-03-Germany-MUNI-ARIMA.csv
  data-processed/MUNI-ARIMA/2022-01-03-Poland-MUNI-ARIMA-case.csv
  data-processed/MUNI-ARIMA/2022-01-03-Poland-MUNI-ARIMA.csv
  data-processed/PL_GRedlarski-DistrictsSum/2022-01-03-Poland-PL_GRedlarski-DistrictsSum-case.csv
  data-processed/RobertWalraven-ESG/2022-01-03-Germany-RobertWalraven-ESG-case.csv
  data-processed/RobertWalraven-ESG/2022-01-03-Germany-RobertWalraven-ESG.csv
  data-processed/RobertWalraven-ESG/2022-01-03-Poland-RobertWalraven-ESG-case.csv
  data-processed/RobertWalraven-ESG/2022-01-03-Poland-RobertWalraven-ESG.csv
  data-processed/SDSC_ISG-TrendModel/2022-01-03-Germany-SDSC_ISG-TrendModel-case.csv
  data-processed/SDSC_ISG-TrendModel/2022-01-03-Germany-SDSC_ISG-TrendModel.csv
  data-processed/SDSC_ISG-TrendModel/2022-01-03-Poland-SDSC_ISG-TrendModel-case.csv
  data-processed/SDSC_ISG-TrendModel/2022-01-03-Poland-SDSC_ISG-TrendModel.csv
  data-processed/UMass-MechBayes/2022-01-02-Germany-UMass-MechBayes.csv
  data-processed/UMass-MechBayes/2022-01-02-Poland-UMass-MechBayes.csv
  data-processed/UVA-Ensemble/2022-01-03-Germany-UVA-Ensemble-case.csv
  data-processed/UVA-Ensemble/2022-01-03-Poland-UVA-Ensemble-case.csv
  data-processed/epiforecasts-EpiNow2/2022-01-03-Germany-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2022-01-03-Germany-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-EpiNow2/2022-01-03-Poland-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2022-01-03-Poland-epiforecasts-EpiNow2.csv
  data-processed/itwm-dSEIR/2022-01-03-Germany-itwm-dSEIR-case.csv
  data-processed/itwm-dSEIR/2022-01-03-Germany-itwm-dSEIR.csv
  data-processed/prolix-euclidean/2022-01-03-Germany-prolix-euclidean-case.csv
  data-processed/prolix-euclidean/2022-01-03-Germany-prolix-euclidean.csv
Labels: data-submission, automated pr

#1347 MOCOS 2021-01-03
  data-processed/MOCOS-agent1/2022-01-03-Poland-MOCOS-agent1-case.csv
  data-processed/MOCOS-agent1/2022-01-03-Poland-MOCOS-agent1.csv
Labels: data-submission

#1355 MIT Update
  data-processed/MIT_CovidAnalytics-DELPHI/2022-01-10-Germany-MIT_CovidAnalytics-DELPHI-case.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2022-01-10-Germany-MIT_CovidAnalytics-DELPHI.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2022-01-10-Poland-MIT_CovidAnalytics-DELPHI-case.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2022-01-10-Poland-MIT_CovidAnalytics-DELPHI.csv
Labels: data-submission

#1354 MOCOS 2022-01-10
  data-processed/MOCOS-agent1/2022-01-10-Poland-MOCOS-agent1-case.csv
  data-processed/MOCOS-agent1/2022-01-10-Poland-MOCOS-agent1.csv
Labels: data-submission

#1353 2022-01-10 ICM submission
  data-processed/ICM-agentModel/2022-01-10-Poland-ICM-agentModel-case.csv
  data-processed/ICM-agentModel/2022-01-10-Poland-ICM-agentModel.csv
Labels: data-submission

#1352 Predictions as of 10 January 2022.
  data-processed/FIAS_FZJ-Epi1Ger/2022-01-10-Germany-FIAS_FZJ-Epi1Ger-case.csv
  data-processed/FIAS_FZJ-Epi1Ger/2022-01-10-Germany-FIAS_FZJ-Epi1Ger.csv
Labels: data-submission

#1351 ITWW forecast for 2022-01-10
  data-processed/ITWW-county_repro/2022-01-10-Germany-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2022-01-10-Germany-ITWW-county_repro.csv
  data-processed/ITWW-county_repro/2022-01-10-Poland-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2022-01-10-Poland-ITWW-county_repro.csv
Labels: data-submission

#1350 HKUST-DNN_DA 220110 forecast
  data-processed/HKUST-DNN_DA/2022-01-10-Germany-HKUST-DNN_DA-case.csv
Labels: data-submission

#1349 CovidMetrics-epiBATS (2022-01-10)
  data-processed/CovidMetrics-epiBATS/2022-01-10-Germany-CovidMetrics-epiBATS-case.csv
Labels: data-submission

#1348 USC-SIkJalpha: Add files via upload
  data-processed/USC-SIkJalpha/2022-01-09-Germany-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2022-01-09-Germany-USC-SIkJalpha.csv
  data-processed/USC-SIkJalpha/2022-01-09-Poland-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2022-01-09-Poland-USC-SIkJalpha.csv
Labels: data-submission

#1356 Update baselines
  data-processed/KIT-baseline/2022-01-10-Germany-KIT-baseline-case.csv
  data-processed/KIT-baseline/2022-01-10-Germany-KIT-baseline.csv
  data-processed/KIT-baseline/2022-01-10-Poland-KIT-baseline-case.csv
  data-processed/KIT-baseline/2022-01-10-Poland-KIT-baseline.csv
  data-processed/KIT-extrapolation_baseline/2022-01-10-Germany-KIT-extrapolation_baseline-case.csv
  data-processed/KIT-extrapolation_baseline/2022-01-10-Germany-KIT-extrapolation_baseline.csv
  data-processed/KIT-extrapolation_baseline/2022-01-10-Poland-KIT-extrapolation_baseline-case.csv
  data-processed/KIT-extrapolation_baseline/2022-01-10-Poland-KIT-extrapolation_baseline.csv
  data-processed/KIT-time_series_baseline/2022-01-10-Germany-KIT-time_series_baseline-case.csv
  data-processed/KIT-time_series_baseline/2022-01-10-Germany-KIT-time_series_baseline.csv
  data-processed/KIT-time_series_baseline/2022-01-10-Poland-KIT-time_series_baseline-case.csv
  data-processed/KIT-time_series_baseline/2022-01-10-Poland-KIT-time_series_baseline.csv
Labels: data-submission, automated pr

#1357 Import EU forecasts
  data-processed/BIOCOMSC-Gompertz/2022-01-10-Germany-BIOCOMSC-Gompertz-case.csv
  data-processed/BIOCOMSC-Gompertz/2022-01-10-Germany-BIOCOMSC-Gompertz.csv
  data-processed/BIOCOMSC-Gompertz/2022-01-10-Poland-BIOCOMSC-Gompertz-case.csv
  data-processed/BIOCOMSC-Gompertz/2022-01-10-Poland-BIOCOMSC-Gompertz.csv
  data-processed/EuroCOVIDhub-baseline/2022-01-10-Germany-EuroCOVIDhub-baseline-case.csv
  data-processed/EuroCOVIDhub-baseline/2022-01-10-Germany-EuroCOVIDhub-baseline.csv
  data-processed/EuroCOVIDhub-baseline/2022-01-10-Poland-EuroCOVIDhub-baseline-case.csv
  data-processed/EuroCOVIDhub-baseline/2022-01-10-Poland-EuroCOVIDhub-baseline.csv
  data-processed/EuroCOVIDhub-ensemble/2022-01-10-Germany-EuroCOVIDhub-ensemble-case.csv
  data-processed/EuroCOVIDhub-ensemble/2022-01-10-Germany-EuroCOVIDhub-ensemble.csv
  data-processed/EuroCOVIDhub-ensemble/2022-01-10-Poland-EuroCOVIDhub-ensemble-case.csv
  data-processed/EuroCOVIDhub-ensemble/2022-01-10-Poland-EuroCOVIDhub-ensemble.csv
  data-processed/HZI-AgeExtendedSEIR/2022-01-10-Germany-HZI-AgeExtendedSEIR-case.csv
  data-processed/HZI-AgeExtendedSEIR/2022-01-10-Germany-HZI-AgeExtendedSEIR.csv
  data-processed/IEM_Health-CovidProject/2022-01-10-Germany-IEM_Health-CovidProject-case.csv
  data-processed/IEM_Health-CovidProject/2022-01-10-Germany-IEM_Health-CovidProject.csv
  data-processed/IEM_Health-CovidProject/2022-01-10-Poland-IEM_Health-CovidProject-case.csv
  data-processed/IEM_Health-CovidProject/2022-01-10-Poland-IEM_Health-CovidProject.csv
  data-processed/ILM-EKF/2022-01-10-Germany-ILM-EKF-case.csv
  data-processed/ILM-EKF/2022-01-10-Germany-ILM-EKF.csv
  data-processed/ILM-EKF/2022-01-10-Poland-ILM-EKF-case.csv
  data-processed/ILM-EKF/2022-01-10-Poland-ILM-EKF.csv
  data-processed/MUNI-ARIMA/2022-01-10-Germany-MUNI-ARIMA-case.csv
  data-processed/MUNI-ARIMA/2022-01-10-Germany-MUNI-ARIMA.csv
  data-processed/MUNI-ARIMA/2022-01-10-Poland-MUNI-ARIMA-case.csv
  data-processed/MUNI-ARIMA/2022-01-10-Poland-MUNI-ARIMA.csv
  data-processed/PL_GRedlarski-DistrictsSum/2022-01-10-Poland-PL_GRedlarski-DistrictsSum-case.csv
  data-processed/RobertWalraven-ESG/2022-01-10-Germany-RobertWalraven-ESG-case.csv
  data-processed/RobertWalraven-ESG/2022-01-10-Germany-RobertWalraven-ESG.csv
  data-processed/RobertWalraven-ESG/2022-01-10-Poland-RobertWalraven-ESG-case.csv
  data-processed/RobertWalraven-ESG/2022-01-10-Poland-RobertWalraven-ESG.csv
  data-processed/SDSC_ISG-TrendModel/2022-01-10-Germany-SDSC_ISG-TrendModel-case.csv
  data-processed/SDSC_ISG-TrendModel/2022-01-10-Germany-SDSC_ISG-TrendModel.csv
  data-processed/SDSC_ISG-TrendModel/2022-01-10-Poland-SDSC_ISG-TrendModel-case.csv
  data-processed/SDSC_ISG-TrendModel/2022-01-10-Poland-SDSC_ISG-TrendModel.csv
  data-processed/UMass-MechBayes/2022-01-09-Germany-UMass-MechBayes.csv
  data-processed/UMass-MechBayes/2022-01-09-Poland-UMass-MechBayes.csv
  data-processed/UVA-Ensemble/2022-01-10-Germany-UVA-Ensemble-case.csv
  data-processed/UVA-Ensemble/2022-01-10-Poland-UVA-Ensemble-case.csv
  data-processed/epiforecasts-EpiNow2/2022-01-10-Germany-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2022-01-10-Germany-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-EpiNow2/2022-01-10-Poland-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2022-01-10-Poland-epiforecasts-EpiNow2.csv
  data-processed/itwm-dSEIR/2022-01-10-Germany-itwm-dSEIR-case.csv
  data-processed/itwm-dSEIR/2022-01-10-Germany-itwm-dSEIR.csv
  data-processed/prolix-euclidean/2022-01-10-Germany-prolix-euclidean-case.csv
  data-processed/prolix-euclidean/2022-01-10-Germany-prolix-euclidean.csv
Labels: data-submission, automated pr

#1364 MOCOS 2022-01-17
  data-processed/MOCOS-agent1/2022-01-17-Poland-MOCOS-agent1-case.csv
  data-processed/MOCOS-agent1/2022-01-17-Poland-MOCOS-agent1.csv
Labels: data-submission

#1363 2022-01-17 ICM submission
  data-processed/ICM-agentModel/2022-01-17-Poland-ICM-agentModel-case.csv
  data-processed/ICM-agentModel/2022-01-17-Poland-ICM-agentModel.csv
Labels: data-submission

#1362 Predictions as of 17 January 2022.
  data-processed/FIAS_FZJ-Epi1Ger/2022-01-17-Germany-FIAS_FZJ-Epi1Ger-case.csv
  data-processed/FIAS_FZJ-Epi1Ger/2022-01-17-Germany-FIAS_FZJ-Epi1Ger.csv
Labels: data-submission

#1361 ITWW forecast for 2022-01-17
  data-processed/ITWW-county_repro/2022-01-17-Germany-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2022-01-17-Germany-ITWW-county_repro.csv
  data-processed/ITWW-county_repro/2022-01-17-Poland-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2022-01-17-Poland-ITWW-county_repro.csv
Labels: data-submission

#1360 HKUST-DNN_DA 220117 forecast
  data-processed/HKUST-DNN_DA/2022-01-17-Germany-HKUST-DNN_DA-case.csv
Labels: data-submission

#1359 CovidMetrics-epiBATS (2022-01-17)
  data-processed/CovidMetrics-epiBATS/2022-01-17-Germany-CovidMetrics-epiBATS-case.csv
Labels: data-submission

#1358 USC-SIkJalpha: Add files via upload
  data-processed/USC-SIkJalpha/2022-01-16-Germany-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2022-01-16-Germany-USC-SIkJalpha.csv
  data-processed/USC-SIkJalpha/2022-01-16-Poland-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2022-01-16-Poland-USC-SIkJalpha.csv
Labels: data-submission

#1365 MIT Update
  data-processed/MIT_CovidAnalytics-DELPHI/2022-01-17-Germany-MIT_CovidAnalytics-DELPHI-case.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2022-01-17-Germany-MIT_CovidAnalytics-DELPHI.csv
Labels: data-submission

#1366 Update baselines
  data-processed/KIT-baseline/2022-01-17-Germany-KIT-baseline-case.csv
  data-processed/KIT-baseline/2022-01-17-Germany-KIT-baseline.csv
  data-processed/KIT-baseline/2022-01-17-Poland-KIT-baseline-case.csv
  data-processed/KIT-baseline/2022-01-17-Poland-KIT-baseline.csv
  data-processed/KIT-extrapolation_baseline/2022-01-17-Germany-KIT-extrapolation_baseline-case.csv
  data-processed/KIT-extrapolation_baseline/2022-01-17-Germany-KIT-extrapolation_baseline.csv
  data-processed/KIT-extrapolation_baseline/2022-01-17-Poland-KIT-extrapolation_baseline-case.csv
  data-processed/KIT-extrapolation_baseline/2022-01-17-Poland-KIT-extrapolation_baseline.csv
  data-processed/KIT-time_series_baseline/2022-01-17-Germany-KIT-time_series_baseline-case.csv
  data-processed/KIT-time_series_baseline/2022-01-17-Germany-KIT-time_series_baseline.csv
  data-processed/KIT-time_series_baseline/2022-01-17-Poland-KIT-time_series_baseline-case.csv
  data-processed/KIT-time_series_baseline/2022-01-17-Poland-KIT-time_series_baseline.csv
Labels: data-submission, automated pr

#1367 Import EU forecasts
  data-processed/BIOCOMSC-Gompertz/2022-01-17-Germany-BIOCOMSC-Gompertz-case.csv
  data-processed/BIOCOMSC-Gompertz/2022-01-17-Germany-BIOCOMSC-Gompertz.csv
  data-processed/BIOCOMSC-Gompertz/2022-01-17-Poland-BIOCOMSC-Gompertz-case.csv
  data-processed/BIOCOMSC-Gompertz/2022-01-17-Poland-BIOCOMSC-Gompertz.csv
  data-processed/DirkBeckmann-Gompertz/2022-01-17-Germany-DirkBeckmann-Gompertz-case.csv
  data-processed/EuroCOVIDhub-baseline/2022-01-17-Germany-EuroCOVIDhub-baseline-case.csv
  data-processed/EuroCOVIDhub-baseline/2022-01-17-Germany-EuroCOVIDhub-baseline.csv
  data-processed/EuroCOVIDhub-baseline/2022-01-17-Poland-EuroCOVIDhub-baseline-case.csv
  data-processed/EuroCOVIDhub-baseline/2022-01-17-Poland-EuroCOVIDhub-baseline.csv
  data-processed/EuroCOVIDhub-ensemble/2022-01-17-Germany-EuroCOVIDhub-ensemble-case.csv
  data-processed/EuroCOVIDhub-ensemble/2022-01-17-Germany-EuroCOVIDhub-ensemble.csv
  data-processed/EuroCOVIDhub-ensemble/2022-01-17-Poland-EuroCOVIDhub-ensemble-case.csv
  data-processed/EuroCOVIDhub-ensemble/2022-01-17-Poland-EuroCOVIDhub-ensemble.csv
  data-processed/HZI-AgeExtendedSEIR/2022-01-17-Germany-HZI-AgeExtendedSEIR-case.csv
  data-processed/HZI-AgeExtendedSEIR/2022-01-17-Germany-HZI-AgeExtendedSEIR.csv
  data-processed/IEM_Health-CovidProject/2022-01-17-Germany-IEM_Health-CovidProject-case.csv
  data-processed/IEM_Health-CovidProject/2022-01-17-Germany-IEM_Health-CovidProject.csv
  data-processed/IEM_Health-CovidProject/2022-01-17-Poland-IEM_Health-CovidProject-case.csv
  data-processed/IEM_Health-CovidProject/2022-01-17-Poland-IEM_Health-CovidProject.csv
  data-processed/ILM-EKF/2022-01-17-Germany-ILM-EKF-case.csv
  data-processed/ILM-EKF/2022-01-17-Germany-ILM-EKF.csv
  data-processed/ILM-EKF/2022-01-17-Poland-ILM-EKF-case.csv
  data-processed/ILM-EKF/2022-01-17-Poland-ILM-EKF.csv
  data-processed/JBUD-HMXK/2022-01-16-Germany-JBUD-HMXK-case.csv
  data-processed/JBUD-HMXK/2022-01-16-Germany-JBUD-HMXK.csv
  data-processed/JBUD-HMXK/2022-01-16-Poland-JBUD-HMXK-case.csv
  data-processed/JBUD-HMXK/2022-01-16-Poland-JBUD-HMXK.csv
  data-processed/MUNI-ARIMA/2022-01-17-Germany-MUNI-ARIMA-case.csv
  data-processed/MUNI-ARIMA/2022-01-17-Germany-MUNI-ARIMA.csv
  data-processed/MUNI-ARIMA/2022-01-17-Poland-MUNI-ARIMA-case.csv
  data-processed/MUNI-ARIMA/2022-01-17-Poland-MUNI-ARIMA.csv
  data-processed/PL_GRedlarski-DistrictsSum/2022-01-17-Poland-PL_GRedlarski-DistrictsSum-case.csv
  data-processed/RobertWalraven-ESG/2022-01-17-Germany-RobertWalraven-ESG-case.csv
  data-processed/RobertWalraven-ESG/2022-01-17-Germany-RobertWalraven-ESG.csv
  data-processed/RobertWalraven-ESG/2022-01-17-Poland-RobertWalraven-ESG-case.csv
  data-processed/RobertWalraven-ESG/2022-01-17-Poland-RobertWalraven-ESG.csv
  data-processed/SDSC_ISG-TrendModel/2022-01-17-Germany-SDSC_ISG-TrendModel-case.csv
  data-processed/SDSC_ISG-TrendModel/2022-01-17-Germany-SDSC_ISG-TrendModel.csv
  data-processed/SDSC_ISG-TrendModel/2022-01-17-Poland-SDSC_ISG-TrendModel-case.csv
  data-processed/SDSC_ISG-TrendModel/2022-01-17-Poland-SDSC_ISG-TrendModel.csv
  data-processed/UMass-MechBayes/2022-01-16-Germany-UMass-MechBayes.csv
  data-processed/UMass-MechBayes/2022-01-16-Poland-UMass-MechBayes.csv
  data-processed/UVA-Ensemble/2022-01-17-Germany-UVA-Ensemble-case.csv
  data-processed/UVA-Ensemble/2022-01-17-Poland-UVA-Ensemble-case.csv
  data-processed/epiforecasts-EpiNow2/2022-01-17-Germany-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2022-01-17-Poland-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2022-01-17-Poland-epiforecasts-EpiNow2.csv
  data-processed/itwm-dSEIR/2022-01-17-Germany-itwm-dSEIR-case.csv
  data-processed/itwm-dSEIR/2022-01-17-Germany-itwm-dSEIR.csv
  data-processed/prolix-euclidean/2022-01-17-Germany-prolix-euclidean-case.csv
  data-processed/prolix-euclidean/2022-01-17-Germany-prolix-euclidean.csv
Labels: data-submission, automated pr

#1374 2022-01-24 ICM submission
  data-processed/ICM-agentModel/2022-01-24-Poland-ICM-agentModel-case.csv
  data-processed/ICM-agentModel/2022-01-24-Poland-ICM-agentModel.csv
Labels: data-submission

#1373 MIT Update
  data-processed/MIT_CovidAnalytics-DELPHI/2022-01-24-Germany-MIT_CovidAnalytics-DELPHI-case.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2022-01-24-Germany-MIT_CovidAnalytics-DELPHI.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2022-01-24-Poland-MIT_CovidAnalytics-DELPHI.csv
Labels: data-submission

#1371 ITWW forecast for 2022-01-24
  data-processed/ITWW-county_repro/2022-01-24-Germany-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2022-01-24-Germany-ITWW-county_repro.csv
  data-processed/ITWW-county_repro/2022-01-24-Poland-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2022-01-24-Poland-ITWW-county_repro.csv
Labels: data-submission

#1370 covidMetrics-epiBATS (2022-01-24)
  data-processed/CovidMetrics-epiBATS/2022-01-24-Germany-CovidMetrics-epiBATS-case.csv
Labels: data-submission

#1369 HKUST-DNN_DA 220124 forecast
  data-processed/HKUST-DNN_DA/2022-01-24-Germany-HKUST-DNN_DA-case.csv
Labels: data-submission

#1368 USC-SIkJalpha: Add files via upload
  data-processed/USC-SIkJalpha/2022-01-23-Germany-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2022-01-23-Germany-USC-SIkJalpha.csv
  data-processed/USC-SIkJalpha/2022-01-23-Poland-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2022-01-23-Poland-USC-SIkJalpha.csv
Labels: data-submission

#1375 MOCOS 2022-01-24
  data-processed/MOCOS-agent1/2022-01-24-Poland-MOCOS-agent1-case.csv
  data-processed/MOCOS-agent1/2022-01-24-Poland-MOCOS-agent1.csv
Labels: data-submission

#1376 Import EU forecasts
  data-processed/BIOCOMSC-Gompertz/2022-01-24-Germany-BIOCOMSC-Gompertz-case.csv
  data-processed/BIOCOMSC-Gompertz/2022-01-24-Germany-BIOCOMSC-Gompertz.csv
  data-processed/BIOCOMSC-Gompertz/2022-01-24-Poland-BIOCOMSC-Gompertz-case.csv
  data-processed/BIOCOMSC-Gompertz/2022-01-24-Poland-BIOCOMSC-Gompertz.csv
  data-processed/DirkBeckmann-Gompertz/2022-01-24-Germany-DirkBeckmann-Gompertz-case.csv
  data-processed/EuroCOVIDhub-baseline/2022-01-24-Germany-EuroCOVIDhub-baseline-case.csv
  data-processed/EuroCOVIDhub-baseline/2022-01-24-Germany-EuroCOVIDhub-baseline.csv
  data-processed/EuroCOVIDhub-baseline/2022-01-24-Poland-EuroCOVIDhub-baseline-case.csv
  data-processed/EuroCOVIDhub-baseline/2022-01-24-Poland-EuroCOVIDhub-baseline.csv
  data-processed/EuroCOVIDhub-ensemble/2022-01-24-Germany-EuroCOVIDhub-ensemble-case.csv
  data-processed/EuroCOVIDhub-ensemble/2022-01-24-Germany-EuroCOVIDhub-ensemble.csv
  data-processed/EuroCOVIDhub-ensemble/2022-01-24-Poland-EuroCOVIDhub-ensemble-case.csv
  data-processed/EuroCOVIDhub-ensemble/2022-01-24-Poland-EuroCOVIDhub-ensemble.csv
  data-processed/HZI-AgeExtendedSEIR/2022-01-24-Germany-HZI-AgeExtendedSEIR-case.csv
  data-processed/HZI-AgeExtendedSEIR/2022-01-24-Germany-HZI-AgeExtendedSEIR.csv
  data-processed/IEM_Health-CovidProject/2022-01-24-Germany-IEM_Health-CovidProject-case.csv
  data-processed/IEM_Health-CovidProject/2022-01-24-Germany-IEM_Health-CovidProject.csv
  data-processed/IEM_Health-CovidProject/2022-01-24-Poland-IEM_Health-CovidProject-case.csv
  data-processed/IEM_Health-CovidProject/2022-01-24-Poland-IEM_Health-CovidProject.csv
  data-processed/ILM-EKF/2022-01-24-Germany-ILM-EKF-case.csv
  data-processed/ILM-EKF/2022-01-24-Germany-ILM-EKF.csv
  data-processed/ILM-EKF/2022-01-24-Poland-ILM-EKF-case.csv
  data-processed/ILM-EKF/2022-01-24-Poland-ILM-EKF.csv
  data-processed/JBUD-HMXK/2022-01-23-Germany-JBUD-HMXK-case.csv
  data-processed/JBUD-HMXK/2022-01-23-Germany-JBUD-HMXK.csv
  data-processed/JBUD-HMXK/2022-01-23-Poland-JBUD-HMXK-case.csv
  data-processed/JBUD-HMXK/2022-01-23-Poland-JBUD-HMXK.csv
  data-processed/MUNI-ARIMA/2022-01-24-Germany-MUNI-ARIMA-case.csv
  data-processed/MUNI-ARIMA/2022-01-24-Germany-MUNI-ARIMA.csv
  data-processed/MUNI-ARIMA/2022-01-24-Poland-MUNI-ARIMA-case.csv
  data-processed/MUNI-ARIMA/2022-01-24-Poland-MUNI-ARIMA.csv
  data-processed/PL_GRedlarski-DistrictsSum/2022-01-24-Poland-PL_GRedlarski-DistrictsSum-case.csv
  data-processed/RobertWalraven-ESG/2022-01-24-Germany-RobertWalraven-ESG-case.csv
  data-processed/RobertWalraven-ESG/2022-01-24-Germany-RobertWalraven-ESG.csv
  data-processed/RobertWalraven-ESG/2022-01-24-Poland-RobertWalraven-ESG-case.csv
  data-processed/RobertWalraven-ESG/2022-01-24-Poland-RobertWalraven-ESG.csv
  data-processed/SDSC_ISG-TrendModel/2022-01-24-Germany-SDSC_ISG-TrendModel-case.csv
  data-processed/SDSC_ISG-TrendModel/2022-01-24-Germany-SDSC_ISG-TrendModel.csv
  data-processed/SDSC_ISG-TrendModel/2022-01-24-Poland-SDSC_ISG-TrendModel-case.csv
  data-processed/SDSC_ISG-TrendModel/2022-01-24-Poland-SDSC_ISG-TrendModel.csv
  data-processed/UMass-MechBayes/2022-01-23-Germany-UMass-MechBayes.csv
  data-processed/UMass-MechBayes/2022-01-23-Poland-UMass-MechBayes.csv
  data-processed/UVA-Ensemble/2022-01-24-Germany-UVA-Ensemble-case.csv
  data-processed/UVA-Ensemble/2022-01-24-Poland-UVA-Ensemble-case.csv
  data-processed/epiforecasts-EpiNow2/2022-01-24-Germany-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2022-01-24-Poland-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2022-01-24-Poland-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-weeklygrowth/2022-01-23-Germany-epiforecasts-weeklygrowth-case.csv
  data-processed/epiforecasts-weeklygrowth/2022-01-23-Poland-epiforecasts-weeklygrowth-case.csv
  data-processed/itwm-dSEIR/2022-01-24-Germany-itwm-dSEIR-case.csv
  data-processed/itwm-dSEIR/2022-01-24-Germany-itwm-dSEIR.csv
  data-processed/prolix-euclidean/2022-01-24-Germany-prolix-euclidean-case.csv
  data-processed/prolix-euclidean/2022-01-24-Germany-prolix-euclidean.csv
Labels: data-submission, automated pr
