Repository KITmetricslab/covid19-forecast-hub-de, pull requests merged in 2022-04, with the labels that each got.

#1460 MOCOS 2022-04-04
  data-processed/MOCOS-agent1/2022-04-04-Poland-MOCOS-agent1-case.csv
  data-processed/MOCOS-agent1/2022-04-04-Poland-MOCOS-agent1.csv
Labels: data-submission

#1458 MIT CovidAnalytics Update 20220404
  data-processed/MIT_CovidAnalytics-DELPHI/2022-04-04-Germany-MIT_CovidAnalytics-DELPHI.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2022-04-04-Poland-MIT_CovidAnalytics-DELPHI.csv
Labels: data-submission

#1457 Predictions as of 4 April 2022.
  data-processed/FIAS_FZJ-Epi1Ger/2022-04-04-Germany-FIAS_FZJ-Epi1Ger-case.csv
  data-processed/FIAS_FZJ-Epi1Ger/2022-04-04-Germany-FIAS_FZJ-Epi1Ger.csv
Labels: data-submission

#1456 ITWW forecast for 2022-04-04
  data-processed/ITWW-county_repro/2022-04-04-Germany-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2022-04-04-Germany-ITWW-county_repro.csv
  data-processed/ITWW-county_repro/2022-04-04-Poland-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2022-04-04-Poland-ITWW-county_repro.csv
Labels: data-submission

#1455 HKUST-DNN_DA 220404 forecast
  data-processed/HKUST-DNN_DA/2022-04-04-Germany-HKUST-DNN_DA-case.csv
Labels: data-submission

#1454 CovidMetrics-epiBATS (2022-04-04)
  data-processed/CovidMetrics-epiBATS/2022-04-04-Germany-CovidMetrics-epiBATS-case.csv
Labels: data-submission

#1453 USC-SIkJalpha: Add files via upload
  data-processed/USC-SIkJalpha/2022-04-03-Germany-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2022-04-03-Germany-USC-SIkJalpha.csv
  data-processed/USC-SIkJalpha/2022-04-03-Poland-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2022-04-03-Poland-USC-SIkJalpha.csv
Labels: data-submission

#1461 Moving ICM file.
  data-processed/ICM-agentModel/2022-04-04-Poland-ICM-agentModel-case.csv
  data-processed/ICM-agentModel/2022-04-04-Poland-ICM-agentModel.csv
Labels: data-submission, forecast-updated

#1462 Import EU forecasts
  data-processed/BIOCOMSC-Gompertz/2022-04-04-Germany-BIOCOMSC-Gompertz-case.csv
  data-processed/BIOCOMSC-Gompertz/2022-04-04-Germany-BIOCOMSC-Gompertz.csv
  data-processed/EuroCOVIDhub-baseline/2022-04-04-Germany-EuroCOVIDhub-baseline-case.csv
  data-processed/EuroCOVIDhub-baseline/2022-04-04-Germany-EuroCOVIDhub-baseline.csv
  data-processed/EuroCOVIDhub-baseline/2022-04-04-Poland-EuroCOVIDhub-baseline-case.csv
  data-processed/EuroCOVIDhub-baseline/2022-04-04-Poland-EuroCOVIDhub-baseline.csv
  data-processed/EuroCOVIDhub-ensemble/2022-04-04-Germany-EuroCOVIDhub-ensemble-case.csv
  data-processed/EuroCOVIDhub-ensemble/2022-04-04-Germany-EuroCOVIDhub-ensemble.csv
  data-processed/EuroCOVIDhub-ensemble/2022-04-04-Poland-EuroCOVIDhub-ensemble-case.csv
  data-processed/EuroCOVIDhub-ensemble/2022-04-04-Poland-EuroCOVIDhub-ensemble.csv
  data-processed/HZI-AgeExtendedSEIR/2022-04-04-Germany-HZI-AgeExtendedSEIR-case.csv
  data-processed/HZI-AgeExtendedSEIR/2022-04-04-Germany-HZI-AgeExtendedSEIR.csv
  data-processed/IEM_Health-CovidProject/2022-04-03-Germany-IEM_Health-CovidProject-case.csv
  data-processed/IEM_Health-CovidProject/2022-04-03-Germany-IEM_Health-CovidProject.csv
  data-processed/IEM_Health-CovidProject/2022-04-03-Poland-IEM_Health-CovidProject-case.csv
  data-processed/IEM_Health-CovidProject/2022-04-03-Poland-IEM_Health-CovidProject.csv
  data-processed/ILM-EKF/2022-04-04-Germany-ILM-EKF-case.csv
  data-processed/ILM-EKF/2022-04-04-Germany-ILM-EKF.csv
  data-processed/ILM-EKF/2022-04-04-Poland-ILM-EKF-case.csv
  data-processed/ILM-EKF/2022-04-04-Poland-ILM-EKF.csv
  data-processed/JBUD-HMXK/2022-04-03-Germany-JBUD-HMXK-case.csv
  data-processed/JBUD-HMXK/2022-04-03-Germany-JBUD-HMXK.csv
  data-processed/JBUD-HMXK/2022-04-03-Poland-JBUD-HMXK-case.csv
  data-processed/JBUD-HMXK/2022-04-03-Poland-JBUD-HMXK.csv
  data-processed/MUNI-ARIMA/2022-04-04-Germany-MUNI-ARIMA-case.csv
  data-processed/MUNI-ARIMA/2022-04-04-Germany-MUNI-ARIMA.csv
  data-processed/MUNI-ARIMA/2022-04-04-Poland-MUNI-ARIMA-case.csv
  data-processed/MUNI-ARIMA/2022-04-04-Poland-MUNI-ARIMA.csv
  data-processed/PL_GRedlarski-DistrictsSum/2022-04-04-Poland-PL_GRedlarski-DistrictsSum-case.csv
  data-processed/RobertWalraven-ESG/2022-04-04-Germany-RobertWalraven-ESG-case.csv
  data-processed/RobertWalraven-ESG/2022-04-04-Germany-RobertWalraven-ESG.csv
  data-processed/RobertWalraven-ESG/2022-04-04-Poland-RobertWalraven-ESG-case.csv
  data-processed/RobertWalraven-ESG/2022-04-04-Poland-RobertWalraven-ESG.csv
  data-processed/SDSC_ISG-TrendModel/2022-04-03-Germany-SDSC_ISG-TrendModel-case.csv
  data-processed/SDSC_ISG-TrendModel/2022-04-03-Germany-SDSC_ISG-TrendModel.csv
  data-processed/SDSC_ISG-TrendModel/2022-04-03-Poland-SDSC_ISG-TrendModel-case.csv
  data-processed/SDSC_ISG-TrendModel/2022-04-03-Poland-SDSC_ISG-TrendModel.csv
  data-processed/UVA-Ensemble/2022-04-04-Germany-UVA-Ensemble-case.csv
  data-processed/UVA-Ensemble/2022-04-04-Poland-UVA-Ensemble-case.csv
  data-processed/epiforecasts-EpiNow2/2022-04-04-Germany-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2022-04-04-Germany-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-EpiNow2/2022-04-04-Poland-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2022-04-04-Poland-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-weeklygrowth/2022-04-03-Germany-epiforecasts-weeklygrowth-case.csv
  data-processed/epiforecasts-weeklygrowth/2022-04-03-Poland-epiforecasts-weeklygrowth-case.csv
  data-processed/itwm-dSEIR/2022-04-04-Germany-itwm-dSEIR-case.csv
  data-processed/itwm-dSEIR/2022-04-04-Germany-itwm-dSEIR.csv
  data-processed/prolix-euclidean/2022-04-04-Germany-prolix-euclidean-case.csv
  data-processed/prolix-euclidean/2022-04-04-Germany-prolix-euclidean.csv
Labels: data-submission, automated pr

#1469 MIT CovidAnalytics Update 20220411
  data-processed/MIT_CovidAnalytics-DELPHI/2022-04-11-Germany-MIT_CovidAnalytics-DELPHI.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2022-04-11-Poland-MIT_CovidAnalytics-DELPHI.csv
Labels: data-submission

#1466 ITWW forecast for 2022-04-11
  data-processed/ITWW-county_repro/2022-04-11-Germany-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2022-04-11-Germany-ITWW-county_repro.csv
  data-processed/ITWW-county_repro/2022-04-11-Poland-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2022-04-11-Poland-ITWW-county_repro.csv
Labels: data-submission

#1465 HKUST-DNN_DA 220411 forecast
  data-processed/HKUST-DNN_DA/2022-04-11-Germany-HKUST-DNN_DA-case.csv
Labels: data-submission

#1463 USC-SIkJalpha: Add files via upload
  data-processed/USC-SIkJalpha/2022-04-10-Germany-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2022-04-10-Germany-USC-SIkJalpha.csv
  data-processed/USC-SIkJalpha/2022-04-10-Poland-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2022-04-10-Poland-USC-SIkJalpha.csv
Labels: data-submission

#1470 MOCOS 2022-04-11
  data-processed/MOCOS-agent1/2022-04-11-Poland-MOCOS-agent1-case.csv
  data-processed/MOCOS-agent1/2022-04-11-Poland-MOCOS-agent1.csv
Labels: data-submission

#1471 Import EU forecasts
  data-processed/EuroCOVIDhub-baseline/2022-04-11-Germany-EuroCOVIDhub-baseline-case.csv
  data-processed/EuroCOVIDhub-baseline/2022-04-11-Germany-EuroCOVIDhub-baseline.csv
  data-processed/EuroCOVIDhub-baseline/2022-04-11-Poland-EuroCOVIDhub-baseline-case.csv
  data-processed/EuroCOVIDhub-baseline/2022-04-11-Poland-EuroCOVIDhub-baseline.csv
  data-processed/EuroCOVIDhub-ensemble/2022-04-11-Germany-EuroCOVIDhub-ensemble-case.csv
  data-processed/EuroCOVIDhub-ensemble/2022-04-11-Germany-EuroCOVIDhub-ensemble.csv
  data-processed/EuroCOVIDhub-ensemble/2022-04-11-Poland-EuroCOVIDhub-ensemble-case.csv
  data-processed/EuroCOVIDhub-ensemble/2022-04-11-Poland-EuroCOVIDhub-ensemble.csv
  data-processed/HZI-AgeExtendedSEIR/2022-04-11-Germany-HZI-AgeExtendedSEIR-case.csv
  data-processed/HZI-AgeExtendedSEIR/2022-04-11-Germany-HZI-AgeExtendedSEIR.csv
  data-processed/IEM_Health-CovidProject/2022-04-11-Germany-IEM_Health-CovidProject-case.csv
  data-processed/IEM_Health-CovidProject/2022-04-11-Germany-IEM_Health-CovidProject.csv
  data-processed/IEM_Health-CovidProject/2022-04-11-Poland-IEM_Health-CovidProject-case.csv
  data-processed/IEM_Health-CovidProject/2022-04-11-Poland-IEM_Health-CovidProject.csv
  data-processed/ILM-EKF/2022-04-11-Germany-ILM-EKF-case.csv
  data-processed/ILM-EKF/2022-04-11-Germany-ILM-EKF.csv
  data-processed/ILM-EKF/2022-04-11-Poland-ILM-EKF-case.csv
  data-processed/ILM-EKF/2022-04-11-Poland-ILM-EKF.csv
  data-processed/JBUD-HMXK/2022-04-10-Germany-JBUD-HMXK-case.csv
  data-processed/JBUD-HMXK/2022-04-10-Germany-JBUD-HMXK.csv
  data-processed/JBUD-HMXK/2022-04-10-Poland-JBUD-HMXK-case.csv
  data-processed/JBUD-HMXK/2022-04-10-Poland-JBUD-HMXK.csv
  data-processed/MUNI-ARIMA/2022-04-11-Germany-MUNI-ARIMA-case.csv
  data-processed/MUNI-ARIMA/2022-04-11-Germany-MUNI-ARIMA.csv
  data-processed/MUNI-ARIMA/2022-04-11-Poland-MUNI-ARIMA-case.csv
  data-processed/MUNI-ARIMA/2022-04-11-Poland-MUNI-ARIMA.csv
  data-processed/PL_GRedlarski-DistrictsSum/2022-04-11-Poland-PL_GRedlarski-DistrictsSum-case.csv
  data-processed/RobertWalraven-ESG/2022-04-11-Germany-RobertWalraven-ESG-case.csv
  data-processed/RobertWalraven-ESG/2022-04-11-Germany-RobertWalraven-ESG.csv
  data-processed/RobertWalraven-ESG/2022-04-11-Poland-RobertWalraven-ESG-case.csv
  data-processed/RobertWalraven-ESG/2022-04-11-Poland-RobertWalraven-ESG.csv
  data-processed/SDSC_ISG-TrendModel/2022-04-10-Germany-SDSC_ISG-TrendModel-case.csv
  data-processed/SDSC_ISG-TrendModel/2022-04-10-Germany-SDSC_ISG-TrendModel.csv
  data-processed/SDSC_ISG-TrendModel/2022-04-10-Poland-SDSC_ISG-TrendModel-case.csv
  data-processed/SDSC_ISG-TrendModel/2022-04-10-Poland-SDSC_ISG-TrendModel.csv
  data-processed/epiforecasts-EpiNow2/2022-04-11-Germany-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2022-04-11-Germany-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-EpiNow2/2022-04-11-Poland-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2022-04-11-Poland-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-weeklygrowth/2022-04-10-Germany-epiforecasts-weeklygrowth-case.csv
  data-processed/epiforecasts-weeklygrowth/2022-04-10-Poland-epiforecasts-weeklygrowth-case.csv
  data-processed/itwm-dSEIR/2022-04-11-Germany-itwm-dSEIR-case.csv
  data-processed/itwm-dSEIR/2022-04-11-Germany-itwm-dSEIR.csv
  data-processed/prolix-euclidean/2022-04-11-Germany-prolix-euclidean-case.csv
  data-processed/prolix-euclidean/2022-04-11-Germany-prolix-euclidean.csv
Labels: data-submission, automated pr

#1475 HKUST-DNN_DA 220418 forecast
  data-processed/HKUST-DNN_DA/2022-04-18-Germany-HKUST-DNN_DA-case.csv
Labels: data-submission

#1474 ITWW forecast for 2022-04-18
  data-processed/ITWW-county_repro/2022-04-18-Germany-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2022-04-18-Germany-ITWW-county_repro.csv
  data-processed/ITWW-county_repro/2022-04-18-Poland-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2022-04-18-Poland-ITWW-county_repro.csv
Labels: data-submission

#1473 CovidMetrics-epiBATS (2022-04-18)
  data-processed/CovidMetrics-epiBATS/2022-04-18-Germany-CovidMetrics-epiBATS-case.csv
Labels: data-submission

#1472 USC-SIkJalpha: Add files via upload
  data-processed/USC-SIkJalpha/2022-04-17-Germany-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2022-04-17-Germany-USC-SIkJalpha.csv
  data-processed/USC-SIkJalpha/2022-04-17-Poland-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2022-04-17-Poland-USC-SIkJalpha.csv
Labels: data-submission

#1476 Import EU forecasts
  data-processed/EuroCOVIDhub-baseline/2022-04-18-Germany-EuroCOVIDhub-baseline-case.csv
  data-processed/EuroCOVIDhub-baseline/2022-04-18-Germany-EuroCOVIDhub-baseline.csv
  data-processed/EuroCOVIDhub-baseline/2022-04-18-Poland-EuroCOVIDhub-baseline-case.csv
  data-processed/EuroCOVIDhub-baseline/2022-04-18-Poland-EuroCOVIDhub-baseline.csv
  data-processed/EuroCOVIDhub-ensemble/2022-04-18-Germany-EuroCOVIDhub-ensemble-case.csv
  data-processed/EuroCOVIDhub-ensemble/2022-04-18-Germany-EuroCOVIDhub-ensemble.csv
  data-processed/EuroCOVIDhub-ensemble/2022-04-18-Poland-EuroCOVIDhub-ensemble-case.csv
  data-processed/EuroCOVIDhub-ensemble/2022-04-18-Poland-EuroCOVIDhub-ensemble.csv
  data-processed/IEM_Health-CovidProject/2022-04-18-Germany-IEM_Health-CovidProject-case.csv
  data-processed/IEM_Health-CovidProject/2022-04-18-Germany-IEM_Health-CovidProject.csv
  data-processed/IEM_Health-CovidProject/2022-04-18-Poland-IEM_Health-CovidProject-case.csv
  data-processed/IEM_Health-CovidProject/2022-04-18-Poland-IEM_Health-CovidProject.csv
  data-processed/JBUD-HMXK/2022-04-17-Germany-JBUD-HMXK-case.csv
  data-processed/JBUD-HMXK/2022-04-17-Germany-JBUD-HMXK.csv
  data-processed/JBUD-HMXK/2022-04-17-Poland-JBUD-HMXK-case.csv
  data-processed/JBUD-HMXK/2022-04-17-Poland-JBUD-HMXK.csv
  data-processed/MUNI-ARIMA/2022-04-18-Germany-MUNI-ARIMA-case.csv
  data-processed/MUNI-ARIMA/2022-04-18-Germany-MUNI-ARIMA.csv
  data-processed/MUNI-ARIMA/2022-04-18-Poland-MUNI-ARIMA-case.csv
  data-processed/MUNI-ARIMA/2022-04-18-Poland-MUNI-ARIMA.csv
  data-processed/PL_GRedlarski-DistrictsSum/2022-04-18-Poland-PL_GRedlarski-DistrictsSum-case.csv
  data-processed/RobertWalraven-ESG/2022-04-18-Germany-RobertWalraven-ESG-case.csv
  data-processed/RobertWalraven-ESG/2022-04-18-Germany-RobertWalraven-ESG.csv
  data-processed/RobertWalraven-ESG/2022-04-18-Poland-RobertWalraven-ESG-case.csv
  data-processed/RobertWalraven-ESG/2022-04-18-Poland-RobertWalraven-ESG.csv
  data-processed/SDSC_ISG-TrendModel/2022-04-17-Germany-SDSC_ISG-TrendModel-case.csv
  data-processed/SDSC_ISG-TrendModel/2022-04-17-Germany-SDSC_ISG-TrendModel.csv
  data-processed/SDSC_ISG-TrendModel/2022-04-17-Poland-SDSC_ISG-TrendModel-case.csv
  data-processed/SDSC_ISG-TrendModel/2022-04-17-Poland-SDSC_ISG-TrendModel.csv
  data-processed/UVA-Ensemble/2022-04-18-Germany-UVA-Ensemble-case.csv
  data-processed/UVA-Ensemble/2022-04-18-Poland-UVA-Ensemble-case.csv
  data-processed/epiforecasts-EpiNow2/2022-04-18-Germany-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2022-04-18-Germany-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-EpiNow2/2022-04-18-Poland-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2022-04-18-Poland-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-weeklygrowth/2022-04-17-Germany-epiforecasts-weeklygrowth-case.csv
  data-processed/epiforecasts-weeklygrowth/2022-04-17-Poland-epiforecasts-weeklygrowth-case.csv
  data-processed/itwm-dSEIR/2022-04-18-Germany-itwm-dSEIR-case.csv
  data-processed/itwm-dSEIR/2022-04-18-Germany-itwm-dSEIR.csv
  data-processed/prolix-euclidean/2022-04-18-Germany-prolix-euclidean-case.csv
  data-processed/prolix-euclidean/2022-04-18-Germany-prolix-euclidean.csv
Labels: data-submission, automated pr

#1478 MOCOS 2022-04-18
  data-processed/MOCOS-agent1/2022-04-18-Poland-MOCOS-agent1-case.csv
  data-processed/MOCOS-agent1/2022-04-18-Poland-MOCOS-agent1.csv
Labels: data-submission

#1485 2022-04-25 ICM submission
  data-processed/ICM-agentModel/2022-04-25-Poland-ICM-agentModel-case.csv
  data-processed/ICM-agentModel/2022-04-25-Poland-ICM-agentModel.csv
Labels: data-submission

#1484 MIT CovidAnalytics Update 20220425
  data-processed/MIT_CovidAnalytics-DELPHI/2022-04-25-Germany-MIT_CovidAnalytics-DELPHI.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2022-04-25-Poland-MIT_CovidAnalytics-DELPHI.csv
Labels: data-submission

#1483 Predictions as of 25 April 2022.
  data-processed/FIAS_FZJ-Epi1Ger/2022-04-25-Germany-FIAS_FZJ-Epi1Ger-case.csv
  data-processed/FIAS_FZJ-Epi1Ger/2022-04-25-Germany-FIAS_FZJ-Epi1Ger.csv
Labels: data-submission

#1482 ITWW forecast for 2022-04-25
  data-processed/ITWW-county_repro/2022-04-25-Germany-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2022-04-25-Germany-ITWW-county_repro.csv
  data-processed/ITWW-county_repro/2022-04-25-Poland-ITWW-county_repro-case.csv
  data-processed/ITWW-county_repro/2022-04-25-Poland-ITWW-county_repro.csv
Labels: data-submission

#1481 HKUST-DNN_DA 220425 forecast
  data-processed/HKUST-DNN_DA/2022-04-25-Germany-HKUST-DNN_DA-case.csv
Labels: data-submission

#1480 CovidMetrics-epiBATS (2022-04-25)
  data-processed/CovidMetrics-epiBATS/2022-04-25-Germany-CovidMetrics-epiBATS-case.csv
Labels: data-submission

#1479 USC-SIkJalpha: Add files via upload
  data-processed/USC-SIkJalpha/2022-04-24-Germany-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2022-04-24-Germany-USC-SIkJalpha.csv
  data-processed/USC-SIkJalpha/2022-04-24-Poland-USC-SIkJalpha-case.csv
  data-processed/USC-SIkJalpha/2022-04-24-Poland-USC-SIkJalpha.csv
Labels: data-submission

#1486 Import EU forecasts
  data-processed/BIOCOMSC-Gompertz/2022-04-25-Poland-BIOCOMSC-Gompertz-case.csv
  data-processed/BIOCOMSC-Gompertz/2022-04-25-Poland-BIOCOMSC-Gompertz.csv
  data-processed/EuroCOVIDhub-baseline/2022-04-25-Germany-EuroCOVIDhub-baseline-case.csv
  data-processed/EuroCOVIDhub-baseline/2022-04-25-Germany-EuroCOVIDhub-baseline.csv
  data-processed/EuroCOVIDhub-baseline/2022-04-25-Poland-EuroCOVIDhub-baseline-case.csv
  data-processed/EuroCOVIDhub-baseline/2022-04-25-Poland-EuroCOVIDhub-baseline.csv
  data-processed/EuroCOVIDhub-ensemble/2022-04-25-Germany-EuroCOVIDhub-ensemble-case.csv
  data-processed/EuroCOVIDhub-ensemble/2022-04-25-Germany-EuroCOVIDhub-ensemble.csv
  data-processed/EuroCOVIDhub-ensemble/2022-04-25-Poland-EuroCOVIDhub-ensemble-case.csv
  data-processed/EuroCOVIDhub-ensemble/2022-04-25-Poland-EuroCOVIDhub-ensemble.csv
  data-processed/HZI-AgeExtendedSEIR/2022-04-25-Germany-HZI-AgeExtendedSEIR-case.csv
  data-processed/HZI-AgeExtendedSEIR/2022-04-25-Germany-HZI-AgeExtendedSEIR.csv
  data-processed/IEM_Health-CovidProject/2022-04-25-Germany-IEM_Health-CovidProject-case.csv
  data-processed/IEM_Health-CovidProject/2022-04-25-Germany-IEM_Health-CovidProject.csv
  data-processed/IEM_Health-CovidProject/2022-04-25-Poland-IEM_Health-CovidProject-case.csv
  data-processed/IEM_Health-CovidProject/2022-04-25-Poland-IEM_Health-CovidProject.csv
  data-processed/ILM-EKF/2022-04-25-Germany-ILM-EKF-case.csv
  data-processed/ILM-EKF/2022-04-25-Germany-ILM-EKF.csv
  data-processed/ILM-EKF/2022-04-25-Poland-ILM-EKF-case.csv
  data-processed/ILM-EKF/2022-04-25-Poland-ILM-EKF.csv
  data-processed/JBUD-HMXK/2022-04-24-Germany-JBUD-HMXK-case.csv
  data-processed/JBUD-HMXK/2022-04-24-Germany-JBUD-HMXK.csv
  data-processed/JBUD-HMXK/2022-04-24-Poland-JBUD-HMXK-case.csv
  data-processed/JBUD-HMXK/2022-04-24-Poland-JBUD-HMXK.csv
  data-processed/MUNI-ARIMA/2022-04-25-Germany-MUNI-ARIMA-case.csv
  data-processed/MUNI-ARIMA/2022-04-25-Germany-MUNI-ARIMA.csv
  data-processed/MUNI-ARIMA/2022-04-25-Poland-MUNI-ARIMA-case.csv
  data-processed/MUNI-ARIMA/2022-04-25-Poland-MUNI-ARIMA.csv
  data-processed/PL_GRedlarski-DistrictsSum/2022-04-25-Poland-PL_GRedlarski-DistrictsSum-case.csv
  data-processed/RobertWalraven-ESG/2022-04-24-Germany-RobertWalraven-ESG-case.csv
  data-processed/RobertWalraven-ESG/2022-04-24-Germany-RobertWalraven-ESG.csv
  data-processed/RobertWalraven-ESG/2022-04-24-Poland-RobertWalraven-ESG-case.csv
  data-processed/RobertWalraven-ESG/2022-04-24-Poland-RobertWalraven-ESG.csv
  data-processed/SDSC_ISG-TrendModel/2022-04-24-Germany-SDSC_ISG-TrendModel-case.csv
  data-processed/SDSC_ISG-TrendModel/2022-04-24-Germany-SDSC_ISG-TrendModel.csv
  data-processed/SDSC_ISG-TrendModel/2022-04-24-Poland-SDSC_ISG-TrendModel-case.csv
  data-processed/SDSC_ISG-TrendModel/2022-04-24-Poland-SDSC_ISG-TrendModel.csv
  data-processed/epiforecasts-EpiNow2/2022-04-25-Germany-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2022-04-25-Germany-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-EpiNow2/2022-04-25-Poland-epiforecasts-EpiNow2-case.csv
  data-processed/epiforecasts-EpiNow2/2022-04-25-Poland-epiforecasts-EpiNow2.csv
  data-processed/epiforecasts-weeklygrowth/2022-04-24-Germany-epiforecasts-weeklygrowth-case.csv
  data-processed/epiforecasts-weeklygrowth/2022-04-24-Poland-epiforecasts-weeklygrowth-case.csv
  data-processed/itwm-dSEIR/2022-04-25-Germany-itwm-dSEIR-case.csv
  data-processed/itwm-dSEIR/2022-04-25-Germany-itwm-dSEIR.csv
  data-processed/prolix-euclidean/2022-04-25-Germany-prolix-euclidean-case.csv
  data-processed/prolix-euclidean/2022-04-25-Germany-prolix-euclidean.csv
Labels: data-submission, automated pr

#1487 MOCOS 2022-04-25
  data-processed/MOCOS-agent1/2022-04-25-Poland-MOCOS-agent1-case.csv
  data-processed/MOCOS-agent1/2022-04-25-Poland-MOCOS-agent1.csv
Labels: data-submission
